Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

ci: prune orphaned pnpm overrides in the lockfile audit normalizer
  .github/actions/skip-changeset-check/action.yml
  .github/scripts/lockfile-audit-fix-normalize.mjs
  .github/scripts/lockfile-audit-fix-normalize.test.mjs
  .github/scripts/lockfile-runtime-diff.mjs
  .github/workflows/lockfile-audit-fix.yml
  .github/workflows/renovate-policy-check.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

ci: run the auto-fix normalizer tests from the lockfile audit workflow
  .github/workflows/lockfile-audit.yml
  .github/workflows/renovate-policy-check.yml
Due: 2-format

ci: drop the overrides key once the sweep empties it
  .github/scripts/lockfile-audit-fix-normalize.mjs
  .github/scripts/lockfile-audit-fix-normalize.test.mjs
Due: none

docs(ci): stop restating which policy lists the normalizer prunes
  .github/actions/skip-changeset-check/action.yml
  .github/scripts/lockfile-runtime-diff.mjs
  .github/workflows/lockfile-audit-fix.yml
Due: 2-format

ci: keep the PR-body greps from failing the step on no match
  .github/workflows/lockfile-audit-fix.yml
Due: 2-format

fix(ci): stop pruning overrides on workspace-linked packages
  .github/scripts/lockfile-audit-fix-normalize.mjs
  .github/scripts/lockfile-audit-fix-normalize.test.mjs
  .github/workflows/lockfile-audit-fix.yml
Due: 2-format

ci: install pnpm without standalone mode
  .github/actions/install-deps/action.yml
Due: 2-format

ci: match gitIgnoredAuthors to the changeset bot address
  renovate.json
Due: 2-format

feat(seed): add `tailor seed fill` to fill in create-time values for seed data
  .changeset/seed-fill.md
  packages/sdk-plugin-seed/README.md
  packages/sdk-plugin-seed/src/fill.test.ts
  packages/sdk-plugin-seed/src/fill.ts
  packages/sdk-plugin-seed/src/index.ts
  packages/sdk-plugin-seed/src/jsonl.test.ts
  packages/sdk-plugin-seed/src/jsonl.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): assert a filled id with z.uuid() instead of a hand-rolled regex
  packages/sdk-plugin-seed/src/fill.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): stop `seed fill` from dropping keys and writing nulls
  .changeset/seed-fill.md
  packages/sdk-plugin-seed/README.md
  packages/sdk-plugin-seed/src/fill.test.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): cover a `__proto__` key surviving the key ordering
  packages/sdk-plugin-seed/src/fill.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(create-sdk): scaffold a `seed:fill` script next to `seed:validate`
  .changeset/seed-fill.md
  packages/create-sdk/templates/generators/package.json
Due: 2-format

docs(seed): say values are preserved, not the bytes of a rewritten line
  .changeset/seed-fill.md
  packages/sdk-plugin-seed/README.md
  packages/sdk-plugin-seed/src/fill.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): build seed data paths with pathe so they do not vary by platform
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

perf(seed): stop reading a table's JSONL when it has no field to fill
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(test): take each hooked field from the data's own properties
  .changeset/tailordb-hook-prototype-field.md
  packages/sdk/src/utils/test/index.test.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(test): record a hooked field as a data property
  .changeset/tailordb-hook-prototype-field.md
  packages/sdk/src/utils/test/index.test.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(seed): fill from the type's create hooks instead of validating first
  .changeset/seed-fill.md
  example/seed/data/Customer.schema.ts
  example/seed/data/Event.schema.ts
  example/seed/data/Invoice.schema.ts
  example/seed/data/NestedProfile.schema.ts
  example/seed/data/ProductBundle.schema.ts
  example/seed/data/PurchaseOrder.schema.ts
  example/seed/data/SalesOrder.schema.ts
  example/seed/data/SalesOrderCreated.schema.ts
  example/seed/data/Selfie.schema.ts
  example/seed/data/Supplier.schema.ts
  example/seed/data/User.schema.ts
  example/seed/data/UserLog.schema.ts
  example/seed/data/UserSetting.schema.ts
  example/seed/data/_User.schema.ts
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/generators/src/seed/data/Category.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Order.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Product.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/User.schema.ts
  packages/sdk-plugin-seed/README.md
  packages/sdk-plugin-seed/src/fill.test.ts
  packages/sdk-plugin-seed/src/fill.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): read every seed hook before the fill writes anything
  packages/create-sdk/templates/generators/package.json
  packages/sdk-plugin-seed/README.md
  packages/sdk-plugin-seed/src/fill.test.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

docs(seed): drop the library name from validateSeedData's description
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(tailordb): derive CRUD input types from field definitions
  .changeset/tailordb-field-insertable-types.md
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/configure/services/index.ts
  packages/sdk/src/configure/services/tailordb/index.ts
  packages/sdk/src/configure/services/tailordb/types.test-d.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/kysely/index.test-d.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: drop changesets for code already released on main
  .changeset/seed-upsert-idp-user-fixes.md
  .changeset/seed-upsert-migration-doc.md
Due: 2-format

fix(tailordb): match generated column types in TailorDBColumns
  .changeset/tailordb-field-insertable-types.md
  example/tests/kysely-parity.ts
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/kysely/index.test-d.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): resolve a nested date to Timestamp
  .changeset/tailordb-field-insertable-types.md
  example/tests/kysely-parity.ts
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/kysely/index.test-d.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

docs(tailordb): drop the derived-input section from the TailorDB guide
  packages/sdk/docs/services/tailordb.md
Due: 2-format

feat(cli): require explicit acknowledgment for warning-tier migrations
  .changeset/tailordb-migration-validate-strict.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/tailordb/migrate/diff-calculator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/script.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/script.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): consolidate options destructuring in buildValidationReports
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): derive data-loss warnings for pre-warning-tier diff.json files
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): stub TAILOR_CONFIG_PATH in migration command tests
  .changeset/tailordb-migration-validate-strict.md
  packages/sdk/src/cli/commands/tailordb/migrate/generate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): include the active --config in migration acknowledgment hints
  packages/sdk/src/cli/commands/tailordb/migrate/config.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): shell-quote the --config value in acknowledgment hints
  packages/sdk/src/cli/commands/tailordb/migrate/config.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/shared/errors.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): bind the --config hint value with the = form
  packages/sdk/src/cli/commands/tailordb/migrate/config.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(tailordb): first-class field rename support in migrations
  .changeset/tailordb-migration-field-rename.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/db-types-generator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/diff-calculator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/pre-migration-schema.ts
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-schema.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.ts
Due: 2-format, 3-lint, 4-typecheck

feat(seed): add backfill-ids command for existing seed files
  .changeset/seed-backfill-ids.md
  packages/sdk-plugin-seed/README.md
  packages/sdk-plugin-seed/src/backfill-ids.test.ts
  packages/sdk-plugin-seed/src/backfill-ids.ts
  packages/sdk-plugin-seed/src/index.ts
  packages/sdk/src/seed/index.test.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): drop unreachable missing-file guard in id backfill
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): reject renames between foreign keys referencing different fields
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): render migration hint commands through one shell-aware formatter
  .changeset/migration-hint-shell-rendering.md
  packages/sdk/src/cli/commands/deploy/tailordb/migration.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration.ts
  packages/sdk/src/cli/commands/tailordb/migrate/config.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
  packages/sdk/src/cli/shared/errors.test.ts
  packages/sdk/src/cli/shared/errors.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add migration conflict resolution steps and worked migrate.ts example
  packages/sdk/docs/services/tailordb-migration.md
Due: 2-format

fix(seed): fail id backfill on unloadable schemas and sync only backfilled tables
  packages/sdk/src/seed/index.test.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck
