Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

feat(llm-challenge): add h12 multi-file cascade-error batch-fix problem
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/meta.json
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/problem.md
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/scaffold/tailordb/article.ts
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/scaffold/tailordb/note.ts
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/scaffold/tailordb/post.ts
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/solution/tailordb/article.ts
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/solution/tailordb/note.ts
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/solution/tailordb/post.ts
  llm-challenge/problems/h12-cli-cascade-error-batch-fix/tests/cascade.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add Phase 2.5 h04 (resolver context namespace)
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/meta.json
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/problem.md
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/scaffold/tailor.config.ts
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/scaffold/tailordb/account.ts
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/scaffold/workflows/upgradeFlow.ts
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/solution/tailor.config.ts
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/solution/tailordb/account.ts
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/solution/workflows/upgradeFlow.ts
  llm-challenge/problems/h07-workflow-job-chain-with-tailordb/tests/upgradeFlow.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add Phase 2.5 h04 (resolver context namespace)
  llm-challenge/problems/h04-resolver-context-input-namespace/meta.json
  llm-challenge/problems/h04-resolver-context-input-namespace/problem.md
  llm-challenge/problems/h04-resolver-context-input-namespace/scaffold/resolvers/orderSummary.ts
  llm-challenge/problems/h04-resolver-context-input-namespace/scaffold/tailor.config.ts
  llm-challenge/problems/h04-resolver-context-input-namespace/scaffold/tailordb/order.ts
  llm-challenge/problems/h04-resolver-context-input-namespace/solution/resolvers/orderSummary.ts
  llm-challenge/problems/h04-resolver-context-input-namespace/tests/orderSummary.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add h13 shadowed-config-error problem
  llm-challenge/problems/h13-cli-shadowed-config-error/meta.json
  llm-challenge/problems/h13-cli-shadowed-config-error/problem.md
  llm-challenge/problems/h13-cli-shadowed-config-error/scaffold/tailor.config.ts
  llm-challenge/problems/h13-cli-shadowed-config-error/scaffold/tailordb/note.ts
  llm-challenge/problems/h13-cli-shadowed-config-error/solution/tailor.config.ts
  llm-challenge/problems/h13-cli-shadowed-config-error/solution/tailordb/note.ts
  llm-challenge/problems/h13-cli-shadowed-config-error/tests/config.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): typecheck h11 staticwebsite redirect collector
  llm-challenge/problems/h11-config-multi-staticwebsite-cors-redirect/tests/staticwebsite.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): restore h11 multi-staticWebsite scaffold/solution lost in parallel batch race
  llm-challenge/problems/h11-config-multi-staticwebsite-cors-redirect/meta.json
  llm-challenge/problems/h11-config-multi-staticwebsite-cors-redirect/problem.md
  llm-challenge/problems/h11-config-multi-staticwebsite-cors-redirect/scaffold/tailor.config.ts
  llm-challenge/problems/h11-config-multi-staticwebsite-cors-redirect/solution/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): broaden runtime globals and tighten file stream mock contract
  packages/sdk/src/runtime/__tests__/file.test.ts
  packages/sdk/src/runtime/globals.ts
  packages/sdk/src/vitest/__tests__/mock.test.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): wrap job .trigger() in async IIFE for sync semantics
  .changeset/wrap-trigger-job-function-in-promise.md
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/job-detector.ts
  packages/sdk/src/cli/services/workflow/source-transformer.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): drop Promise.all narrative from trigger docs and tests
  .changeset/wrap-trigger-job-function-in-promise.md
  CLAUDE.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): keep ambient runtime globals active when importing @tailor-platform/sdk
  .changeset/runtime-wrapper.md
  packages/sdk/docs/runtime.md
  packages/sdk/src/configure/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): exclude __test_fixtures__ from tsconfig and consolidate lint ignore
  packages/sdk/eslint.config.js
  packages/sdk/tsconfig.json
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): align trigger comments and test assertions with async IIFE
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): address Copilot review feedback on runtime/vitest mocks
  .changeset/runtime-wrapper.md
  example/tests/fixtures/expected/files.ts
  example/tests/fixtures/expected/seed/data/User.schema.ts
  packages/sdk/docs/testing.md
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix: address copilot review feedback on rename detection
  .changeset/app-id-rename-detection.md
  example/tailor.config.ts
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/tailor.config.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
  packages/sdk/src/cli/commands/deploy/secret-manager.test.ts
  packages/sdk/src/parser/app-config/schema.ts
  packages/sdk/src/types/app-config.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): align openDownloadStream mock example with StreamValue type
  packages/sdk/docs/testing.md
Due: 2-format

docs(sdk): drop wrapper-internal shape conversion from runtime docs
  packages/sdk/docs/runtime.md
  packages/sdk/docs/testing.md
  packages/sdk/src/runtime/context.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): revert unrelated User.schema fixture drift
  example/tests/fixtures/expected/seed/data/User.schema.ts
Due: 3-lint, 4-typecheck

refactor(sdk): move runtime types into per-service wrappers
  packages/sdk/src/runtime/_runtime.ts
  packages/sdk/src/runtime/authconnection.ts
  packages/sdk/src/runtime/context.ts
  packages/sdk/src/runtime/file.ts
  packages/sdk/src/runtime/globals.ts
  packages/sdk/src/runtime/iconv.ts
  packages/sdk/src/runtime/idp.ts
  packages/sdk/src/runtime/internal.ts
  packages/sdk/src/runtime/secretmanager.ts
  packages/sdk/src/runtime/workflow.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): readTargets classification + iter-diff emitter (Phase 5b)
  llm-challenge/core/analyze.test.ts
  llm-challenge/core/cli.test.ts
  llm-challenge/core/cli.ts
  llm-challenge/core/metrics.test.ts
  llm-challenge/core/metrics.ts
  llm-challenge/core/report.test.ts
  llm-challenge/core/report.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): promote profile-diff to default analyze + N=5 (Phase 5c)
  llm-challenge/README.md
  llm-challenge/core/analyze.test.ts
  llm-challenge/core/analyze.ts
  llm-challenge/core/experiment.test.ts
  llm-challenge/core/experiment.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): accumulate --problem flags into array (Phase 5c follow-up)
  llm-challenge/core/cli.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): restore Promise.all coverage and drop long trigger comments
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/job-detector.ts
  packages/sdk/src/cli/services/workflow/source-transformer.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
Due: 2-format, 3-lint, 4-typecheck

docs: drop --config workaround from wrapper-config note
  .changeset/app-id-rename-detection.md
  packages/sdk/docs/configuration.md
Due: 2-format

feat(deploy): dedicated prompt for id regeneration vs name mismatch
  .changeset/app-id-rename-detection.md
  packages/sdk/src/cli/commands/deploy/confirm.test.ts
  packages/sdk/src/cli/commands/deploy/confirm.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): activate ambient runtime globals via tsdown banner
  .changeset/runtime-wrapper.md
  example/tests/bundled_execution.test.ts
  packages/sdk/docs/testing.md
  packages/sdk/src/configure/index.ts
  packages/sdk/src/runtime/__tests__/context.test.ts
  packages/sdk/src/runtime/context.ts
  packages/sdk/src/runtime/globals.ts
  packages/sdk/src/vitest/index.ts
  packages/sdk/src/vitest/mock.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): drop function-types lockstep note from runtime guide
  packages/sdk/docs/runtime.md
Due: 2-format

docs(sdk): drop globals opt-in note from testing guide
  packages/sdk/docs/testing.md
Due: 2-format

fix(sdk): keep AST walk traversing children for unknown .trigger() callees
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
Due: 2-format, 3-lint, 4-typecheck

docs: clarify id-regeneration wording
  .changeset/app-id-rename-detection.md
  example/tailor.config.ts
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/tailor.config.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
  packages/sdk/src/cli/commands/deploy/confirm.ts
  packages/sdk/src/types/app-config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): scope ambient globals banner to the configure entry only
  packages/sdk/src/runtime/index.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): correct configure-entry banner scoping and download-mock note
  .changeset/runtime-wrapper.md
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

docs: simplify auto-injected id comment to focus on the only valid edit case
  example/tailor.config.ts
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/tailor.config.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
Due: 2-format, 3-lint, 4-typecheck

fix: skip config id injection in dry-run / build-only deploys
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): clean-up + amplification (Phase 5d)
  llm-challenge/core/cli.test.ts
  llm-challenge/core/cli.ts
  llm-challenge/core/report.test.ts
  llm-challenge/core/report.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): remove unused zod type-only import restriction in configure
  packages/sdk/eslint.config.js
Due: 2-format, 3-lint, 4-typecheck

ci: add scheduled cleanup workflow for leftover e2e workspaces
  .github/workflows/cleanup-e2e-workspaces.yml
Due: 2-format

fix(llm-challenge): apply scaffold layers to fail-vs-solution diff base (Phase 5e)
  llm-challenge/core/cli.test.ts
  llm-challenge/core/cli.ts
Due: 2-format, 3-lint, 4-typecheck

ci: temporarily enable pull_request trigger for cleanup workflow
  .github/workflows/cleanup-e2e-workspaces.yml
Due: 2-format

ci: lift dry-run override on PR-driven cleanup runs (Phase B)
  .github/workflows/cleanup-e2e-workspaces.yml
Due: 2-format
