Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

ci(smoke): revert to pnpm/action-setup v5 to avoid pnpm 11 beta
  .github/workflows/pkg-pr-new.yml
Due: 2-format

docs: fix stale JSDoc for download options and add missing param
  packages/sdk/src/cli/commands/function/logs.ts
  packages/sdk/src/cli/shared/function-script-download.ts
Due: 2-format, 3-lint, 4-typecheck

ci(smoke): use pnpm/action-setup v6 without standalone to respect packageManager
  .github/workflows/pkg-pr-new.yml
Due: 2-format

ci(smoke): drop standalone from pnpm/action-setup v6 to respect packageManager
  .github/workflows/pkg-pr-new.yml
Due: 2-format

ci(smoke): use actions/setup-node instead of pnpm env for Node.js installation
  .github/workflows/pkg-pr-new.yml
Due: 2-format

add shorthand for webhook response
  example/executors/testWebhook.ts
  packages/sdk/docs/services/executor.md
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/webhook.ts
Due: 2-format, 3-lint, 4-typecheck

ci(smoke): install Node 24 before pnpm/action-setup v6 to prevent standalone mode
  .github/workflows/pkg-pr-new.yml
Due: 2-format

fix(create-sdk): use pnpm-workspace.yaml allowBuilds for pnpm 10/11 compatibility
  .github/workflows/pkg-pr-new.yml
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/executor/pnpm-workspace.yaml
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/generators/pnpm-workspace.yaml
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/hello-world/pnpm-workspace.yaml
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/inventory-management/pnpm-workspace.yaml
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/multi-application/pnpm-workspace.yaml
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/resolver/pnpm-workspace.yaml
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/static-web-site/pnpm-workspace.yaml
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/tailordb/pnpm-workspace.yaml
  packages/create-sdk/templates/workflow/package.json
  packages/create-sdk/templates/workflow/pnpm-workspace.yaml
Due: 2-format

ci: retrigger checks
  packages/create-sdk/templates/hello-world/package.json
Due: none

chore: remove temp description from template
  packages/create-sdk/templates/hello-world/package.json
Due: none

chore: add comment to pnpm-workspace.yaml
  packages/create-sdk/templates/hello-world/pnpm-workspace.yaml
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(create-sdk): allow all SDK transitive deps with build scripts in templates
  packages/create-sdk/templates/executor/pnpm-workspace.yaml
  packages/create-sdk/templates/generators/pnpm-workspace.yaml
  packages/create-sdk/templates/hello-world/pnpm-workspace.yaml
  packages/create-sdk/templates/inventory-management/pnpm-workspace.yaml
  packages/create-sdk/templates/multi-application/pnpm-workspace.yaml
  packages/create-sdk/templates/resolver/pnpm-workspace.yaml
  packages/create-sdk/templates/static-web-site/pnpm-workspace.yaml
  packages/create-sdk/templates/tailordb/pnpm-workspace.yaml
  packages/create-sdk/templates/workflow/pnpm-workspace.yaml
Due: none

fix(create-sdk): generate pnpm-workspace.yaml at scaffold time instead of bundling
  packages/create-sdk/src/copy.ts
  packages/create-sdk/templates/executor/pnpm-workspace.yaml
  packages/create-sdk/templates/generators/pnpm-workspace.yaml
  packages/create-sdk/templates/hello-world/pnpm-workspace.yaml
  packages/create-sdk/templates/inventory-management/pnpm-workspace.yaml
  packages/create-sdk/templates/multi-application/pnpm-workspace.yaml
  packages/create-sdk/templates/resolver/pnpm-workspace.yaml
  packages/create-sdk/templates/static-web-site/pnpm-workspace.yaml
  packages/create-sdk/templates/tailordb/pnpm-workspace.yaml
  packages/create-sdk/templates/workflow/pnpm-workspace.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): try allowBuilds with only @tailor-platform/sdk
  packages/create-sdk/src/copy.ts
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): allow all SDK transitive deps with build scripts
  packages/create-sdk/src/copy.ts
Due: 2-format, 3-lint, 4-typecheck

feat(workflow): add wait/resolve support for human-in-the-loop workflows
  example/workflows/approval.ts
  packages/sdk/src/cli/commands/apply/function-registry.test.ts
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/services/workflow/job-detector.ts
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/cli/services/workflow/source-transformer.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
  packages/sdk/src/cli/shared/trigger-context.test.ts
  packages/sdk/src/cli/shared/trigger-context.ts
  packages/sdk/src/configure/services/workflow/index.ts
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
  packages/sdk/src/parser/service/workflow/schema.ts
  packages/sdk/src/types/workflow.generated.ts
  packages/sdk/src/utils/test/index.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): unify --machine-user flag naming and add TAILOR_PLATFORM_MACHINE_USER_NAME env
  .changeset/default-machine-user-env.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/package.json
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/commands/login.ts
  packages/sdk/src/cli/commands/workflow/start.ts
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix: move politty back to dependencies
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

docs: add notes and examples sections to function logs command
  packages/sdk/docs/cli/function.md
  packages/sdk/src/cli/commands/function/logs.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): add generated metadata flag for timestamp fields
  example/generated/tailordb.ts
  example/migrations/0002/diff.json
  example/tests/bundled_execution.test.ts
  packages/create-sdk/templates/executor/src/executor/shared.ts
  packages/create-sdk/templates/executor/src/generated/db.ts
  packages/create-sdk/templates/generators/src/generated/db.ts
  packages/create-sdk/templates/hello-world/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/inventory-management/src/executor/checkInventory.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/inventory-management/src/resolver/registerOrder.ts
  packages/create-sdk/templates/resolver/src/generated/db.ts
  packages/create-sdk/templates/tailordb/src/generated/db.ts
  packages/create-sdk/templates/workflow/src/generated/db.ts
  packages/create-sdk/templates/workflow/src/workflow/sync-profile.ts
  packages/sdk/src/configure/services/tailordb/createTable.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.ts
  packages/sdk/src/types/tailordb.generated.ts
  packages/sdk/src/types/tailordb.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): wire generated timestamp hooks to server and local seed
  example/seed/data/Customer.schema.ts
  example/seed/data/Event.schema.ts
  example/seed/data/Invoice.schema.ts
  example/seed/data/NestedProfile.schema.ts
  example/seed/data/Product.schema.ts
  example/seed/data/PurchaseOrder.schema.ts
  example/seed/data/SalesOrder.schema.ts
  example/seed/data/Supplier.schema.ts
  example/seed/data/User.schema.ts
  example/seed/data/UserLog.schema.ts
  example/seed/data/UserSetting.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Order.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Product.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/User.schema.ts
  packages/sdk/src/parser/service/tailordb/field.test.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): generate migration for timestamp hooks change
  example/migrations/0003/diff.json
Due: 2-format

fix(example): add fullAddress to Customer seed data
  example/seed/data/Customer.jsonl
Due: none

fix(example): provide fullAddress in E2E tests for Customer mutations
  example/e2e/tailordb.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: use node:util stripVTControlCharacters in logs tests
  packages/sdk/src/cli/commands/function/logs.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): wire record-level validators to platform via field-level pipeline
  example/e2e/executor.test.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/types/tailordb.generated.ts
  packages/sdk/src/types/tailordb.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): generate migration for record-level validators
  example/migrations/0004/diff.json
Due: 2-format

fix(tailordb): distribute record-level validators to first non-id field
  example/migrations/0004/diff.json
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: use node:util stripVTControlCharacters in stack-trace tests
  packages/sdk/src/cli/shared/stack-trace.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: log download error reason in function script download
  packages/sdk/src/cli/shared/function-script-download.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use unknown cast in idp permission test for stricter tuple type
  packages/sdk/src/parser/service/idp/permission.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: type raw directly instead of casting in idp permission test
  packages/sdk/src/parser/service/idp/permission.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): toggle inline sourcemaps via env var for tests
  example/tailor.config.ts
  example/tests/scripts/generate_files.ts
  example/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): add parseBoolean helper for lenient env var parsing
  .changeset/boolean-env-vars.md
  packages/sdk/src/cli/commands/apply/apply.ts
  packages/sdk/src/cli/shared/inline-sourcemap.ts
  packages/sdk/src/cli/shared/logger.ts
  packages/sdk/src/cli/shared/parse-boolean.test.ts
  packages/sdk/src/cli/shared/parse-boolean.ts
Due: 2-format, 3-lint, 4-typecheck

fix: resolve test-run stack trace paths relative to cwd
  .changeset/test-run-stack-trace-path.md
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/shared/stack-trace.test.ts
  packages/sdk/src/cli/shared/stack-trace.ts
Due: 2-format, 3-lint, 4-typecheck

fix: createTailorDBHook handles nested object array fields
  .changeset/fix-object-array-hook.md
  packages/sdk/src/utils/test/index.test.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

test: cover create hook invocation and per-element hooks in nested arrays
  packages/sdk/src/utils/test/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

test: use field-level .hooks() API for nested-array hook test
  packages/sdk/src/utils/test/index.test.ts
Due: 2-format, 3-lint, 4-typecheck
