Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(llm-challenge): set codex default model to gpt-5.1-codex-mini
  llm-challenge/runner/run.ts
  llm-challenge/runner/solver/codex.ts
Due: 2-format, 3-lint, 4-typecheck

feat(tailor-proto): add scale field to TailorDB FieldConfig
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.js
Due: 3-lint, 4-typecheck

feat(sdk): add decimal type support with optional scale
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
  packages/sdk/src/cli/tailordb/migrate/db-types-generator.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/configure/types/type.ts
  packages/sdk/src/configure/types/types.ts
  packages/sdk/src/parser/service/resolver/schema.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/add-decimal-type.md
Due: 2-format

docs: add developer telemetry guide and docs/ directory
  CLAUDE.md
  docs/README.md
  docs/telemetry.md
Due: 2-format

fix(generator): schedule each plugin hook at its natural pipeline phase
  packages/sdk/docs/plugin/custom.md
  packages/sdk/src/cli/generator/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/brave-plugins-unite.md
Due: 2-format

refactor(telemetry): remove OTEL_SERVICE_NAME and OTEL_EXPORTER_OTLP_HEADERS support
  docs/telemetry.md
  packages/sdk/src/cli/telemetry/config.test.ts
  packages/sdk/src/cli/telemetry/config.ts
  packages/sdk/src/cli/telemetry/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: migrate politty docs markers to section-level format
  .changeset/long-cobras-work.md
  packages/create-sdk/package.json
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/completion.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/package.json
  packages/sdk/src/cli/docs.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: remove temporary politty release-age exception
  pnpm-workspace.yaml
Due: 2-format

fix(create-sdk): keep politty node18-compatible
  packages/create-sdk/package.json
  pnpm-lock.yaml
Due: 2-format

fix(sdk): use explicit undefined check for scale to handle scale
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): add scale comparison to remote schema drift detection
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): use oxc-parser AST for declaration dependency resolution
  packages/sdk/src/cli/application/tailordb/script-precompiler.test.ts
  packages/sdk/src/cli/application/tailordb/script-precompiler.ts
Due: 2-format, 3-lint, 4-typecheck

feat: categorize Zod errors using SDK brand symbols
  packages/sdk/src/brand.test.ts
  packages/sdk/src/brand.ts
  packages/sdk/src/cli/application/executor/service.ts
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/application/service-brand.test.ts
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/application/workflow/service.ts
  packages/sdk/src/configure/services/executor/executor.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/parser/service/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): move script-precompiler to bundler directory and clean up
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.test.ts
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/script-precompiled-expr.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): rename script-precompiled-expr to hooks-validate-precompiled-expr
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/parser/service/tailordb/field.precompiled.test.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/hooks-validate-precompiled-expr.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): set default maxPageSize for all paginated List API calls
  .changeset/brave-pandas-glow.md
  packages/sdk/src/cli/apply/services/application.ts
  packages/sdk/src/cli/apply/services/auth.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/function-registry.test.ts
  packages/sdk/src/cli/apply/services/function-registry.ts
  packages/sdk/src/cli/apply/services/idp.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/staticwebsite.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/apply/services/workflow.ts
  packages/sdk/src/cli/client.test.ts
  packages/sdk/src/cli/client.ts
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/list.ts
  packages/sdk/src/cli/executor/webhook.ts
  packages/sdk/src/cli/function/logs.ts
  packages/sdk/src/cli/machineuser/list.ts
  packages/sdk/src/cli/oauth2client/list.ts
  packages/sdk/src/cli/profile/create.ts
  packages/sdk/src/cli/profile/update.ts
  packages/sdk/src/cli/secret/list.ts
  packages/sdk/src/cli/secret/vault/list.ts
  packages/sdk/src/cli/staticwebsite/list.ts
  packages/sdk/src/cli/tailordb/erd/schema.ts
  packages/sdk/src/cli/user/pat/list.ts
  packages/sdk/src/cli/workflow/executions.ts
  packages/sdk/src/cli/workflow/list.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract inline type and add JSDoc description in test
  packages/sdk/src/cli/application/service-brand.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: improve SafeParseSchema type precision and add Symbol.for comment
  packages/sdk/src/brand.ts
  packages/sdk/src/cli/application/service-brand.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: inline SafeParseResult type and clarify brandValue JSDoc
  packages/sdk/src/brand.ts
  packages/sdk/src/cli/application/service-brand.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: remove @tailor-platform/create-sdk from changeset
  .changeset/long-cobras-work.md
Due: 2-format

refactor: move brand module to utils/ directory
  packages/sdk/src/cli/application/executor/service.ts
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/application/service-brand.test.ts
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/application/workflow/service.ts
  packages/sdk/src/configure/services/executor/executor.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/utils/brand.test.ts
  packages/sdk/src/utils/brand.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for categorize-zod-errors
  .changeset/categorize-zod-errors.md
Due: 2-format

perf(tailordb): parallelize hook/validate bundling with Promise.allSettled
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): remove structure directory invariant test
  packages/sdk/src/cli/structure.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(changeset): add patch for cli directory refactor
  .changeset/fair-moons-decide.md
Due: 2-format

refactor(sdk): extract runtime args transformation into dedicated modules
  packages/sdk/src/cli/apply/services/executor-args-expr.test.ts
  packages/sdk/src/cli/apply/services/executor-args-expr.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/resolver-args-expr.test.ts
  packages/sdk/src/cli/apply/services/resolver-args-expr.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): consolidate runtime args into cli/bundler/runtime-args
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/resolver-args-expr.test.ts
  packages/sdk/src/cli/apply/services/resolver-args-expr.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/bundler/runtime-args.test.ts
  packages/sdk/src/cli/bundler/runtime-args.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/bright-planes-laugh.md
Due: 2-format

fix(sdk): update downstream tests for WorkflowJobContext user field
  example/tests/apply_command.test.ts
  packages/create-sdk/templates/testing/src/workflow/simple.test.ts
  packages/create-sdk/templates/testing/src/workflow/trigger.test.ts
Due: 2-format, 3-lint, 4-typecheck

style: format testing template workflow tests
  packages/create-sdk/templates/testing/src/workflow/simple.test.ts
  packages/create-sdk/templates/testing/src/workflow/trigger.test.ts
Due: 3-lint, 4-typecheck

feat(sdk): add WORKFLOW_TEST_USER_KEY and workflow user context examples
  example/tests/apply_command.test.ts
  example/workflows/order-processing.ts
  packages/create-sdk/templates/testing/src/workflow/simple.test.ts
  packages/create-sdk/templates/testing/src/workflow/simple.ts
  packages/create-sdk/templates/testing/src/workflow/trigger.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-planes-laugh.md
Due: 2-format

fix(sdk): move env and user computation inside workflow entry main()
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): update CLI docs and fix import order after rebase
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/completion.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): fix CLI docs to match main after rebase
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/completion.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
Due: 2-format

refactor: replace logger warnings with CLIError for missing SQL dependencies
  packages/sdk/src/cli/bundler/query/query-bundler.ts
Due: 2-format, 3-lint, 4-typecheck
