Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

feat(sdk): make IdP permission fields conditionally required
  packages/sdk/docs/services/idp.md
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/parser/service/idp/permission.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/types/idp.generated.ts
Due: 2-format, 3-lint, 4-typecheck

revert(sdk): drop conditional-optional for permission.sendPasswordResetEmail
  packages/sdk/docs/services/idp.md
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/parser/service/idp/permission.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/types/idp.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): notify user to authorize connection after create or re-auth after update
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): require permission when enableMfa is true
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): update MFA example to include required permission block
  packages/sdk/docs/services/idp.md
Due: 2-format

fix(sdk): fix ts-hook.mjs URL handling; extract registerTsHook helper; fix changeset text
  .changeset/remove-tsx.md
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/register-ts-hook.ts
  packages/sdk/src/cli/ts-hook.mjs
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): route deploy --dry-run output to stdout and add --json support
  packages/sdk/src/cli/commands/deploy/change-set.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/grouped-display.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): add unit tests for printPlanResults stdout routing and JSON output
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): make update_mask optional and skip client_secret when absent
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

docs(deploy): update auth connection docs to reflect in-place update behavior
  packages/sdk/docs/services/auth.md
Due: 2-format

fix(sdk): strip search/hash from file URL before fileURLToPath in ts-hook
  packages/sdk/src/cli/ts-hook.mjs
Due: none

chore(sdk): remove unused shebang from non-executable check scripts
  packages/sdk/scripts/check-import-cycles.ts
  packages/sdk/scripts/check-public-api-jsdoc.ts
  packages/sdk/scripts/check-zod-isolation.ts
Due: 2-format, 3-lint, 4-typecheck

docs(codemod): regenerate v2 migration guide from registry
  packages/sdk/docs/migration/v2.md
Due: 2-format

chore: add changeset for deploy stdout and json output
  .changeset/deploy-dry-run-stdout-json.md
Due: 2-format

fix(sdk): tighten engines.node to >=22.6.0 and copy ts-hook types to dist
  packages/sdk/package.json
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): use import.meta.url as parentURL in module.register() call
  packages/sdk/src/cli/shared/register-ts-hook.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): replace print(write) with lines() on ChangeSet and buildGroupedDisplayLines
  packages/sdk/src/cli/commands/deploy/change-set.test.ts
  packages/sdk/src/cli/commands/deploy/change-set.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/function-registry.test.ts
  packages/sdk/src/cli/commands/deploy/grouped-display.ts
  packages/sdk/src/cli/commands/remove.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): add unit tests for ts-hook load/loadSync URL handling and registerTsHook runtime detection
  packages/sdk/src/cli/shared/register-ts-hook.test.ts
  packages/sdk/src/cli/ts-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): add resolve/resolveSync tests and registerTsHook Node path coverage
  packages/sdk/src/cli/shared/register-ts-hook.test.ts
  packages/sdk/src/cli/ts-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): rename defineWaitPoint/defineWaitPoints to createWaitPoint/createWaitPoints
  .agents/rules/sdk-internals.md
  .claude/rules/sdk-internals.md
  AGENTS.md
  example/workflows/approval.ts
  packages/create-sdk/templates/workflow/src/workflow/approval.ts
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): migrate authorization usage to permission in tests and docs
  packages/sdk/docs/configuration.md
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): migrate IdP authorization fixtures to permission
  packages/sdk/src/cli/commands/deploy/idp.plan.test.ts
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): use permission instead of authorization in IdP examples
  .changeset/idp-authorization-permission-examples.md
  packages/sdk/docs/configuration.md
  packages/sdk/docs/services/staticwebsite.md
Due: 2-format

chore: add changeset for idp permission docs migration
  .changeset/idp-permission-docs.md
Due: 2-format

feat(sdk): make permission.sendPasswordResetEmail conditionally required
  .changeset/idp-sendPasswordResetEmail-optional.md
  packages/sdk/docs/services/idp.md
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/parser/service/idp/permission.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/types/idp.generated.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): bump engines.node to >=22.15.0 for module.registerHooks
  package.json
  packages/sdk/package.json
Due: 2-format

refactor(sdk): remove register() fallback, require registerHooks directly
  packages/sdk/docs/migration/v2.md
  packages/sdk/postinstall.mjs
  packages/sdk/src/cli/shared/register-ts-hook.test.ts
  packages/sdk/src/cli/shared/register-ts-hook.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/remove-tsx.md
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
