Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore(knip): bump packages/sdk/knip.json $schema URL to knip@6
  packages/sdk/knip.json
Due: 2-format

fix(seed): distinguish external namespace rejection in truncate
  packages/sdk/src/cli/commands/tailordb/truncate.test.ts
  packages/sdk/src/cli/commands/tailordb/truncate.ts
Due: 2-format, 3-lint, 4-typecheck

chore: refine changeset description for external namespace fix
  .changeset/seed-plugin-external-safe.md
Due: 2-format

docs: clarify external namespace exclusion in truncate and seedPlugin
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/configuration.md
  packages/sdk/docs/generator/builtin.md
  packages/sdk/src/cli/commands/tailordb/truncate.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): keep removed fields readable during pre-migration phase
  .changeset/preserve-removed-fields-in-pre-migration.md
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: split extractOwnedNamespaces from extractAllNamespaces
  packages/sdk/src/cli/commands/tailordb/truncate.ts
  packages/sdk/src/cli/shared/config.test.ts
  packages/sdk/src/cli/shared/config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): clarify owned-only semantics in truncate --all messages
  packages/sdk/src/cli/commands/tailordb/truncate.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): keep .sdk/sdk.tgz intact so solver pnpm install stays consistent
  llm-challenge/core/cli.ts
  llm-challenge/core/context-profile.test.ts
  llm-challenge/core/context-profile.ts
  llm-challenge/core/solver/container.test.ts
  llm-challenge/core/solver/container.ts
Due: 2-format, 3-lint, 4-typecheck

feat(tailordb): add warning tier and migration script subcommand
  .changeset/preserve-removed-fields-in-pre-migration.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration.ts
  packages/sdk/src/cli/commands/tailordb/migrate/db-types-generator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/diff-calculator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/diff-calculator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/pre-migration-schema.ts
  packages/sdk/src/cli/commands/tailordb/migrate/script.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): add Client type alias to lowercase tailordb namespace
  packages/sdk/src/runtime/globals.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): tighten warning diff + clarify migrate.ts wording
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/tailordb/migrate/diff-calculator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/pre-migration-schema.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.ts
Due: 2-format, 3-lint, 4-typecheck

chore(llm-challenge): drop unused helpers, mocks, and stale improvements doc
  .claude/IMPROVEMENTS.md
  .gitignore
  llm-challenge/shared/helpers.ts
  llm-challenge/shared/mocks.ts
  llm-challenge/shared/test-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): auto-archive graduated problems and add --include-archived
  .claude/skills/llm-challenge/SKILL.md
  llm-challenge/README.md
  llm-challenge/core/cli.ts
  llm-challenge/core/graduation.test.ts
  llm-challenge/core/graduation.ts
Due: 2-format, 3-lint, 4-typecheck

chore(llm-challenge): wire knip into the package
  llm-challenge/knip.json
  llm-challenge/package.json
Due: 2-format

test(tailordb): repro per-migration prePhase leaks later removals
  packages/sdk/src/cli/commands/deploy/tailordb/migration-bulk-schema-bug.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): submit per-migration schema from migration's own snapshot
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-bulk-schema-bug.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/fix-migration-prephase-snapshot.md
Due: 2-format

refactor(tailordb): rename preMigrationChanges and tighten script validation
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/cli.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/script.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): reconstruct per-migration snapshot from diffs
  .changeset/fix-migration-prephase-snapshot.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-bulk-schema-bug.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(tailordb): tighten migration-bulk-schema-bug comments
  packages/sdk/src/cli/commands/deploy/tailordb/migration-bulk-schema-bug.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(skills): rename bundled skill dir to agent-skills to fix gh skill install duplicates
  .changeset/fix-skill-list.md
  .claude/skills/tailor-sdk
  .github/workflows/skills-sync-check.yml
  packages/sdk/README.md
  packages/sdk/agent-skills/tailor-sdk/SKILL.md
  packages/sdk/package.json
  packages/sdk/src/cli/commands/skills/install.test.ts
  packages/sdk/src/cli/commands/skills/install.ts
  packages/sdk/src/cli/shared/skills-packaged.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailordb): drop narrative comments from migration code
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-bulk-schema-bug.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(ci): hint at docs-check label for re-running consistency check
  .github/workflows/docs-consistency-check.yml
Due: 2-format

chore(sdk): bust pkg.pr.new cache key for politty PR #353 zsh _describe fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

fix: address codex-review feedback (coerce bool field values, skip list/map in completion)
  packages/sdk/src/cli/commands/api.test.ts
  packages/sdk/src/cli/commands/api/index.ts
  packages/sdk/src/cli/commands/api/proto-reflect.test.ts
  packages/sdk/src/cli/commands/api/proto-reflect.ts
Due: 2-format, 3-lint, 4-typecheck

fix: address codex-review feedback (well-known types, prototype-pollution guard)
  packages/sdk/src/cli/commands/api.test.ts
  packages/sdk/src/cli/commands/api/index.ts
  packages/sdk/src/cli/commands/api/proto-reflect.test.ts
  packages/sdk/src/cli/commands/api/proto-reflect.ts
Due: 2-format, 3-lint, 4-typecheck

fix: address codex-review feedback (FQ endpoint --field completion)
  packages/sdk/src/cli/commands/api/index.ts
  packages/sdk/src/cli/commands/api/proto-reflect.test.ts
  packages/sdk/src/cli/commands/api/proto-reflect.ts
  packages/sdk/src/cli/completion.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: address codex-review feedback (drop unrepresentable well-known types from --field)
  packages/sdk/src/cli/commands/api/proto-reflect.test.ts
  packages/sdk/src/cli/commands/api/proto-reflect.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): align readonly-guard allowlist with crashreport rename
  packages/sdk/src/cli/shared/readonly-guard.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify (collapse fieldArg pipeline, merge well-known type branches)
  packages/sdk/src/cli/commands/api/index.ts
  packages/sdk/src/cli/commands/api/proto-reflect.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify (collapse listMethodChoices into a single flatMap)
  packages/sdk/src/cli/commands/api/proto-reflect.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify (memoize unaryMethods filter into a module constant)
  packages/sdk/src/cli/commands/api/proto-reflect.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailor-proto): regenerate proto with type_hook / type_validate
  packages/tailor-proto/src/tailor/v1/application_pb.d.ts
  packages/tailor-proto/src/tailor/v1/application_pb.js
  packages/tailor-proto/src/tailor/v1/application_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/application_resource_pb.js
  packages/tailor-proto/src/tailor/v1/function_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/function_resource_pb.js
  packages/tailor-proto/src/tailor/v1/gateway_filter_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/gateway_filter_resource_pb.js
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/service_pb.js
  packages/tailor-proto/src/tailor/v1/staticwebsite_pb.d.ts
  packages/tailor-proto/src/tailor/v1/staticwebsite_pb.js
  packages/tailor-proto/src/tailor/v1/staticwebsite_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/staticwebsite_resource_pb.js
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.js
  packages/tailor-proto/src/tailor/v1/telemetryrouter_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetryrouter_pb.js
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workspace_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workspace_pb.js
Due: 3-lint, 4-typecheck

feat(tailordb)!: emit record-level hooks/validate via type_hook / type_validate
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/types/tailordb.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): regenerate migration 0004 as type-level hooks/validate
  example/migrations/0004/diff.json
Due: 2-format

fix(llm-challenge): install linux native bindings on the host so the solver does not chase them at solve time
  llm-challenge/core/cli.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): pin pnpm to the host's packageManager so the solver does not corepack-redownload or recreate node_modules
  llm-challenge/core/cli.ts
  llm-challenge/core/solver/container.test.ts
  llm-challenge/core/solver/container.ts
  llm-challenge/shared/helpers.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): run corepack prepare as the node user so the cache survives the USER switch
  llm-challenge/core/solver/container.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): skip auto-generated timestamp hooks when type has record-level hooks
  example/seed/data/Customer.schema.ts
  packages/sdk/src/parser/service/tailordb/field.test.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
Due: 2-format, 3-lint, 4-typecheck
