Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore: add changeset
  .changeset/poor-papers-stop.md
Due: 2-format

fix(migration): include plugin-generated types in migration diff
  packages/sdk/src/cli/tailordb/migrate/generate.ts
Due: 2-format, 3-lint, 4-typecheck

fix(executor): address PR review comments for table display
  packages/sdk/src/cli/executor/get.ts
  packages/sdk/src/cli/executor/list.ts
Due: 2-format, 3-lint, 4-typecheck

Apply suggestion from @toiroakr
  .github/workflows/changeset-check.yml
Due: 2-format

refactor(executor): simplify CLI layer and remove jsonMode from exported functions
  packages/sdk/src/cli/executor/args.ts
  packages/sdk/src/cli/executor/get.ts
  packages/sdk/src/cli/executor/list.ts
  packages/sdk/src/cli/executor/transform.test.ts
  packages/sdk/src/cli/executor/transform.ts
  packages/sdk/src/cli/executor/webhook.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): use separate case statements for retry error codes
  packages/sdk/src/cli/client.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add kysely re-export entry point to avoid phantom dependency issues
  example/generated/tailordb.ts
  packages/create-sdk/templates/hello-world/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/package.json
  packages/sdk/src/cli/bundler/migration/migration-bundler.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
  packages/sdk/src/cli/tailordb/migrate/db-types-generator.ts
  packages/sdk/src/kysely/index.ts
  packages/sdk/tsdown.config.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

Add migration e2e workflow
  .github/workflows/migration.yml
  example/package.json
  example/tests/scripts/migration/assert_after_0005.ts
  example/tests/scripts/migration/assert_no_duplicate_names.ts
  example/tests/scripts/migration/assert_roles_populated.ts
  example/tests/scripts/migration_e2e.ts
  packages/sdk/src/cli/lib.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for retry error codes fix
  .changeset/fix-bitwise-or-retry.md
Due: 2-format

feat: support allowedEmailDomains field for userAuthPolicy
  .changeset/allowed-email-domains.md
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

fix(idp): validate allowedEmailDomains cannot be set with useNonEmailIdentifier
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore: resolve CLI binaries from SDK context instead of user project
  packages/sdk/src/cli/tailordb/erd/export.ts
  packages/sdk/src/cli/tailordb/erd/serve.ts
  packages/sdk/src/cli/utils/resolve-cli-bin.ts
Due: 2-format, 3-lint, 4-typecheck

feat: support `allowedEmailDomains` field for `userAuthPolicy` (#565)
  .changeset/allowed-email-domains.md
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

Remove internal migration version env
  example/.oxlintrc.json
  example/eslint.config.js
  example/tests/migration-fixtures/app/migrations/.gitkeep
  example/tests/migration-fixtures/app/permissions.ts
  example/tests/migration-fixtures/app/tailor.config.ts
  example/tests/migration-fixtures/app/tailordb/.gitkeep
  example/tests/migration-fixtures/steps/0000/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0000/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0000/tailordb/user.ts
  example/tests/migration-fixtures/steps/0001/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0001/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0001/tailordb/user.ts
  example/tests/migration-fixtures/steps/0002/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0002/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0002/tailordb/user.ts
  example/tests/migration-fixtures/steps/0003/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0003/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0003/tailordb/user.ts
  example/tests/migration-fixtures/steps/0004/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0004/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0004/tailordb/user.ts
  example/tests/migration-fixtures/steps/0005/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0005/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0005/tailordb/user.ts
  example/tests/migration-fixtures/steps/0006/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0006/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0006/tailordb/user.ts
  example/tests/migration-fixtures/steps/0007/tailordb/salesOrder.ts
  example/tests/migration-fixtures/steps/0007/tailordb/supplier.ts
  example/tests/migration-fixtures/steps/0007/tailordb/user.ts
  example/tests/scripts/migration_e2e.ts
  example/tsconfig.json
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/apply/services/tailordb/migration.test.ts
  packages/sdk/src/cli/apply/services/tailordb/migration.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for #540 and CI check for missing changesets (#554)
  .changeset/seed-kysely-batch.md
  .github/workflows/changeset-check.yml
Due: 2-format

chore: update snapshot fixture for new kysely import path
  example/tests/fixtures/expected/db.ts
Due: 3-lint, 4-typecheck

fix(cli): use separate case statements for retry error codes (#562)
  .changeset/fix-bitwise-or-retry.md
  packages/sdk/src/cli/client.ts
Due: 2-format, 3-lint, 4-typecheck

chore: use vi.stubEnv
  packages/sdk/src/cli/context.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: explicitly stub env vars to undefined for test isolation
  packages/sdk/src/cli/context.test.ts
Due: 2-format, 3-lint, 4-typecheck

Fix migration apply bootstrap
  example/tests/scripts/migration_e2e.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: deep copy nested objects in clone() to prevent shared mutation
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove unnecessary type assertions in clone()
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

Scope migration gql permissions by namespace
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

Add tests for loadAccessToken (#547)
  .changeset/soft-snakes-hide.md
  packages/sdk/src/cli/context.test.ts
Due: 2-format, 3-lint, 4-typecheck

Defer TailorDB migration scripts until auth
  .changeset/defer-tailordb-migration-scripts.md
  example/tests/scripts/migration_e2e.ts
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

Fix migration e2e cwd and pre-migration schema
  example/tests/scripts/migration_e2e.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

Adjust migration assertion for enum removal
  example/tests/scripts/migration/assert_after_0005.ts
Due: 2-format, 3-lint, 4-typecheck

feat(auth): reject requireDpop=true for browser client type
  .changeset/browser-dpop-validation.md
  packages/sdk/src/parser/service/auth/index.test.ts
  packages/sdk/src/parser/service/auth/schema.ts
Due: 2-format, 3-lint, 4-typecheck

Fix migration pre-phase update ordering
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

Apply Auth before TailorDB migrations
  .changeset/defer-tailordb-migration-scripts.md
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

Update changeset summary
  .changeset/defer-tailordb-migration-scripts.md
Due: 2-format

feat(auth): reject requireDpop=true for browser client type (#567)
  .changeset/browser-dpop-validation.md
  packages/sdk/src/parser/service/auth/index.test.ts
  packages/sdk/src/parser/service/auth/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix: add changeset for CLI completion feature
  .changeset/quick-keys-wink.md
Due: 2-format

fix(cli): handle BigInt serialization in error logging
  packages/sdk/src/cli/client.test.ts
  packages/sdk/src/cli/client.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for BigInt serialization fix
  .changeset/fix-bigint-serialization.md
Due: 2-format

chore: refactor: use es-toolkit cloneDeep for clone() implementation
  packages/sdk/package.json
  packages/sdk/src/configure/services/tailordb/schema.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(cli): handle BigInt serialization in error logging (#569)
  .changeset/fix-bigint-serialization.md
  packages/sdk/src/cli/client.test.ts
  packages/sdk/src/cli/client.ts
Due: 2-format, 3-lint, 4-typecheck

feat(executor): add executor list, get, and webhook commands (#531)
  .changeset/brave-chairs-play.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/get.ts
  packages/sdk/src/cli/executor/index.ts
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/list.ts
  packages/sdk/src/cli/executor/status.ts
  packages/sdk/src/cli/executor/transform.test.ts
  packages/sdk/src/cli/executor/transform.ts
  packages/sdk/src/cli/executor/trigger.ts
  packages/sdk/src/cli/executor/webhook.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/workflow/start.ts
  packages/sdk/src/cli/workflow/status.ts
Due: 2-format, 3-lint, 4-typecheck

docs(workflow): document job input/output type constraints
  .changeset/slick-webs-draw.md
  packages/sdk/docs/services/workflow.md
Due: 2-format

docs(workflow): document job input/output type constraints (#571)
  .changeset/slick-webs-draw.md
  packages/sdk/docs/services/workflow.md
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
