Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs(sdk): drop npm links to the unpublished ERD plugin package
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.template.md
Due: 2-format

fix(sdk): fall back to cwd for watch patterns matching nothing at baseDir
  packages/sdk/src/cli/commands/generate/watch/index.test.ts
  packages/sdk/src/cli/commands/generate/watch/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): key fallback-warning dedup by pattern/group, not baseDir alone
  packages/sdk/src/cli/commands/generate/watch/index.test.ts
  packages/sdk/src/cli/commands/generate/watch/index.ts
  packages/sdk/src/cli/services/file-loader.test.ts
  packages/sdk/src/cli/services/file-loader.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): require .permission()/.gqlPermission() to be configured
  .changeset/require-tailordb-permission-config.md
  example/analyticsdb/event.ts
  packages/sdk/docs/services/tailordb.md
  packages/sdk/e2e/deploy.test.ts
  packages/sdk/e2e/fixtures/migration/tailordb/post.ts
  packages/sdk/e2e/fixtures/migration/tailordb/user.ts
  packages/sdk/e2e/migration.test.ts
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/tailordb/order.ts
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/tailordb/user.ts
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/parser/service/tailordb/permission.test.ts
  packages/sdk/src/parser/service/tailordb/permission.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): validate namespace plugin types and include source in errors
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): share TypeScript runtime registration and use get-tsconfig
  packages/sdk/package.json
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/register-typescript-runtime.test.ts
  packages/sdk/src/cli/shared/register-typescript-runtime.ts
  packages/sdk/src/cli/tsconfig-paths-hook.mjs
  packages/sdk/src/cli/tsconfig-paths-hook.test.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(cli): register the tsconfig paths hook via module.register()
  packages/sdk/src/cli/shared/register-tsconfig-paths-hook.test.ts
  packages/sdk/src/cli/shared/register-tsconfig-paths-hook.ts
  packages/sdk/src/cli/shared/register-typescript-runtime.test.ts
  packages/sdk/src/cli/tsconfig-paths-hook.d.mts
  packages/sdk/src/cli/tsconfig-paths-hook.mjs
  packages/sdk/src/cli/tsconfig-paths-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): accurately describe the tsconfig paths hook as fallback-only
  .changeset/fix-user-file-tsconfig-paths.md
  packages/sdk/src/cli/tsconfig-paths-hook.mjs
Due: 2-format

feat(runtime): mirror tailor.v1 RPC names on tailor.workflow
  .changeset/workflow-canonical-names.md
  packages/sdk/docs/runtime.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/configure/services/workflow/execution-policy.ts
  packages/sdk/src/configure/services/workflow/registry.ts
  packages/sdk/src/parser/service/workflow/schema.ts
  packages/sdk/src/runtime/globals.test.ts
  packages/sdk/src/runtime/globals.ts
  packages/sdk/src/runtime/workflow.test.ts
  packages/sdk/src/runtime/workflow.ts
  packages/sdk/src/types/workflow.generated.ts
  packages/sdk/src/vitest/mock-types.test.ts
  packages/sdk/src/vitest/mock.test.ts
  packages/sdk/src/vitest/mocks/workflow.ts
  packages/sdk/src/vitest/workflow-runtime.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(runtime): type canonical workflow surfaces with Start* options
  packages/sdk/src/configure/services/workflow/registry.ts
  packages/sdk/src/vitest/mocks/workflow.ts
  packages/sdk/src/vitest/workflow-runtime.ts
Due: 2-format, 3-lint, 4-typecheck

docs(testing): use resumeWorkflowExecution in resume example
  packages/sdk/docs/testing.md
Due: 2-format

fix(workflow): preserve trigger arity in createWorkflow().trigger
  packages/sdk/src/configure/services/workflow/registry.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/vitest/mock.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): make issues() field param non-generic
  .changeset/fix-validate-issues-generic-field.md
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(resolver): correct denial-reason attribution in permission guard
  packages/sdk/src/cli/shared/runtime-exprs.test.ts
  packages/sdk/src/cli/shared/runtime-exprs.ts
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/configure/services/resolver/permission.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/configure/types/permission-operand.types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): drop rationale comment from issues() field param
  packages/sdk/src/configure/services/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

docs(resolver): rename Authentication heading to Permissions
  packages/sdk/docs/services/resolver.md
Due: 2-format

refactor(resolver): rename permission "public" literal to allowAnonymous
  .changeset/resolver-permission-field.md
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/cli/services/resolver/bundler.test.ts
  packages/sdk/src/cli/shared/runtime-exprs.test.ts
  packages/sdk/src/cli/shared/runtime-exprs.ts
  packages/sdk/src/configure/services/resolver/resolver.test.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/parser/service/resolver/schema.test.ts
  packages/sdk/src/parser/service/resolver/schema.ts
  packages/sdk/src/types/resolver.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(resolver): require a `user` operand and widen ResolverPermission type
  packages/sdk/src/configure/services/resolver/permission.ts
  packages/sdk/src/configure/services/resolver/resolver.test.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/parser/service/resolver/schema.test.ts
  packages/sdk/src/parser/service/resolver/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): tighten test-run user parser type
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

test(tailordb): rename cross-factory assignability test to match scope
  packages/sdk/src/configure/services/tailordb/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(lint): remove all rules except no-api-prefix-in-path-pattern
  .changeset/calm-tools-lint.md
  packages/create-sdk/templates/executor/.oxlintrc.json
  packages/create-sdk/templates/generators/.oxlintrc.json
  packages/create-sdk/templates/hello-world/.oxlintrc.json
  packages/create-sdk/templates/inventory-management/.oxlintrc.json
  packages/create-sdk/templates/multi-application/.oxlintrc.json
  packages/create-sdk/templates/resolver/.oxlintrc.json
  packages/create-sdk/templates/static-web-site/.oxlintrc.json
  packages/create-sdk/templates/tailordb/.oxlintrc.json
  packages/create-sdk/templates/workflow/.oxlintrc.json
  packages/eslint-plugin-sdk/README.md
  packages/eslint-plugin-sdk/index.d.ts
  packages/eslint-plugin-sdk/index.js
  packages/eslint-plugin-sdk/index.test.js
  packages/eslint-plugin-sdk/lib/ast.js
  packages/eslint-plugin-sdk/lib/exports.js
  packages/eslint-plugin-sdk/lib/sdk-bindings.js
  packages/eslint-plugin-sdk/lib/services.js
  packages/eslint-plugin-sdk/rules/no-deprecated-api.js
  packages/eslint-plugin-sdk/rules/require-named-workflow-job-export.js
  packages/eslint-plugin-sdk/rules/require-service-default-export.js
Due: 2-format, 3-lint, 4-typecheck

feat(lint): add no-unconditional-permit rule
  .changeset/calm-tools-lint.md
  packages/create-sdk/templates/executor/.oxlintrc.json
  packages/create-sdk/templates/generators/.oxlintrc.json
  packages/create-sdk/templates/hello-world/.oxlintrc.json
  packages/create-sdk/templates/inventory-management/.oxlintrc.json
  packages/create-sdk/templates/multi-application/.oxlintrc.json
  packages/create-sdk/templates/resolver/.oxlintrc.json
  packages/create-sdk/templates/static-web-site/.oxlintrc.json
  packages/create-sdk/templates/tailordb/.oxlintrc.json
  packages/create-sdk/templates/workflow/.oxlintrc.json
  packages/eslint-plugin-sdk/README.md
  packages/eslint-plugin-sdk/index.d.ts
  packages/eslint-plugin-sdk/index.js
  packages/eslint-plugin-sdk/index.test.js
  packages/eslint-plugin-sdk/lib/sdk-bindings.js
  packages/eslint-plugin-sdk/rules/no-unconditional-permit.js
Due: 2-format, 3-lint, 4-typecheck

fix(cli): harden concurrent bundle isolation
  .changeset/isolate-concurrent-deployment-bundles.md
  example/tests/bundled_execution.test.ts
  packages/sdk/src/cli/cache/bundle-cache.test.ts
  packages/sdk/src/cli/cache/bundle-cache.ts
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/integration.test.ts
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/prepare.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/services/resolver/bundler.test.ts
  packages/sdk/src/cli/services/stale-cleanup.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.test.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.test.ts
  packages/sdk/src/cli/shared/bundle-concurrency.test.ts
  packages/sdk/src/cli/shared/bundle-concurrency.ts
  packages/sdk/src/cli/shared/virtual-entry.test.ts
  packages/sdk/src/cli/shared/virtual-entry.ts
Due: 2-format, 3-lint, 4-typecheck

fix(lint): detect unconditional shorthand permission entries
  packages/eslint-plugin-sdk/index.test.js
  packages/eslint-plugin-sdk/rules/no-unconditional-permit.js
Due: 2-format, 3-lint, 4-typecheck

fix(cli): preserve TypeScript virtual entry parsing
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.test.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore: secure and reorganize e2e test skill
  .agents/skills/e2e-setup/SKILL.md
  .agents/skills/e2e-test/.gitignore
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/SKILL.md
  .agents/skills/e2e-test/SUITES.md
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/verify-workspace-list.mjs
  .agents/skills/e2e-test/scripts/with-machine-user-auth.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/fixtures/fake-credential-provider.sh
  .agents/skills/e2e-test/test/fixtures/fake-node.sh
  .agents/skills/e2e-test/test/fixtures/fake-tailor-sdk.sh
  .agents/skills/e2e-test/test/fixtures/fake-target.sh
  .agents/skills/e2e-test/test/skill.test.sh
  .claude/skills/e2e-setup
  .claude/skills/e2e-test
  .gitignore
Due: 2-format

test: simplify e2e skill cleanup assertions
  .agents/skills/e2e-test/test/skill.test.sh
Due: none

fix(cli): fix virtual entry parser selection
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/shared/virtual-entry.test.ts
  packages/sdk/src/cli/shared/virtual-entry.ts
Due: 2-format, 3-lint, 4-typecheck

fix: harden e2e test skill lifecycle
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/SKILL.md
  .agents/skills/e2e-test/SUITES.md
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/verify-workspace-list.mjs
  .agents/skills/e2e-test/scripts/with-e2e-ids.sh
  .agents/skills/e2e-test/scripts/with-machine-user-auth.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/fixtures/fake-credential-provider.sh
  .agents/skills/e2e-test/test/fixtures/fake-target.sh
  .agents/skills/e2e-test/test/skill.test.sh
Due: 2-format

fix: isolate stored e2e identifiers
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/scripts/with-e2e-ids.sh
  .agents/skills/e2e-test/test/skill.test.sh
Due: 2-format

fix: close e2e cleanup lifecycle gaps
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/with-machine-user-auth.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/fixtures/fake-credential-provider.sh
  .agents/skills/e2e-test/test/fixtures/fake-tailor-sdk.sh
  .agents/skills/e2e-test/test/skill.test.sh
  packages/sdk/scripts/cleanup-e2e-workspaces.ts
  packages/sdk/scripts/select-e2e-workspaces.test.ts
  packages/sdk/scripts/select-e2e-workspaces.ts
Due: 2-format, 3-lint, 4-typecheck

ci(link-check): exclude the not-yet-merged startWorkflow.ts example link
  .github/workflows/link-check.yml
Due: 2-format

fix: supervise e2e test process groups
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/SKILL.md
  .agents/skills/e2e-test/SUITES.md
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/supervise-process-group.sh
  .agents/skills/e2e-test/scripts/with-e2e-ids.sh
  .agents/skills/e2e-test/scripts/with-machine-user-auth.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/fixtures/fake-credential-provider.sh
  .agents/skills/e2e-test/test/fixtures/fake-node.sh
  .agents/skills/e2e-test/test/fixtures/fake-tailor-sdk.sh
  .agents/skills/e2e-test/test/fixtures/fake-target.sh
  .agents/skills/e2e-test/test/skill.test.sh
  .github/workflows/ci.yml
  package.json
Due: 2-format
