Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(ci): extract shared @mention guard and fix a Node arg-injection bug
  .changeset/renovate-2350.md
  .github/scripts/neutralize-mentions.mjs
  .github/workflows/add-renovate-changeset.yml
  .github/workflows/docs-consistency-check.yml
  .github/workflows/renovate-auto-review.yml
Due: 2-format

fix(ci): fetch the mention guard from the default branch, not the PR checkout
  .github/scripts/neutralize-mentions.test.mjs
  .github/workflows/add-renovate-changeset.yml
  .github/workflows/docs-consistency-check.yml
  .github/workflows/neutralize-mentions.yml
  .github/workflows/renovate-auto-review.yml
Due: 2-format

test(ci): add a regression case for the option-injection fix
  .github/scripts/neutralize-mentions.test.mjs
Due: none

revert(ci): drop the ineffective "fetch script from main" mitigation
  .github/workflows/add-renovate-changeset.yml
  .github/workflows/docs-consistency-check.yml
  .github/workflows/neutralize-mentions.yml
  .github/workflows/renovate-auto-review.yml
Due: 2-format

fix(ci): fall back to the base ref's script for already-open Renovate branches
  .github/workflows/add-renovate-changeset.yml
Due: 2-format

fix(seed): report the line a record actually occupies
  packages/sdk/src/seed/index.ts
  packages/sdk/src/seed/record-lines.test.ts
  packages/sdk/src/seed/record-lines.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): keep locations in directories whose name starts with dots
  packages/sdk/src/cli/shared/github-actions.test.ts
  packages/sdk/src/cli/shared/github-actions.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): cover how a reported error becomes a location
  packages/sdk/src/seed/index.ts
  packages/sdk/src/seed/record-lines.test.ts
  packages/sdk/src/seed/record-lines.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): take the CLI surface through a single import
  packages/sdk-plugin-seed/src/validate.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): resolve the workspace through symlinks before relativizing
  .changeset/annotation-source-locations.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/src/cli/shared/github-actions.test.ts
  packages/sdk/src/cli/shared/github-actions.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): point GitHub Actions annotations at the failing file
  .changeset/annotation-source-locations.md
  packages/sdk-plugin-seed/src/validate.ts
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/config-loader.ts
  packages/sdk/src/cli/shared/error-diagnostics.ts
  packages/sdk/src/cli/shared/error-json.test.ts
  packages/sdk/src/cli/shared/error-json.ts
  packages/sdk/src/cli/shared/github-actions.test.ts
  packages/sdk/src/cli/shared/github-actions.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): name TAILOR_OUTPUT when it suppresses a prompt
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/src/cli/shared/args.ts
  packages/sdk/src/cli/shared/logger.ts
  packages/sdk/src/cli/shared/prompt.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): remove unused .prettierrc from generators template
  .changeset/generators-template-prettierrc.md
  packages/create-sdk/templates/generators/.prettierrc
Due: 2-format

fix(ci): pass generated file lists to commit-action newline-separated
  .github/workflows/generate.yml
  .github/workflows/skills-sync-check.yml
Due: 2-format

chore(example): regenerate the generator expected fixtures
  example/tests/fixtures/expected/db.ts
  example/tests/fixtures/expected/seed/data/AuditTrail.jsonl
  example/tests/fixtures/expected/seed/data/AuditTrail.schema.ts
  example/tests/fixtures/expected/seed/data/Customer.schema.ts
  example/tests/fixtures/expected/seed/data/Event.schema.ts
  example/tests/fixtures/expected/seed/data/Invoice.schema.ts
  example/tests/fixtures/expected/seed/data/NestedProfile.schema.ts
  example/tests/fixtures/expected/seed/data/ProductBundle.schema.ts
  example/tests/fixtures/expected/seed/data/PurchaseOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrder.schema.ts
  example/tests/fixtures/expected/seed/data/Supplier.schema.ts
  example/tests/fixtures/expected/seed/data/User.schema.ts
  example/tests/fixtures/expected/seed/data/UserLog.schema.ts
  example/tests/fixtures/expected/seed/data/UserSetting.schema.ts
Due: 3-lint, 4-typecheck

fix(cli): forward global flags typed before a plugin command
  .changeset/plugin-preceding-global-flags.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/src/cli/main.test.ts
  packages/sdk/src/cli/main.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(test): tidy the plugin dispatch probe helper
  packages/sdk/src/cli/main.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): drop the global profile flag from plugin forwarding
  .changeset/plugin-preceding-global-flags.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/src/cli/main.test.ts
  packages/sdk/src/cli/main.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover preceding-arg dispatch on Windows
  packages/sdk/src/cli/shared/plugin.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): point every config rejection at the config file
  packages/sdk/src/cli/shared/config-loader.test.ts
  packages/sdk/src/cli/shared/config-loader.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): use native defaultSubCommand instead of manual run forwarding
  packages/sdk/src/cli/commands/authconnection/index.ts
  packages/sdk/src/cli/commands/crashreport/index.ts
  packages/sdk/src/cli/commands/executor/index.ts
  packages/sdk/src/cli/commands/executor/webhook.ts
  packages/sdk/src/cli/commands/function/index.ts
  packages/sdk/src/cli/commands/machineuser/index.ts
  packages/sdk/src/cli/commands/oauth2client/index.ts
  packages/sdk/src/cli/commands/organization/index.ts
  packages/sdk/src/cli/commands/plugin/index.ts
  packages/sdk/src/cli/commands/profile/index.ts
  packages/sdk/src/cli/commands/secret/index.ts
  packages/sdk/src/cli/commands/secret/vault/index.ts
  packages/sdk/src/cli/commands/staticwebsite/index.ts
  packages/sdk/src/cli/commands/user/index.ts
  packages/sdk/src/cli/commands/user/pat/index.ts
  packages/sdk/src/cli/commands/workflow/index.ts
  packages/sdk/src/cli/commands/workspace/app/index.ts
  packages/sdk/src/cli/commands/workspace/index.ts
  packages/sdk/src/cli/commands/workspace/user/index.ts
  packages/sdk/src/cli/main.ts
  packages/sdk/src/cli/skills-command.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): let commit-action list the files to commit
  .github/workflows/generate.yml
  .github/workflows/skills-sync-check.yml
Due: 2-format

fix(cli): name the flag when it is what suppressed the prompt
  packages/sdk/src/cli/shared/args.test.ts
  packages/sdk/src/cli/shared/args.ts
  packages/sdk/src/cli/shared/logger.ts
  packages/sdk/src/cli/shared/prompt.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add Temporal.PlainDate representation for date fields
  .changeset/create-sdk-templates-temporal-lib.md
  .changeset/date-temporal-representation.md
  packages/create-sdk/templates/executor/tsconfig.json
  packages/create-sdk/templates/generators/tsconfig.json
  packages/create-sdk/templates/hello-world/tsconfig.json
  packages/create-sdk/templates/inventory-management/tsconfig.json
  packages/create-sdk/templates/multi-application/tsconfig.json
  packages/create-sdk/templates/resolver/tsconfig.json
  packages/create-sdk/templates/static-web-site/tsconfig.json
  packages/create-sdk/templates/tailordb/tsconfig.json
  packages/create-sdk/templates/workflow/tsconfig.json
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/configure/types/field.types.ts
  packages/sdk/src/configure/types/type.ts
  packages/sdk/src/parser/service/field/schema.ts
  packages/sdk/src/runtime/date.test.ts
  packages/sdk/src/runtime/date.ts
  packages/sdk/src/runtime/field-parse.ts
  packages/sdk/src/types/auth.generated.ts
  packages/sdk/src/types/field.generated.ts
  packages/sdk/src/types/helpers.ts
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): preserve default DOM/ScriptHost lib entries in templates
  packages/create-sdk/templates/executor/tsconfig.json
  packages/create-sdk/templates/generators/tsconfig.json
  packages/create-sdk/templates/hello-world/tsconfig.json
  packages/create-sdk/templates/inventory-management/tsconfig.json
  packages/create-sdk/templates/multi-application/tsconfig.json
  packages/create-sdk/templates/resolver/tsconfig.json
  packages/create-sdk/templates/static-web-site/tsconfig.json
  packages/create-sdk/templates/tailordb/tsconfig.json
  packages/create-sdk/templates/workflow/tsconfig.json
  packages/sdk/docs/testing.md
  packages/sdk/src/vitest/integration/should-pass.test.ts
  packages/sdk/src/vitest/integration/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix: resolve env static website placeholders before bundling, not per-planner
  .changeset/env-static-website-url.md
  packages/sdk/docs/configuration.md
  packages/sdk/docs/services/staticwebsite.md
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/deployment-target.ts
  packages/sdk/src/cli/commands/deploy/executor.test.ts
  packages/sdk/src/cli/commands/deploy/executor.ts
  packages/sdk/src/cli/commands/deploy/resolver.test.ts
  packages/sdk/src/cli/commands/deploy/resolver.ts
  packages/sdk/src/cli/commands/deploy/staticwebsite.ts
  packages/sdk/src/cli/commands/deploy/tailordb/apply.ts
  packages/sdk/src/cli/services/application.test.ts
  packages/sdk/src/cli/services/application.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): strengthen Temporal.PlainDate test coverage
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/runtime/date.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): rethrow non-parse errors from Temporal.PlainDate input parsing
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/cli/services/resolver/date-representation.test.ts
  packages/sdk/src/runtime/date.test.ts
  packages/sdk/src/runtime/field-parse.ts
Due: 2-format, 3-lint, 4-typecheck

chore: note the skipLibCheck caveat in the temporal changeset
  .changeset/date-temporal-representation.md
Due: 2-format

docs(sdk): note the TypeScript 6.0+ requirement for ESNext.Temporal
  packages/sdk/docs/services/resolver.md
Due: 2-format

fix: fail deploy on unexpected static website lookup errors in env
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/services/application.test.ts
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset for the fail-on-unexpected-error behavior
  .changeset/env-static-website-url.md
Due: 2-format

test(setup): cover grouped command contract
  packages/sdk-plugin-setup/src/commands.test.ts
  packages/sdk/docs/github-actions.md
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): make the Temporal type reference in public types opt-in
  .changeset/date-temporal-representation.md
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/configure/types/field.types.ts
  packages/sdk/src/types/helpers.ts
  packages/sdk/src/vitest/integration/vitest.config.ts
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

test(setup): reject removed branch alias
  packages/sdk-plugin-setup/src/commands.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): describe the temporal lib fallback as a type-level error
  packages/sdk/docs/testing.md
  packages/sdk/src/configure/types/field.types.ts
  packages/sdk/src/vitest/integration/vitest.config.ts
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

docs(setup): clarify grouped help command
  packages/sdk-plugin-setup/README.md
Due: 2-format

fix(sdk): keep the Temporal opt-in extraction generic
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/types/helpers.ts
  packages/sdk/src/types/temporal-fallback.test.ts
  packages/sdk/src/vitest/integration/should-pass.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): reject non-canonical Temporal date input and fix fallback test
  packages/sdk/src/configure/types/field.types.ts
  packages/sdk/src/runtime/date.test.ts
  packages/sdk/src/runtime/field-parse.ts
  packages/sdk/src/types/helpers.ts
  packages/sdk/src/types/temporal-fallback.test.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
