Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs(tailordb): update hooks and validation docs for new API and share now timestamp in test helper
  .changeset/tailordb-shared-now-hook.md
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): don't fall back to a post-fork-point run for ERD base
  .github/scripts/erd-find-base-run.mjs
Due: none

fix(ci): set found=false explicitly when base schema download fails
  .github/workflows/erd-schema.yml
  packages/sdk/src/cli/commands/setup/workflow-lint.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): validate MAX_CANDIDATE_RUNS instead of silently returning zero
  .github/scripts/erd-find-base-run.mjs
Due: none

fix(ci): pass run_id through env instead of inline template expansion
  .github/workflows/erd-schema.yml
Due: 2-format

test(ci): make ERD workflow assertions tolerant of whitespace-only diffs
  packages/sdk/src/cli/commands/setup/workflow-lint.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(tailordb): assert shared now timestamp between field-level and type-level hooks
  packages/sdk/src/utils/test/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(ci): raise default ERD base-run search cap to 1000
  .github/scripts/erd-find-base-run.mjs
Due: none

fix(parser): add default and validate keys to resolver field schema
  example/migrations/0005/diff.json
  example/migrations/analyticsdb/0002/diff.json
  packages/sdk/src/parser/schema-strict.test.ts
  packages/sdk/src/parser/service/field/schema.ts
  packages/sdk/src/types/auth.generated.ts
  packages/sdk/src/types/field.generated.ts
  packages/sdk/src/types/resolver.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): mark required fields optionalOnCreate for type-level hooks and strip hooks/validate from drift comparison
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): safely capture _invoker in type-level scripts
  packages/sdk/src/parser/service/tailordb/type-script.test.ts
  packages/sdk/src/parser/service/tailordb/type-script.ts
Due: 2-format, 3-lint, 4-typecheck

fix(example): add fullAddress to Customer seed data for Kysely insert compatibility
  example/seed/data/Customer.jsonl
Due: none

fix(e2e): provide fullAddress in Customer mutations until optionalOnCreate is supported
  example/e2e/executor.test.ts
  example/e2e/tailordb.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(e2e): remove per-field hooks assertion and provide fullAddress in hook test
  example/e2e/tailordb.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): guard null data in createTailorDBHook, share now across nested calls, and strip nested hooks in remote snapshot comparison
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailor-proto): regenerate for workflow execution policy fields
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.js
Due: 3-lint, 4-typecheck

docs: document workflow execution policies
  packages/sdk/docs/configuration.md
  packages/sdk/docs/services/workflow.md
Due: 2-format

feat(sdk): support workflow job function execution policies
  .changeset/workflow-execution-policies.md
  example/tailor.config.ts
  example/workflows/execution-policies.ts
  packages/sdk/src/cli/commands/deploy/apply-phases.test.ts
  packages/sdk/src/cli/commands/deploy/apply-phases.ts
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/label.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.test.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
  packages/sdk/src/cli/commands/deploy/workflow-execution-policy.ts
  packages/sdk/src/cli/services/workflow/job-detector.ts
  packages/sdk/src/cli/services/workflow/source-transformer.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
  packages/sdk/src/cli/shared/client.ts
  packages/sdk/src/configure/config/types.ts
  packages/sdk/src/configure/services/workflow/execution-policy.test.ts
  packages/sdk/src/configure/services/workflow/execution-policy.ts
  packages/sdk/src/configure/services/workflow/execution-policy.types.ts
  packages/sdk/src/configure/services/workflow/index.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/registry.ts
  packages/sdk/src/parser/service/workflow/schema.test.ts
  packages/sdk/src/parser/service/workflow/schema.ts
  packages/sdk/src/runtime/workflow.test.ts
  packages/sdk/src/runtime/workflow.ts
  packages/sdk/src/types/workflow.generated.ts
  packages/sdk/src/utils/brand.ts
  packages/sdk/src/utils/test/mock.ts
  packages/sdk/src/vitest/mocks/workflow.ts
  packages/sdk/src/vitest/workflow-runtime.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): align WorkflowJob.trigger type with runtime arg order
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): route execution policy key changes through the replaces lane
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
  packages/sdk/src/cli/commands/deploy/workflow-execution-policy.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover options forwarding in workflow trigger transformers
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): use user-facing wording in execution policy validation errors
  packages/sdk/src/parser/service/workflow/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(vitest): import TriggerJobFunctionOptions from the runtime type
  packages/sdk/src/vitest/mocks/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(vitest): type DefaultWorkflowRuntime.triggerJobFunction options
  packages/sdk/src/vitest/workflow-runtime.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): handle acronym boundaries in camelCase → kebab conversion
  packages/sdk/src/configure/services/workflow/execution-policy.test.ts
  packages/sdk/src/configure/services/workflow/execution-policy.ts
  packages/sdk/src/configure/services/workflow/execution-policy.types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): drop camelCase → kebab conversion in execution policies
  example/workflows/execution-policies.ts
  packages/sdk/docs/configuration.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/configure/services/workflow/execution-policy.test.ts
  packages/sdk/src/configure/services/workflow/execution-policy.ts
  packages/sdk/src/configure/services/workflow/execution-policy.types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): keep array-field types assignable across generic erasure
  .changeset/fix-array-field-generic-erasure.md
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

docs: purge internal names from execution policy docs
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/configure/services/workflow/execution-policy.types.ts
  packages/sdk/src/runtime/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

docs: use fully qualified triggerJobFunction path in policy JSDoc
  packages/sdk/src/configure/services/workflow/execution-policy.types.ts
Due: 2-format, 3-lint, 4-typecheck
