Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs: use generic example for typeName in resolver docs
  packages/sdk/docs/services/resolver.md
Due: 2-format

docs: add warning about typeName collision with TailorDB types
  packages/sdk/docs/services/resolver.md
Due: 2-format

fix: correct package name in changeset
  .changeset/docs-typename-pickfields.md
Due: 2-format

chore: add changeset
  .changeset/docs-typename-pickfields.md
Due: 2-format

style: remove emojis from documentation
  packages/sdk/docs/services/resolver.md
  packages/sdk/docs/services/tailordb.md
Due: 2-format

docs: remove unimplemented required option from pickFields table
  packages/sdk/docs/services/tailordb.md
Due: 2-format

docs: clarify typeName on TailorDB fields only affects resolver/executor schemas
  packages/sdk/docs/services/tailordb.md
Due: 2-format

refactor: make pickFields options optional and disallow typeName on TailorDB fields
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

docs: fix pickFields example to include required options parameter
  packages/sdk/docs/services/tailordb.md
Due: 2-format

chore: update pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

docs(resolver): document validation error behavior in GraphQL responses
  packages/sdk/docs/services/resolver.md
Due: 2-format

revert: packages/sdk/src/cli/commands/login.ts
  packages/sdk/src/cli/commands/login.ts
Due: 2-format, 3-lint, 4-typecheck

docs(executor): add multi-event trigger documentation and kind/rawKind fields
  CLAUDE.md
  packages/sdk/docs/services/executor.md
Due: 2-format

chore: bundle @tailor-platform/function-types in SDK
  .changeset/bundle-function-types.md
  CLAUDE.md
  example/package.json
  example/tsconfig.json
  llm-challenge/package.json
  llm-challenge/shared/scaffold/package.json
  llm-challenge/shared/scaffold/tsconfig.json
  llm-challenge/tsconfig.json
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/executor/tsconfig.json
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/generators/tsconfig.json
  packages/create-sdk/templates/hello-world/tsconfig.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/inventory-management/tsconfig.json
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/resolver/tsconfig.json
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/tailordb/tsconfig.json
  packages/create-sdk/templates/workflow/package.json
  packages/create-sdk/templates/workflow/tsconfig.json
  packages/sdk/docs/generator/builtin.md
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

docs: clarify that @tailor-platform/kysely-type is built into the SDK
  CLAUDE.md
Due: 2-format

fix: remove leftover function-types refs from hello-world and static-web-site templates
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/static-web-site/tsconfig.json
Due: none

chore: update pnpm-lock.yaml for hello-world template change
  pnpm-lock.yaml
Due: none

refactor: use tsdown banner.dts instead of post-build script
  packages/sdk/package.json
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(executor): rename kind/rawKind to event/rawEvent on args
  CLAUDE.md
  example/executors/userChanged.ts
  packages/sdk/docs/services/executor.md
  packages/sdk/src/cli/shared/runtime-args.test.ts
  packages/sdk/src/cli/shared/runtime-args.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/multi-event-executor.md
Due: 2-format

fix(docs): update remaining kind to event in executor docs
  packages/sdk/docs/services/executor.md
Due: 2-format

fix: migrate eslint-plugin-import to eslint-plugin-import-x for ESLint v10 compatibility
  example/eslint.config.js
  package.json
  packages/create-sdk/eslint.config.js
  packages/sdk/eslint.config.js
  packages/sdk/knip.json
  packages/sdk/src/cli/commands/apply/auth.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
  packages/sdk/src/cli/commands/executor/get.ts
  packages/sdk/src/cli/commands/executor/jobs.ts
  packages/sdk/src/cli/commands/executor/trigger.ts
  packages/sdk/src/cli/commands/generate/watch/index.test.ts
  packages/sdk/src/cli/commands/oauth2client/get.ts
  packages/sdk/src/cli/commands/secret/check-vault-managed.ts
  packages/sdk/src/cli/commands/secret/create.ts
  packages/sdk/src/cli/commands/secret/delete.ts
  packages/sdk/src/cli/commands/secret/list.ts
  packages/sdk/src/cli/commands/secret/update.ts
  packages/sdk/src/cli/commands/secret/vault/create.ts
  packages/sdk/src/cli/commands/secret/vault/delete.ts
  packages/sdk/src/cli/commands/staticwebsite/get.ts
  packages/sdk/src/cli/commands/workflow/get.ts
  packages/sdk/src/cli/commands/workflow/resume.ts
  packages/sdk/src/cli/commands/workflow/start.ts
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/configure/index.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

perf: use oxfmt JS API instead of spawning CLI process in doctest
  packages/sdk/package.json
  packages/sdk/src/cli/docs.test.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(kysely): generate correct types for date/datetime in nested objects
  .changeset/fix-nested-timestamp.md
  example/generated/tailordb.ts
  example/resolvers/insertNestedProfileWithDate.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/tailordb/src/generated/db.ts
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/src/kysely/index.test-d.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/fix-nested-timestamp.md
Due: 2-format

fix: reorder imports in processOrder.ts for import-x/order rule
  packages/sdk/src/cli/commands/apply/__test_fixtures__/workflows/processOrder.ts
Due: 2-format, 3-lint, 4-typecheck

fix(example): update resolver count in e2e test
  example/e2e/resolver.test.ts
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/tailordb/src/generated/db.ts
  packages/sdk/src/kysely/index.test-d.ts
  packages/sdk/src/kysely/index.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: move deploy action to tailor-platform/actions repo
  .github/workflows/release-actions.yml
  action.yaml
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
Due: 2-format, 3-lint, 4-typecheck

fix(kysely): remove optional marker from ObjectColumnType select type
  packages/sdk/src/kysely/index.test-d.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

docs: document ObjectColumnType and nested datetime behavior
  CLAUDE.md
  packages/sdk/docs/generator/builtin.md
  packages/sdk/docs/services/tailordb.md
Due: 2-format

refactor: add environment setup steps to caller workflow
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/github.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat: auto-detect package manager for deploy workflow generation
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add bun support to package manager detection
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
Due: 2-format, 3-lint, 4-typecheck

fix(kysely): wrap nested objects in ObjectColumnType when they have nullable fields
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/tailordb/src/generated/db.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: pin action versions with SHA for Renovate tracking
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/setup-bun.yml
  packages/sdk/src/cli/commands/setup/github/setup-npm.yml
  packages/sdk/src/cli/commands/setup/github/setup-pnpm.yml
  packages/sdk/src/cli/commands/setup/github/setup-yarn.yml
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
  renovate.json
Due: 2-format, 3-lint, 4-typecheck

chore(resolver): remove unnecessary postScript from pipeline
  packages/sdk/src/cli/commands/apply/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/remove-postscript-33578442.md
Due: 2-format

feat: add migrate command infrastructure with ast-grep codemod engine
  packages/sdk/eslint.config.js
  packages/sdk/knip.json
  packages/sdk/package.json
  packages/sdk/src/cli/commands/migrate/__test_fixtures__/fixture-helper.ts
  packages/sdk/src/cli/commands/migrate/__test_fixtures__/v2/sample/input.ts
  packages/sdk/src/cli/commands/migrate/__test_fixtures__/v2/sample/output.ts
  packages/sdk/src/cli/commands/migrate/codemod-engine.test.ts
  packages/sdk/src/cli/commands/migrate/codemod-engine.ts
  packages/sdk/src/cli/commands/migrate/file-collector.test.ts
  packages/sdk/src/cli/commands/migrate/file-collector.ts
  packages/sdk/src/cli/commands/migrate/index.ts
  packages/sdk/src/cli/commands/migrate/reporter.ts
  packages/sdk/src/cli/commands/migrate/rule-registry.test.ts
  packages/sdk/src/cli/commands/migrate/rule-registry.ts
  packages/sdk/src/cli/commands/migrate/rules/index.ts
  packages/sdk/src/cli/commands/migrate/rules/v2/index.ts
  packages/sdk/src/cli/commands/migrate/service.test.ts
  packages/sdk/src/cli/commands/migrate/service.ts
  packages/sdk/src/cli/commands/migrate/types.ts
  packages/sdk/src/cli/commands/migrate/version-detector.test.ts
  packages/sdk/src/cli/commands/migrate/version-detector.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsdown.config.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: generalize migrate fixture exclude patterns to v*
  packages/sdk/eslint.config.js
  packages/sdk/tsconfig.json
Due: 2-format, 3-lint, 4-typecheck

fix: address correctness issues in migrate command infrastructure
  packages/sdk/src/cli/commands/migrate/codemod-engine.test.ts
  packages/sdk/src/cli/commands/migrate/codemod-engine.ts
  packages/sdk/src/cli/commands/migrate/service.test.ts
  packages/sdk/src/cli/commands/migrate/service.ts
  packages/sdk/src/cli/commands/migrate/version-detector.ts
Due: 2-format, 3-lint, 4-typecheck
