Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(eslint-plugin-sdk): keep @types/eslint for the peer range floor
  .changeset/knip-sibling-packages.md
  packages/eslint-plugin-sdk/knip.ts
  packages/eslint-plugin-sdk/package.json
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(lint): keep the shared fragment from contributing plugins
  oxlint.shared.json
Due: 2-format

refactor(plugin): default getKyselyTypePluginDistPath to the conventional path
  .changeset/kysely-type-plugin-dist-path-accessor.md
  packages/sdk/src/cli/commands/function/script.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): separate the no-scripts-on-remote case from missing-hash
  packages/sdk/src/cli/commands/tailordb/migrate/schema-checks.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): resolve the login authorization URL before listening
  .changeset/login-authorize-uri-failure.md
  packages/sdk/src/cli/commands/authconnection/authorize.ts
  packages/sdk/src/cli/commands/login.test.ts
  packages/sdk/src/cli/commands/login.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): drop setup renovate compatibility layer
  .changeset/setup-deps-rename.md
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/codemod.yaml
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/already-migrated/input.sh
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-markdown/expected.md
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-markdown/input.md
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-package-json/expected.json
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-package-json/input.json
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-shell/expected.sh
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-shell/input.sh
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-yaml/expected.yml
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/basic-yaml/input.yml
  packages/sdk-codemod/codemods/v3/setup-renovate-rename/tests/no-match/input.sh
  packages/sdk-codemod/src/registry.test.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/transform.test.ts
  packages/sdk-codemod/tsdown.config.ts
  packages/sdk/docs/cli/setup.md
  packages/sdk/docs/migration/v3.md
  packages/sdk/src/cli/commands/setup/index.ts
  packages/sdk/src/cli/commands/setup/renovate.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover default setup deps provider
  packages/sdk/src/cli/commands/setup/renovate.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): keep function alias detection local
  packages/sdk/src/cli/commands/function/run.ts
  packages/sdk/src/cli/shared/command-alias.test.ts
  packages/sdk/src/cli/shared/command-alias.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover auth connection discovery failures
  packages/sdk/src/cli/commands/authconnection/authorize.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): resolve builtin plugin configs via an id-keyed registry
  .changeset/kysely-type-plugin-dist-path-accessor.md
  .changeset/plugin-config-registry.md
  packages/sdk/src/cli/commands/function/script.ts
  packages/sdk/src/cli/shared/seed-context.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
  packages/sdk/src/plugin/get-plugin-config.ts
  packages/sdk/src/plugin/index.ts
  packages/sdk/src/plugin/types.ts
  packages/sdk/tsconfig.json
Due: 2-format, 3-lint, 4-typecheck

chore(release): drop changesets 3.0.0-beta-era workarounds
  .changeset/config.json
  .github/workflows/release.yml
  .pinact.yaml
  example/package.json
  llm-challenge/package.json
  package.json
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/workflow/package.json
Due: 2-format

refactor(tailordb): dedupe the field-type literal list across schema files
  packages/sdk/src/parser/service/field-types.ts
  packages/sdk/src/parser/service/field/schema.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

docs(plugin): document registering plugin-level config via PluginConfigRegistry
  packages/sdk/docs/plugin/custom.md
Due: 2-format

fix(workflow): reject direct execJobFunction calls, require .start()
  .changeset/workflow-job-scanner-silent-failure.md
  AGENTS.md
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/cli/services/workflow/bundler.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/configure/services/workflow/execution-policy.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): detect the test-run alias after global options
  packages/sdk/src/cli/commands/function/run.test.ts
  packages/sdk/src/cli/commands/function/run.ts
Due: 2-format, 3-lint, 4-typecheck

chore(changeset): note the test-run alias warning fix
  .changeset/function-test-run-alias-warning.md
Due: 2-format

fix(workflow): deprecate the imported workflow.execJobFunction
  .changeset/deprecate-exec-job-function-import.md
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v3.md
  packages/sdk/src/runtime/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

fix(workflow): address Copilot feedback on execJobFunction messages
  packages/sdk/src/cli/services/workflow/bundler.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

docs(codemod): clarify the execJobFunction removal codemod's scope
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v3.md
Due: 2-format, 3-lint, 4-typecheck

chore(deps): bump @politty/valibot and vinfer patch versions
  .agents/rules/schema-types.md
  .changeset/vinfer-013-generated-types.md
  .claude/rules/schema-types.md
  packages/create-sdk/package.json
  packages/sdk-codemod/package.json
  packages/sdk-plugin-seed/package.json
  packages/sdk-plugin-tailordb-erd/package.json
  packages/sdk/package.json
  packages/sdk/src/types/field.generated.ts
  packages/sdk/src/types/resolver.generated.ts
  packages/sdk/src/types/tailordb.generated.ts
  packages/shared/package.json
Due: 2-format, 3-lint, 4-typecheck

fix: complete valibot migration for files added on main since the branch point
  packages/sdk/src/cli/commands/authconnection/authorize.test.ts
  packages/sdk/src/cli/commands/function/run.test.ts
  packages/sdk/src/cli/commands/function/run.ts
  packages/sdk/src/cli/commands/function/script.test.ts
  packages/sdk/src/cli/commands/function/script.ts
  packages/sdk/src/cli/commands/setup/index.test.ts
  packages/sdk/src/parser/service/aigateway/schema.ts
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/parser/service/executor/schema.ts
  packages/sdk/src/types/auth.generated.ts
  packages/sdk/src/types/tailordb.generated.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(release): let changesets/action create tags and GitHub releases
  .github/scripts/ensure-github-releases.sh
  .github/scripts/resolve-pending-release-versions.sh
  .github/workflows/release.yml
Due: 2-format

chore(release): drop the changesets/action pinact exemption
  .github/workflows/release.yml
  .pinact.yaml
Due: 2-format

fix(deploy): resolve enum references in pre-flight CEL rules
  .changeset/oauth2-client-dpop-validation.md
  packages/sdk/src/cli/commands/deploy/validate-plan.test.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
Due: 2-format, 3-lint, 4-typecheck

perf(sdk): minify the CLI bundle and pin the built-in updatedAt hook expr
  .agents/rules/schema-types.md
  .changeset/minify-cli-bundle.md
  .claude/rules/schema-types.md
  packages/sdk/src/cli/commands/authconnection/authorize.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration.test.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.test.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/tailordb/field.precompiled.test.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/types/precompiled-script-expr.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): remove unnecessary type assertions in test mocks
  packages/sdk/src/cli/commands/authconnection/authorize.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): pin the built-in updatedAt hook expr without crossing the configure/parser boundary
  .agents/rules/schema-types.md
  .claude/rules/schema-types.md
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.test.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/field.precompiled.test.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/hooks-validate-precompiled-expr.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore(knip): remove redundant shared binary ignore
  packages/shared/knip.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): generate the pinned updatedAt hook expr instead of hand-typing it
  package.json
  packages/sdk/package.json
  packages/sdk/scripts/generate-precompiled-hooks.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/timestamps-updated-at-hook.generated.ts
  packages/sdk/src/parser/service/tailordb/field.precompiled.test.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/hook-args-object.ts
  packages/sdk/src/parser/service/tailordb/type-script.ts
  packages/sdk/tsconfig.json
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): make the precompiled-hooks generator resolve on Windows and reject unknown kinds
  packages/sdk/scripts/generate-precompiled-hooks.ts
  packages/sdk/src/parser/service/tailordb/hook-args-object.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): actually fix precompiled-hooks generator on Windows
  packages/sdk/scripts/generate-precompiled-hooks.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): rename buildHookArgsObject to buildHookCallArgs
  packages/sdk/scripts/generate-precompiled-hooks.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/hook-args-object.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): align local names and messages with table terminology
  packages/sdk/src/cli/commands/deploy/tailordb/apply.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-execution.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
  packages/sdk/src/cli/commands/tailordb/migrate/test-runtime.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/plugin/builtin/seed/seed-type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: consolidate oxfmt ignore patterns
  .prettierignore
  packages/create-sdk/templates/generators/.oxfmtrc.json
Due: none

refactor(sdk): keep the seed script's cross-package arg keys unrenamed
  .changeset/tailordb-table-terminology-code.md
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.test.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
  packages/sdk/src/cli/commands/tailordb/migrate/test-runtime.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/test-runtime.ts
  packages/sdk/src/cli/shared/seed-context.test.ts
  packages/sdk/src/plugin/builtin/seed/seed-type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove redundant prettier ignore
  packages/create-sdk/templates/generators/.prettierignore
Due: none

fix(cli): stop masking workspace lookup errors as not found
  .changeset/workspace-delete-error-masking.md
  packages/sdk/src/cli/commands/workspace/delete.test.ts
  packages/sdk/src/cli/commands/workspace/delete.ts
Due: 2-format, 3-lint, 4-typecheck
