Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore(create-sdk): regenerate template tailor.d.ts after registry unification
  packages/create-sdk/templates/executor/tailor.d.ts
  packages/create-sdk/templates/generators/tailor.d.ts
  packages/create-sdk/templates/hello-world/tailor.d.ts
  packages/create-sdk/templates/inventory-management/tailor.d.ts
  packages/create-sdk/templates/resolver/tailor.d.ts
  packages/create-sdk/templates/static-web-site/tailor.d.ts
  packages/create-sdk/templates/tailordb/tailor.d.ts
  packages/create-sdk/templates/workflow/tailor.d.ts
Due: 3-lint, 4-typecheck

fix(codemod): respect shadowed principal fields
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): complete principal migration paths
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/test-env-key.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): preserve principal migration values
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
Due: 2-format, 3-lint, 4-typecheck

docs: clarify workflow trigger mocking guidance
  .changeset/workflow-trigger-dispatch.md
  packages/sdk/docs/testing.md
Due: 2-format

fix(sdk): isolate workflow principal context
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/quick-filter-body-call/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/quick-filter-body-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/shadowed-sdk-field/input.ts
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/test-env-key.ts
Due: 2-format, 3-lint, 4-typecheck

test(create-sdk): raise workflow template e2e timeout to 60s
  packages/create-sdk/templates/workflow/vitest.config.ts
Due: 3-lint, 4-typecheck

fix(sdk): keep workflow test context out of bundles
  packages/sdk/src/cli/services/workflow/bundler.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/test-env-key.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): narrow direct body migration
  .changeset/tailor-principal-type.md
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/non-resolver-body-call/input.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): migrate resolver body test calls
  example/migrations/0002/diff.json
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/resolver-body-without-sdk-import/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/resolver-body-without-sdk-import/input.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): preserve nested principal migrations
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): type sync parsed type fixture
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): limit principal migration scope
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/body-direct-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/non-resolver-body-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/quick-filter-body-call/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/quick-filter-body-call/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/resolver-body-without-sdk-import/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/resolver-body-without-sdk-import/input.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): align principal fixtures
  packages/create-sdk/templates/executor/src/executor/onUserCreated.test.ts
  packages/create-sdk/templates/resolver/src/resolver/showUserInfo.test.ts
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk/e2e/function-test-run.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(codemod): move principal migration to follow-up
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/shadowed-sdk-field/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

feat(codemod): add principal migration
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/shadowed-sdk-field/input.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): remove legacy generator pipeline
  AGENTS.md
  packages/sdk/src/cli/commands/api.test.ts
  packages/sdk/src/cli/commands/generate/service.test.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/commands/generate/types.test.ts
  packages/sdk/src/cli/commands/generate/types.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/config-loader.ts
  packages/sdk/src/types/generator-config.generated.ts
  packages/sdk/src/types/generator-config.ts
Due: 2-format, 3-lint, 4-typecheck

chore(codemod): add principal migration changeset
  .changeset/principal-unify-codemod.md
Due: 2-format

test(example): retry e2e machine user token setup
  example/e2e/globalSetup.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): inline resolver arg JSON parsing
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

ci: harden GitHub Actions workflows per karinto lint
  .github/workflows/add-renovate-changeset.yml
  .github/workflows/changeset-check.yml
  .github/workflows/check-license.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-e2e-workspaces.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-consistency-check.yml
  .github/workflows/erd-viewer-preview.yml
  .github/workflows/generate.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/link-check.yml
  .github/workflows/lockfile-audit.yml
  .github/workflows/migration.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  .github/workflows/renovate-auto-review.yml
  .github/workflows/renovate-policy-check.yml
  .github/workflows/sdk-e2e.yml
  .github/workflows/sdk-metrics.yml
  .github/workflows/skills-sync-check.yml
  .github/workflows/template-tests.yml
  .github/workflows/test.yml
  .github/workflows/update_aqua_checksum.yml
Due: 2-format
