Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

add replcommand (quit, ?, h)
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

add clear screen command
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(repl): add resolveReplInterruptAction function to handle Ctrl+C behavior
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(repl): improve error message for non-interactive terminal in REPL mode
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/cli/query/sql-repl.test.ts
  packages/sdk/src/cli/query/sql-repl.ts
Due: 2-format, 3-lint, 4-typecheck

Update .changeset/serious-schools-judge.md
  .changeset/serious-schools-judge.md
Due: 2-format

Update packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix spacing
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): scope e2e workspace cleanup to current CI run
  .github/workflows/sdk-e2e.yml
  .github/workflows/sdk-metrics.yml
  packages/sdk/e2e/migration.test.ts
  packages/sdk/scripts/cleanup-e2e-workspaces.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/quiet-pens-wave.md
Due: 2-format

fix(ci): move cleanup step after upload in sdk-metrics workflow
  .github/workflows/sdk-metrics.yml
Due: 2-format

fix(ci): embed GITHUB_RUN_ID in all e2e workspace names
  packages/sdk/e2e/apply.test.ts
  packages/sdk/e2e/function-test-run.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): remove deprecated tsconfig options for tsgo 7.x compatibility
  packages/sdk/tsconfig.json
Due: 2-format

chore: update changeset description
  .changeset/renovate-686.md
Due: 2-format

refactor: parallelize vault processing with Promise.all in planSecretManager
  packages/sdk/src/cli/commands/apply/secret-manager.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): inline executor/resolver/workflow types into app-config.ts
  packages/sdk/src/configure/services/executor/types.ts
  packages/sdk/src/configure/services/resolver/index.ts
  packages/sdk/src/configure/services/workflow/types.ts
  packages/sdk/src/parser/service/executor/types.ts
  packages/sdk/src/parser/service/resolver/types.ts
  packages/sdk/src/parser/service/workflow/types.ts
  packages/sdk/src/types/app-config.ts
  packages/sdk/src/types/executor.ts
  packages/sdk/src/types/resolver.ts
  packages/sdk/src/types/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): add generate script for zinfer and regenerate types
  packages/sdk/package.json
Due: 2-format

chore(sdk): update zinfer to 0.1.4
  packages/sdk/knip.json
  packages/sdk/package.json
Due: 2-format

fix(sdk): exclude generated files from oxlint and normalize generate output
  packages/sdk/.oxlintrc.json
  packages/sdk/knip.json
  packages/sdk/package.json
  packages/sdk/src/types/tailordb.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): resolve remaining CI lint errors and Windows generate compatibility
  packages/sdk/package.json
  packages/sdk/src/parser/service/tailordb/relation.ts
  packages/sdk/src/parser/service/tailordb/types.ts
  packages/sdk/src/types/auth.ts
  packages/sdk/src/types/plugin-generation.ts
  packages/sdk/src/types/plugin.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add .describe() to Zod schemas and replace manual types with zinfer-generated equivalents
  packages/sdk/package.json
  packages/sdk/src/configure/services/auth/index.ts
  packages/sdk/src/configure/services/idp/index.ts
  packages/sdk/src/configure/services/resolver/index.ts
  packages/sdk/src/configure/services/tailordb/index.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/parser/service/auth/types.ts
  packages/sdk/src/parser/service/executor/schema.ts
  packages/sdk/src/parser/service/idp/gql-operations.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/parser/service/idp/types.ts
  packages/sdk/src/parser/service/resolver/schema.ts
  packages/sdk/src/parser/service/resolver/types.ts
  packages/sdk/src/parser/service/staticwebsite/schema.ts
  packages/sdk/src/parser/service/tailordb/gql-operations.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/types.ts
  packages/sdk/src/parser/service/workflow/schema.ts
  packages/sdk/src/types/auth.generated.ts
  packages/sdk/src/types/auth.ts
  packages/sdk/src/types/executor.generated.ts
  packages/sdk/src/types/idp.generated.ts
  packages/sdk/src/types/resolver.generated.ts
  packages/sdk/src/types/resolver.ts
  packages/sdk/src/types/staticwebsite.generated.ts
  packages/sdk/src/types/tailordb.generated.ts
  packages/sdk/src/types/tailordb.ts
  packages/sdk/src/types/workflow.generated.ts
  packages/sdk/zinfer.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): update zinfer to 0.1.6
  packages/sdk/package.json
  packages/sdk/src/types/idp.generated.ts
  packages/sdk/src/types/tailordb.generated.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/bright-zinfer-types.md
Due: 2-format

chore: remove misplaced changeset from packages/sdk/.changeset/
  .changeset/warm-doors-glow.md
  packages/sdk/.changeset/zinfer-types.md
Due: 2-format

chore(sdk): update zinfer to 0.1.7
  packages/sdk/package.json
  packages/sdk/src/types/plugin-config.generated.ts
Due: 2-format, 3-lint, 4-typecheck

chore: regenerate pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

support --file input for tailor-sdk query
  .changeset/chatty-lights-melt.md
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: align secrets schema validation with proto buf.validate constraints
  packages/sdk/src/parser/service/secrets/schema.test.ts
  packages/sdk/src/parser/service/secrets/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use correct vault TRN format for secret manager metadata
  packages/sdk/src/cli/commands/apply/secret-manager.test.ts
  packages/sdk/src/cli/commands/apply/secret-manager.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add deletion confirmation for Secret Manager vaults and secrets
  packages/sdk/src/cli/commands/apply/apply.ts
Due: 2-format, 3-lint, 4-typecheck

support --file input for tailor-sdk query
  .changeset/blue-impalas-open.md
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

Update .changeset/blue-impalas-open.md
  .changeset/blue-impalas-open.md
Due: 2-format

fix message
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): eliminate parser types.ts re-exports, import directly from @/types/
  .claude/rules/schema-types.md
  .claude/rules/sdk-internals.md
  packages/sdk/knip.json
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/index.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/parser/service/tailordb/types.ts
  packages/sdk/src/parser/types.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/src/plugin/manager.ts
  packages/sdk/src/plugin/with-context.ts
  packages/sdk/src/types/tailordb.ts
Due: 2-format, 3-lint, 4-typecheck

add file alias
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: merge duplicate imports to fix oxlint no-duplicates errors
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/services/application.ts
Due: 2-format, 3-lint, 4-typecheck
