Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix: resolve oxlint no-duplicates and no-restricted-imports errors
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/plugin/with-context.ts
  packages/sdk/src/types/runtime.ts
Due: 2-format, 3-lint, 4-typecheck

test: use proto-compliant secret names in tests (lowercase + hyphens)
  packages/sdk/src/cli/commands/apply/secret-manager.test.ts
  packages/sdk/src/cli/commands/apply/secrets-state.test.ts
  packages/sdk/src/configure/services/secrets/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add secret manager cleanup to remove command
  packages/sdk/src/cli/commands/remove.ts
Due: 2-format, 3-lint, 4-typecheck

enhance editor integration for query commands
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/shared/editor.ts
Due: 2-format, 3-lint, 4-typecheck

add changeset
  .changeset/red-tires-strive.md
Due: 2-format

fix description
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): move @toiroakr/lines-db to dependencies and clean up redundant devDependencies
  .changeset/move-lines-db-to-deps.md
  example/package.json
  llm-challenge/shared/scaffold/package.json
  packages/sdk/package.json
Due: 2-format

feat(seed): add validate subcommand to generated exec.mjs
  .changeset/move-lines-db-to-deps.md
  .npmrc
  example/package.json
  example/seed/exec.mjs
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/sdk/package.json
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): apply isAbsolute fix to template exec.mjs
  packages/create-sdk/templates/generators/src/seed/exec.mjs
Due: none

fix(seed): use isAbsolute for cross-platform path resolution in validate
  example/seed/exec.mjs
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update test fixture and lockfile after rebase
  example/tests/fixtures/expected/seed/exec.mjs
  pnpm-lock.yaml
Due: none

refactor(seed): consolidate seed imports into @tailor-platform/sdk/seed
  example/seed/data/Customer.schema.ts
  example/seed/data/Event.schema.ts
  example/seed/data/Invoice.schema.ts
  example/seed/data/NestedProfile.schema.ts
  example/seed/data/PurchaseOrder.schema.ts
  example/seed/data/SalesOrder.schema.ts
  example/seed/data/SalesOrderCreated.schema.ts
  example/seed/data/Selfie.schema.ts
  example/seed/data/Supplier.schema.ts
  example/seed/data/User.schema.ts
  example/seed/data/UserLog.schema.ts
  example/seed/data/UserSetting.schema.ts
  example/seed/data/_User.schema.ts
  example/seed/exec.mjs
  example/tests/fixtures/expected/seed/data/Customer.schema.ts
  example/tests/fixtures/expected/seed/data/Event.schema.ts
  example/tests/fixtures/expected/seed/data/Invoice.schema.ts
  example/tests/fixtures/expected/seed/data/NestedProfile.schema.ts
  example/tests/fixtures/expected/seed/data/PurchaseOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrderCreated.schema.ts
  example/tests/fixtures/expected/seed/data/Selfie.schema.ts
  example/tests/fixtures/expected/seed/data/Supplier.schema.ts
  example/tests/fixtures/expected/seed/data/User.schema.ts
  example/tests/fixtures/expected/seed/data/UserLog.schema.ts
  example/tests/fixtures/expected/seed/data/UserSetting.schema.ts
  example/tests/fixtures/expected/seed/data/_User.schema.ts
  example/tests/fixtures/expected/seed/exec.mjs
  packages/create-sdk/templates/generators/src/seed/data/Category.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Order.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Product.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/User.schema.ts
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/sdk/package.json
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/seed/index.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/move-lines-db-to-deps.md
Due: 2-format

fix(seed): fix JSDoc lint errors in validateSeedData
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): add process.exit(0) after successful validation to prevent fall-through
  example/seed/exec.mjs
  example/tests/fixtures/expected/seed/exec.mjs
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): keep createTailorDBHook/createStandardSchema in /test, simplify validateSeedData
  .changeset/move-lines-db-to-deps.md
  example/seed/data/Customer.schema.ts
  example/seed/data/Event.schema.ts
  example/seed/data/Invoice.schema.ts
  example/seed/data/NestedProfile.schema.ts
  example/seed/data/PurchaseOrder.schema.ts
  example/seed/data/SalesOrder.schema.ts
  example/seed/data/SalesOrderCreated.schema.ts
  example/seed/data/Selfie.schema.ts
  example/seed/data/Supplier.schema.ts
  example/seed/data/User.schema.ts
  example/seed/data/UserLog.schema.ts
  example/seed/data/UserSetting.schema.ts
  example/seed/data/_User.schema.ts
  example/seed/exec.mjs
  example/tests/fixtures/expected/seed/data/Customer.schema.ts
  example/tests/fixtures/expected/seed/data/Event.schema.ts
  example/tests/fixtures/expected/seed/data/Invoice.schema.ts
  example/tests/fixtures/expected/seed/data/NestedProfile.schema.ts
  example/tests/fixtures/expected/seed/data/PurchaseOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrderCreated.schema.ts
  example/tests/fixtures/expected/seed/data/Selfie.schema.ts
  example/tests/fixtures/expected/seed/data/Supplier.schema.ts
  example/tests/fixtures/expected/seed/data/User.schema.ts
  example/tests/fixtures/expected/seed/data/UserLog.schema.ts
  example/tests/fixtures/expected/seed/data/UserSetting.schema.ts
  example/tests/fixtures/expected/seed/data/_User.schema.ts
  example/tests/fixtures/expected/seed/exec.mjs
  packages/create-sdk/templates/generators/src/seed/data/Category.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Order.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Product.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/User.schema.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: move minimumReleaseAgeExclude from .npmrc to pnpm-workspace.yaml
  .npmrc
  pnpm-workspace.yaml
Due: 2-format

chore: update lockfile after rebase
  pnpm-lock.yaml
Due: none

refactor: parallelize vault creation in secret manager apply
  packages/sdk/src/cli/commands/apply/secret-manager.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): harden crash report privacy and error handling
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/sanitize.test.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): limit positional args, fix path regex, decouple remote config
  packages/sdk/src/cli/crash-report/config.test.ts
  packages/sdk/src/cli/crash-report/config.ts
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): sanitize positional args, use JSON argv, validate crash logs
  packages/sdk/src/cli/commands/crashreport/send.ts
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/writer.test.ts
  packages/sdk/src/cli/crash-report/writer.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add crash reporting for automatic error capture
  packages/sdk/docs/cli-reference.md
  packages/sdk/src/cli/commands/crashreport/index.ts
  packages/sdk/src/cli/commands/crashreport/list.ts
  packages/sdk/src/cli/commands/crashreport/send.test.ts
  packages/sdk/src/cli/commands/crashreport/send.ts
  packages/sdk/src/cli/crash-report/config.test.ts
  packages/sdk/src/cli/crash-report/config.ts
  packages/sdk/src/cli/crash-report/index.test.ts
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/report.test.ts
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/sanitize.test.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
  packages/sdk/src/cli/crash-report/writer.test.ts
  packages/sdk/src/cli/crash-report/writer.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): simplify crash report code
  packages/sdk/src/cli/commands/crashreport/send.ts
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): address crash report review issues
  packages/sdk/src/cli/commands/crashreport/send.test.ts
  packages/sdk/src/cli/commands/crashreport/send.ts
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/sanitize.test.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): restrict crash reports to unexpected errors and expand redaction
  packages/sdk/src/cli/crash-report/sanitize.test.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): improve crash report error classification
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/sender.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for crash reporting feature
  .changeset/crash-reporting.md
Due: 2-format

refactor(cli): align crash report fields with error tracking server schema
  packages/sdk/src/cli/commands/crash-report/send.test.ts
  packages/sdk/src/cli/commands/crash-report/send.ts
  packages/sdk/src/cli/crash-report/index.test.ts
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/report.test.ts
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
  packages/sdk/src/cli/crash-report/writer.test.ts
  packages/sdk/src/cli/crash-report/writer.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): add crash-report list tests and document design trade-offs
  packages/sdk/src/cli/commands/crash-report/list.test.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): harden crash report sanitization and error classification
  packages/sdk/src/cli/crash-report/sanitize.test.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): rename crashreport directory to crash-report
  packages/sdk/src/cli/commands/crash-report/index.ts
  packages/sdk/src/cli/commands/crash-report/list.ts
  packages/sdk/src/cli/commands/crash-report/send.test.ts
  packages/sdk/src/cli/commands/crash-report/send.ts
  packages/sdk/src/cli/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): use placeholder endpoint and add env var override for crash reports
  packages/sdk/src/cli/crash-report/index.test.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): simplify sanitizeArgv to redact all flag values
  packages/sdk/src/cli/crash-report/sanitize.test.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add allowlist-based RemoteCrashReport for auto-send path
  packages/sdk/src/cli/crash-report/index.test.ts
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/crash-report/report.test.ts
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): add --file flag to crash report submit hint
  packages/sdk/src/cli/crash-report/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): extract JSON marker constant in parseCrashLogFile
  packages/sdk/src/cli/commands/crash-report/send.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): add tests for crash report endpoint override and JSON parser edge case
  packages/sdk/src/cli/commands/crash-report/send.test.ts
  packages/sdk/src/cli/commands/crash-report/send.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): quote file path in crash report submit hint
  packages/sdk/src/cli/crash-report/index.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
