Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

feat(workflow): publish execution lifecycle events
  .changeset/polite-workflows-publish.md
  packages/sdk/docs/services/executor.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/executor.test.ts
  packages/sdk/src/cli/commands/deploy/executor.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.test.ts
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
  packages/sdk/src/cli/commands/deploy/workflow.ts
  packages/sdk/src/cli/commands/executor/transform.ts
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/cli/shared/runtime-exprs.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/executor/trigger/index.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/parser/service/executor/schema.ts
  packages/sdk/src/parser/service/workflow/schema.ts
  packages/sdk/src/types/executor.generated.ts
  packages/sdk/src/types/workflow.generated.ts
  packages/tailor-proto/src/tailor/v1/application_pb.d.ts
  packages/tailor-proto/src/tailor/v1/application_pb.js
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.js
  packages/tailor-proto/src/tailor/v1/function_pb.d.ts
  packages/tailor-proto/src/tailor/v1/function_pb.js
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/service_pb.js
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

docs(workflow): clarify job event publishing
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add workflow executor trigger guidance
  AGENTS.md
Due: 2-format

fix(executor): omit empty workflow event names
  packages/sdk/src/cli/commands/executor/transform.test.ts
  packages/sdk/src/cli/commands/executor/transform.ts
Due: 2-format, 3-lint, 4-typecheck

fix(executor): reject blank workflow event names
  packages/sdk/src/parser/service/executor/schema.test.ts
  packages/sdk/src/parser/service/executor/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): require event trigger workflows
  AGENTS.md
  packages/sdk/docs/services/executor.md
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/executor.ts
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
  packages/sdk/src/cli/commands/deploy/workflow.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/parser/service/executor/schema.ts
  packages/sdk/src/types/executor.generated.ts
Due: 2-format, 3-lint, 4-typecheck

docs(executor): clarify workflow event names
  packages/sdk/docs/services/executor.md
Due: 2-format

test(workflow): cover job execution event publishing
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(executor): describe workflow event payloads
  packages/sdk/docs/services/executor.md
Due: 2-format

docs(executor): complete workflow event payloads
  packages/sdk/docs/services/executor.md
Due: 2-format

fix(sdk)!: emit env value types instead of values in tailor.d.ts
  .changeset/dts-env-value-types.md
  packages/create-sdk/templates/resolver/tailor.d.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

chore(proto): sync workflow job function publish flag
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.js
Due: 3-lint, 4-typecheck

feat(workflow): publish job events for subscribed workflows
  .changeset/polite-workflows-publish.md
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
  packages/sdk/src/cli/commands/deploy/workflow.ts
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

docs(workflow): describe automatic job event publishing
  .changeset/polite-workflows-publish.md
  AGENTS.md
  packages/sdk/docs/services/executor.md
  packages/sdk/docs/services/workflow.md
Due: 2-format

feat(sdk)!: reject credentials in defineConfig env
  .changeset/env-secret-detection.md
  packages/sdk/docs/configuration.md
  packages/sdk/package.json
  packages/sdk/src/cli/shared/env-secret-scan.test.ts
  packages/sdk/src/cli/shared/env-secret-scan.ts
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/src/configure/config/types.ts
  packages/sdk/src/parser/app-config/schema.ts
  packages/sdk/src/types/app-config.generated.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk)!: allow env secrets inline instead of through a separate map
  .changeset/env-secret-detection.md
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/shared/config-loader.test.ts
  packages/sdk/src/cli/shared/config-loader.ts
  packages/sdk/src/cli/shared/env-secret-scan.test.ts
  packages/sdk/src/cli/shared/env-secret-scan.ts
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/src/configure/config/types.ts
  packages/sdk/src/parser/app-config/schema.ts
  packages/sdk/src/types/app-config.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): handle portable seed runner invocations
  packages/sdk-codemod/codemods/v2/seed-exec-to-cli-plugin/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/seed-exec-to-cli-plugin/tests/source-execsync/expected.ts
  packages/sdk-codemod/codemods/v2/seed-exec-to-cli-plugin/tests/yaml-run-step/expected.yml
  packages/sdk-codemod/codemods/v2/seed-exec-to-cli-plugin/tests/yaml-run-step/input.yml
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/seed-exec-to-cli-plugin-review.test.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(cli): complete per-importer tsconfig resolution
  packages/sdk/src/cli/shared/tsconfig-paths-plugin.test.ts
  packages/sdk/src/cli/shared/tsconfig-paths-plugin.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): expose remote migration check failures
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): preserve unresolved import diagnostics
  packages/sdk/src/cli/bundler/query/query-bundler.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
  packages/sdk/src/cli/commands/tailordb/migrate/bundler.ts
  packages/sdk/src/cli/services/auth/bundler.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/http-adapter/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/bundle-log.test.ts
  packages/sdk/src/cli/shared/bundle-log.ts
  packages/sdk/src/cli/shared/tsconfig-paths-plugin.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): share Node builtin guidance
  packages/sdk/src/cli/services/http-adapter/bundler.test.ts
  packages/sdk/src/cli/services/http-adapter/bundler.ts
  packages/sdk/src/cli/services/http-adapter/node-builtins.ts
  packages/sdk/src/cli/shared/bundle-log.test.ts
  packages/sdk/src/cli/shared/bundle-log.ts
  packages/sdk/src/utils/node-builtins.ts
  packages/sdk/src/vitest/blocked-modules.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): make upserts safe and observable
  .changeset/seed-upsert-flag.md
  example/seed/exec.mjs
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/sdk/docs/generator/builtin.md
  packages/sdk/src/cli/commands/generate/seed/bundler.test.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.test.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
  packages/sdk/src/plugin/builtin/seed/seed-data-loader.test.ts
  packages/sdk/src/plugin/builtin/seed/seed-data-loader.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): require generated bundle dependencies
  .changeset/bundler-unresolved-import-fails-build.md
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/services/auth/bundler.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/http-adapter/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.test.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/bundle-log.test.ts
  packages/sdk/src/cli/shared/bundle-log.ts
  packages/sdk/src/cli/shared/virtual-entry.test.ts
  packages/sdk/src/cli/shared/virtual-entry.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): recognize all Node builtins
  packages/sdk/src/utils/node-builtins.ts
  packages/sdk/src/vitest/blocked-modules.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): preserve dependency hash errors
  packages/sdk/src/cli/cache/hasher.test.ts
  packages/sdk/src/cli/cache/hasher.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): resolve generated imports from projects
  example/seed/exec.mjs
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/sdk/src/cli/bundler/query/query-bundler.ts
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
  packages/sdk/src/cli/commands/tailordb/migrate/bundler.ts
  packages/sdk/src/cli/shared/virtual-entry.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): use Node builtin detection API
  packages/sdk/src/utils/node-builtins.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): suppress drift guidance for missing checkpoints
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
Due: 2-format, 3-lint, 4-typecheck

docs: name deploy instead of the internal apply phase
  packages/sdk/docs/services/executor.md
  packages/sdk/docs/services/idp.md
Due: 2-format

docs: finish naming deploy over the apply phase
  packages/sdk/docs/services/executor.md
  packages/sdk/docs/services/idp.md
Due: 2-format

fix(executor): allow a missing wait payload
  packages/sdk/docs/services/executor.md
  packages/sdk/src/configure/services/executor/trigger/event.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(deploy): hoist workflow event aggregation to the run
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(deploy): type job functions from the proto listing
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
  packages/sdk/src/cli/commands/deploy/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

fix(executor): keep namespaced trigger keys in their original order
  packages/sdk/src/cli/commands/executor/transform.test.ts
  packages/sdk/src/cli/commands/executor/transform.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(executor): drop stackedJobName from workflow job event args
  packages/sdk/docs/services/executor.md
  packages/sdk/src/configure/services/executor/trigger/event.ts
Due: 2-format, 3-lint, 4-typecheck

chore: address self-review feedback on the env dts change
  packages/sdk-codemod/src/registry.ts
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
