Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(seed): emit JSON error envelopes
  .changeset/sdk-cli-json-error-normalizer.md
  .changeset/seed-json-error-envelope.md
  packages/sdk-plugin-seed/package.json
  packages/sdk-plugin-seed/src/__fixtures__/tailor.config.no-machine-user.ts
  packages/sdk-plugin-seed/src/error-output.test.ts
  packages/sdk-plugin-seed/src/error-output.ts
  packages/sdk-plugin-seed/src/index.test.ts
  packages/sdk-plugin-seed/src/index.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/error-json.ts
  packages/sdk/src/cli/shared/errors.test.ts
  packages/sdk/src/cli/shared/errors.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: set migration changeset to minor
  .changeset/migration-missing-script-fail-fast.md
Due: 2-format

fix(cli): safely serialize JSON error fallbacks
  .changeset/sdk-cli-json-error-normalizer.md
  packages/sdk-plugin-seed/src/error-output.test.ts
  packages/sdk-plugin-seed/src/error-output.ts
  packages/sdk-plugin-seed/src/index.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/error-json.ts
  packages/sdk/src/cli/shared/errors.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: report all combined field breaking changes
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

test: cover decimal scale and unique index ordering
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(seed): remove unused dev dependency
  packages/sdk-plugin-seed/package.json
  pnpm-lock.yaml
Due: 2-format

perf(workflow): skip trigger-call scan for workflow-less bundles
  .changeset/quick-bears-listen.md
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
Due: 2-format, 3-lint, 4-typecheck

test(setup): cover coordinate/action templates in the CLI contract check
  packages/sdk/src/cli/commands/setup/workflow-lint.test.ts
Due: 2-format, 3-lint, 4-typecheck

ci: set up the 1.x release channel on maintenance/v1
  .changeset/config.json
  .github/workflows/changeset-check.yml
  .github/workflows/release.yml
Due: 2-format

docs: restore maintenance/v1 banner without dangling file link
  AGENTS.md
Due: 2-format

chore: prepare stable-exit versions and reword the v2 baseline changeset
  .changeset/v2-baseline.md
  packages/eslint-plugin-sdk/package.json
  packages/sdk-codemod/package.json
Due: 2-format

fix(cli): narrow executeScript arg to a JSON object type
  .changeset/execute-script-arg-object-type.md
  example/tests/scripts/migration_e2e.ts
  packages/sdk/src/cli/commands/function/test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/shared/script-executor.test.ts
  packages/sdk/src/cli/shared/script-executor.ts
Due: 2-format, 3-lint, 4-typecheck

fix(erd-plugin): resolve the bin through a committed launcher
  .changeset/erd-plugin-bin-launcher.md
  .github/workflows/erd-schema.yml
  packages/sdk-plugin-tailordb-erd/bin/cli.mjs
  packages/sdk-plugin-tailordb-erd/package.json
Due: 2-format

fix(erd-plugin): drop the executable bit from the bin launcher
  packages/sdk-plugin-tailordb-erd/bin/cli.mjs
Due: none

fix(ci): exempt declared bin targets from the executable-files guard
  .github/workflows/ci.yml
  packages/sdk-plugin-tailordb-erd/bin/cli.mjs
Due: 2-format

fix(ci): satisfy shellcheck in the executable-files guard
  .github/workflows/ci.yml
Due: 2-format

refactor(example): name the recursive object shape JsonObject
  example/tests/scripts/migration_e2e.ts
Due: 2-format, 3-lint, 4-typecheck

ci: derive changeset/skip-label decisions from step outcome, not a re-evaluated flag
  .github/workflows/add-renovate-changeset.yml
  .github/workflows/lockfile-audit-fix.yml
Due: 2-format

perf(cli): enable Node's on-disk compile cache for the tailor binary
  .changeset/tailor-compile-cache-shim.md
  packages/sdk/e2e/compile-cache-shim.test.ts
  packages/sdk/knip.ts
  packages/sdk/package.json
  packages/sdk/scripts/build-entries.mjs
  packages/sdk/src/cli/completion.test.ts
  packages/sdk/src/cli/docs.test.ts
  packages/sdk/src/cli/index.mjs
  packages/sdk/src/cli/main.ts
  packages/sdk/src/cli/options.test.ts
  packages/sdk/src/cli/skills-command.test.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore(cli): dedupe compile-cache shim comment
  packages/sdk/src/cli/index.mjs
Due: none

refactor(cli): use politty's official compile-cache shim generator
  packages/sdk/e2e/compile-cache-shim.test.ts
  packages/sdk/knip.ts
  packages/sdk/package.json
  packages/sdk/src/cli/index.mjs
  packages/sdk/tsdown.config.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(cli): allow top-level arrays/primitives in executeScript arg
  .changeset/execute-script-arg-object-type.md
  packages/sdk/src/cli/commands/function/test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/shared/script-executor.test.ts
  packages/sdk/src/cli/shared/script-executor.ts
Due: 2-format, 3-lint, 4-typecheck

feat(lint): add no-execute-script-arg-stringify rule
  .changeset/execute-script-arg-stringify-lint.md
  packages/create-sdk/templates/executor/.oxlintrc.json
  packages/create-sdk/templates/generators/.oxlintrc.json
  packages/create-sdk/templates/hello-world/.oxlintrc.json
  packages/create-sdk/templates/inventory-management/.oxlintrc.json
  packages/create-sdk/templates/multi-application/.oxlintrc.json
  packages/create-sdk/templates/resolver/.oxlintrc.json
  packages/create-sdk/templates/static-web-site/.oxlintrc.json
  packages/create-sdk/templates/tailordb/.oxlintrc.json
  packages/create-sdk/templates/workflow/.oxlintrc.json
  packages/eslint-plugin-sdk/README.md
  packages/eslint-plugin-sdk/index.d.ts
  packages/eslint-plugin-sdk/index.js
  packages/eslint-plugin-sdk/index.test.js
  packages/eslint-plugin-sdk/lib/sdk-bindings.js
  packages/eslint-plugin-sdk/rules/no-execute-script-arg-stringify.js
  packages/eslint-plugin-sdk/rules/no-unconditional-permit.js
Due: 2-format, 3-lint, 4-typecheck

test(lint): colocate per-rule tests next to their rule files
  packages/eslint-plugin-sdk/index.test.js
  packages/eslint-plugin-sdk/package.json
  packages/eslint-plugin-sdk/rules/no-api-prefix-in-path-pattern.test.js
  packages/eslint-plugin-sdk/rules/no-execute-script-arg-stringify.test.js
  packages/eslint-plugin-sdk/rules/no-unconditional-permit.test.js
  packages/eslint-plugin-sdk/rules/test-helpers.js
  packages/eslint-plugin-sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add tailordb migration validate command
  .changeset/tailordb-migration-validate.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.template.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/validation.ts
  packages/sdk/src/cli/commands/tailordb/migrate/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
  packages/sdk/src/cli/shared/readonly-guard.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: fail loud on missing validation results in migration validate
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: share remote drift guidance and surface skipped remote checks
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/validation.ts
  packages/sdk/src/cli/commands/tailordb/migrate/types.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.ts
Due: 2-format, 3-lint, 4-typecheck
