Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

ci: quote GITHUB_OUTPUT in link-check workflow
  .github/workflows/link-check.yml
Due: 2-format

ci: simplify link-check workflow by removing changed-files detection
  .github/workflows/link-check.yml
Due: 2-format

ci: fix ghalint policy violations in link-check workflow
  .github/workflows/link-check.yml
Due: 2-format

pinact run
  .github/workflows/link-check.yml
Due: 2-format

chore: group related renovate dependency updates
  renovate.json
Due: 2-format

chore: add eslint, rolldown, and github-actions renovate groups
  renovate.json
Due: 2-format

chore: remove github-actions group from renovate config
  renovate.json
Due: 2-format

chore: simplify eslint group pattern and reorder rules
  renovate.json
Due: 2-format

fix: validate generated position via round-trip in mapStackFrames
  packages/sdk/src/cli/shared/stack-trace.test.ts
  packages/sdk/src/cli/shared/stack-trace.ts
Due: 2-format, 3-lint, 4-typecheck

test: guard middle-source and name:null behavior in mapStackFrames
  packages/sdk/src/cli/shared/stack-trace.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use cwd as bundleDir for sourcemap path resolution in test-run
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

chore(deps): update eslint-plugin-oxlint to 1.59.0
  example/package.json
  packages/create-sdk/package.json
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/workflow/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

fix(deps): update eslint-plugin-oxlint to 1.59.0 to match oxlint peer dependency
  example/package.json
  packages/create-sdk/package.json
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/workflow/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

refactor(secrets): rename skipNullishValues to ignoreNullishValues
  .changeset/skip-nullish-secrets.md
  packages/sdk/docs/services/secret.md
  packages/sdk/src/cli/commands/apply/secret-manager.test.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/configure/services/secrets/index.test.ts
  packages/sdk/src/configure/services/secrets/index.ts
  packages/sdk/src/parser/service/secrets/schema.test.ts
  packages/sdk/src/parser/service/secrets/schema.ts
  packages/sdk/src/types/secrets.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(remove): add missing auth connection print in remove output
  packages/sdk/src/cli/commands/remove.ts
Due: 2-format, 3-lint, 4-typecheck

fix(apply): use namespace-qualified key for TailorDB type/gqlPermission grouping
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(auth): add defualtRedirectURL to SAML IdP config
  .changeset/three-cups-sink.md
  packages/sdk/src/cli/commands/apply/auth.ts
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/types/auth.generated.ts
  packages/tailor-proto/src/tailor/v1/auth_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/auth_resource_pb.js
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.js
  packages/tailor-proto/src/tailor/v1/function_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/function_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

regenerate
  packages/sdk/src/types/auth.generated.ts
Due: 2-format, 3-lint, 4-typecheck

ci: skip non-required workflows on bot re-trigger commits
  .github/workflows/migration.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/sdk-e2e.yml
  .github/workflows/sdk-metrics.yml
  .github/workflows/template-tests.yml
  .github/workflows/test.yml
Due: 2-format

feat: display deployed function errors with sourcemap mapping in `function logs <id>`
  .changeset/function-logs-stack-trace.md
  packages/sdk/src/cli/commands/function/logs.test.ts
  packages/sdk/src/cli/commands/function/logs.ts
  packages/sdk/src/cli/shared/function-script-download.test.ts
  packages/sdk/src/cli/shared/function-script-download.ts
Due: 2-format, 3-lint, 4-typecheck

fix: avoid duplicate error header in function logs fallback
  packages/sdk/src/cli/commands/function/logs.test.ts
  packages/sdk/src/cli/commands/function/logs.ts
Due: 2-format, 3-lint, 4-typecheck

fix: skip sourcemap mapping for stale function logs after redeploy
  .changeset/function-logs-stack-trace.md
  packages/sdk/src/cli/commands/function/logs.test.ts
  packages/sdk/src/cli/commands/function/logs.ts
  packages/sdk/src/cli/shared/function-script-download.test.ts
  packages/sdk/src/cli/shared/function-script-download.ts
Due: 2-format, 3-lint, 4-typecheck

fix: discriminate workflow job scripts by execution type
  packages/sdk/src/cli/commands/function/logs.test.ts
  packages/sdk/src/cli/commands/function/logs.ts
  packages/sdk/src/cli/shared/function-script-download.test.ts
  packages/sdk/src/cli/shared/function-script-download.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): accept plain string for authInvoker, deprecate auth.invoker()
  .changeset/auth-invoker-string.md
  example/resolvers/triggerWorkflow.ts
  packages/create-sdk/templates/inventory-management/tailor.d.ts
  packages/create-sdk/templates/resolver/tailor.d.ts
  packages/create-sdk/templates/tailordb/tailor.d.ts
  packages/create-sdk/templates/workflow/tailor.d.ts
  packages/sdk/docs/services/auth.md
  packages/sdk/docs/services/executor.md
  packages/sdk/docs/services/resolver.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/cli/commands/apply/auth-invoker.test.ts
  packages/sdk/src/cli/commands/apply/auth-invoker.ts
  packages/sdk/src/cli/commands/apply/executor.ts
  packages/sdk/src/cli/commands/apply/resolver.test.ts
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
  packages/sdk/src/cli/shared/trigger-context.ts
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/services/executor/executor.ts
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/configure/types/index.ts
  packages/sdk/src/configure/types/machine-user.ts
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/types/auth.generated.ts
  packages/sdk/src/types/auth.ts
  packages/sdk/src/types/executor.generated.ts
  packages/sdk/src/types/resolver.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): remove self-referential dynamic import in function detect
  .changeset/fix-detect-self-import-warning.md
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/parser/service/tailordb/runtime.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): normalize workflow.trigger authInvoker at runtime
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): mark self-referential dynamic import as external in build
  .changeset/fix-detect-self-import-warning.md
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/parser/service/tailordb/runtime.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): emit unquoted identifiers in MachineUserNameRegistry
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): use alias dynamic import to avoid self-referential warning
  .changeset/fix-detect-self-import-warning.md
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

feat(executor): add response customization for incoming webhook
  .changeset/gentle-pillows-bet.md
  example/executors/testWebhook.ts
  packages/sdk/src/cli/commands/apply/executor.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/webhook.ts
  packages/sdk/src/configure/types/helpers.ts
  packages/sdk/src/parser/service/executor/schema.ts
  packages/sdk/src/types/executor.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix: restore public API exports in tailordb/index.ts and fix ESLint manager.ts override ordering
  packages/sdk/eslint.config.js
  packages/sdk/src/configure/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): add pnpm.onlyBuiltDependencies to templates for pnpm v10 compatibility
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/workflow/package.json
Due: none

chore: add changeset
  .changeset/pnpm-v10-template-builds.md
Due: 2-format

chore: bump pnpm to 10.33.0 and revert template onlyBuiltDependencies
  .changeset/pnpm-v10-template-builds.md
  package.json
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/workflow/package.json
Due: 2-format

fix(create-sdk): allow only @tailor-platform/sdk build script in templates
  package.json
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/generators/package.json
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/static-web-site/package.json
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/workflow/package.json
Due: 2-format

ci: add debug output to smoke test for pnpm version and config
  .github/workflows/pkg-pr-new.yml
Due: 2-format

ci(smoke): pin pnpm to v10 in smoke test to avoid v11 beta
  .github/workflows/pkg-pr-new.yml
Due: 2-format

refactor: deduplicate FunctionExecutionDetailInfo via extends
  packages/sdk/src/cli/commands/function/logs.ts
Due: 2-format, 3-lint, 4-typecheck
