Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix: correct rule selection for multi-version migrations and remove dead skill reference
  packages/sdk/src/cli/commands/migrate/reporter.ts
  packages/sdk/src/cli/commands/migrate/rule-registry.test.ts
  packages/sdk/src/cli/commands/migrate/rule-registry.ts
Due: 2-format, 3-lint, 4-typecheck

fix: exclude declaration files and include .mts/.cts in file collector
  packages/sdk/src/cli/commands/migrate/file-collector.test.ts
  packages/sdk/src/cli/commands/migrate/file-collector.ts
  packages/sdk/src/cli/commands/migrate/rule-registry.ts
Due: 2-format, 3-lint, 4-typecheck

fix: include failed rules in summary total count
  packages/sdk/src/cli/commands/migrate/codemod-engine.ts
  packages/sdk/src/cli/commands/migrate/reporter.ts
Due: 2-format, 3-lint, 4-typecheck

fix: add lang parameter to applyPatternReplace for TSX support
  packages/sdk/src/cli/commands/migrate/codemod-engine.ts
  packages/sdk/src/cli/commands/migrate/version-detector.ts
Due: 2-format, 3-lint, 4-typecheck

test: add unit tests for migration reporter
  packages/sdk/src/cli/commands/migrate/reporter.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify migrate command internals
  packages/sdk/src/cli/commands/migrate/codemod-engine.ts
  packages/sdk/src/cli/commands/migrate/reporter.ts
  packages/sdk/src/cli/commands/migrate/rule-registry.ts
  packages/sdk/src/cli/commands/migrate/service.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: fix misleading JSDoc and simplify summary accumulation in migrate
  packages/sdk/src/cli/commands/migrate/rule-registry.ts
  packages/sdk/src/cli/commands/migrate/service.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract error normalization in migrate service catch block
  packages/sdk/src/cli/commands/migrate/service.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: rename migrate command to upgrade to avoid confusion with tailordb migrate
  packages/sdk/eslint.config.js
  packages/sdk/knip.json
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/fixture-helper.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/sample/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/sample/output.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
  packages/sdk/src/cli/commands/upgrade/file-collector.test.ts
  packages/sdk/src/cli/commands/upgrade/file-collector.ts
  packages/sdk/src/cli/commands/upgrade/index.ts
  packages/sdk/src/cli/commands/upgrade/reporter.test.ts
  packages/sdk/src/cli/commands/upgrade/reporter.ts
  packages/sdk/src/cli/commands/upgrade/rule-registry.test.ts
  packages/sdk/src/cli/commands/upgrade/rule-registry.ts
  packages/sdk/src/cli/commands/upgrade/rules/index.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/index.ts
  packages/sdk/src/cli/commands/upgrade/service.test.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
  packages/sdk/src/cli/commands/upgrade/types.ts
  packages/sdk/src/cli/commands/upgrade/version-detector.test.ts
  packages/sdk/src/cli/commands/upgrade/version-detector.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/tsconfig.json
Due: 2-format, 3-lint, 4-typecheck

docs: add add-migration-rule skill for upgrade command
  .claude/skills/add-migration-rule/SKILL.md
  .gitignore
Due: 2-format

docs: fix add-migration-rule skill with comma filter and simple rename pattern
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

fix(create-sdk): accept undefined in validateName for @clack/prompts v1
  packages/create-sdk/src/context.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/renovate-840.md
Due: 2-format

fix(seed): add reverse FK from userProfile type to IDP user
  .changeset/idp-user-pk-sync.md
  example/seed/data/User.schema.ts
  packages/sdk/package.json
  packages/sdk/src/plugin/builtin/seed/index.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify apply no-op helpers
  packages/sdk/src/cli/commands/apply/idp.ts
  packages/sdk/src/cli/commands/apply/secret-manager.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: reuse listed apply resources
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.test.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

Apply suggestion from @devin-ai-integration[bot]
  .changeset/renovate-822.md
Due: 2-format

ci(apply): use build-only mode on Windows to eliminate server flakiness
  .github/workflows/apply.yml
Due: 2-format

feat: add 3 sample V2 migration rules for upgrade command validation
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/auth-invoker-rename/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/auth-invoker-rename/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/define-generators/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/define-generators/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/publish-events-rename/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/publish-events-rename/output.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/auth-invoker-rename.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/auth-invoker-rename.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/define-generators.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/define-generators.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/index.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/publish-events-rename.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/publish-events-rename.ts
Due: 2-format, 3-lint, 4-typecheck

docs: document property identifier caveat and hybrid pattern in add-migration-rule skill
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

ci: introduce takumi-guard npm malware protection
  .github/actions/install-deps/action.yml
  .github/workflows/pkg-pr-new.yml
Due: 2-format

ci: restore .npmrc after takumi-guard setup to prevent generate diff
  .github/actions/install-deps/action.yml
Due: 2-format

ci: revert .npmrc registry added by generate workflow
  .npmrc
Due: none

ci: remove unnecessary takumi-guard from test-init job
  .github/workflows/pkg-pr-new.yml
Due: 2-format

feat: add 3 V2 migration rules for skill validation (trigger rename, db.type, import path)
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/db-type-to-model/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/db-type-to-model/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/tailordb-import-path/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/tailordb-import-path/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/trigger-rename/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/trigger-rename/output.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/db-type-to-model.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/db-type-to-model.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/index.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/tailordb-import-path.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/tailordb-import-path.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/trigger-rename.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/trigger-rename.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add batch rename, receiver guard, false positive risk, and rule ordering to add-migration-rule skill
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

docs: add pattern selection flowchart, fixture warning, and substring ordering to add-migration-rule skill
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

test: add compare policy tests for bigint and number normalization
  packages/sdk/src/cli/commands/apply/compare.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add SourceRule type to createRule and improve add-migration-rule skill
  .claude/skills/add-migration-rule/SKILL.md
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/auth-invoker-rename/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/auth-invoker-rename/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/db-type-to-model/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/db-type-to-model/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/define-generators/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/define-generators/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/publish-events-rename/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/publish-events-rename/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/sample/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/sample/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/tailordb-import-path/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/tailordb-import-path/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/trigger-rename/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/trigger-rename/output.ts
  packages/sdk/src/cli/commands/upgrade/reporter.ts
  packages/sdk/src/cli/commands/upgrade/rule-helpers.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/auth-invoker-rename.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/auth-invoker-rename.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/db-type-to-model.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/db-type-to-model.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/define-generators.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/define-generators.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/index.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/publish-events-rename.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/publish-events-rename.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/tailordb-import-path.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/tailordb-import-path.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/trigger-rename.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/trigger-rename.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add sdk version handling and comparison across application, executor, function, and workflow components2
  packages/sdk/src/cli/commands/apply/__test_fixtures__/workflows/processOrder.ts
  packages/sdk/src/cli/commands/apply/application.test.ts
  packages/sdk/src/cli/commands/apply/application.ts
  packages/sdk/src/cli/commands/apply/auth.ts
  packages/sdk/src/cli/commands/apply/executor.test.ts
  packages/sdk/src/cli/commands/apply/executor.ts
  packages/sdk/src/cli/commands/apply/function-registry.test.ts
  packages/sdk/src/cli/commands/apply/function-registry.ts
  packages/sdk/src/cli/commands/apply/idp.ts
  packages/sdk/src/cli/commands/apply/label.ts
  packages/sdk/src/cli/commands/apply/resolver.test.ts
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/cli/commands/apply/secret-manager.ts
  packages/sdk/src/cli/commands/apply/staticwebsite.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.test.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
  packages/sdk/src/cli/commands/apply/workflow.test.ts
  packages/sdk/src/cli/commands/apply/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

feat: support custom file patterns in migration rules
  packages/sdk/src/cli/commands/upgrade/file-collector.test.ts
  packages/sdk/src/cli/commands/upgrade/file-collector.ts
  packages/sdk/src/cli/commands/upgrade/service.test.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
  packages/sdk/src/cli/commands/upgrade/types.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add createWarningRule helper for warning-only migration rules
  packages/sdk/src/cli/commands/upgrade/rule-helpers.test.ts
  packages/sdk/src/cli/commands/upgrade/rule-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add import manipulation, context-limited rename, and structural change helpers to codemod engine
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/cli/commands/apply/auth.plan.test.ts
  packages/sdk/src/cli/commands/apply/idp.plan.test.ts
  packages/sdk/src/cli/commands/apply/secret-manager.test.ts
  packages/sdk/src/cli/commands/apply/staticwebsite.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add interactive mode to upgrade command
  packages/sdk/src/cli/commands/upgrade/index.ts
  packages/sdk/src/cli/commands/upgrade/service.test.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
Due: 2-format, 3-lint, 4-typecheck

docs: update add-migration-rule skill with new codemod engine capabilities
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

fix
  packages/sdk/src/cli/commands/apply/__test_fixtures__/workflows/processOrder.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add JSON transform, call argument restructuring, property value replacement, and nested path rename helpers to codemod engine
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck

docs: update add-migration-rule skill with new codemod helpers documentation
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

feat: add property access rename and tuple-to-call transform helpers to codemod engine
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck
