Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(llm-challenge): remove API-specific instructions from problem 001
  llm-challenge/problems/001-saas-subscription-platform/problem.md
Due: 2-format

fix: gitignore variant work directories (work-*)
  .gitignore
Due: none

docs: update llm-challenge skill with variant and template conventions
  .claude/skills/llm-challenge/SKILL.md
Due: 2-format

refactor(llm-challenge): minimize problem.md by removing concrete examples and verbose descriptions
  llm-challenge/problems/001-saas-subscription-platform/problem.md
  llm-challenge/problems/002-type-definition-styles/problem.md
Due: 2-format

revert: remove out-of-scope changes to createType.ts
  packages/sdk/src/configure/services/tailordb/createType.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): extract ES_BUILTINS to dedicated file
  packages/sdk/src/cli/bundler/tailordb/es-builtins.ts
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): deduplicate neededDeclarations to handle multi-declarator VariableDeclarations
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add manual configuration for publishEvents on TailorDB types and resolvers
  .changeset/quick-foxes-jump.md
  packages/sdk/docs/services/resolver.md
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/resolver/schema.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): skip non-computed Property keys and TS type annotations in collectIdentifierNames
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): move hooks-validate-bundler to services/tailordb/
  packages/sdk/src/cli/services/tailordb/es-builtins.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.test.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/spicy-gifts-run.md
Due: 2-format

refactor(query-bundler): remove SQL dependency check and update import paths
  packages/sdk/src/cli/bundler/query/query-bundler.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat: support `allowMicrosoftOauth` field for `userAuthPolicy`
  .changeset/allow-microsoft-oauth.md
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

fix: use explicit secretName field and strip non-enumerable props for Zod v4 compatibility
  packages/sdk/src/cli/commands/apply/secrets.test.ts
  packages/sdk/src/cli/commands/apply/secrets.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/configure/services/secrets/index.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/secrets/index.ts
  packages/sdk/src/parser/service/secrets/schema.ts
  packages/sdk/src/parser/service/secrets/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix: require disablePasswordAuth for allowMicrosoftOauth
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: derive SecretsConfig from ReturnType
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/configure/services/secrets/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): inject env/user context into test-run entries and fix docs placement
  packages/sdk/docs/cli/function.md
  packages/sdk/src/cli/commands/function/bundle.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-foxes-run.md
Due: 2-format

feat: skip unchanged secrets using SHA-256 hash-based diff detection
  packages/sdk/src/cli/commands/apply/apply.ts
  packages/sdk/src/cli/commands/apply/secrets-state.test.ts
  packages/sdk/src/cli/commands/apply/secrets-state.ts
  packages/sdk/src/cli/commands/apply/secrets.test.ts
  packages/sdk/src/cli/commands/apply/secrets.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(query-bundler): remove SQL dependency check and update import paths
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

add test
  packages/sdk/src/cli/bundler/query/query-bundler.test.ts
  packages/sdk/src/cli/query/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): use inline unauthenticated user to avoid cli→configure import
  packages/sdk/src/cli/commands/function/bundle.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): add user fallback warning log and remove user from workflow-job entry
  packages/sdk/src/cli/commands/function/bundle.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): add shared-node-browser globals to ES_BUILTINS
  packages/sdk/package.json
  packages/sdk/src/cli/services/tailordb/es-builtins.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify allowMicrosoftOauth validation condition
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): remove user from WorkflowJobContext
  example/tests/apply_command.test.ts
  example/workflows/order-processing.ts
  packages/create-sdk/templates/workflow/README.md
  packages/create-sdk/templates/workflow/src/workflow/order-fulfillment.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/runtime-args.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/remove-workflow-user.md
Due: 2-format

fix(cli): remove unnecessary --auth-namespace option from function test-run
  packages/sdk/docs/cli/function.md
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(resolveTypeNamespaces): enhance case-insensitive type matching
  packages/sdk/src/cli/utils/tailordb-namespace.test.ts
  packages/sdk/src/cli/utils/tailordb-namespace.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(query): rename executeQuery to query and streamline execution flow
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(query): improve error handling in GraphQL response processing
  packages/sdk/src/cli/bundler/query/query-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(query): enhance REPL mode and validation for query execution
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(query): sort SQL wildcard result columns by type field definition order
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/sql-type-extractor.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/cli/query/type-field-order.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/fix-sql-column-order.md
Due: 2-format

fix(query): support qualified wildcard (u.*) in column reordering
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/sql-type-extractor.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/fix-sql-column-order.md
Due: 2-format

docs(llm-challenge): remove "must sum to 100" scoring constraint from skill
  .claude/skills/llm-challenge/SKILL.md
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
