Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix: correct expected fixture for Selfie self-ref and add bundler test
  example/tests/fixtures/expected/seed/exec.mjs
  packages/sdk/src/cli/commands/generate/seed/bundler.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: run docs consistency check only on ready_for_review and review_requested
  .github/workflows/docs-consistency-check.yml
Due: 2-format

refactor: import RetryPolicy from generated types and add workflow docs
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/configure/services/workflow/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: use z.templateLiteral for duration schema validation
  packages/sdk/src/parser/service/workflow/schema.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): remove stale --json from command-specific options
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workspace.md
Due: 2-format

chore: add changeset
  .changeset/remove-stale-json-options.md
Due: 2-format

refactor: use politty env fallback for CLI arg environment variables
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/commands/workspace/create.ts
  packages/sdk/src/cli/shared/args.ts
  packages/sdk/src/cli/shared/context.test.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/politty-env-fallback.md
Due: 2-format

refactor: replace consola with @clack/prompts and direct stderr logging
  .claude/rules/cli-logging.md
  packages/sdk/.oxlintrc.json
  packages/sdk/eslint.config.js
  packages/sdk/package.json
  packages/sdk/src/cli/commands/tailordb/truncate.test.ts
  packages/sdk/src/cli/shared/logger.test.ts
  packages/sdk/src/cli/shared/logger.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

refactor: remove redundant loadOrganizationId/loadFolderId
  packages/sdk/src/cli/commands/workspace/create.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/appepzpzryutcdxh.md
Due: 2-format

fix: restore env fallback in context functions for non-CLI callers
  packages/sdk/src/cli/shared/context.test.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use proper mock cast for logger.prompt in truncate test
  packages/sdk/src/cli/commands/tailordb/truncate.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract prompt functions from logger into separate prompt module
  packages/sdk/src/cli/commands/apply/confirm.ts
  packages/sdk/src/cli/commands/remove.ts
  packages/sdk/src/cli/commands/secret/delete.ts
  packages/sdk/src/cli/commands/secret/vault/delete.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/set.ts
  packages/sdk/src/cli/commands/tailordb/truncate.test.ts
  packages/sdk/src/cli/commands/tailordb/truncate.ts
  packages/sdk/src/cli/commands/workspace/delete.ts
  packages/sdk/src/cli/commands/workspace/restore.ts
  packages/sdk/src/cli/commands/workspace/user/remove.ts
  packages/sdk/src/cli/shared/logger.test.ts
  packages/sdk/src/cli/shared/logger.ts
  packages/sdk/src/cli/shared/prompt.test.ts
  packages/sdk/src/cli/shared/prompt.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract withGuard helper to DRY prompt CI/cancel handling
  packages/sdk/src/cli/shared/prompt.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: use namespace import for @clack/prompts
  packages/sdk/src/cli/shared/prompt.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: use prompt.confirm/prompt.text namespace pattern and add @clack/prompts lint rule
  packages/sdk/.oxlintrc.json
  packages/sdk/eslint.config.js
  packages/sdk/src/cli/commands/apply/confirm.ts
  packages/sdk/src/cli/commands/remove.ts
  packages/sdk/src/cli/commands/secret/delete.ts
  packages/sdk/src/cli/commands/secret/vault/delete.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/set.ts
  packages/sdk/src/cli/commands/tailordb/truncate.test.ts
  packages/sdk/src/cli/commands/tailordb/truncate.ts
  packages/sdk/src/cli/commands/workspace/delete.ts
  packages/sdk/src/cli/commands/workspace/restore.ts
  packages/sdk/src/cli/commands/workspace/user/remove.ts
  packages/sdk/src/cli/shared/prompt.test.ts
  packages/sdk/src/cli/shared/prompt.ts
Due: 2-format, 3-lint, 4-typecheck

chore: explicitly whitelist committed skills in .gitignore
  .gitignore
Due: none

chore: scaffold @tanstack/intent skills for @tailor-platform/sdk
  .github/workflows/check-skills.yml
  .github/workflows/notify-playbooks.yml
  .github/workflows/validate-skills.yml
  _artifacts/domain_map.yaml
  _artifacts/skill_spec.md
  _artifacts/skill_tree.yaml
  packages/sdk/bin/intent.js
  packages/sdk/package.json
  packages/sdk/skills/tailor-sdk/SKILL.md
  packages/sdk/skills/tailor-sdk/cli-operations/SKILL.md
  packages/sdk/skills/tailor-sdk/cli-operations/references/cli-commands.md
  packages/sdk/skills/tailor-sdk/code-generation/SKILL.md
  packages/sdk/skills/tailor-sdk/configuration/SKILL.md
  packages/sdk/skills/tailor-sdk/executor/SKILL.md
  packages/sdk/skills/tailor-sdk/executor/references/triggers.md
  packages/sdk/skills/tailor-sdk/model-definition/SKILL.md
  packages/sdk/skills/tailor-sdk/model-definition/references/field-types.md
  packages/sdk/skills/tailor-sdk/model-definition/references/permissions.md
  packages/sdk/skills/tailor-sdk/project-setup/SKILL.md
  packages/sdk/skills/tailor-sdk/quickstart/SKILL.md
  packages/sdk/skills/tailor-sdk/resolver/SKILL.md
  packages/sdk/skills/tailor-sdk/workflow/SKILL.md
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add AI agent skills for all core SDK services
  package.json
  packages/sdk/skills/_artifacts/domain_map.yaml
  packages/sdk/skills/_artifacts/skill_spec.md
  packages/sdk/skills/_artifacts/skill_tree.yaml
  packages/sdk/skills/plugin/SKILL.md
  packages/sdk/skills/services/auth/SKILL.md
  packages/sdk/skills/services/executor/SKILL.md
  packages/sdk/skills/services/resolver/SKILL.md
  packages/sdk/skills/services/tailordb/SKILL.md
  packages/sdk/skills/services/workflow/SKILL.md
  packages/sdk/skills/testing/SKILL.md
Due: 2-format

refactor: replace @clack/prompts with @inquirer/prompts
  .changeset/appepzpzryutcdxh.md
  packages/sdk/.oxlintrc.json
  packages/sdk/eslint.config.js
  packages/sdk/package.json
  packages/sdk/src/cli/commands/apply/confirm.ts
  packages/sdk/src/cli/commands/remove.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/set.ts
  packages/sdk/src/cli/commands/tailordb/truncate.ts
  packages/sdk/src/cli/shared/prompt.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix: pass workflowName in request field for listWorkflowExecutions
  packages/sdk/src/cli/commands/workflow/executions.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/fix-workflow-executions-name.md
Due: 2-format

fix: add CLI-side validation for workflow-name argument
  packages/sdk/src/cli/commands/workflow/executions.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add `tailor-sdk setup github` command for GitHub Actions workflow generation
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/setup.md
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/index.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
  packages/sdk/src/cli/commands/setup/index.ts
  packages/sdk/src/cli/docs.test.ts
  packages/sdk/src/cli/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: migrate setup github command to defineAppCommand pattern
  packages/sdk/src/cli/commands/setup/github/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove unnecessary async/await and simplify setup github command
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/index.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
  packages/sdk/src/cli/commands/setup/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify setup github tests by extracting helper and merging cases
  packages/sdk/src/cli/commands/setup/github/github.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for setup github command
  .changeset/setup-github-command.md
Due: 2-format

refactor: convert static templates to constants and simplify buildFiles
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

docs: document single-application scope for generated workflow
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

fix: pin pnpm version in generated install-node action
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use deploy script in generated workflow and document design decisions
  packages/sdk/src/cli/commands/setup/github/index.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add design decision comments to GitHub workflow templates
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

style: use type alias instead of interface in setup github command
  packages/sdk/src/cli/commands/setup/github/github.ts
Due: 2-format, 3-lint, 4-typecheck

test: add regression tests for deploy script name and pnpm version pin
  packages/sdk/src/cli/commands/setup/github/github.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add global options link to setup command documentation
  packages/sdk/docs/cli/setup.md
Due: 2-format

refactor: split YAML templates into individual files
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
  packages/sdk/src/cli/commands/setup/github/template-fetch-tailor-token.ts
  packages/sdk/src/cli/commands/setup/github/template-install-node.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: streamline request construction
  packages/sdk/src/cli/commands/apply/application.ts
  packages/sdk/src/cli/commands/apply/apply.ts
  packages/sdk/src/cli/commands/apply/auth.ts
  packages/sdk/src/cli/commands/apply/executor.ts
  packages/sdk/src/cli/commands/apply/idp.ts
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/cli/commands/apply/staticwebsite.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): exclude skills/_artifacts from npm publish
  packages/sdk/package.json
Due: 2-format
