Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore: update changeset description
  .changeset/bright-tables-glow.md
Due: 2-format

fix: resolve rebase conflicts with main
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/cli/shared/script-executor.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): remove usageSummary negative instruction from problem.md
  llm-challenge/problems/001-saas-subscription-platform/problem.md
Due: 2-format

fix: address PR review feedback for test migration
  example/tests/bundled_execution.test.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/integration.test.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

ci(changeset): validate allowed packages in changeset files
  .github/workflows/changeset-check.yml
Due: 2-format

ci(changeset): require changeset only when package files change
  .github/workflows/changeset-check.yml
Due: 2-format

fix(changeset): remove predicate-quantifier to fix packages filter
  .github/workflows/changeset-check.yml
Due: 2-format

refactor(changeset): use changeset status for validation, remove ignore config
  .changeset/config.json
  .github/workflows/changeset-check.yml
Due: 2-format

fix(changeset): remove tailor-proto from packages path filter
  .github/workflows/changeset-check.yml
Due: 2-format

fix(changeset): restore tailor-proto in packages path filter
  .github/workflows/changeset-check.yml
Due: 2-format

refactor(changeset): use install-deps action instead of inline setup
  .github/workflows/changeset-check.yml
Due: 2-format

fix: clean up TAILOR_SDK_OUTPUT_DIR env var in integration test afterAll
  packages/sdk/src/cli/commands/apply/__test_fixtures__/integration.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(changeset): fetch full history for changeset status validation
  .github/workflows/changeset-check.yml
Due: 2-format

fix(changeset): use origin/main for changeset status in CI
  .github/workflows/changeset-check.yml
Due: 2-format

chore(ci): skip changeset check for Version Packages PR
  .github/workflows/changeset-check.yml
Due: 2-format

feat: support vault deletion and metadata-based ownership tracking for Secret Manager
  packages/sdk/src/cli/commands/apply/apply.ts
  packages/sdk/src/cli/commands/apply/secrets.test.ts
  packages/sdk/src/cli/commands/apply/secrets.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: rename secrets to secretManager for naming consistency
  .changeset/spicy-gifts-run.md
  packages/sdk/src/cli/commands/apply/apply.ts
  packages/sdk/src/cli/commands/apply/secret-manager.test.ts
  packages/sdk/src/cli/commands/apply/secret-manager.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/configure/services/secrets/index.test.ts
  packages/sdk/src/configure/services/secrets/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: validate secrets state with Zod schema and remove version field
  packages/sdk/src/cli/commands/apply/secret-manager.test.ts
  packages/sdk/src/cli/commands/apply/secrets-state.test.ts
  packages/sdk/src/cli/commands/apply/secrets-state.ts
Due: 2-format, 3-lint, 4-typecheck

feat(query): add interactive mode when -q is omitted
  .changeset/query-interactive-mode.md
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/interactive.ts
Due: 2-format, 3-lint, 4-typecheck

fix error handling
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(query): improve error handling in REPL mode with CLI error logging
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

add changeset
  .changeset/serious-schools-judge.md
Due: 2-format

fix(repl): update REPL command syntax for help and exit
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(repl): ignore empty lines in REPL input
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(query): add interactive REPL mode when -q is omitted
  .changeset/query-interactive-repl.md
  packages/sdk/package.json
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/interactive.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(repl): prevent processing of empty lines in REPL input
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(repl): implement isSqlInputComplete function and add tests
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/sql-repl.test.ts
  packages/sdk/src/cli/query/sql-repl.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat: tailor-sdk query --file
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(repl): add isGraphQLInputComplete function and corresponding tests; update dependencies
  packages/sdk/package.json
  packages/sdk/src/cli/query/graphql-repl.test.ts
  packages/sdk/src/cli/query/graphql-repl.ts
  packages/sdk/src/cli/query/index.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix: write user-defined.d.ts to project root instead of SDK dist
  package.json
  packages/sdk/e2e/apply.test.ts
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/e2e/migration.test.ts
  packages/sdk/knip.json
  packages/sdk/package.json
  packages/sdk/postinstall.mjs
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/tsdown.config.ts
  pnpm-lock.yaml
  turbo.json
Due: 2-format, 3-lint, 4-typecheck

refactor: remove dead FORCE_CREATE env var from postinstall.mjs
  packages/sdk/postinstall.mjs
Due: none

refactor: remove TAILOR_PLATFORM_SDK_TYPE_PATH env var override
  packages/sdk/src/cli/shared/type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for user-defined.d.ts output path fix
  .changeset/fix-user-defined-dts-output-path.md
Due: 2-format

add changeset
  .changeset/three-windows-press.md
Due: 2-format

perf(lefthook): consolidate turbo commands to eliminate cache contention
  lefthook.yml
Due: 2-format

rename user-defined.d.ts to tailor.d.ts
  .changeset/fix-user-defined-dts-output-path.md
  .gitignore
  packages/create-sdk/templates/inventory-management/tailor.d.ts
  packages/create-sdk/templates/resolver/tailor.d.ts
  packages/create-sdk/templates/tailordb/tailor.d.ts
  packages/create-sdk/templates/workflow/tailor.d.ts
  packages/sdk/docs/services/auth.md
  packages/sdk/eslint.config.js
  packages/sdk/postinstall.mjs
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/parser/plugin-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

Omit -q to start interactive mode automatically
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
