Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs: rename NormalizedTailorDBType to TailorDBType in custom generator docs
  packages/sdk/docs/generator/custom.md
Due: 2-format

feat(kysely-type): add utility types (Transaction, Insertable, Selectable, Updateable)
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for kysely utility types
  .changeset/cool-pumas-kneel.md
Due: 2-format

refactor: simplify docs.test.ts using politty auto-expansion
  .oxfmtrc.json
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/docs.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailordb): drop configure type alias in generator tests
  packages/sdk/src/cli/generator/builtin/enum-constants/index.test.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): add politty markers to executor.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/docs.test.ts
  packages/sdk/src/cli/executor/index.ts
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/trigger.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add gql operation feature
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/services/tailordb/index.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/tailordb/types.ts
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.js
  packages/tailor-proto/src/tailor/v1/pipeline_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/pipeline_resource_pb.js
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
Due: 2-format, 3-lint, 4-typecheck

chore: flip flag
  .changeset/brave-lizards-dance.md
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/services/tailordb/index.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailordb): drop loose settings and keep strict keys
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): align SDK/proto TailorDBType naming
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.test.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): restore (beta) label in ERD command descriptions
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/src/cli/tailordb/erd/index.ts
  packages/sdk/src/cli/tailordb/erd/serve.ts
Due: 2-format, 3-lint, 4-typecheck

Updated imports of confgure tailordb and resover in cli (#484)
  .changeset/solid-flowers-kick.md
  packages/sdk/docs/generator/custom.md
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/apply/services/tailordb/migration.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.test.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/process-enum-type.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.test.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.ts
  packages/sdk/src/cli/generator/builtin/file-utils/process-file-type.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/gql-ingest-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/lines-db-processor.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/generator/types.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/services/resolver/index.ts
  packages/sdk/src/configure/services/resolver/types.ts
  packages/sdk/src/configure/services/tailordb/index.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/resolver/types.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/relation.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add attributeMap to machineuser list output
  packages/sdk/src/cli/machineuser/list.ts
Due: 2-format, 3-lint, 4-typecheck

chore: gqlOperation take alias
  .changeset/brave-lizards-dance.md
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/services/tailordb/index.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

docs(auth): add attributeList documentation and SDK vs Platform naming (#511)
  packages/sdk/docs/services/auth.md
Due: 2-format

refactor: move AuthConfig types into parser auth types
  packages/sdk/src/cli/application/auth/service.ts
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/configure/services/auth/index.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/auth/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: move TailorDBServiceInput into parser types
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: move IdP types into parser
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/configure/services/idp/index.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/idp/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: enable no-restricted-imports rules for cli
  packages/sdk/.oxlintrc.json
  packages/sdk/eslint.config.js
Due: 2-format, 3-lint, 4-typecheck

feat(kysely-type): enhance utility types with Table type and refactor Insertable, Selectable, Updateable
  example/generated/tailordb.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: rename attributeMap to attributes
  packages/sdk/src/cli/machineuser/list.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/cute-mails-hammer.md
Due: 2-format

fix: transform webhook args raw_body to rawBody in bundler
  .changeset/empty-taxes-slide.md
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix(example): update expected db.ts fixture for new Table type
  example/tests/fixtures/expected/db.ts
Due: 3-lint, 4-typecheck

refactor: move IdP and TailorDB config types into parser
  packages/sdk/src/configure/services/idp/index.ts
  packages/sdk/src/configure/services/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

feat(kysely-type): add utility types (Transaction, Insertable, Selectable, Updateable) (#515)
  .changeset/cool-pumas-kneel.md
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

fix: move webhook args transformation from bundler to apply layer
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix: transform webhook args raw_body to rawBody in executor bundler (#508)
  .changeset/empty-taxes-slide.md
  packages/sdk/src/cli/apply/services/executor.ts
Due: 2-format, 3-lint, 4-typecheck

Enable imports restrict rules and fix types (#519)
  .changeset/cute-mails-hammer.md
  packages/sdk/.oxlintrc.json
  packages/sdk/eslint.config.js
  packages/sdk/src/cli/application/auth/service.ts
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/configure/services/auth/index.ts
  packages/sdk/src/configure/services/idp/index.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/auth/types.ts
  packages/sdk/src/parser/service/idp/types.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailor-proto): regenerate TypeScript types from proto
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/executor_resource_pb.js
  packages/tailor-proto/src/tailor/v1/pipeline_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/pipeline_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
Due: 3-lint, 4-typecheck

feat(sdk): add scriptRef support for Function Registry references
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/application/workflow/service.ts
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/workflow.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/bundler/workflow/job-detector.ts
  packages/sdk/src/cli/bundler/workflow/source-transformer.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.test.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/configure/services/index.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/executor/schema.ts
  packages/sdk/src/parser/service/resolver/schema.ts
  packages/sdk/src/parser/service/workflow/schema.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add Function Registry support
  packages/sdk/src/cli/application/function-registry/service.ts
  packages/sdk/src/cli/apply/services/function-registry.ts
  packages/sdk/src/cli/bundler/function-registry/function-registry-bundler.ts
  packages/sdk/src/configure/services/function-registry/index.ts
  packages/sdk/src/configure/services/function-registry/types.ts
  packages/sdk/src/parser/service/function-registry/schema.ts
  packages/sdk/src/parser/service/function-registry/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailor-proto): add missing workflow_pb.d.ts changes
  packages/tailor-proto/src/tailor/v1/workflow_pb.d.ts
Due: 3-lint, 4-typecheck

feat(cli): add display option to logger.out
  packages/sdk/src/cli/utils/logger.ts
  packages/sdk/src/cli/workspace/list.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for display option
  .changeset/friendly-dots-move.md
Due: 2-format

feat(sdk): support scriptRef in executor operation
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/parser/service/executor/schema.ts
Due: 2-format, 3-lint, 4-typecheck

docs(example): add Function Registry usage examples
  example/eslint.config.js
  example/executors/orderScriptRef.ts
  example/functions/hello.js
  example/functions/processOrder.js
  example/resolvers/helloScriptRef.ts
  example/tailor.config.ts
  example/workflows/scriptRefWorkflow.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add attributes to machineuser list output (#518)
  packages/sdk/src/cli/machineuser/list.ts
Due: 2-format, 3-lint, 4-typecheck

test(example): update e2e tests for scriptRef examples
  example/e2e/executor.test.ts
  example/e2e/resolver.test.ts
  example/e2e/workflow.test.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
