Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(sdk): strip workflow runtime trigger before parsing
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/parser/app-config/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): regenerate CLI docs golden files for politty v0.9.2
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/completion.md
  packages/sdk/docs/cli/crashreport.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/organization.md
  packages/sdk/docs/cli/query.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/setup.md
  packages/sdk/docs/cli/skills.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/upgrade.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
Due: 2-format

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

docs(sdk): migrate CLI docs generation to politty template approach
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.md.tpl
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.md.tpl
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/auth.md.tpl
  packages/sdk/docs/cli/completion.md
  packages/sdk/docs/cli/completion.md.tpl
  packages/sdk/docs/cli/crashreport.md
  packages/sdk/docs/cli/crashreport.md.tpl
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/executor.md.tpl
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/function.md.tpl
  packages/sdk/docs/cli/organization.md
  packages/sdk/docs/cli/organization.md.tpl
  packages/sdk/docs/cli/query.md
  packages/sdk/docs/cli/query.md.tpl
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/secret.md.tpl
  packages/sdk/docs/cli/setup.md
  packages/sdk/docs/cli/setup.md.tpl
  packages/sdk/docs/cli/skills.md
  packages/sdk/docs/cli/skills.md.tpl
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/staticwebsite.md.tpl
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.md.tpl
  packages/sdk/docs/cli/upgrade.md
  packages/sdk/docs/cli/upgrade.md.tpl
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/user.md.tpl
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workflow.md.tpl
  packages/sdk/docs/cli/workspace.md
  packages/sdk/docs/cli/workspace.md.tpl
  packages/sdk/src/cli/docs.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): update auth connections in-place to preserve the OAuth session
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): simplify template placeholders to full-command form where possible
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.md.tpl
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/auth.md.tpl
  packages/sdk/docs/cli/completion.md.tpl
  packages/sdk/docs/cli/crashreport.md
  packages/sdk/docs/cli/crashreport.md.tpl
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/executor.md.tpl
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/function.md.tpl
  packages/sdk/docs/cli/organization.md
  packages/sdk/docs/cli/organization.md.tpl
  packages/sdk/docs/cli/query.md.tpl
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/secret.md.tpl
  packages/sdk/docs/cli/setup.md
  packages/sdk/docs/cli/setup.md.tpl
  packages/sdk/docs/cli/skills.md
  packages/sdk/docs/cli/skills.md.tpl
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/staticwebsite.md.tpl
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.md.tpl
  packages/sdk/docs/cli/upgrade.md.tpl
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/user.md.tpl
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workflow.md.tpl
  packages/sdk/docs/cli/workspace.md
  packages/sdk/docs/cli/workspace.md.tpl
Due: 2-format

docs(sdk): rename template files from .md.tpl to .template.md and exclude from package
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/docs/cli/auth.template.md
  packages/sdk/docs/cli/completion.template.md
  packages/sdk/docs/cli/crashreport.template.md
  packages/sdk/docs/cli/executor.template.md
  packages/sdk/docs/cli/function.template.md
  packages/sdk/docs/cli/organization.template.md
  packages/sdk/docs/cli/query.template.md
  packages/sdk/docs/cli/secret.template.md
  packages/sdk/docs/cli/setup.template.md
  packages/sdk/docs/cli/skills.template.md
  packages/sdk/docs/cli/staticwebsite.template.md
  packages/sdk/docs/cli/tailordb.template.md
  packages/sdk/docs/cli/upgrade.template.md
  packages/sdk/docs/cli/user.template.md
  packages/sdk/docs/cli/workflow.template.md
  packages/sdk/docs/cli/workspace.template.md
  packages/sdk/package.json
  packages/sdk/src/cli/docs.test.ts
Due: 2-format, 3-lint, 4-typecheck

Modify CODEOWNERS for contributors and maintainers
  .github/CODEOWNERS
Due: none

fix(sdk): fix duplicate sections in CLI doc templates and expand marker test coverage
  .changeset/renovate-1533.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/docs/cli/crashreport.md
  packages/sdk/docs/cli/crashreport.template.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/executor.template.md
  packages/sdk/docs/cli/skills.md
  packages/sdk/docs/cli/skills.template.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/user.template.md
  packages/sdk/src/cli/docs.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): eliminate duplicate CLI doc sections by splitting parent placeholders
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/auth.template.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/function.template.md
  packages/sdk/docs/cli/organization.md
  packages/sdk/docs/cli/organization.template.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/secret.template.md
  packages/sdk/docs/cli/setup.md
  packages/sdk/docs/cli/setup.template.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/staticwebsite.template.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.template.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workflow.template.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/docs/cli/workspace.template.md
Due: 2-format

fix(sdk): add blank line between subcommand placeholders and inline bold prose
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/auth.template.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/staticwebsite.template.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.template.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workflow.template.md
Due: 2-format

chore(proto): sync generated proto files
  packages/tailor-proto/src/tailor/v1/aigateway_pb.d.ts
  packages/tailor-proto/src/tailor/v1/aigateway_pb.js
  packages/tailor-proto/src/tailor/v1/aigateway_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/aigateway_resource_pb.js
  packages/tailor-proto/src/tailor/v1/idp_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/service_pb.js
  packages/tailor-proto/src/tailor/v1/telemetryrouter_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetryrouter_pb.js
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
Due: 3-lint, 4-typecheck

feat(sdk): support MFA for Built-in IdP
  .changeset/idp-mfa-support.md
  example/tailor.config.ts
  packages/sdk/src/cli/commands/deploy/idp.plan.test.ts
  packages/sdk/src/cli/commands/deploy/idp.ts
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/configure/services/idp/permission.test.ts
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/parser/service/idp/permission.test.ts
  packages/sdk/src/parser/service/idp/permission.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/parser/service/idp/types.ts
  packages/sdk/src/types/idp.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): make IdP permission.unenrollMfa optional
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/types/idp.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): exclude IdP allowedReturnOrigins from pre-flight validation
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): substitute IdP allowedReturnOrigins placeholders for pre-flight validation
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): cover IdP allowedReturnOrigins :url placeholder
  packages/sdk/src/parser/service/idp/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

ci: replace deprecated app-id with client-id in create-github-app-token
  .github/workflows/release.yml
Due: 2-format

fix(sdk): mention :url placeholder in allowedReturnOrigins error
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): tighten IdP allowedReturnOrigins placeholder match in pre-flight
  packages/sdk/src/cli/commands/deploy/validate-plan.test.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): tighten allowedReturnOrigins placeholder to static-website slug
  packages/sdk/src/cli/commands/deploy/idp.test.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): broaden docs exclusion pattern from *.template.md to *.*.md
  packages/sdk/package.json
Due: 2-format

docs(sdk): document IdP MFA fields and unenrollMfa permission
  packages/sdk/docs/services/idp.md
Due: 2-format

chore(sdk): replace tsx with amaro for TypeScript loading
  .changeset/remove-tsx.md
  packages/sdk/package.json
  packages/sdk/postinstall.mjs
  packages/sdk/scripts/check-import-cycles.ts
  packages/sdk/scripts/check-public-api-jsdoc.ts
  packages/sdk/scripts/check-zod-isolation.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/ts-hook.mjs
  packages/sdk/tsdown.config.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): drop .cts/.cjs from ESM hook and tighten inner catch to ERR_MODULE_NOT_FOUND
  packages/sdk/src/cli/ts-hook.mjs
Due: none

chore(sdk): enable SWC compress in ts-hook.mjs transform
  packages/sdk/src/cli/ts-hook.mjs
Due: none

fix(sdk): use registerHooks() when available to avoid DEP0205
  packages/sdk/knip.json
  packages/sdk/postinstall.mjs
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/ts-hook.d.mts
  packages/sdk/src/cli/ts-hook.mjs
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): remove undocumented amaro minify options; use namespace import in postinstall
  packages/sdk/postinstall.mjs
  packages/sdk/src/cli/ts-hook.mjs
Due: none

fix(sdk): use JSDoc cast in postinstall.mjs to avoid no-unnecessary-condition lint error
  packages/sdk/postinstall.mjs
Due: none

chore: add example migration 0004 for amaro/SWC whitespace differences
  example/migrations/0004/diff.json
  example/tests/migration-fixtures/app/migrations/.gitkeep
  example/tests/migration-fixtures/app/migrations/0000/schema.json
  example/tests/migration-fixtures/app/tailordb/.gitkeep
  example/tests/migration-fixtures/app/tailordb/salesOrder.ts
  example/tests/migration-fixtures/app/tailordb/supplier.ts
  example/tests/migration-fixtures/app/tailordb/user.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(cli): fail fast when IdP allowedReturnOrigins can't be resolved
  packages/sdk/src/cli/commands/deploy/idp.test.ts
  packages/sdk/src/cli/commands/deploy/idp.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): pass diff-based update mask and warn when auth connection requires re-authorization
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck
