Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(apply): convert ChangeSet class to factory functions
  packages/sdk/src/cli/apply/services/application.ts
  packages/sdk/src/cli/apply/services/auth.test.ts
  packages/sdk/src/cli/apply/services/auth.ts
  packages/sdk/src/cli/apply/services/executor.test.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/idp.test.ts
  packages/sdk/src/cli/apply/services/idp.ts
  packages/sdk/src/cli/apply/services/index.ts
  packages/sdk/src/cli/apply/services/resolver.test.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/staticwebsite.ts
  packages/sdk/src/cli/apply/services/tailordb.test.ts
  packages/sdk/src/cli/apply/services/tailordb.ts
  packages/sdk/src/cli/apply/services/workflow.test.ts
  packages/sdk/src/cli/apply/services/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(logger): convert Reporter class to factory function
  packages/sdk/src/cli/utils/logger.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(application): convert service classes to closure + method pattern
  packages/sdk/src/cli/application/auth/service.ts
  packages/sdk/src/cli/application/executor/service.ts
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(generator): convert GenerationManager and DependencyWatcher to factory functions
  packages/sdk/src/cli/application/auth/service.ts
  packages/sdk/src/cli/application/executor/service.ts
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/apply/services/index.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/generator/watch/index.test.ts
  packages/sdk/src/cli/generator/watch/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(configure): convert TailorField, TailorDBField, TailorDBType to factory functions
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(configure): replace shape-based type checks with Symbol branding
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/types/brand.ts
  packages/sdk/src/configure/types/index.ts
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck

test(tailordb): add fluent API type preservation tests
  packages/sdk/src/configure/services/tailordb/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add local testing support for workflows
  .changeset/workflow-local-test.md
  packages/create-sdk/templates/testing/src/workflow/trigger.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(application): convert define functions to pure functions
  packages/sdk/src/cli/application/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(configure): normalize undefined to null for optional fields
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck

allow machineUserAttributes without userProfile
  packages/sdk/docs/services/auth.md
  packages/sdk/src/cli/type-generator.test.ts
  packages/sdk/src/cli/type-generator.ts
  packages/sdk/src/configure/services/auth/index.test.ts
  packages/sdk/src/configure/services/auth/index.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/parser/service/auth/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for class to function refactor
  .changeset/refactor-class-to-function.md
Due: 2-format

fix exclusive
  packages/sdk/src/configure/services/auth/index.test.ts
  packages/sdk/src/configure/services/auth/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/configure/services/auth/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix create-sdk template
  packages/create-sdk/templates/testing/tailor.config.ts
Due: 3-lint, 4-typecheck

docs: add workflow testing section to testing guide
  packages/sdk/docs/testing.md
Due: 2-format

fix: local workflow.trigger return type
  packages/sdk/src/configure/services/workflow/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

docs: update workflow testing to use mainJob.trigger()
  packages/create-sdk/templates/testing/src/workflow/trigger.test.ts
  packages/sdk/docs/testing.md
Due: 2-format, 3-lint, 4-typecheck

refactor(app-config): centralize shared AppConfig types in parser
  packages/sdk/src/configure/config.ts
  packages/sdk/src/parser/app-config.ts
  packages/sdk/src/parser/app-config/index.ts
  packages/sdk/src/parser/app-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: restore getDistDir in configure
  packages/sdk/src/cli/apply/services/executor.test.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/resolver.test.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/workflow.test.ts
  packages/sdk/src/cli/apply/services/workflow.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/configure/config.ts
  packages/sdk/src/parser/app-config/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: refactor eslint.config.js
  packages/sdk/eslint.config.js
Due: 2-format, 3-lint, 4-typecheck

feat: add local testing support for workflows (#478)
  .changeset/workflow-local-test.md
  packages/create-sdk/templates/testing/src/workflow/trigger.test.ts
  packages/sdk/docs/testing.md
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/old-bobcats-fail.md
Due: 2-format

refactor(cli): move getDistDir to cli utils and update imports
  packages/sdk/src/cli/apply/services/executor.test.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/resolver.test.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/workflow.test.ts
  packages/sdk/src/cli/apply/services/workflow.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/utils/dist-dir.ts
  packages/sdk/src/configure/config.ts
Due: 2-format, 3-lint, 4-typecheck

feat: support `publishUserEvents` for idp
  .changeset/publish-user-events-idp.md
  packages/sdk/src/cli/apply/services/idp.ts
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/auth_pb.d.ts
  packages/tailor-proto/src/tailor/v1/auth_pb.js
  packages/tailor-proto/src/tailor/v1/idp_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_pb.js
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/service_pb.js
  packages/tailor-proto/src/tailor/v1/workspace_pb.js
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/tangy-coats-punch.md
Due: 2-format

feat: support `publishUserEvents` for idp (#482)
  .changeset/publish-user-events-idp.md
  packages/sdk/src/cli/apply/services/idp.ts
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/auth_pb.d.ts
  packages/tailor-proto/src/tailor/v1/auth_pb.js
  packages/tailor-proto/src/tailor/v1/idp_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_pb.js
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/service_pb.js
  packages/tailor-proto/src/tailor/v1/workspace_pb.js
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/gentle-spies-travel.md
Due: 2-format

Moved AppConfig and fixed imports (#474)
  .changeset/old-bobcats-fail.md
  packages/sdk/.oxlintrc.json
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/tailordb/erd/export.ts
  packages/sdk/src/cli/tailordb/erd/utils.ts
  packages/sdk/src/cli/type-generator.ts
  packages/sdk/src/configure/config.ts
  packages/sdk/src/parser/app-config/index.ts
  packages/sdk/src/parser/app-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

allow machineUserAttributes without userProfile (#479)
  .changeset/gentle-spies-travel.md
  packages/create-sdk/templates/testing/tailor.config.ts
  packages/sdk/docs/services/auth.md
  packages/sdk/src/cli/type-generator.test.ts
  packages/sdk/src/cli/type-generator.ts
  packages/sdk/src/configure/services/auth/index.test.ts
  packages/sdk/src/configure/services/auth/index.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/parser/service/auth/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: fix imports
  packages/sdk/src/cli/application/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

Moved getDistDir to cli utils and updated imports (#483)
  .changeset/tangy-coats-punch.md
  packages/sdk/src/cli/apply/services/executor.test.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/cli/apply/services/resolver.test.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/workflow.test.ts
  packages/sdk/src/cli/apply/services/workflow.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/utils/dist-dir.ts
  packages/sdk/src/configure/config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): remove configure dependency from TailorDB service
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/utils/brand.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: updated TailorDBServiceConfig imports
  packages/sdk/src/configure/services/tailordb/index.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: updated re-export of types
  packages/sdk/src/configure/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/solid-flowers-kick.md
Due: 2-format

refactor: updated imports in resolver cli
  .changeset/solid-flowers-kick.md
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/parser/service/resolver/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove Symbol brand from WorkflowJob, use Zod-only validation
  packages/sdk/src/cli/application/workflow/service.ts
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: split CLAUDE.md into conditional rule files
  .claude/rules/cli-logging.md
  .claude/rules/jsdoc.md
  .claude/rules/oxlint-tweaks.md
  .claude/rules/sdk-internals.md
  CLAUDE.md
Due: 2-format
