Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

feat(cli): use matcher for env-file completion and update politty to 0.4.2
  packages/sdk/package.json
  packages/sdk/src/cli/args.ts
  packages/sdk/src/cli/completion.test.ts
  packages/sdk/src/cli/options.test.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: update politty to 0.4.3
  .changeset/shell-completion-metadata.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

feat(llm-challenge): add --variant flag for A/B comparison of SDK APIs
  llm-challenge/README.md
  llm-challenge/problems/001-saas-subscription-platform/meta.json
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/problem.md
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/invoiceCreated.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/monthlyBillingCycle.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/subscriptionPlanChanged.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/resolvers/upgradeSubscription.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailor.config.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailordb/auditEvent.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailordb/invoice.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailordb/organization.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailordb/subscription.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailordb/usageRecord.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/workflows/billingCycle.ts
  llm-challenge/runner/run.ts
  llm-challenge/runner/score.ts
  llm-challenge/runner/solve.ts
  llm-challenge/shared/helpers.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): fall back to root problem.md and solution when variant dir missing
  llm-challenge/runner/run.ts
  llm-challenge/runner/solve.ts
Due: 2-format, 3-lint, 4-typecheck

feat: support `disableGqlOperations` for idp
  .changeset/disable-gql-operations-idp.md
  packages/sdk/src/cli/commands/apply/idp.ts
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/idp_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_pb.js
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

ci: add renovate auto review workflow with Claude
  .github/workflows/renovate-auto-review.yml
Due: 2-format

chore: add changeset
  .changeset/gentle-walls-knock.md
Due: 2-format

feat(cli): add `function test-run` command
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/index.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/bright-foxes-run.md
Due: 2-format

fix(cli): add JSDoc param descriptions and returns tags for lint compliance
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add OpenTelemetry tracing to generate command
  packages/sdk/src/cli/commands/generate/service.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/bright-spoons-glow.md
Due: 2-format

feat: add defineSecrets() API for declarative secret management in config
  packages/sdk/src/cli/commands/apply/apply.ts
  packages/sdk/src/cli/commands/apply/secrets.test.ts
  packages/sdk/src/cli/commands/apply/secrets.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/configure/services/index.ts
  packages/sdk/src/configure/services/secrets/index.test.ts
  packages/sdk/src/configure/services/secrets/index.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/secrets/index.ts
  packages/sdk/src/parser/service/secrets/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): add @toiroakr/lines-db to scaffold devDependencies
  llm-challenge/shared/scaffold/package.json
Due: 2-format

feat(llm-challenge): increase problem 001 difficulty with new tests and LLM traps
  llm-challenge/problems/001-saas-subscription-platform/meta.json
  llm-challenge/problems/001-saas-subscription-platform/problem.md
  llm-challenge/problems/001-saas-subscription-platform/solution/executors/upgradeAuditLog.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/subscription.ts
  llm-challenge/problems/001-saas-subscription-platform/tests/challenge.test.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/problem.md
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/upgradeAuditLog.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailordb/subscription.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: rename to gqlOperations with inverted semantics
  .changeset/disable-gql-operations-idp.md
  packages/sdk/src/cli/commands/apply/idp.ts
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/configure/services/idp/index.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: require string values in defineSecrets and remove direct property access
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/configure/services/secrets/index.test.ts
  packages/sdk/src/configure/services/secrets/index.ts
  packages/sdk/src/parser/app-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add "query" alias for gqlOperations
  .changeset/disable-gql-operations-idp.md
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/configure/services/idp/index.ts
  packages/sdk/src/parser/service/idp/gql-operations.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/parser/service/idp/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): fix test-run script name and support pre-bundled .js files
  packages/sdk/docs/cli/function.md
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-foxes-run.md
Due: 2-format

feat(create-sdk): add missing executor triggers to executor template
  packages/create-sdk/templates/executor/src/executor/onIdpUserCreated.ts
  packages/create-sdk/templates/executor/src/executor/onTokenIssued.ts
  packages/create-sdk/templates/executor/src/executor/onUserDeleted.ts
  packages/create-sdk/templates/executor/tailor.config.ts
Due: 3-lint, 4-typecheck

feat(create-sdk): add E2E test infrastructure and user-defined.d.ts to workflow template
  packages/create-sdk/templates/workflow/e2e/globalSetup.ts
  packages/create-sdk/templates/workflow/e2e/resolver.test.ts
  packages/create-sdk/templates/workflow/e2e/workflow.test.ts
  packages/create-sdk/templates/workflow/package.json
  packages/create-sdk/templates/workflow/src/resolver/incrementAge.ts
  packages/create-sdk/templates/workflow/tailor.config.ts
  packages/create-sdk/templates/workflow/user-defined.d.ts
  packages/create-sdk/templates/workflow/vitest.config.ts
  pnpm-lock.yaml
Due: 3-lint, 4-typecheck

fix(create-sdk): add missing graphql peer dependency to workflow template
  packages/create-sdk/templates/workflow/package.json
Due: none

fix(sdk,create-sdk): guard undefined user global in workflow bundler entry
  packages/create-sdk/templates/workflow/e2e/workflow.test.ts
  packages/create-sdk/templates/workflow/src/workflow/order-fulfillment.test.ts
  packages/create-sdk/templates/workflow/src/workflow/order-fulfillment.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk,create-sdk): revert typeof user workaround and improve E2E tests
  packages/create-sdk/templates/workflow/e2e/resolver.test.ts
  packages/create-sdk/templates/workflow/e2e/workflow.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): detect and restore scaffold file modifications during solve
  llm-challenge/runner/run.ts
  llm-challenge/runner/score.ts
Due: 2-format, 3-lint, 4-typecheck

chore(llm-challenge): increase default solve budget from $2 to $5
  llm-challenge/runner/run.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): guard undefined user global in workflow bundler entry
  packages/sdk/src/cli/services/workflow/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

feat(create-sdk): add remaining IdP and auth trigger variants to executor template
  packages/create-sdk/templates/executor/src/executor/onIdpUserDeleted.ts
  packages/create-sdk/templates/executor/src/executor/onIdpUserUpdated.ts
  packages/create-sdk/templates/executor/src/executor/onTokenRefreshed.ts
  packages/create-sdk/templates/executor/src/executor/onTokenRevoked.ts
Due: 3-lint, 4-typecheck

feat(ci): add template E2E tests to sdk-e2e workflow
  .github/workflows/sdk-e2e.yml
Due: 2-format

fix: update pnpm-lock.yaml for graphql dependency in workflow template
  pnpm-lock.yaml
Due: none

fix(create-sdk): regenerate template files and fix lint error
  packages/create-sdk/templates/executor/src/generated/db.ts
  packages/create-sdk/templates/generators/src/generated/db.ts
  packages/create-sdk/templates/generators/src/generated/enums.ts
  packages/create-sdk/templates/generators/src/generated/files.ts
  packages/create-sdk/templates/generators/src/seed/data/Category.jsonl
  packages/create-sdk/templates/generators/src/seed/data/Category.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Order.jsonl
  packages/create-sdk/templates/generators/src/seed/data/Order.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Product.jsonl
  packages/create-sdk/templates/generators/src/seed/data/Product.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/User.jsonl
  packages/create-sdk/templates/generators/src/seed/data/User.schema.ts
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/create-sdk/templates/resolver/src/resolver/showEnv.ts
  packages/create-sdk/templates/tailordb/src/generated/db.ts
  packages/create-sdk/templates/workflow/src/generated/db.ts
Due: 3-lint, 4-typecheck

chore: add changeset for workflow bundler user guard
  .changeset/warm-dogs-dance.md
Due: 2-format

fix(create-sdk): exclude auto-generated src/seed/ from lint in generators template
  packages/create-sdk/templates/generators/.oxlintrc.json
  packages/create-sdk/templates/generators/eslint.config.js
Due: 3-lint, 4-typecheck

fix: include templates in lefthook lint to match CI
  lefthook.yml
Due: 2-format

style: format template files with oxfmt
  packages/create-sdk/templates/executor/.prettierrc
  packages/create-sdk/templates/generators/.prettierrc
  packages/create-sdk/templates/generators/src/seed/data/Category.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Order.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Product.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/User.schema.ts
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/create-sdk/templates/resolver/.prettierrc
  packages/create-sdk/templates/static-web-site/.prettierrc
  packages/create-sdk/templates/static-web-site/public/callback.html
  packages/create-sdk/templates/static-web-site/public/index.html
  packages/create-sdk/templates/tailordb/.prettierrc
  packages/create-sdk/templates/workflow/.prettierrc
Due: 3-lint, 4-typecheck

fix: include templates in lefthook format check to match CI
  lefthook.yml
Due: 2-format

fix: add missing IdP seed helpers and include template-e2e- in cleanup prefixes
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/sdk/scripts/cleanup-e2e-workspaces.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
