Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore: add changesets for the plugin package rename
  .changeset/rename-erd-plugin-to-sdk-plugin-tailordb-erd.md
  .changeset/update-erd-plugin-install-hint-name.md
Due: 2-format

perf(cli): overlap function creates and updates
  packages/sdk/src/cli/commands/deploy/function-registry.test.ts
  packages/sdk/src/cli/commands/deploy/function-registry.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): update apply concurrency description
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
Due: 2-format

fix: mirror field optionality in generated machine user AttributeMap
  .changeset/machine-user-optional-attributes.md
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

chore: regenerate example generator fixtures
  example/tests/fixtures/expected/db.ts
  example/tests/fixtures/expected/seed/data/Customer.schema.ts
  example/tests/fixtures/expected/seed/data/Event.schema.ts
  example/tests/fixtures/expected/seed/data/Invoice.schema.ts
  example/tests/fixtures/expected/seed/data/NestedProfile.schema.ts
  example/tests/fixtures/expected/seed/data/ProductBundle.jsonl
  example/tests/fixtures/expected/seed/data/ProductBundle.schema.ts
  example/tests/fixtures/expected/seed/data/PurchaseOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrder.schema.ts
  example/tests/fixtures/expected/seed/data/User.schema.ts
  example/tests/fixtures/expected/seed/data/UserLog.schema.ts
  example/tests/fixtures/expected/seed/data/UserSetting.schema.ts
Due: 3-lint, 4-typecheck

refactor(sdk-plugin-seed): rename the shared invoker context to execution context
  packages/sdk-plugin-seed/src/apply.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): serialize secrets state updates per deploy target
  .changeset/serialize-secrets-state-writes.md
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
  packages/sdk/src/cli/commands/deploy/secret-manager.test.ts
  packages/sdk/src/cli/commands/deploy/secret-manager.ts
  packages/sdk/src/cli/commands/deploy/secrets-state-concurrency.test.ts
  packages/sdk/src/cli/commands/deploy/secrets-state.test.ts
  packages/sdk/src/cli/commands/deploy/secrets-state.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(deploy): harden secrets state lock acquisition
  packages/sdk/src/cli/commands/deploy/secrets-state.ts
Due: 2-format, 3-lint, 4-typecheck

test(deploy): avoid unhandled rejection in concurrency regression test
  packages/sdk/src/cli/commands/deploy/secrets-state-concurrency.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-plugin-seed): harden the seed apply runtime ported from exec.mjs
  packages/create-sdk/scripts/prepare-templates.js
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/jsonl.test.ts
  packages/sdk-plugin-seed/src/jsonl.ts
  packages/sdk/src/cli/shared/seed-context.test.ts
  packages/sdk/src/cli/shared/seed-context.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): log template updates only when a package was rewritten
  packages/create-sdk/scripts/prepare-templates.js
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): make secrets state lock recovery self-limiting
  packages/sdk/src/cli/commands/deploy/secrets-state.test.ts
  packages/sdk/src/cli/commands/deploy/secrets-state.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(deploy): replace pid liveness with lease-based lock staleness
  packages/sdk/src/cli/commands/deploy/secrets-state.test.ts
  packages/sdk/src/cli/commands/deploy/secrets-state.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-plugin-seed): resolve IdP context and distPath like generate, emit --json output
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/validate.ts
  packages/sdk/src/cli/shared/seed-context.test.ts
  packages/sdk/src/cli/shared/seed-context.ts
Due: 2-format, 3-lint, 4-typecheck

test(deploy): cover release of a taken-over secrets state lock
  packages/sdk/src/cli/commands/deploy/secrets-state.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): tighten seed CLI edge cases from review
  packages/sdk-codemod/src/registry.ts
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/shared/args.ts
  packages/sdk/src/cli/shared/seed-context.test.ts
  packages/sdk/src/cli/shared/seed-context.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover the seed plugin install hint
  packages/sdk/src/cli/shared/plugin.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): distrust secret hash state without matching remote updateTime
  packages/sdk/src/cli/commands/deploy/secret-manager.test.ts
  packages/sdk/src/cli/commands/deploy/secret-manager.ts
  packages/sdk/src/cli/commands/deploy/secrets-state-concurrency.test.ts
  packages/sdk/src/cli/commands/deploy/secrets-state.test.ts
  packages/sdk/src/cli/commands/deploy/secrets-state.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-plugin-seed): exit non-zero when a truncate is declined
  packages/sdk-plugin-seed/src/apply.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for secret update-time evidence
  .changeset/secret-state-update-time-evidence.md
Due: 2-format

ci: build the seed CLI plugin in install-deps so its bin resolves
  .github/actions/install-deps/action.yml
Due: 2-format

ci(release): clean untracked changeset outputs before release-PR checkout
  .github/scripts/resolve-pending-codemod-boundaries.sh
Due: none

fix(codemod): mark workflow-start-rename boundary as pending until it ships
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): keep permission operand keys usable when Attributes fields are optional
  .changeset/fix-optional-attributes-permission-keys.md
  packages/sdk/src/configure/services/idp/permission.test.ts
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/configure/services/tailordb/permission.test.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): move TailorDB erdSite config into tailordbErdPlugin({ sites })
  .changeset/erd-site-to-plugin.md
  .changeset/extract-erd-plugin.md
  example/tailor.config.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/codemod.yaml
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/tests/basic/expected.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/tests/basic/input.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/tests/dynamic-config/input.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/tests/empty-define-plugins/expected.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/tests/empty-define-plugins/input.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/tests/no-define-plugins/expected.ts
  packages/sdk-codemod/codemods/v2/erd-site-to-plugin/tests/no-define-plugins/input.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/transform.test.ts
  packages/sdk-codemod/tsdown.config.ts
  packages/sdk-plugin-tailordb-erd/README.md
  packages/sdk-plugin-tailordb-erd/package.json
  packages/sdk-plugin-tailordb-erd/src/deploy.ts
  packages/sdk-plugin-tailordb-erd/src/export.ts
  packages/sdk-plugin-tailordb-erd/src/local-schema.test.ts
  packages/sdk-plugin-tailordb-erd/src/local-schema.ts
  packages/sdk-plugin-tailordb-erd/src/plugin.ts
  packages/sdk-plugin-tailordb-erd/tsdown.config.ts
  packages/sdk/docs/migration/v2.md
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/tailordb-namespaces.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/types/tailordb.generated.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
