Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(llm-challenge): simplify solver code and add tmpPath cleanup
  llm-challenge/runner/solve.ts
  llm-challenge/runner/solver/codex.ts
Due: 2-format, 3-lint, 4-typecheck

fix(postinstall): fix generateUserTypes import path and call signature
  packages/sdk/postinstall.mjs
Due: none

docs: review and slim down CLAUDE.md based on best practices
  CLAUDE.md
Due: 2-format

chore: add changeset
  .changeset/fix-postinstall-types.md
Due: 2-format

chore: add changeset
  .changeset/review-claude-md.md
Due: 2-format

add json option
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

add test
  packages/sdk/src/cli/bundler/query/query-bundler.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(application): extract defineServices helper and clean up review feedback
  packages/sdk/src/cli/application/executor/service.ts
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/generator/plugin-type-generator.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-planets-smile.md
Due: 2-format

feat(sdk): add toResolverOutput function for TailorDBType conversion
  .changeset/funny-planes-admire.md
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/configure/services/resolver/index.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

test: add e2e tests for toResolverOutput with all field types
  example/e2e/resolver.test.ts
  example/generated/files.ts
  example/generated/tailordb.ts
  example/resolvers/passThrough.ts
  example/seed/data/ProfileComment.jsonl
  example/seed/data/ProfileComment.schema.ts
  example/seed/data/ProfileDetail.jsonl
  example/seed/data/ProfileDetail.schema.ts
  example/seed/exec.mjs
  example/seed/graphql/ProfileComment.graphql
  example/seed/graphql/ProfileDetail.graphql
  example/seed/mappings/ProfileComment.json
  example/seed/mappings/ProfileDetail.json
  example/tailordb/nested.ts
  example/tailordb/profileReference.ts
  example/tests/fixtures/expected/db.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add migration 0008 for new types and fields
  example/migrations/0008/diff.json
Due: 2-format

feat(plugin): unify Plugin and Generator systems with generation-time hooks
  .changeset/brave-plugins-unite.md
  packages/sdk/docs/generator/custom.md
  packages/sdk/docs/plugin/custom.md
  packages/sdk/docs/plugin/index.md
  packages/sdk/src/cli/generator/builtin/enum-constants/plugin.ts
  packages/sdk/src/cli/generator/builtin/file-utils/plugin.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/plugin.ts
  packages/sdk/src/cli/generator/builtin/seed/plugin.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/configure/config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/parser/plugin-config/generation-types.ts
  packages/sdk/src/parser/plugin-config/index.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/plugin/get-generated-type.test.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/src/plugin/manager.test.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

feat(tailordb): inline same-file script dependencies for hooks and validators
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.test.ts
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove void
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.ts
Due: 2-format, 3-lint, 4-typecheck

feat(tailordb): support relative named-import dependencies in hook/validator script inlining
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.test.ts
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.ts
  packages/sdk/src/parser/service/tailordb/test-fixtures/inliner-helper.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/seven-lamps-train.md
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.ts
Due: 2-format, 3-lint, 4-typecheck

update loadAccessToken to use profile from query options
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): introduce WorkflowService for consistency with other services
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/application/workflow/service.ts
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/warm-falcons-glow.md
Due: 2-format

refactor(workflow): inline printLoadedWorkflows into createWorkflowService
  packages/sdk/src/cli/application/workflow/service.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(services): replace getXXX() methods with getter properties across all services
  packages/sdk/src/cli/application/auth/service.ts
  packages/sdk/src/cli/application/executor/service.ts
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/application/workflow/service.ts
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/apply/services/executor.test.ts
  packages/sdk/src/cli/apply/services/function-registry.ts
  packages/sdk/src/cli/apply/services/resolver.test.ts
  packages/sdk/src/cli/apply/services/resolver.ts
  packages/sdk/src/cli/apply/services/tailordb/index.test.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/tailordb/migrate/generate.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/warm-falcons-glow.md
Due: 2-format

style: fix lint warnings in function-registry service
  packages/sdk/src/cli/apply/services/function-registry.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): align tests with async/await pattern from example/
  llm-challenge/problems/004-db-resolvers-with-workflow/problem.md
  llm-challenge/problems/004-db-resolvers-with-workflow/solution/resolvers/startProcessing/resolver.ts
  llm-challenge/problems/004-db-resolvers-with-workflow/tests/resolver.test.ts
  llm-challenge/problems/007-workflow-orchestration/problem.md
  llm-challenge/problems/007-workflow-orchestration/tests/workflow.test.ts
  llm-challenge/problems/009-multi-service-integration/tests/integration.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add missing @param descriptions to JSDoc comments
  packages/sdk/src/configure/services/executor/executor.ts
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/configure/types/type.ts
  packages/sdk/src/parser/app-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

docs: align createWorkflow JSDoc example with job.ts await guidance
  packages/sdk/src/configure/services/workflow/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add llm-challenge skill for project-level guidance
  .claude/skills/llm-challenge/SKILL.md
  .gitignore
Due: 2-format

chore: add changeset for JSDoc improvements
  .changeset/jsdoc-improvements.md
Due: 2-format

feat(llm-challenge): add custom error message requirement to problem 010
  llm-challenge/problems/010-fix-broken-model/problem.md
  llm-challenge/problems/010-fix-broken-model/tests/model.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: remove unnecessary Zod brand from Plugin schema to resolve type mismatch
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/tailordb/migrate/generate.ts
  packages/sdk/src/parser/plugin-config/schema.ts
Due: 2-format, 3-lint, 4-typecheck

install node-sql-parser
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

refactor(cli): eliminate explicit any from config-loader and plugin-type-generator
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/generator/plugin-type-generator.ts
  packages/sdk/src/parser/generator-config/index.ts
Due: 2-format, 3-lint, 4-typecheck

enhance query namespace resolution and add SQL type extraction functionality
  packages/sdk/src/cli/query/errors.ts
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/sql-type-extractor.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/cli/tailordb/truncate.ts
  packages/sdk/src/cli/utils/tailordb-namespace.test.ts
  packages/sdk/src/cli/utils/tailordb-namespace.ts
Due: 2-format, 3-lint, 4-typecheck

fix lock-file
  pnpm-lock.yaml
Due: none

fix namespace comment
  .changeset/cruel-chicken-stay.md
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add typed API overloads to get/list/executions/jobs commands
  packages/sdk/src/cli/executor/get.api-types.test.ts
  packages/sdk/src/cli/executor/get.ts
  packages/sdk/src/cli/executor/jobs.api-types.test.ts
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/workflow/executions.api-types.test.ts
  packages/sdk/src/cli/workflow/executions.ts
  packages/sdk/src/cli/workflow/get.api-types.test.ts
  packages/sdk/src/cli/workflow/get.ts
Due: 2-format, 3-lint, 4-typecheck

fix json output
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for typed API overloads
  .changeset/typed-apis-get-list.md
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
