Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

Add authInvoker support to resolver
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/cli/commands/apply/resolver.test.ts
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/configure/services/resolver/resolver.test.ts
  packages/sdk/src/parser/service/resolver/schema.ts
  packages/sdk/src/types/resolver.generated.ts
Due: 2-format, 3-lint, 4-typecheck

Document that authInvoker does not change body's user context
  packages/sdk/docs/services/resolver.md
Due: 2-format

Add changeset for resolver authInvoker
  .changeset/every-apes-marry.md
Due: 2-format

Remove redundant nullish coalescing on authInvoker
  packages/sdk/src/cli/commands/apply/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

Use AuthInvokerSchema via z.lazy() to avoid circular initialization
  packages/sdk/src/parser/service/resolver/schema.ts
Due: 2-format, 3-lint, 4-typecheck

Add comment explaining getter pattern for AuthInvokerSchema
  packages/sdk/src/parser/service/resolver/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): await token revocation in logout to prevent silent failures
  packages/sdk/src/cli/commands/logout.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add multi-OS, package manager, and runtime test matrix to CI
  .github/actions/install-deps/action.yml
  .github/workflows/generate.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/template-tests.yml
  .github/workflows/test.yml
Due: 2-format

feat: add Bun runtime support for CLI
  packages/sdk/package.json
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/client.ts
  packages/sdk/src/cli/shared/runtime.test.ts
  packages/sdk/src/cli/shared/runtime.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

test: add createTransport runtime-conditional tests
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): close undici connection pool after login and revoke access_token on machine user logout
  packages/sdk/knip.json
  packages/sdk/src/cli/commands/login.ts
  packages/sdk/src/cli/commands/logout.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

test(e2e): increase workflow test timeout from 120s to 180s
  packages/create-sdk/templates/workflow/e2e/workflow.test.ts
Due: 3-lint, 4-typecheck

refactor(cli): use OAuth2Client.clientCredentials() for machine user token fetch
  packages/sdk/src/cli/commands/login.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): use static import for undici getGlobalDispatcher
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): use null instead of empty string for missing refreshToken in revoke
  packages/sdk/src/cli/commands/logout.ts
Due: 2-format, 3-lint, 4-typecheck

fix: address review findings for Bun runtime support
  .github/workflows/pkg-pr-new.yml
  .github/workflows/test.yml
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): simplify logout token revocation with destructuring and warn on failure
  packages/sdk/src/cli/commands/logout.ts
Due: 2-format, 3-lint, 4-typecheck

fix: add bun to PM smoke test matrix and document Deno runtime status
  .github/workflows/pkg-pr-new.yml
  packages/sdk/src/cli/shared/runtime.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): disable keyring by default for V1 config compatibility
  packages/sdk/src/cli/shared/context.test.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/secure-token-storage.md
Due: 2-format

fix(cli): add clear error messages for unsupported config versions
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

test: add CLI bootstrap verification step for Bun smoke tests
  .github/workflows/pkg-pr-new.yml
Due: 2-format

fix: correct stale config references and revert unrelated label.ts change
  example/.oxlintrc.json
  packages/sdk/.oxlintrc.json
  packages/sdk/src/cli/commands/apply/label.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add docs-check skill for searching Tailor Platform documentation
  .claude/skills/docs-check/SKILL.md
  .gitignore
  CLAUDE.md
Due: 2-format

docs: document scaffold and install design decisions in smoke workflow
  .github/workflows/pkg-pr-new.yml
Due: 2-format

chore: update CI workflows, docs, and gitignore for vite-plus migration
  .github/actions/install-deps/action.yml
  .github/workflows/generate.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/sdk-e2e.yml
  .github/workflows/test.yml
  .gitignore
  CLAUDE.md
  README.md
  docs/getting-started.md
  docs/testing.md
Due: 2-format

refactor: remove static site structure from docs-check skill
  .claude/skills/docs-check/SKILL.md
Due: 2-format

feat(cli): add min_sdk_version to V2 config for upgrade guidance
  packages/sdk/src/cli/shared/context.test.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update schema-types rule to reference pnpm check instead of turbo
  .claude/rules/schema-types.md
Due: 2-format

chore: remove TURBO_HASH stripping from llm-challenge env sanitizer
  llm-challenge/runner/solver/shared.test.ts
  llm-challenge/runner/solver/shared.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for Bun runtime support
  .changeset/bun-runtime-support.md
Due: 2-format

fix: correct oven-sh/setup-bun commit SHA in smoke workflow
  .github/workflows/pkg-pr-new.yml
Due: 2-format

fix: remove -r flag from sdk-e2e vp run to scope tests to packages/sdk
  .github/workflows/sdk-e2e.yml
  .github/workflows/test.yml
Due: 2-format

fix: skip create-sdk internal install during smoke scaffold step
  .github/workflows/pkg-pr-new.yml
Due: 2-format

fix: add CREATE_SDK_NO_INSTALL env var to skip scaffold install
  .github/workflows/pkg-pr-new.yml
  packages/create-sdk/src/init.ts
Due: 2-format, 3-lint, 4-typecheck

fix: resolve catalog: specs in prepare-templates for scaffolded projects
  packages/create-sdk/scripts/prepare-templates.js
Due: 2-format, 3-lint, 4-typecheck

fix: add missing @tailor-platform/function-types to hello-world template
  packages/create-sdk/templates/hello-world/package.json
Due: none

chore: update pnpm-lock.yaml for hello-world template dependency
  pnpm-lock.yaml
Due: none
