Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

test(sdk): assert strict scalar exports directly
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/types/type.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): preserve auth scalar attribute types
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): configure git identity for release tags and verify releases exist
  .github/scripts/verify-github-releases.sh
  .github/workflows/release.yml
Due: 2-format

fix(ci): create release tags via gh instead of local git
  .github/scripts/ensure-github-releases.sh
  .github/scripts/sync-published-tags.sh
  .github/scripts/verify-github-releases.sh
  .github/workflows/release.yml
Due: 2-format

fix(ci): scope release creation to versions changed at HEAD
  .github/scripts/ensure-github-releases.sh
  .github/workflows/release.yml
Due: 2-format

test: defer CLI positional field extraction
  packages/sdk/src/cli/options.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): reject unbranded user profile type keys
  packages/sdk/src/parser/service/auth/index.test.ts
  packages/sdk/src/parser/service/tailordb/builder-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): preserve multi-config build artifacts
  packages/sdk/src/cli/cache/manager.test.ts
  packages/sdk/src/cli/cache/manager.ts
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

test(example): expect uuid resolver input as ID
  example/e2e/resolver.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add scalar string helpers
  .changeset/strict-tailor-field-strings.md
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/types/field-format.ts
  packages/sdk/src/configure/types/index.ts
  packages/sdk/src/configure/types/scalar.test.ts
  packages/sdk/src/configure/types/scalar.ts
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): dedup deploy ownership classification via owned-resource helpers
  .changeset/dedup-deploy-ownership.md
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
  packages/sdk/src/cli/commands/deploy/auth.ts
  packages/sdk/src/cli/commands/deploy/function-registry.ts
  packages/sdk/src/cli/commands/deploy/idp.ts
  packages/sdk/src/cli/commands/deploy/resolver.ts
  packages/sdk/src/cli/commands/deploy/secret-manager.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): read release-check package metadata from git, not disk
  .github/scripts/ensure-github-releases.sh
Due: none

docs(changeset): clarify deploy ownership refactor note
  .changeset/dedup-deploy-ownership.md
Due: 2-format

fix(codemod): preserve runtime helper imports
  packages/sdk-codemod/codemods/v2/auth-connection-token-helper/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/auth-connection-token-helper/tests/default-value-runtime-reference/expected.ts
  packages/sdk-codemod/codemods/v2/auth-connection-token-helper/tests/default-value-runtime-reference/input.ts
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/tests/type-only-idp-with-runtime-value/expected.ts
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/tests/type-only-idp-with-runtime-value/input.ts
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/tests/type-only-idp/expected.ts
  packages/sdk-codemod/src/ast-grep-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): use explicit || true instead of trailing return 0
  .github/scripts/ensure-github-releases.sh
Due: none

fix(ci): clean up release-notes temp file on failure via EXIT trap
  .github/scripts/ensure-github-releases.sh
Due: none

chore: update pinned GitHub Actions to latest versions
  .github/workflows/changeset-check.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-consistency-check.yml
  .github/workflows/generate.yml
  .github/workflows/migration.yml
  .github/workflows/renovate-auto-review.yml
  .github/workflows/sdk-e2e.yml
  .github/workflows/test.yml
  .github/workflows/update_aqua_checksum.yml
Due: 2-format

fix: pin check-licenses to a full commit SHA, not the v1 tag
  .github/workflows/check-license.yml
Due: 2-format

ci: rename check-licenses org variable references
  .github/workflows/check-license.yml
Due: 2-format

feat(example): add htmx people search demo via HTTP adapters
  example/adapters/people-page.ts
  example/adapters/people-rows.ts
  example/tailordb/user.ts
Due: 2-format, 3-lint, 4-typecheck

feat(example): add Tailor logo favicon via SVG HTTP adapter
  example/adapters/favicon-svg.ts
  example/adapters/people-page.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(example): render people list from the page adapter's GraphQL output
  example/adapters/favicon-svg.ts
  example/adapters/people-page.ts
  example/adapters/people-rows.ts
Due: 2-format, 3-lint, 4-typecheck

docs(example): add Show & Tell runbook for profiles and machine-user override
  machine-user-demo.html
Due: none

docs(example): add Japanese machine-user demo and update English runbook to 2-part structure
  machine-user-demo-ja.html
Due: none

docs(example): add platform settings to profile demo runbooks
  machine-user-demo-ja.html
  machine-user-demo.html
Due: none

docs(example): note that profile create reads platform env vars automatically
  machine-user-demo-ja.html
  machine-user-demo.html
Due: none

docs(example): restore explicit platform flags in profile create demo
  machine-user-demo-ja.html
  machine-user-demo.html
Due: none

docs(example): remove redundant Part 3 platform reference section
  machine-user-demo-ja.html
  machine-user-demo.html
Due: none

fix(example): correct console URL placeholder to real dev environment URL
  machine-user-demo-ja.html
  machine-user-demo.html
Due: none

fix(example): pass platform flags directly instead of via env vars
  machine-user-demo-ja.html
  machine-user-demo.html
Due: none

fix(example): mark machineUser and platformUrl as conditionally shown in profile list
  machine-user-demo-ja.html
  machine-user-demo.html
Due: none

docs(example): add write mutation step and viewer-machine-user to demo PROFILE_MACHINE_USER_OVERRIDE_DENIED
  example/tailor.config.ts
  machine-user-demo-ja.html
  machine-user-demo.html
Due: 2-format, 3-lint, 4-typecheck

fix(cli): namespace resolver bundle cache keys
  .changeset/quiet-bundles-warm.md
  packages/sdk/src/cli/cache/bundle-cache.test.ts
  packages/sdk/src/cli/cache/bundle-cache.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
Due: 2-format, 3-lint, 4-typecheck
