Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs: update add-migration-rule skill with renamePropertyAccess and transformTupleArgsToCall documentation
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

docs: add comprehensive test pattern documentation to add-migration-rule skill
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

docs: compress add-migration-rule skill from 1287 to 327 lines
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

chore: generalize test fixture exclusion patterns to support any directory name
  .claude/skills/add-migration-rule/SKILL.md
  packages/sdk/eslint.config.js
  packages/sdk/src/cli/commands/upgrade/rules/v2/index.ts
  packages/sdk/tsconfig.json
Due: 2-format, 3-lint, 4-typecheck

feat: add V2 migration rules for executor triggers and auth attributes rename
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-auth-attributes/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-auth-attributes/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-executor-triggers/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-executor-triggers/output.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/index.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-auth-attributes.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-auth-attributes.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-executor-triggers.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-executor-triggers.ts
Due: 2-format, 3-lint, 4-typecheck

docs: clarify comment/string transformation scope in add-migration-rule skill
  .claude/skills/add-migration-rule/SKILL.md
Due: 2-format

Revert "feat: add V2 migration rules for executor triggers and auth attributes rename"
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-auth-attributes/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-auth-attributes/output.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-executor-triggers/input.ts
  packages/sdk/src/cli/commands/upgrade/__test_fixtures__/v2/rename-executor-triggers/output.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/index.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-auth-attributes.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-auth-attributes.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-executor-triggers.test.ts
  packages/sdk/src/cli/commands/upgrade/rules/v2/rename-executor-triggers.ts
Due: 2-format, 3-lint, 4-typecheck

fix: prevent substring corruption, nested property mismatches, and dry-run chaining gaps in codemod engine
  .gitignore
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
  packages/sdk/src/cli/commands/upgrade/rule-helpers.ts
  packages/sdk/src/cli/commands/upgrade/service.test.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
  packages/sdk/src/cli/commands/upgrade/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix: detect shorthand properties, prevent skipped-rule leaks, and merge dry-run diffs correctly
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
  packages/sdk/src/cli/commands/upgrade/reporter.test.ts
  packages/sdk/src/cli/commands/upgrade/reporter.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
Due: 2-format, 3-lint, 4-typecheck

fix: handle shorthand duplicates and trailing comments in addProperty, add sourceOverride to transformJsonFile
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck

docs: document structural helper first-object assumption and interactive diffs contract
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
Due: 2-format, 3-lint, 4-typecheck

test: add unit tests for createRule helper covering transform, dry-run, and fileOverrides
  packages/sdk/src/cli/commands/upgrade/rule-helpers.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract shared helpers applyEdits, findOutermostObject, findDirectPair in codemod engine
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: replace custom promptConfirm with shared prompt.confirm utility
  packages/sdk/src/cli/commands/upgrade/service.test.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove .agent/tmp/ from tracked .gitignore
  .gitignore
Due: none

chore: add changeset for upgrade command feature
  .changeset/upgrade-command-infra.md
Due: 2-format

fix: extend eslint ignore glob to cover files directly in upgrade test fixtures
  packages/sdk/eslint.config.js
Due: 2-format, 3-lint, 4-typecheck

fix: handle shorthand properties and spread elements in removeProperty
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add CLI documentation for upgrade command
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/upgrade.md
  packages/sdk/src/cli/docs.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add migration rule guide reference to CLAUDE.md
  CLAUDE.md
Due: 2-format

refactor: replace upgrade rule registry class with factory
  packages/sdk/src/cli/commands/upgrade/rule-registry.test.ts
  packages/sdk/src/cli/commands/upgrade/rule-registry.ts
  packages/sdk/src/cli/commands/upgrade/rules/index.ts
  packages/sdk/src/cli/commands/upgrade/service.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: preserve method receivers in transformCallArguments
  packages/sdk/src/cli/commands/upgrade/codemod-engine.test.ts
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck

fix: skip no-diff interactive rules in upgrade service
  packages/sdk/src/cli/commands/upgrade/service.test.ts
  packages/sdk/src/cli/commands/upgrade/service.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): migrate command index to politty auto-generation
  packages/sdk/docs/cli-reference.md
Due: 2-format

docs: add CLI documentation workflow to CLAUDE.md
  CLAUDE.md
Due: 2-format

feat(setup-github): use tailor-platform/actions/deploy composite action
  .changeset/reusable-deploy-workflow.md
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/fetch-tailor-token.action.yml
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/install-node.action.yml
  packages/sdk/src/cli/commands/setup/github/setup-bun.yml
  packages/sdk/src/cli/commands/setup/github/setup-npm.yml
  packages/sdk/src/cli/commands/setup/github/setup-pnpm.yml
  packages/sdk/src/cli/commands/setup/github/setup-yarn.yml
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
  packages/sdk/src/cli/commands/setup/github/template-fetch-tailor-token.ts
  packages/sdk/src/cli/commands/setup/github/template-install-node.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use recursive glob in tsconfig exclude for upgrade test fixtures
  packages/sdk/tsconfig.json
Due: 2-format

refactor(lint): replace ESLint require-jsdoc with TypeScript Compiler API validation
  packages/sdk/eslint.config.js
  packages/sdk/package.json
  packages/sdk/scripts/api-doc-check.js
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/plugin/builtin/enum-constants/index.ts
  packages/sdk/src/plugin/builtin/file-utils/index.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(lint): skip @internal symbols in public API doc check
  packages/sdk/scripts/api-doc-check.js
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/plugin/builtin/enum-constants/index.ts
  packages/sdk/src/plugin/builtin/file-utils/index.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use function replacer in renameIdentifiers to avoid regex $ interpolation
  packages/sdk/src/cli/commands/upgrade/codemod-engine.ts
Due: 2-format, 3-lint, 4-typecheck

test(lint): add tests for api-doc-check script
  packages/sdk/scripts/__tests__/api-doc-check.test.ts
  packages/sdk/scripts/__tests__/fixtures/documented.ts
  packages/sdk/scripts/__tests__/fixtures/external-re-export.ts
  packages/sdk/scripts/__tests__/fixtures/internal.ts
  packages/sdk/scripts/__tests__/fixtures/mixed.ts
  packages/sdk/scripts/__tests__/fixtures/re-export-entry.ts
  packages/sdk/scripts/__tests__/fixtures/re-export-source.ts
  packages/sdk/scripts/__tests__/fixtures/type-only.ts
  packages/sdk/scripts/__tests__/fixtures/undocumented.ts
  packages/sdk/scripts/api-doc-check.d.ts
  packages/sdk/scripts/api-doc-check.js
Due: 2-format, 3-lint, 4-typecheck

ci(lint): run docs:api-check in pre-commit hook
  lefthook.yml
  turbo.json
Due: 2-format

refactor(lint): remove @internal escape hatch from api-doc-check
  packages/sdk/scripts/__tests__/api-doc-check.test.ts
  packages/sdk/scripts/__tests__/fixtures/internal.ts
  packages/sdk/scripts/__tests__/fixtures/mixed.ts
  packages/sdk/scripts/api-doc-check.js
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/plugin/builtin/enum-constants/index.ts
  packages/sdk/src/plugin/builtin/file-utils/index.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(lint): rename api-doc-check to lint-public-api
  lefthook.yml
  packages/sdk/eslint.config.js
  packages/sdk/package.json
  packages/sdk/scripts/__tests__/lint-public-api.test.ts
  packages/sdk/scripts/lint-public-api.d.ts
  packages/sdk/scripts/lint-public-api.js
  turbo.json
Due: 2-format, 3-lint, 4-typecheck

chore: add .agent/tmp to gitignore
  .gitignore
Due: none

fix(lint): add lint:public-api to check pipeline and exclude test fixtures from vitest
  packages/sdk/vitest.config.ts
  turbo.json
Due: 2-format, 3-lint, 4-typecheck

ci(lint): add lint:public-api to CI workflow and document cross-platform path behavior
  .github/workflows/ci.yml
  packages/sdk/scripts/lint-public-api.js
Due: 2-format, 3-lint, 4-typecheck

fix(ci): use --filter for lint:public-api in CI and document type export scope
  .github/workflows/ci.yml
  packages/sdk/scripts/lint-public-api.js
Due: 2-format, 3-lint, 4-typecheck

refactor(lint): remove redundant REQUIRED_KINDS set in lint-public-api
  packages/sdk/scripts/lint-public-api.js
Due: 2-format, 3-lint, 4-typecheck

chore: revert unrelated .gitignore change
  .gitignore
Due: none

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
