Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(create-sdk): fix resolver typecheck and exclude seed from format
  .prettierignore
  packages/create-sdk/templates/generators/.prettierignore
  packages/create-sdk/templates/generators/src/seed/data/Category.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Order.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/Product.schema.ts
  packages/create-sdk/templates/generators/src/seed/data/User.schema.ts
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/create-sdk/templates/inventory-management/user-defined.d.ts
  packages/create-sdk/templates/resolver/src/resolver/add.test.ts
  packages/create-sdk/templates/resolver/src/resolver/queryUser.test.ts
  packages/create-sdk/templates/resolver/src/resolver/showEnv.test.ts
  packages/create-sdk/templates/resolver/src/resolver/showUserInfo.test.ts
  packages/create-sdk/templates/resolver/user-defined.d.ts
  packages/create-sdk/templates/tailordb/user-defined.d.ts
  packages/create-sdk/templates/workflow/user-defined.d.ts
Due: 3-lint, 4-typecheck

fix(create-sdk): add missing seedIdpUser and truncateIdpUser to generators template
  packages/create-sdk/templates/generators/src/seed/exec.mjs
Due: none

fix(create-sdk): remove order-fulfillment E2E test that times out
  packages/create-sdk/templates/workflow/e2e/workflow.test.ts
Due: 3-lint, 4-typecheck

fix(sdk): fix undefined vs null check in seed plugin IdP user detection
  packages/create-sdk/templates/generators/src/seed/exec.mjs
  packages/create-sdk/templates/generators/tailor.config.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): add unit tests for processIdpUser in seed plugin
  .prettierignore
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.test.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): add missing function-types devDependency to static-web-site template
  packages/create-sdk/templates/static-web-site/package.json
  pnpm-lock.yaml
Due: none

fix(llm-challenge): increase solve timeout from 10 to 20 minutes
  llm-challenge/runner/solver/claude.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): support parallel variant execution with isolated work dirs
  llm-challenge/runner/run.ts
  llm-challenge/runner/verify.ts
  llm-challenge/shared/test-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add problem 002 for createType vs fluent API comparison
  llm-challenge/problems/002-project-management/meta.json
  llm-challenge/problems/002-project-management/problem.md
  llm-challenge/problems/002-project-management/scaffold/tailor.config.ts
  llm-challenge/problems/002-project-management/solution/tailor.config.ts
  llm-challenge/problems/002-project-management/solution/tailordb/activityLog.ts
  llm-challenge/problems/002-project-management/solution/tailordb/member.ts
  llm-challenge/problems/002-project-management/solution/tailordb/project.ts
  llm-challenge/problems/002-project-management/solution/tailordb/task.ts
  llm-challenge/problems/002-project-management/solution/tailordb/team.ts
  llm-challenge/problems/002-project-management/tests/challenge.test.ts
  llm-challenge/problems/002-project-management/variants/fluent/problem.md
  llm-challenge/problems/002-project-management/variants/fluent/solution/tailor.config.ts
  llm-challenge/problems/002-project-management/variants/fluent/solution/tailordb/activityLog.ts
  llm-challenge/problems/002-project-management/variants/fluent/solution/tailordb/member.ts
  llm-challenge/problems/002-project-management/variants/fluent/solution/tailordb/project.ts
  llm-challenge/problems/002-project-management/variants/fluent/solution/tailordb/task.ts
  llm-challenge/problems/002-project-management/variants/fluent/solution/tailordb/team.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: use SecretsConfig type alias and rename defineSecretsForApplication
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/secrets/schema.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract SecretsConfigInput type to types.ts for consistency
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/parser/app-config/types.ts
  packages/sdk/src/parser/service/secrets/index.ts
  packages/sdk/src/parser/service/secrets/schema.ts
  packages/sdk/src/parser/service/secrets/types.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): increase problem 002 difficulty with trap tests
  llm-challenge/problems/002-project-management/meta.json
  llm-challenge/problems/002-project-management/problem.md
  llm-challenge/problems/002-project-management/solution/tailordb/member.ts
  llm-challenge/problems/002-project-management/tests/challenge.test.ts
  llm-challenge/problems/002-project-management/variants/fluent/problem.md
  llm-challenge/problems/002-project-management/variants/fluent/solution/tailordb/member.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: avoid unnecessary array allocation in convertGqlOperationsToDisable
  packages/sdk/src/cli/commands/apply/idp.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): remove code examples from problem 002 descriptions
  llm-challenge/problems/002-project-management/problem.md
  llm-challenge/problems/002-project-management/variants/fluent/problem.md
Due: 2-format

fix: default gqlOperations fields to true for IdP, matching TailorDB behavior
  packages/sdk/src/cli/commands/apply/idp.ts
Due: 2-format, 3-lint, 4-typecheck

fix: make get/getAll non-enumerable to prevent SecretsSchema parse failure
  packages/sdk/src/configure/services/secrets/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): support named export main in function test-run
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-foxes-run.md
Due: 2-format

fix(tailordb): fix declaration order in hooks/validate bundler to respect TDZ
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.test.ts
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): exclude variant dirs from typecheck and restore scaffold on retry
  llm-challenge/runner/run.ts
  llm-challenge/tsconfig.json
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): preserve variant from source report during infra reruns
  llm-challenge/runner/run.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): validate variant in partial-results resume
  llm-challenge/runner/run.ts
  packages/sdk/src/configure/services/tailordb/createType.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): clear executedGenerators on generate() re-invocation
  packages/sdk/src/cli/commands/generate/service.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): pass config.inlineSourcemap to bundler and add user context to workflow-job entry
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): extract restoreScaffoldFiles helper to deduplicate scaffold restore logic
  llm-challenge/runner/run.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract snapshotScaffoldFiles helper and inline single-use descriptor type aliases
  llm-challenge/runner/run.ts
  packages/sdk/src/configure/services/tailordb/createType.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add developer documentation for SDK contributors
  .claude/rules/changeset.md
  CLAUDE.md
  docs/README.md
  docs/architecture.md
  docs/changeset.md
  docs/getting-started.md
  docs/testing.md
Due: 2-format

refactor(cli): align generator scheduling with plugin hook model
  packages/sdk/src/cli/commands/generate/service.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-spoons-glow.md
Due: 2-format

refactor(tailordb): replace ESLint-based findUndefinedReferences with oxc-parser AST walker
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): throw build-time error instead of warning on unresolvable hook/validate variables
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): replace verbatim code hints with natural language in problem descriptions
  llm-challenge/problems/001-saas-subscription-platform/problem.md
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/problem.md
  llm-challenge/problems/002-project-management/problem.md
  llm-challenge/problems/002-project-management/variants/fluent/problem.md
Due: 2-format

docs(llm-challenge): update README problem table for problem 002
  llm-challenge/README.md
Due: 2-format

chore: update politty to 0.4.4
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

perf(tailordb): resolve tsconfig once per loadTypes instead of per type file
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

docs: fix misleading comment in collectSourceBindings export slicing
  packages/sdk/src/cli/bundler/tailordb/hooks-validate-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): rename problem 002 from project-management to type-definition-styles
  llm-challenge/README.md
  llm-challenge/problems/002-type-definition-styles/meta.json
  llm-challenge/problems/002-type-definition-styles/problem.md
  llm-challenge/problems/002-type-definition-styles/scaffold/tailor.config.ts
  llm-challenge/problems/002-type-definition-styles/solution/tailor.config.ts
  llm-challenge/problems/002-type-definition-styles/solution/tailordb/activityLog.ts
  llm-challenge/problems/002-type-definition-styles/solution/tailordb/member.ts
  llm-challenge/problems/002-type-definition-styles/solution/tailordb/project.ts
  llm-challenge/problems/002-type-definition-styles/solution/tailordb/task.ts
  llm-challenge/problems/002-type-definition-styles/solution/tailordb/team.ts
  llm-challenge/problems/002-type-definition-styles/tests/challenge.test.ts
  llm-challenge/problems/002-type-definition-styles/variants/fluent/problem.md
  llm-challenge/problems/002-type-definition-styles/variants/fluent/solution/tailor.config.ts
  llm-challenge/problems/002-type-definition-styles/variants/fluent/solution/tailordb/activityLog.ts
  llm-challenge/problems/002-type-definition-styles/variants/fluent/solution/tailordb/member.ts
  llm-challenge/problems/002-type-definition-styles/variants/fluent/solution/tailordb/project.ts
  llm-challenge/problems/002-type-definition-styles/variants/fluent/solution/tailordb/task.ts
  llm-challenge/problems/002-type-definition-styles/variants/fluent/solution/tailordb/team.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): make variants symmetric with shared solution overlay
  llm-challenge/README.md
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/problem.md
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/auditEvent.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/invoice.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/organization.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/subscription.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/usageRecord.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/invoiceCreated.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/monthlyBillingCycle.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/subscriptionPlanChanged.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/executors/upgradeAuditLog.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/resolvers/upgradeSubscription.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/tailor.config.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/fluent/solution/workflows/billingCycle.ts
  llm-challenge/problems/002-type-definition-styles/variants/createType/problem.md
  llm-challenge/problems/002-type-definition-styles/variants/createType/solution/tailordb/activityLog.ts
  llm-challenge/problems/002-type-definition-styles/variants/createType/solution/tailordb/member.ts
  llm-challenge/problems/002-type-definition-styles/variants/createType/solution/tailordb/project.ts
  llm-challenge/problems/002-type-definition-styles/variants/createType/solution/tailordb/task.ts
  llm-challenge/problems/002-type-definition-styles/variants/createType/solution/tailordb/team.ts
  llm-challenge/problems/002-type-definition-styles/variants/fluent/solution/tailor.config.ts
  llm-challenge/runner/run.ts
  llm-challenge/runner/solve.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): remove variants from problem 001 and use fluent as sole solution
  llm-challenge/README.md
  llm-challenge/problems/001-saas-subscription-platform/meta.json
  llm-challenge/problems/001-saas-subscription-platform/problem.md
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/auditEvent.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/invoice.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/organization.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/subscription.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/usageRecord.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/problem.md
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/auditEvent.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/invoice.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/organization.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/subscription.ts
  llm-challenge/problems/001-saas-subscription-platform/variants/createType/solution/tailordb/usageRecord.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): unify problem 002 descriptions into template with vars.json substitution
  llm-challenge/problems/002-type-definition-styles/problem.md
  llm-challenge/problems/002-type-definition-styles/variants/createType/problem.md
  llm-challenge/problems/002-type-definition-styles/variants/createType/vars.json
  llm-challenge/problems/002-type-definition-styles/variants/fluent/vars.json
  llm-challenge/runner/solve.ts
Due: 2-format, 3-lint, 4-typecheck
