Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix: test
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailor-proto): regenerate proto stubs
  packages/tailor-proto/src/tailor/v1/aigateway_pb.d.ts
  packages/tailor-proto/src/tailor/v1/aigateway_pb.js
  packages/tailor-proto/src/tailor/v1/aigateway_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/aigateway_resource_pb.js
  packages/tailor-proto/src/tailor/v1/auth_pb.d.ts
  packages/tailor-proto/src/tailor/v1/auth_pb.js
  packages/tailor-proto/src/tailor/v1/idp_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/service_pb.js
  packages/tailor-proto/src/tailor/v1/telemetryrouter_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetryrouter_pb.js
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetryrouter_resource_pb.js
Due: 3-lint, 4-typecheck

refactor(deploy): drop temporary UpdateAuthConnection type shims
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-codemod): allow aliased idp migrations with local idp
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/tests/aliased-idp-import-local-idp/expected.ts
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/tests/aliased-idp-import-local-idp/input.ts
Due: 2-format, 3-lint, 4-typecheck

fix: tighten schema parsing review gaps
  packages/sdk/src/cli/query/type-field-order.test.ts
  packages/sdk/src/cli/query/type-field-order.ts
  packages/sdk/src/parser/schema-strict.test.ts
  packages/sdk/src/parser/service/auth/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-codemod): fix principal-unify review findings
  .changeset/principal-unify-review-followup.md
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/src/index.ts
  packages/sdk-codemod/src/principal-unify-review.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk-codemod): cover aliased helper review findings
  packages/sdk-codemod/src/principal-unify-review.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): strip branded parser helpers consistently
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/services/resolver/service.ts
  packages/sdk/src/cli/services/workflow/service.test.ts
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/parser/service/resolver/builder-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

chore(tailor-proto): resync proto stubs with upstream
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
Due: 3-lint, 4-typecheck

chore: add changeset
  .changeset/auth-connection-update-in-place.md
Due: 2-format

test(deploy): fix logger mock path in auth-connection tests
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): guard client_secret in non-oauth2 update mask; use vi.hoisted for logger mocks
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): guard required fields before updateAuthConnection call
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): hash only clientSecret to detect secret changes
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

docs(deploy): clarify change-detection behavior when secrets state is missing
  packages/sdk/docs/services/auth.md
Due: 2-format

docs(deploy): clarify why type is omitted from oauth2 diff mask
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

docs(deploy): describe session revocation in user terms, not platform internals
  packages/sdk/docs/services/auth.md
Due: 2-format

docs(deploy): remove platform-specific session revocation detail from auth docs
  packages/sdk/docs/services/auth.md
Due: 2-format

refactor(deploy): rename ReplaceConnection to MaskedUpdateConnection
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(deploy): rename createRequest to updateRequest and clean up auth connection deploy
  packages/sdk/docs/services/auth.md
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(deploy): consolidate updateMask into updateRequest for auth connection replaces
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): skip secret hash save when client_secret is absent from update mask
  packages/sdk/src/cli/commands/deploy/auth-connection.test.ts
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

chore: reword changeset to use user-facing terms
  .changeset/auth-connection-update-in-place.md
Due: 2-format

fix(sdk): reject resolver helper keys
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/services/resolver/service.ts
  packages/sdk/src/parser/service/resolver/builder-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-codemod): handle escaped quote backslashes
  packages/sdk-codemod/codemods/v2/rename-bin/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/rename-bin/tests/source-template/expected.ts
  packages/sdk-codemod/codemods/v2/rename-bin/tests/source-template/input.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): simplify branded parser strip helpers
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/executor/loader.ts
  packages/sdk/src/parser/service/tailordb/builder-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): report runtime globals review findings
  .changeset/runtime-globals-review-findings.md
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/scripts/transform.ts
  packages/sdk-codemod/src/runtime-globals-review.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(codemod): share runtime globals review patterns
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/scripts/transform.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/runtime-globals-patterns.ts
  packages/sdk-codemod/src/runtime-globals-review.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): cover runtime globals review node forms
  packages/sdk-codemod/codemods/v2/runtime-globals-opt-in/scripts/transform.ts
  packages/sdk-codemod/src/runtime-globals-review.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): generate ConnectionNameRegistry for auth connection names
  packages/create-sdk/templates/executor/tailor.d.ts
  packages/create-sdk/templates/generators/tailor.d.ts
  packages/create-sdk/templates/hello-world/tailor.d.ts
  packages/create-sdk/templates/inventory-management/tailor.d.ts
  packages/create-sdk/templates/resolver/tailor.d.ts
  packages/create-sdk/templates/static-web-site/tailor.d.ts
  packages/create-sdk/templates/tailordb/tailor.d.ts
  packages/create-sdk/templates/workflow/tailor.d.ts
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/types/connection-name.ts
  packages/sdk/src/runtime/authconnection.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/connection-name-registry.md
Due: 2-format

refactor(sdk): deprecate auth.getConnectionToken() in favor of authconnection.getConnectionToken()
  .changeset/connection-name-registry.md
  packages/sdk/docs/services/auth.md
  packages/sdk/src/configure/services/auth/types.ts
Due: 2-format, 3-lint, 4-typecheck
