Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs(cli): drop stale staleness references from function log mapping
  packages/sdk/src/cli/commands/function/logs.test.ts
  packages/sdk/src/cli/commands/function/logs.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): drop no-op resolver arg schema validation
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): migrate e2e migration fixture off defineGenerators
  packages/sdk/e2e/fixtures/migration/config.template.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): note unauthenticatedTailorUser deprecation in testing guide
  packages/sdk/docs/testing.md
Due: 2-format

docs(runtime): clarify Tailordb migration and sync codemod docs
  .changeset/remove-runtime-globals-compatibility.md
  packages/sdk-codemod/codemods/v2/tailordb-namespace/codemod.yaml
  packages/sdk-codemod/codemods/v2/tailordb-namespace/scripts/transform.ts
  packages/sdk/docs/runtime.md
  packages/sdk/src/runtime/globals.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover workflow-start auth namespace resolution and missing-auth error
  packages/sdk/src/cli/commands/workflow/start.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): source DependencyKind from the types layer
  packages/sdk/src/parser/generator-config/schema.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

feat: store CLI users by subject
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/commands/login.ts
  packages/sdk/src/cli/commands/profile/create.ts
  packages/sdk/src/cli/commands/user/switch.ts
  packages/sdk/src/cli/commands/workspace/create.ts
  packages/sdk/src/cli/crashreport/report.ts
  packages/sdk/src/cli/shared/client.ts
  packages/sdk/src/cli/shared/context.test.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover legacy alias retention when subject resolution fails
  packages/sdk/src/cli/shared/context.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for CLI user subjects
  .changeset/store-cli-users-by-subject.md
Due: 2-format

fix(cli): persist resolved subject after refresh migration
  packages/sdk/src/cli/commands/profile/create.test.ts
  packages/sdk/src/cli/commands/profile/create.ts
  packages/sdk/src/cli/commands/profile/update.test.ts
  packages/sdk/src/cli/commands/profile/update.ts
  packages/sdk/src/cli/commands/user/pat/create.ts
  packages/sdk/src/cli/commands/user/pat/delete.ts
  packages/sdk/src/cli/commands/user/pat/list.ts
  packages/sdk/src/cli/commands/user/pat/update.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): describe profile update --user as a user ID
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/commands/profile/update.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover subject migration on workspace-only profile update
  packages/sdk/src/cli/commands/profile/update.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(aigateway): drop placeholder url/domain getters and tighten schema
  AGENTS.md
  packages/sdk/docs/services/aigateway.md
  packages/sdk/src/cli/commands/deploy/aigateway.ts
  packages/sdk/src/configure/services/aigateway/index.ts
  packages/sdk/src/parser/service/aigateway/schema.ts
Due: 2-format, 3-lint, 4-typecheck

ci: create release tags and GitHub releases after publish
  .github/scripts/sync-published-tags.sh
  .github/workflows/release.yml
Due: 2-format

ci: harden release tag sync script
  .github/scripts/sync-published-tags.sh
  .github/workflows/release.yml
Due: 2-format

ci: drop executable bit from release tag sync script
  .github/scripts/sync-published-tags.sh
Due: none

ci: harden release tag sync auth and changelog handling
  .github/scripts/sync-published-tags.sh
Due: none

ci: make release tag sync temp-file and changelog checks robust
  .github/scripts/sync-published-tags.sh
Due: none

fix(codemod): narrow principal callback migration
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): unify machine-user registry into a single sdk augmentation
  example/tests/auth-invoker.types.ts
  packages/sdk/src/cli/commands/workflow/start.api-types.test.ts
  packages/sdk/src/cli/commands/workflow/start.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

ci: resolve package before pushing release tag
  .github/scripts/sync-published-tags.sh
Due: none

fix(codemod): cover principal validator callbacks
  packages/sdk-codemod/codemods/v2/principal-unify/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/expected.ts
  packages/sdk-codemod/codemods/v2/principal-unify/tests/tailordb-callbacks/input.ts
Due: 2-format, 3-lint, 4-typecheck
