Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore(sdk): lower idp-sendPasswordResetEmail-optional changeset to patch
  .changeset/idp-sendPasswordResetEmail-optional.md
Due: 2-format

chore: bump engines.node to >=22.15.0 in example and llm-challenge
  example/package.json
  llm-challenge/package.json
Due: 2-format

fix: address Copilot review comments on postinstall, v2.md, and changeset
  .changeset/remove-tsx.md
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
  packages/sdk/postinstall.mjs
Due: 2-format, 3-lint, 4-typecheck

chore: bump changeset level from patch to major for Node.js minimum version raise
  .changeset/remove-tsx.md
Due: 2-format

test(sdk): remove misleading ts-hook.mjs mock from register-ts-hook test
  packages/sdk/src/cli/shared/register-ts-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs: update Node.js minimum version to 22.15.0 in getting-started.md
  docs/getting-started.md
Due: 2-format

chore: update changeset description to user-facing language
  .changeset/remove-tsx.md
Due: 2-format

refactor(cli): use logger.jsonMode directly instead of opts.json
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): simplify output via join and flatMap
  packages/sdk/src/cli/commands/deploy/change-set.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/remove.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): bypass sendPasswordResetEmail requirement when gqlOperations disables it
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for wait-point rename
  .changeset/wait-point-rename.md
Due: 2-format

fix(cli): print plan to stderr in apply+json mode; use logger.success for non-json success
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

feat(codemod): add v2/wait-point-rename codemod
  .changeset/wait-point-rename.md
  packages/sdk-codemod/codemods/v2/wait-point-rename/codemod.yaml
  packages/sdk-codemod/codemods/v2/wait-point-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/wait-point-rename/tests/aliased/expected.ts
  packages/sdk-codemod/codemods/v2/wait-point-rename/tests/aliased/input.ts
  packages/sdk-codemod/codemods/v2/wait-point-rename/tests/basic/expected.ts
  packages/sdk-codemod/codemods/v2/wait-point-rename/tests/basic/input.ts
  packages/sdk-codemod/codemods/v2/wait-point-rename/tests/no-match/input.ts
  packages/sdk-codemod/codemods/v2/wait-point-rename/tests/no-sdk-import/input.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/transform.test.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): extract PrintPlanOptions type for printPlanResults opts
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): label service actions by type in JSON dry-run output
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(auth): rename attribute map types
  .changeset/auth-attributes-rename.md
  packages/create-sdk/templates/executor/tailor.d.ts
  packages/create-sdk/templates/generators/tailor.d.ts
  packages/create-sdk/templates/hello-world/tailor.d.ts
  packages/create-sdk/templates/inventory-management/tailor.d.ts
  packages/create-sdk/templates/resolver/tailor.d.ts
  packages/create-sdk/templates/static-web-site/tailor.d.ts
  packages/create-sdk/templates/tailordb/tailor.d.ts
  packages/create-sdk/templates/workflow/tailor.d.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/services/auth/index.test.ts
  packages/sdk/src/configure/services/auth/index.ts
  packages/sdk/src/configure/services/auth/types.ts
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/auth/index.test.ts
  packages/sdk/src/runtime/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(changeset): release auth rename codemod
  .changeset/auth-attributes-rename.md
Due: 2-format

fix(codemod): detect renamed auth attribute types
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

chore: restrict maintainer-only review for security-sensitive files
  .github/CODEOWNERS
Due: none

chore: use glob pattern for pnpm-lock.yaml and add pnpm-workspace.yaml
  .github/CODEOWNERS
Due: none

feat(codemod): transform auth attribute renames
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/codemod.yaml
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/aliased-type-import/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/aliased-type-import/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/import-type-reference/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/import-type-reference/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/local-interface-untouched/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/module-augmentation/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/module-augmentation/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/namespace-import/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/namespace-import/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/re-export/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/re-export/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/runtime-attribute-map-untouched/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/type-imports/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/type-imports/input.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/transform.test.ts
  packages/sdk-codemod/tsdown.config.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

chore: remove redundant CHANGELOG.md codeowner rule
  .github/CODEOWNERS
Due: none

fix(codemod): avoid unsafe auth attribute rewrites
  .changeset/auth-attributes-rename.md
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/module-string-untouched/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/namespace-local-interface/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/namespace-local-interface/input.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/typescript-type-assertion/expected.ts
  packages/sdk-codemod/codemods/v2/auth-attributes-rename/tests/typescript-type-assertion/input.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): include warnings and conflicts in --dry-run --json output
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset to reflect warnings and conflicts in JSON output
  .changeset/deploy-dry-run-stdout-json.md
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
