Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

style(graphql): remove numbered comment prefixes from tsc-audit
  packages/sdk/src/graphql/infer.tsc-audit.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(graphql): extract helpers and reorder types for top-down readability
  packages/sdk/src/graphql/infer.ts
Due: 2-format, 3-lint, 4-typecheck

style(graphql): consolidate eslint-disable comment to inline format
  packages/sdk/src/graphql/infer.ts
Due: 2-format, 3-lint, 4-typecheck

feat(graphql): add bracket/paren balance check to ValidateGqlQuery
  packages/sdk/src/graphql/infer.test.ts
  packages/sdk/src/graphql/infer.ts
  packages/sdk/src/graphql/infer.tsc-audit.ts
Due: 2-format, 3-lint, 4-typecheck

feat(graphql): add field argument name validation to ValidateGqlQuery
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/graphql/infer.test.ts
  packages/sdk/src/graphql/infer.ts
  packages/sdk/src/graphql/infer.tsc-audit.ts
Due: 2-format, 3-lint, 4-typecheck

feat(graphql): add variable type name validation to ValidateGqlQuery
  example/generated/graphql-schema.d.ts
  packages/sdk/scripts/perf/features/executor-operation-gql-literal.ts
  packages/sdk/src/cli/generator/builtin/graphql-schema/generate-dts.test.ts
  packages/sdk/src/cli/generator/builtin/graphql-schema/generate-dts.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/graphql/index.ts
  packages/sdk/src/graphql/infer.test.ts
  packages/sdk/src/graphql/infer.ts
  packages/sdk/src/graphql/infer.tsc-audit.ts
Due: 2-format, 3-lint, 4-typecheck

docs: fix stale tailor-env.d.ts reference in graphql-schema generator test
  packages/sdk/src/cli/generator/builtin/graphql-schema/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: rename invoker to authInvoker in inventory-management template
  packages/create-sdk/templates/inventory-management/src/executor/checkInventory.ts
Due: 3-lint, 4-typecheck

feat: add llm-challenge problem 007 application-config
  llm-challenge/problems/007-application-config/meta.json
  llm-challenge/problems/007-application-config/problem.md
  llm-challenge/problems/007-application-config/scaffold/tailordb/tenant.ts
  llm-challenge/problems/007-application-config/scaffold/tailordb/user.ts
  llm-challenge/problems/007-application-config/solution/tailor.config.ts
  llm-challenge/problems/007-application-config/tests/config.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(llm-challenge): replace verbose API Reference sections with minimal hints
  llm-challenge/problems/001-ecommerce-data-layer/problem.md
  llm-challenge/problems/003-event-driven-automation/problem.md
  llm-challenge/problems/005-fullstack-feature-wiring/problem.md
  llm-challenge/problems/007-application-config/problem.md
Due: 2-format

docs(plugin): remove phase numbers from hook documentation
  packages/sdk/docs/plugin/custom.md
  packages/sdk/docs/plugin/index.md
  packages/sdk/src/cli/generator/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): move builtin generators to plugin layer
  example/tailor.config.ts
  packages/sdk/knip.json
  packages/sdk/package.json
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/plugin.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.ts
  packages/sdk/src/cli/generator/builtin/file-utils/plugin.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/plugin.ts
  packages/sdk/src/cli/generator/builtin/seed/plugin.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/generator/types.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/configure/config.ts
  packages/sdk/src/plugin/builtin/enum-constants/generate-enum-constants.ts
  packages/sdk/src/plugin/builtin/enum-constants/index.test.ts
  packages/sdk/src/plugin/builtin/enum-constants/index.ts
  packages/sdk/src/plugin/builtin/enum-constants/process-enum-type.ts
  packages/sdk/src/plugin/builtin/enum-constants/types.ts
  packages/sdk/src/plugin/builtin/file-utils/generate-file-utils.ts
  packages/sdk/src/plugin/builtin/file-utils/index.test.ts
  packages/sdk/src/plugin/builtin/file-utils/index.ts
  packages/sdk/src/plugin/builtin/file-utils/process-file-type.ts
  packages/sdk/src/plugin/builtin/file-utils/types.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.ts
  packages/sdk/src/plugin/builtin/kysely-type/types.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/plugin/builtin/seed/seed-type-processor.ts
  packages/sdk/src/plugin/builtin/seed/types.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/brave-plugins-unite.md
Due: 2-format

fix(example): revert to defineGenerators tuple syntax
  example/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(create-sdk): migrate templates from defineGenerators to definePlugins
  packages/create-sdk/templates/hello-world/tailor.config.ts
  packages/create-sdk/templates/inventory-management/tailor.config.ts
  packages/create-sdk/templates/testing/tailor.config.ts
Due: 3-lint, 4-typecheck

test(example): add defineGenerators vs definePlugins output compatibility test
  example/.gitignore
  example/package.json
  example/tests/generator_plugin_compat.test.ts
  example/tests/scripts/generate_files.ts
  example/tests/tailor.config.generators-compat.ts
  example/tests/tailor.config.plugins-compat.ts
Due: 2-format, 3-lint, 4-typecheck

fix(config): resolve merge conflicts with origin/main
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/parser/generator-config/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(lint): resolve CI lint errors after merge with origin/main
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/plugin/builtin/enum-constants/index.test.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
Due: 2-format, 3-lint, 4-typecheck

feat: support disablePasswordAuth field for IdP userAuthPolicy
  .changeset/disable-password-auth.md
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
  packages/tailor-proto/src/tailor/v1/tailordb_pb.js
Due: 2-format, 3-lint, 4-typecheck

chore(create-sdk): remove redundant kysely dependencies from templates
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/testing/package.json
  packages/create-sdk/templates/testing/src/resolver/wrapTailordb.ts
  packages/create-sdk/templates/testing/src/workflow/wrapTailordb.ts
  pnpm-lock.yaml
Due: 3-lint, 4-typecheck

chore: add changeset
  .changeset/remove-kysely-template-deps.md
Due: 2-format

refactor(example): migrate tailor.config.ts from defineGenerators to definePlugins
  example/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): simplify .gitignore to exclude all test fixtures except expected
  example/.gitignore
Due: none

fix(plugin): call all generation-time hooks for multi-phase plugins
  packages/sdk/src/cli/generator/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): detect hooks from plugin object instead of explicit list
  packages/sdk/src/cli/generator/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(example): unify actual and plugins-compat test fixtures
  example/package.json
  example/tests/apply_command.test.ts
  example/tests/fixtures/expected/enums.ts
  example/tests/fixtures/expected/files.ts
  example/tests/fixtures/expected/seed/data/Customer.jsonl
  example/tests/fixtures/expected/seed/data/Customer.schema.ts
  example/tests/fixtures/expected/seed/data/Event.jsonl
  example/tests/fixtures/expected/seed/data/Event.schema.ts
  example/tests/fixtures/expected/seed/data/Invoice.jsonl
  example/tests/fixtures/expected/seed/data/Invoice.schema.ts
  example/tests/fixtures/expected/seed/data/NestedProfile.jsonl
  example/tests/fixtures/expected/seed/data/NestedProfile.schema.ts
  example/tests/fixtures/expected/seed/data/PurchaseOrder.jsonl
  example/tests/fixtures/expected/seed/data/PurchaseOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrder.jsonl
  example/tests/fixtures/expected/seed/data/SalesOrder.schema.ts
  example/tests/fixtures/expected/seed/data/SalesOrderCreated.jsonl
  example/tests/fixtures/expected/seed/data/SalesOrderCreated.schema.ts
  example/tests/fixtures/expected/seed/data/Selfie.jsonl
  example/tests/fixtures/expected/seed/data/Selfie.schema.ts
  example/tests/fixtures/expected/seed/data/Supplier.jsonl
  example/tests/fixtures/expected/seed/data/Supplier.schema.ts
  example/tests/fixtures/expected/seed/data/User.jsonl
  example/tests/fixtures/expected/seed/data/User.schema.ts
  example/tests/fixtures/expected/seed/data/UserLog.jsonl
  example/tests/fixtures/expected/seed/data/UserLog.schema.ts
  example/tests/fixtures/expected/seed/data/UserSetting.jsonl
  example/tests/fixtures/expected/seed/data/UserSetting.schema.ts
  example/tests/fixtures/expected/seed/data/_User.jsonl
  example/tests/fixtures/expected/seed/data/_User.schema.ts
  example/tests/fixtures/expected/seed/exec.mjs
  example/tests/generator_plugin_compat.test.ts
  example/tests/scripts/generate_files.ts
  example/tests/tailor.config.actual.ts
  example/tests/tailor.config.expected.ts
  example/tests/tailor.config.generators-compat.ts
  example/tests/tailor.config.plugins-compat.ts
Due: 2-format, 3-lint, 4-typecheck

fix(generator): propagate plugin/generator errors in non-watch mode
  packages/sdk/src/cli/generator/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: replace module-import bundling with free-variable extraction for hooks/validate precompilation
  packages/sdk/src/cli/application/tailordb/script-precompiler.test.ts
  packages/sdk/src/cli/application/tailordb/script-precompiler.ts
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/parser/service/tailordb/field.precompiled.test.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.test.ts
  packages/sdk/src/parser/service/tailordb/script-dependency-inliner.ts
  packages/sdk/src/parser/service/tailordb/script-precompiled-expr.ts
  packages/sdk/src/parser/service/tailordb/tailordb-field-script-external-var-guard.test.ts
  packages/sdk/src/parser/service/tailordb/tailordb-field-script-external-var-guard.ts
  packages/sdk/src/parser/service/tailordb/test-fixtures/inliner-helper.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

feat(secret): add secret import command for bulk .env import
  packages/sdk/docs/cli/secret.md
  packages/sdk/src/cli/secret/args.ts
  packages/sdk/src/cli/secret/import.ts
  packages/sdk/src/cli/secret/index.ts
  packages/sdk/src/cli/secret/list.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/secret-import-env.md
Due: 2-format

feat(secret): add --prefix option to filter and strip key names on import
  packages/sdk/docs/cli/secret.md
  packages/sdk/src/cli/secret/import.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/secret-import-env.md
Due: 2-format

fix(llm-challenge): remove system prompt bias directing haiku to read node_modules
  llm-challenge/runner/solve.ts
Due: 2-format, 3-lint, 4-typecheck

fix(llm-challenge): add hybrid prompt mode for problems with mixed scaffold/implement files
  llm-challenge/runner/solve.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): simplify script-precompiler and fix concurrent bundling race condition
  packages/sdk/src/cli/application/tailordb/script-precompiler.test.ts
  packages/sdk/src/cli/application/tailordb/script-precompiler.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): implement OpenTelemetry tracing in apply process
  packages/sdk/package.json
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/args.ts
  packages/sdk/src/cli/client.ts
  packages/sdk/src/cli/telemetry/config.test.ts
  packages/sdk/src/cli/telemetry/config.ts
  packages/sdk/src/cli/telemetry/index.test.ts
  packages/sdk/src/cli/telemetry/index.ts
  packages/sdk/src/cli/telemetry/interceptor.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

perf(cli): parallelize internal RPC calls in plan functions
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/apply/services/auth.ts
  packages/sdk/src/cli/apply/services/idp.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/bright-planes-teach.md
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/telemetry/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: resolve declaration dependencies through TypeScript-typed code
  packages/sdk/src/cli/application/tailordb/script-precompiler.test.ts
  packages/sdk/src/cli/application/tailordb/script-precompiler.ts
Due: 2-format, 3-lint, 4-typecheck
