Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(workflow): address Copilot review findings on the start() rename
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/cli/services/workflow/ast-utils.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
  packages/sdk/src/vitest/globals.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): place plugin arg-scan JSDoc above the functions they document
  packages/sdk/src/cli/shared/plugin.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): pin platform-context skip for a missing --env-file-if-exists file
  packages/sdk/src/cli/shared/plugin.test.ts
  packages/sdk/src/cli/shared/plugin.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): extract the plugin install hint into a testable dispatch helper
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/shared/plugin.test.ts
  packages/sdk/src/cli/shared/plugin.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): list only missing namespaces in the not-found error
  packages/sdk/src/cli/shared/tailordb-namespaces.ts
Due: 2-format, 3-lint, 4-typecheck

docs: point ERD plugin installs at the next dist-tag
  packages/sdk-tailordb-erd-plugin/README.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.template.md
  packages/sdk/docs/github-actions.md
Due: 2-format

ci: publish sdk-tailordb-erd-plugin previews to pkg.pr.new
  .github/workflows/pkg-pr-new.yml
Due: 2-format

fix(workflow): whitespace-tolerant start-call detection, stale comments
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
Due: 2-format, 3-lint, 4-typecheck

fix: reap e2e cleanup subprocesses
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/supervise-process-group.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/skill.test.sh
Due: none

fix(deps): align the ERD plugin's tsdown with the workspace
  packages/sdk-tailordb-erd-plugin/package.json
  pnpm-lock.yaml
Due: 2-format

fix: supervise standalone e2e subprocesses
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/skill.test.sh
Due: none

ci: stub the ERD plugin bin target before install
  .github/workflows/erd-schema.yml
Due: 2-format

fix(workflow): tolerate comments between .start and ( in start-call detection
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): cut unit test wall time by narrowing vitest typecheck
  packages/sdk/scripts/typecheck-scripts.test.ts
  packages/sdk/tsconfig.vitest-typecheck.json
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): extract pnpm spawn helper in typecheck-scripts test
  packages/sdk/scripts/typecheck-scripts.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): use context-local expect in concurrent lane tests
  packages/sdk/scripts/typecheck-scripts.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): align vitest typecheck include with dedicated tsconfig
  packages/sdk/tsconfig.vitest-typecheck.json
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): rename internal Trigger* naming to Start* to match the public API rename
  packages/sdk/src/cli/cache/bundle-cache.test.ts
  packages/sdk/src/cli/cache/bundle-cache.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/auth/bundler.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/http-adapter/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/bundler.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/services/workflow/start-transformer.ts
  packages/sdk/src/cli/shared/start-context.test.ts
  packages/sdk/src/cli/shared/start-context.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): keep tsconfig paths hook comments in sync and pin known limitation with a test
  packages/sdk/src/cli/shared/register-tsconfig-paths-hook.ts
  packages/sdk/src/cli/tsconfig-paths-hook.mjs
  packages/sdk/src/cli/tsconfig-paths-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): document cwd-fallback behavior and list httpAdapter
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/docs/configuration.md
  packages/sdk/src/configure/config/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): pass baseDir in tailordb service test cases merged from main
  packages/sdk/src/cli/services/tailordb/service.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-codemod): drop unreachable .start( suspiciousPattern from workflow-trigger-dispatch
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): clarify fallback only applies to relative patterns
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/docs/configuration.md
Due: 2-format

fix(cli): fall back to tsconfig paths on ERR_UNSUPPORTED_DIR_IMPORT too
  packages/sdk/src/cli/tsconfig-paths-hook.mjs
  packages/sdk/src/cli/tsconfig-paths-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): align v2 prerelease codemod boundaries with actual release versions
  .changeset/fix-next5-codemod-boundaries.md
  packages/sdk-codemod/src/registry.test.ts
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): remove legacy bundle artifact cleanup shim
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/integration.test.ts
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/prepare.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/services/stale-cleanup.ts
Due: 2-format, 3-lint, 4-typecheck
