Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

feat(cli): rework setup github with branch/tag targets and a lock file
  .changeset/improve-setup-github.md
  .github/workflows/github-actions-lint.yml
  docs/README.md
  docs/setup-github-contracts.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/setup.md
  packages/sdk/docs/github-actions.md
  packages/sdk/knip.json
  packages/sdk/src/cli/commands/deploy/config-id-ci-guard.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/setup/github/branch.workflow.yml
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/git.ts
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/index.ts
  packages/sdk/src/cli/commands/setup/github/lock.test.ts
  packages/sdk/src/cli/commands/setup/github/lock.ts
  packages/sdk/src/cli/commands/setup/github/setup-bun.yml
  packages/sdk/src/cli/commands/setup/github/setup-npm.yml
  packages/sdk/src/cli/commands/setup/github/setup-pnpm.yml
  packages/sdk/src/cli/commands/setup/github/setup-yarn.yml
  packages/sdk/src/cli/commands/setup/github/tag.workflow.yml
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
  packages/sdk/src/cli/commands/setup/github/templates.ts
  packages/sdk/src/cli/commands/setup/github/workflow-lint.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): harden type-name handling
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/services/tailordb/type-name-validation.test.ts
  packages/sdk/src/cli/services/tailordb/type-name-validation.ts
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/utils/test/internal.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): move GQL permission proto conversion to snapshot-manifest
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): share migration number parsing and required-field guidance
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/migration-number.ts
  packages/sdk/src/cli/commands/tailordb/migrate/script.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
  packages/sdk/src/cli/commands/tailordb/migrate/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): parse sdk-migration labels strictly
  packages/sdk/src/cli/commands/tailordb/migrate/types.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): treat out-of-range sdk-migration labels as unset
  packages/sdk/src/cli/commands/tailordb/migrate/types.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): always set updatedAt to the current time on update
  .changeset/updated-at-always-advances.md
  example/migrations/0001/diff.json
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): let ephemeral CI pipelines opt into app id injection
  .changeset/improve-setup-github.md
  example/tests/migration-fixtures/app/tailor.config.ts
  packages/create-sdk/templates/workflow/e2e/globalSetup.ts
  packages/sdk/docs/github-actions.md
  packages/sdk/e2e/fixtures/migration/config.template.ts
  packages/sdk/src/cli/commands/deploy/config-id-ci-guard.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): clarify sync message when there are no type operations
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): reject --tag-pattern without --tag even for the default value
  packages/sdk/docs/cli/setup.md
  packages/sdk/src/cli/commands/setup/github/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): address review feedback on lock validation and CI id check
  docs/setup-github-contracts.md
  packages/sdk/docs/github-actions.md
  packages/sdk/src/cli/commands/deploy/config-id-ci-guard.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
  packages/sdk/src/cli/commands/setup/github/lock.test.ts
  packages/sdk/src/cli/commands/setup/github/lock.ts
  packages/sdk/src/cli/commands/setup/github/workflow-lint.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): skip CI id check for wrapper configs, keep lock target order
  packages/sdk/src/cli/commands/deploy/config-id-ci-guard.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): validate --dir stays in the repo, defer id injection
  packages/sdk/src/cli/commands/setup/github/github.ts
Due: 2-format, 3-lint, 4-typecheck

docs: clarify SDK env access
  packages/sdk/docs/configuration.md
  packages/sdk/docs/services/executor.md
Due: 2-format

fix(cli): harden flag and config validation from review feedback
  packages/sdk/src/cli/commands/deploy/config-id-ci-guard.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/index.ts
  packages/sdk/src/cli/commands/setup/github/workflow-lint.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs: fix executor env callback example
  packages/sdk/docs/configuration.md
Due: 2-format

fix(cli): resolve symlinks in the --dir containment check
  packages/sdk/src/cli/commands/setup/github/github.ts
Due: 2-format, 3-lint, 4-typecheck

docs: note auth hook env config caveat
  packages/sdk/docs/configuration.md
Due: 2-format

docs: keep env examples generic
  packages/sdk/docs/configuration.md
  packages/sdk/docs/services/executor.md
Due: 2-format

docs: preserve env example defaults
  packages/sdk/docs/configuration.md
Due: 2-format

test: add env runtime llm challenge
  llm-challenge/problems/sdk-api/config-env-runtime-access/meta.json
  llm-challenge/problems/sdk-api/config-env-runtime-access/prompt.md
  llm-challenge/problems/sdk-api/config-env-runtime-access/scaffold/.gitkeep
  llm-challenge/problems/sdk-api/config-env-runtime-access/verify.json
  llm-challenge/src/challenge.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: delete workflow job functions with workflows
  .changeset/delete-workflow-job-functions.md
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
  packages/sdk/src/cli/commands/deploy/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

fix: guard workflow job function deletion ownership
  packages/sdk/src/cli/commands/deploy/workflow.test.ts
  packages/sdk/src/cli/commands/deploy/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

test: tighten env runtime challenge checks
  llm-challenge/problems/sdk-api/config-env-runtime-access/verify.json
Due: 2-format

test: scope env runtime challenge verifier
  llm-challenge/problems/sdk-api/config-env-runtime-access/verify.json
Due: 2-format

docs: add env runtime docs changeset
  .changeset/runtime-env-docs.md
Due: 2-format

fix(cli): address Codex review findings on id injection and validation
  .changeset/improve-setup-github.md
  docs/setup-github-contracts.md
  packages/sdk/src/cli/commands/deploy/config-id-ci-guard.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): add multi-environment configuration guide
  .changeset/multi-environment-docs.md
  packages/sdk/README.md
  packages/sdk/docs/configuration.md
  packages/sdk/docs/multi-environment.md
  packages/sdk/docs/services/staticwebsite.md
Due: 2-format

docs(sdk): clarify workspace wording and profile permissions in multi-env docs
  packages/sdk/docs/multi-environment.md
  packages/sdk/docs/services/staticwebsite.md
Due: 2-format

docs(sdk): keep --permission read example with explanation
  packages/sdk/docs/multi-environment.md
Due: 2-format

docs(sdk): link profile commands and customDomains from multi-env guide
  packages/sdk/docs/multi-environment.md
Due: 2-format

docs(sdk): clarify read-only guard scope and process.env caveat
  packages/sdk/docs/multi-environment.md
Due: 2-format

chore(sdk): unify bundler test output dirs under __test_bundler__
  packages/sdk/src/cli/commands/function/bundle.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): reject sync for missing namespaces and show permission plan
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

chore: regenerate create-sdk seed template after useProfile removal
  packages/create-sdk/templates/generators/src/seed/exec.mjs
Due: none

refactor(sdk): drop useProfile from tailordb migration sync
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): state the actual condition when sync targets an undeployed namespace
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): always warn that migration sync skips migrate.ts scripts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): harden branch/tag interpolation and lock parsing from review
  docs/setup-github-contracts.md
  packages/sdk/docs/github-actions.md
  packages/sdk/src/cli/commands/setup/github/branch.workflow.yml
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/lock.test.ts
  packages/sdk/src/cli/commands/setup/github/lock.ts
  packages/sdk/src/cli/commands/setup/github/tag.workflow.yml
Due: 2-format, 3-lint, 4-typecheck
