Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs: focus published docs on the SDK user, not internals
  .agents/rules.json
  .agents/rules/docs-authoring.md
  .claude/rules/docs-authoring.md
  .github/workflows/docs-consistency-check.yml
  AGENTS.md
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/generator/builtin.md
  packages/sdk/docs/services/auth.md
  packages/sdk/src/cli/commands/api/index.ts
  packages/sdk/src/cli/commands/api/list.ts
  packages/sdk/src/cli/commands/function/logs.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/docs-user-focus.md
Due: 2-format

docs: sync docs-authoring rule with CI check and extend scope to SDK source
  .agents/rules.json
  .agents/rules/docs-authoring.md
  .claude/rules/docs-authoring.md
  AGENTS.md
Due: 2-format

chore: add changeset
  .changeset/non-mutating-array-methods.md
Due: 2-format

show help
  packages/sdk/src/cli/commands/staticwebsite/domain/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): use toSorted() in staticwebsite custom-domain test (no-array-sort)
  packages/sdk/src/cli/commands/deploy/staticwebsite.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(vitest): use toSorted() in mockSecretmanager().calls (no-array-sort)
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): treat console.log as DEBUG level for log-level bundling
  .changeset/loglevel-console-log-debug.md
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/shared/bundle-log-level.test.ts
  packages/sdk/src/cli/shared/bundle-log-level.ts
Due: 2-format, 3-lint, 4-typecheck

ci: cache pnpm store in install-deps action
  .github/actions/install-deps/action.yml
Due: 2-format

fix(cli): treat post-retry AlreadyExists as success for apply creates
  .changeset/fix-create-tailordb-type-retry-race.md
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

ci: skip test and generate workflows when no relevant paths changed
  .github/workflows/deploy.yml
  .github/workflows/generate.yml
  .github/workflows/sdk-e2e.yml
  .github/workflows/test.yml
Due: 2-format

fix(cli): address review feedback on retry already_exists handling
  .changeset/fix-create-tailordb-type-retry-race.md
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): fix unhandled rejection in retryInterceptor tests under fake timers
  packages/sdk/src/cli/shared/client.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): stabilize withBundleConcurrency tests with fake timers
  .changeset/stabilize-bundle-concurrency-tests.md
  packages/sdk/src/cli/shared/bundle-concurrency.test.ts
Due: 2-format, 3-lint, 4-typecheck

ci: fail summary jobs closed when the paths-filter job fails
  .github/workflows/deploy.yml
  .github/workflows/generate.yml
  .github/workflows/test.yml
Due: 2-format

test(sdk): prevent fake-timer leak across files in shared workers
  packages/sdk/src/cli/shared/script-executor.test.ts
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore: enforce minimumReleaseAge for personal-repo dependencies
  pnpm-workspace.yaml
Due: 2-format

feat(sdk): harden tailordb migration sync label handling and warnings
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): fail fast on missing sync manifests and restore CLI reference sections
  packages/sdk/docs/cli-reference.md
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): verify migration history against local types before sync applies
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/tailordb-migration-sync-command.md
Due: 2-format

chore(sdk): gitignore bundler test output dirs to keep knip green
  packages/sdk/.gitignore
Due: none

chore: add code-comments agent rule
  .agents/rules.json
  .agents/rules/code-comments.md
  .claude/rules/code-comments.md
  AGENTS.md
Due: 2-format

fix: reject duplicate TailorDB type names
  .changeset/green-pianos-share.md
  packages/sdk/docs/configuration.md
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/services/tailordb/type-name-validation.test.ts
  packages/sdk/src/cli/services/tailordb/type-name-validation.ts
Due: 2-format, 3-lint, 4-typecheck

fix: keep TailorDB duplicate validation watch-friendly
  packages/sdk/src/cli/commands/generate/service.test.ts
  packages/sdk/src/cli/commands/generate/service.ts
Due: 2-format, 3-lint, 4-typecheck

feat: show folder names in workspace output
  .changeset/workspace-folder-names.md
  packages/sdk/src/cli/commands/show.ts
  packages/sdk/src/cli/commands/workspace/create.ts
  packages/sdk/src/cli/commands/workspace/delete.ts
  packages/sdk/src/cli/commands/workspace/get.ts
  packages/sdk/src/cli/commands/workspace/list.ts
  packages/sdk/src/cli/commands/workspace/transform.test.ts
  packages/sdk/src/cli/commands/workspace/transform.ts
Due: 2-format, 3-lint, 4-typecheck

fix: handle prototype TailorDB type names
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

fix: dedupe TailorDB type file matches
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

fix: tolerate workspace folder lookup failures
  packages/sdk/src/cli/commands/workspace/transform.test.ts
  packages/sdk/src/cli/commands/workspace/transform.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): align sync manifests with deploy and preserve metadata on errors
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

fix: update vulnerable transitive deps and guard lockfile against downgrades
  .github/workflows/lockfile-audit.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

fix: allow TailorDB namespace plugin reprocessing
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

fix: update TailorDB deletion e2e fixture
  packages/sdk/e2e/deploy.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: note existing-config impact in duplicate type name changeset
  .changeset/green-pianos-share.md
Due: 2-format

fix(sdk): address review feedback on tailordb migration sync
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): align sync migration number parsing with migration script
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): delete GQL permissions before deleting types in migration sync
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): reconcile GQL permissions with the snapshot in migration sync
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
