Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(plugin): rename PluginBase to Plugin and remove redundant type aliases
  packages/sdk/docs/plugin/custom.md
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/tailordb/migrate/generate.ts
  packages/sdk/src/cli/type-generator.ts
  packages/sdk/src/configure/config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/parser/plugin-config/index.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/src/plugin/manager.test.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

feat: use hookModifier marker to detect hooks() in nested fields
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix: pass requested model to auth pre-check for early failure
  llm-challenge/runner/run.ts
  llm-challenge/runner/solve.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add migration for attachedFiles validate removal
  example/migrations/0001/diff.json
Due: 2-format

fix: authenticate rerun-infra with derived model instead of default
  llm-challenge/runner/run.ts
Due: 2-format, 3-lint, 4-typecheck

fix: restrict rerun-infra to solve-mode reports only
  llm-challenge/runner/run.ts
Due: 2-format, 3-lint, 4-typecheck

fix: classify runProblem exceptions as runner_error instead of infra_failure
  llm-challenge/runner/run.ts
  llm-challenge/runner/score.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify llm-challenge runner and test code
  llm-challenge/problems/001-comprehensive-model/tests/model.test.ts
  llm-challenge/problems/002-advanced-model-features/tests/model.test.ts
  llm-challenge/problems/003-multi-pattern-resolvers/tests/resolver.test.ts
  llm-challenge/problems/004-db-resolvers-with-workflow/tests/resolver.test.ts
  llm-challenge/problems/005-record-lifecycle-executors/tests/executor.test.ts
  llm-challenge/problems/006-advanced-executor-operations/tests/executor.test.ts
  llm-challenge/problems/007-workflow-orchestration/tests/workflow.test.ts
  llm-challenge/problems/008-full-application-config/tests/config.test.ts
  llm-challenge/problems/009-multi-service-integration/tests/integration.test.ts
  llm-challenge/problems/010-fix-broken-model/tests/model.test.ts
  llm-challenge/problems/011-fix-broken-resolver/tests/resolver.test.ts
  llm-challenge/problems/012-fix-broken-workflow/tests/workflow.test.ts
  llm-challenge/runner/analyze.ts
  llm-challenge/runner/run.ts
  llm-challenge/runner/score.ts
  llm-challenge/runner/solve.ts
  llm-challenge/runner/verify.ts
  llm-challenge/shared/helpers.ts
  llm-challenge/shared/test-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify SDK seed generator and permission normalizer
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/idp-user-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/parser/service/tailordb/permission.ts
Due: 2-format, 3-lint, 4-typecheck

fix: show clear error when record operand is used in gqlPermission
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore: restore non-llm-challenge files from main
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/idp-user-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/parser/service/tailordb/permission.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add tailor-sdk agent skill and shorthand installer
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/skills/tailor-sdk/SKILL.md
  packages/sdk/src/cli/skills-installer.test.ts
  packages/sdk/src/cli/skills-installer.ts
  packages/sdk/src/cli/skills.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify gqlPermission error detection in type loader
  packages/sdk/src/cli/application/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for sdk skill installation
  .changeset/honest-apples-film.md
Due: 2-format

refactor: use Zod params for gqlPermission error detection
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/parser/service/tailordb/index.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/some-tigers-take.md
Due: 2-format

refactor: clean up error handling
  packages/sdk/src/cli/application/tailordb/service.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add tests for tailrodb permission schema
  packages/sdk/src/parser/service/tailordb/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: restore original else block in protoGqlOperand
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): prevent e2e-ws- workspace accumulation in CI
  .changeset/fix-ci-e2e-workspace-leak.md
  .github/workflows/sdk-e2e.yml
  .github/workflows/test.yml
Due: 2-format

feat(cli): make workflow/executor trigger APIs type-safe
  packages/create-sdk/templates/testing/e2e/workflow.test.ts
  packages/sdk/src/cli/executor/trigger.api-types.test.ts
  packages/sdk/src/cli/executor/trigger.ts
  packages/sdk/src/cli/workflow/start.api-types.test.ts
  packages/sdk/src/cli/workflow/start.ts
  packages/sdk/src/configure/services/executor/executor.ts
Due: 2-format, 3-lint, 4-typecheck

fix(plugin): cache processNamespace result from namespace resolution
  packages/sdk/src/plugin/get-generated-type.test.ts
  packages/sdk/src/plugin/get-generated-type.ts
Due: 2-format, 3-lint, 4-typecheck

feat(plugin): add getGeneratedType helper and refactor plugin system
  packages/sdk/eslint.config.js
Due: 2-format, 3-lint, 4-typecheck

feat(plugin): add getGeneratedType helper and refactor plugin system
  packages/sdk/docs/plugin/custom.md
  packages/sdk/docs/plugin/index.md
Due: 2-format

feat(plugin): add changeset plugin with string-based configuration
  example/generated/enums.ts
  example/generated/tailordb.ts
  example/seed/data/PurchaseOrderChangeApproval.jsonl
  example/seed/data/PurchaseOrderChangeApproval.schema.ts
  example/seed/data/PurchaseOrderChangeRequest.jsonl
  example/seed/data/PurchaseOrderChangeRequest.schema.ts
  example/seed/data/PurchaseOrderChangeReworkEvent.jsonl
  example/seed/data/PurchaseOrderChangeReworkEvent.schema.ts
  example/seed/data/PurchaseOrderChangeStep.jsonl
  example/seed/data/PurchaseOrderChangeStep.schema.ts
  example/seed/exec.mjs
  example/tailor.config.ts
  example/tailordb/purchaseOrder.ts
  packages/sdk/package.json
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/plugin/__tests__/fixtures/tailor.config.ts
  packages/sdk/src/plugin/__tests__/fixtures/types/product.ts
  packages/sdk/src/plugin/builtin/changeset/index.ts
  packages/sdk/src/plugin/builtin/changeset/plugin.ts
  packages/sdk/src/plugin/get-generated-type.test.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): remove tuple form from definePlugins
  packages/sdk/docs/plugin/index.md
  packages/sdk/src/parser/plugin-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): remove string-based plugin configuration
  example/tailor.config.ts
  packages/sdk/eslint.config.js
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/plugin/__tests__/fixtures/tailor.config.ts
  packages/sdk/src/plugin/__tests__/fixtures/types/product.ts
Due: 2-format, 3-lint, 4-typecheck

fix(test): exclude __tests__/fixtures from vitest test discovery
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(plugin): correct import order in get-generated-type test
  packages/sdk/src/plugin/get-generated-type.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove unreachable else block in protoGqlOperand
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: preserve nested field hooks/validate in proto manifests
  packages/sdk/src/cli/apply/services/tailordb/index.test.ts
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot-manifest.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot-manifest.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/early-moments-send.md
Due: 2-format

refactor: align hooks mapping with existing spread-style manifest pattern
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot-manifest.ts
Due: 2-format, 3-lint, 4-typecheck

test
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/cli/utils/script-executor.ts
Due: 2-format, 3-lint, 4-typecheck

feat(permission): add hasAny/nhasAny operators for array comparison
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/configure/services/tailordb/permission.test.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/parser/service/tailordb/permission.test.ts
  packages/sdk/src/parser/service/tailordb/permission.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/types.ts
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.d.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add changeset for hasAny/nhasAny permission operators
  .changeset/huge-hoops-clean.md
Due: 2-format

chore(proto): regenerate proto definitions from updated proto repo
  packages/tailor-proto/src/tailor/v1/auth_resource_pb.js
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
  packages/tailor-proto/src/tailor/v1/tailordb_resource_pb.js
Due: 3-lint, 4-typecheck

feat: support `allowGoogleOauth` field for `userAuthPolicy`
  .changeset/allow-google-oauth.md
  packages/sdk/src/configure/services/idp/index.test.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

refactor: update namespace type to optional and improve query options handling
  packages/sdk/src/cli/query/errors.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck
