Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore: consolidate template tests in CI
  .github/workflows/template-tests.yml
Due: 2-format

test: stabilize vitest coverage sharding
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): polish TailorDB ERD schema reload
  packages/sdk/src/cli/commands/tailordb/erd/local-schema.ts
  packages/sdk/src/cli/commands/tailordb/erd/schema.test.ts
  packages/sdk/src/cli/commands/tailordb/erd/schema.ts
  packages/sdk/src/cli/commands/tailordb/erd/serve.test.ts
  packages/sdk/src/cli/commands/tailordb/erd/serve.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/shared/config-loader.ts
Due: 2-format, 3-lint, 4-typecheck

ci: shard sdk coverage metrics
  .github/workflows/sdk-metrics.yml
Due: 2-format

fix(sdk): address ERD polish review
  packages/sdk/src/cli/commands/tailordb/erd/export.ts
  packages/sdk/src/cli/commands/tailordb/erd/local-schema.test.ts
  packages/sdk/src/cli/commands/tailordb/erd/local-schema.ts
  packages/sdk/src/cli/commands/tailordb/erd/serve.ts
  packages/sdk/src/cli/commands/tailordb/erd/viewer-assets/app.js
Due: 2-format, 3-lint, 4-typecheck

ci: shard SDK Metrics coverage across 4 parallel runners
  .github/workflows/sdk-metrics.yml
  packages/sdk/.octocov.yml
Due: 2-format

test: derive vitest self-import aliases
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): reload ERD schema in fresh process
  packages/sdk/src/cli/commands/tailordb/erd/local-schema.ts
  packages/sdk/src/cli/commands/tailordb/erd/serve.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): document priority routing semantics and address review nits
  packages/sdk/docs/services/http-adapter.md
  packages/sdk/src/cli/commands/deploy/application.ts
  packages/sdk/src/cli/commands/deploy/change-set.test.ts
  packages/sdk/src/cli/commands/deploy/change-set.ts
  packages/sdk/src/configure/services/http-adapter/http-adapter.ts
  packages/sdk/src/parser/service/http-adapter/schema.ts
  packages/sdk/src/types/http-adapter.generated.ts
Due: 2-format, 3-lint, 4-typecheck

ci: report coverage from shard lcovs
  .github/workflows/sdk-metrics.yml
  packages/sdk/.octocov.yml
Due: 2-format

fix(sdk): harden ERD static serving during rebuild
  packages/sdk/src/cli/commands/tailordb/erd/serve.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): emit parseable json for json output
  packages/sdk/docs/cli-reference.md
  packages/sdk/src/cli/commands/crashreport/list-json.test.ts
  packages/sdk/src/cli/commands/crashreport/list.ts
  packages/sdk/src/cli/commands/function/test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/commands/open.test.ts
  packages/sdk/src/cli/commands/open.ts
  packages/sdk/src/cli/commands/profile/list.test.ts
  packages/sdk/src/cli/commands/profile/list.ts
  packages/sdk/src/cli/commands/tailordb/migrate/status.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/status.ts
  packages/sdk/src/cli/commands/user/current.test.ts
  packages/sdk/src/cli/commands/user/current.ts
  packages/sdk/src/cli/commands/workflow/start.test.ts
  packages/sdk/src/cli/commands/workflow/start.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): drop the http-adapter AST detector, load like other services
  packages/sdk/docs/services/http-adapter.md
  packages/sdk/src/cli/services/http-adapter/detector.test.ts
  packages/sdk/src/cli/services/http-adapter/detector.ts
  packages/sdk/src/cli/services/http-adapter/service.test.ts
  packages/sdk/src/cli/services/http-adapter/service.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): preserve json mode for default list commands
  packages/sdk/src/cli/commands/crashreport/list-json.test.ts
  packages/sdk/src/cli/commands/crashreport/list.ts
  packages/sdk/src/cli/commands/profile/list.test.ts
  packages/sdk/src/cli/commands/profile/list.ts
Due: 2-format, 3-lint, 4-typecheck

Delete .changeset/sweet-boxes-stand.md
  .changeset/sweet-boxes-stand.md
Due: 2-format

fix(cli): honor json mode in default list output
  packages/sdk/src/cli/commands/executor/list-json.test.ts
  packages/sdk/src/cli/commands/executor/list.ts
  packages/sdk/src/cli/commands/executor/webhook.ts
  packages/sdk/src/cli/commands/function/list.ts
  packages/sdk/src/cli/commands/staticwebsite/list.ts
  packages/sdk/src/cli/commands/user/list.test.ts
  packages/sdk/src/cli/commands/user/list.ts
  packages/sdk/src/cli/commands/user/pat/list.ts
  packages/sdk/src/cli/commands/workflow/list.ts
  packages/sdk/src/cli/commands/workspace/app/list.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): move http-adapter types out of types/ per layering policy
  packages/sdk/src/cli/commands/deploy/application.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/http-adapter/bundler.ts
  packages/sdk/src/cli/services/http-adapter/service.ts
  packages/sdk/src/configure/services/http-adapter/http-adapter.ts
  packages/sdk/src/parser/service/http-adapter/index.ts
  packages/sdk/src/parser/service/http-adapter/methods.ts
  packages/sdk/src/types/app-config.ts
  packages/sdk/src/types/http-adapter.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): clarify json output support scope
  packages/sdk/docs/cli-reference.md
Due: 2-format

docs(sdk): trim http-adapter bundler comments and drop stale detector reference
  packages/sdk/src/cli/services/http-adapter/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): exercise json mode without never casts
  packages/sdk/src/cli/commands/crashreport/list-json.test.ts
  packages/sdk/src/cli/commands/executor/list-json.test.ts
  packages/sdk/src/cli/commands/function/test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/commands/open.test.ts
  packages/sdk/src/cli/commands/open.ts
  packages/sdk/src/cli/commands/profile/list.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/status.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/status.ts
  packages/sdk/src/cli/commands/user/current.test.ts
  packages/sdk/src/cli/commands/user/current.ts
  packages/sdk/src/cli/commands/user/list.test.ts
  packages/sdk/src/cli/commands/workflow/start.test.ts
  packages/sdk/src/cli/commands/workflow/start.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for json output fixes
  .changeset/cli-json-output.md
Due: 2-format

refactor(sdk): simplify TailorDB ERD schema generation
  packages/sdk/src/cli/commands/tailordb/erd/export.ts
  packages/sdk/src/cli/commands/tailordb/erd/schema.ts
  packages/sdk/src/cli/commands/tailordb/erd/serve.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): simplify json-mode detection and dedupe json-output tests
  packages/sdk/src/cli/commands/crashreport/list-json.test.ts
  packages/sdk/src/cli/commands/crashreport/list.ts
  packages/sdk/src/cli/commands/executor/list-json.test.ts
  packages/sdk/src/cli/commands/executor/list.ts
  packages/sdk/src/cli/commands/executor/webhook.ts
  packages/sdk/src/cli/commands/function/list.ts
  packages/sdk/src/cli/commands/function/test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/commands/open.test.ts
  packages/sdk/src/cli/commands/open.ts
  packages/sdk/src/cli/commands/profile/list.test.ts
  packages/sdk/src/cli/commands/profile/list.ts
  packages/sdk/src/cli/commands/staticwebsite/list.ts
  packages/sdk/src/cli/commands/tailordb/migrate/status.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/status.ts
  packages/sdk/src/cli/commands/user/current.test.ts
  packages/sdk/src/cli/commands/user/current.ts
  packages/sdk/src/cli/commands/user/list.test.ts
  packages/sdk/src/cli/commands/user/list.ts
  packages/sdk/src/cli/commands/user/pat/list.ts
  packages/sdk/src/cli/commands/workflow/list.ts
  packages/sdk/src/cli/commands/workflow/start.test.ts
  packages/sdk/src/cli/commands/workflow/start.ts
  packages/sdk/src/cli/commands/workspace/app/list.ts
  packages/sdk/src/cli/shared/test-helpers/capture-output.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add @dqn to CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: require maintainer review for changeset release PRs
  .github/CODEOWNERS
Due: none

chore: align generated proto output
  packages/tailor-proto/src/tailor/v1/http_adapter_resource_pb.js
Due: 3-lint, 4-typecheck

refactor(cli): surface diagnostics on stderr in json mode
  packages/sdk/src/cli/commands/crashreport/list-json.test.ts
  packages/sdk/src/cli/commands/crashreport/list.ts
  packages/sdk/src/cli/commands/executor/list.ts
  packages/sdk/src/cli/commands/executor/webhook.ts
  packages/sdk/src/cli/commands/function/test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/commands/open.ts
  packages/sdk/src/cli/commands/profile/list.test.ts
  packages/sdk/src/cli/commands/profile/list.ts
  packages/sdk/src/cli/commands/user/list.test.ts
  packages/sdk/src/cli/commands/user/list.ts
  packages/sdk/src/cli/commands/user/pat/list.ts
  packages/sdk/src/cli/commands/workflow/list.ts
  packages/sdk/src/cli/commands/workflow/start.test.ts
  packages/sdk/src/cli/commands/workflow/start.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): show typed executor event trigger config
  .changeset/fix-executor-event-trigger-output.md
  packages/sdk/src/cli/commands/executor/transform.test.ts
  packages/sdk/src/cli/commands/executor/transform.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): dedupe typed event trigger config formatting
  packages/sdk/src/cli/commands/executor/transform.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): inline single-use event action formatter
  packages/sdk/src/cli/commands/executor/transform.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): converge api --body keys to canonical names before field injection
  .changeset/api-snake-case-field-injection.md
  packages/sdk/src/cli/commands/api/index.test.ts
  packages/sdk/src/cli/commands/api/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): use own-property checks for api body field presence
  packages/sdk/src/cli/commands/api/index.test.ts
  packages/sdk/src/cli/commands/api/index.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover api workspaceId injection across body key forms
  packages/sdk/src/cli/commands/api/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(deps): bump vulnerable transitive dependencies
  pnpm-lock.yaml
Due: none

refactor(sdk): unify AuthService config and parsedConfig, document auth constraints
  packages/sdk/docs/services/auth.md
  packages/sdk/src/cli/commands/deploy/auth.plan.test.ts
  packages/sdk/src/cli/commands/deploy/auth.ts
  packages/sdk/src/cli/commands/deploy/executor.test.ts
  packages/sdk/src/cli/commands/deploy/executor.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/services/auth/service.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): trim redundant comments in the auth connection deploy planner
  packages/sdk/src/cli/commands/deploy/auth-connection.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add workflow and executor waiters
  .changeset/workflow-executor-waiters.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/src/cli/commands/executor/jobs.test.ts
  packages/sdk/src/cli/commands/executor/jobs.ts
  packages/sdk/src/cli/commands/executor/status.ts
  packages/sdk/src/cli/commands/executor/trigger.test.ts
  packages/sdk/src/cli/commands/executor/trigger.ts
  packages/sdk/src/cli/commands/workflow/args.ts
  packages/sdk/src/cli/commands/workflow/executions.ts
  packages/sdk/src/cli/commands/workflow/index.ts
  packages/sdk/src/cli/commands/workflow/resume.ts
  packages/sdk/src/cli/commands/workflow/start.test.ts
  packages/sdk/src/cli/commands/workflow/start.ts
  packages/sdk/src/cli/commands/workflow/status.ts
  packages/sdk/src/cli/commands/workflow/transform.ts
  packages/sdk/src/cli/commands/workflow/wait.test.ts
  packages/sdk/src/cli/commands/workflow/wait.ts
  packages/sdk/src/cli/commands/workflow/waiter.test.ts
  packages/sdk/src/cli/commands/workflow/waiter.ts
  packages/sdk/src/cli/lib.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): add waiter automation examples
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/workflow.md
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
