Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(tailordb): preserve explicit unique flag for relation fields
  packages/sdk/src/parser/service/tailordb/relation.ts
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(executor): remove hand-written documentation in favor of generated content
  packages/sdk/docs/cli/executor.md
Due: 2-format

feat(plugin): add autocomplete for builtin plugin IDs in definePlugins
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/plugin-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

feat!: move optional peer dependencies to direct dependencies
  packages/sdk/package.json
Due: 2-format

feat(plugin): store pluginConfig for builtin plugins
  packages/sdk/src/cli/config-loader.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): error on n-1 relation with unique constraint
  .changeset/four-falcons-tease.md
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

fix: restore main branch changes for trigger and jobs commands
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/trigger.ts
  packages/sdk/src/cli/utils/format.ts
Due: 2-format, 3-lint, 4-typecheck

chore: use changeset publish for git tag and GitHub release creation
  .github/workflows/release.yml
Due: 2-format

chore: add changeset
  .changeset/tall-zoos-worry.md
Due: 2-format

docs(executor): add notes to triggerCommand for politty-generated docs
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/trigger.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): error on n-1 relation with unique constraint (#550)
  .changeset/four-falcons-tease.md
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove beta tag
  .github/workflows/release.yml
Due: 2-format

Use changeset publish for git tag and GitHub release creation (#551)
  .changeset/tall-zoos-worry.md
  .github/workflows/release.yml
Due: 2-format

docs(executor): add examples property for politty-generated command examples
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/trigger.ts
Due: 2-format, 3-lint, 4-typecheck

docs(executor): use full command in examples
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/trigger.ts
Due: 2-format, 3-lint, 4-typecheck

docs(executor): use bold text instead of heading for subsection
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/trigger.ts
Due: 2-format, 3-lint, 4-typecheck

fix(executor): use consistent uppercase trigger type format
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/trigger.ts
Due: 2-format, 3-lint, 4-typecheck

docs: fix broken link
  packages/sdk/docs/cli/application.md
Due: 2-format

style(workflow): add indentation to execution progress output
  packages/sdk/src/cli/workflow/start.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: make rebuildBackwardRelationshipsForFilteredTypes a pure function
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/apply/services/tailordb/migration.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove optional dependency check from migration bundler
  packages/sdk/knip.json
  packages/sdk/src/cli/bundler/migration/migration-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): quote namespace keys in namespaceEntities object
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

Apply suggestion from @devin-ai-integration[bot]
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): improve log order and indentation consistency
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(seed): use testExecScript API with Kysely batch insert for seeding (#540)
  example/package.json
  example/seed/config.yaml
  example/seed/data/_User.jsonl
  example/seed/exec.mjs
  example/seed/graphql/Customer.graphql
  example/seed/graphql/Event.graphql
  example/seed/graphql/Invoice.graphql
  example/seed/graphql/NestedProfile.graphql
  example/seed/graphql/PurchaseOrder.graphql
  example/seed/graphql/SalesOrder.graphql
  example/seed/graphql/SalesOrderCreated.graphql
  example/seed/graphql/Selfie.graphql
  example/seed/graphql/Supplier.graphql
  example/seed/graphql/User.graphql
  example/seed/graphql/UserLog.graphql
  example/seed/graphql/UserSetting.graphql
  example/seed/graphql/_User.graphql
  example/seed/mappings/Customer.json
  example/seed/mappings/Event.json
  example/seed/mappings/Invoice.json
  example/seed/mappings/NestedProfile.json
  example/seed/mappings/PurchaseOrder.json
  example/seed/mappings/SalesOrder.json
  example/seed/mappings/SalesOrderCreated.json
  example/seed/mappings/Selfie.json
  example/seed/mappings/Supplier.json
  example/seed/mappings/User.json
  example/seed/mappings/UserLog.json
  example/seed/mappings/UserSetting.json
  example/seed/mappings/_User.json
  packages/sdk/src/cli/bundler/seed/seed-bundler.test.ts
  packages/sdk/src/cli/bundler/seed/seed-bundler.ts
  packages/sdk/src/cli/generator/builtin/seed/gql-ingest-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/idp-user-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/cli/generator/builtin/seed/seed-type-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/types.ts
  packages/sdk/src/cli/lib.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for #540 and CI check for missing changesets
  .changeset/seed-kysely-batch.md
  .github/workflows/changeset-check.yml
Due: 2-format

fix: add predicate-quantifier to properly exclude README.md
  .github/workflows/changeset-check.yml
Due: 2-format

Apply suggestion from @toiroakr
  .changeset/seed-kysely-batch.md
Due: 2-format

chore: update pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

chore: remove builtin plugins from infrastructure branch
  packages/sdk/docs/plugin/builtin.md
  packages/sdk/docs/plugin/index.md
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/cli/type-generator.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/plugin/builtin/audit-log/index.ts
  packages/sdk/src/plugin/builtin/audit-log/plugin.ts
  packages/sdk/src/plugin/builtin/change-history/executors/on-create.ts
  packages/sdk/src/plugin/builtin/change-history/executors/on-delete.ts
  packages/sdk/src/plugin/builtin/change-history/executors/on-update.ts
  packages/sdk/src/plugin/builtin/change-history/index.ts
  packages/sdk/src/plugin/builtin/change-history/plugin.ts
  packages/sdk/src/plugin/builtin/change-history/types.ts
  packages/sdk/src/plugin/builtin/changeset/index.ts
  packages/sdk/src/plugin/builtin/changeset/operations.ts
  packages/sdk/src/plugin/builtin/changeset/plugin.ts
  packages/sdk/src/plugin/builtin/changeset/types.ts
  packages/sdk/src/plugin/builtin/index.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add shell completion command for bash, zsh, and fish
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/completion.md
  packages/sdk/src/cli/docs.test.ts
  packages/sdk/src/cli/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(deps): update politty to 0.2.0 for completion bug fix
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

refactor(cli): extract CLI binary name to local variable
  packages/sdk/src/cli/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove remaining builtin plugin references
  packages/sdk/package.json
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: update error messages and docs for bundled dependencies
  CLAUDE.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/generator/builtin.md
  packages/sdk/src/cli/tailordb/erd/export.ts
  packages/sdk/src/cli/tailordb/erd/serve.ts
  packages/sdk/src/cli/utils/resolve-cli-bin.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove unnecessary pnpm overrides for kysely
  package.json
  pnpm-lock.yaml
Due: 2-format

refactor: move PluginTypeImport and PluginSourceInfo to plugin-config
  packages/sdk/src/cli/generator/builtin/seed/lines-db-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/types.ts
  packages/sdk/src/parser/plugin-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove re-exports from seed module
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/cli/generator/builtin/seed/lines-db-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/types.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
