Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(tailordb): address remaining review feedback
  packages/create-sdk/templates/inventory-management/src/resolver/registerOrder.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/parser/service/tailordb/type-script.test.ts
  packages/sdk/src/parser/service/tailordb/type-script.ts
  packages/sdk/src/utils/test/index.test.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): resolve user file tsconfig paths before dynamic import
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/query/type-field-order.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/executor/loader.ts
  packages/sdk/src/cli/services/executor/service.ts
  packages/sdk/src/cli/services/http-adapter/service.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/resolver/loader.ts
  packages/sdk/src/cli/services/resolver/service.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/cli/shared/import-user-file.test.ts
  packages/sdk/src/cli/shared/import-user-file.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): unwatch by resolved files, skip fallback for absolute patterns
  packages/sdk/src/cli/commands/generate/watch/index.test.ts
  packages/sdk/src/cli/commands/generate/watch/index.ts
  packages/sdk/src/cli/services/file-loader.test.ts
  packages/sdk/src/cli/services/file-loader.ts
Due: 2-format, 3-lint, 4-typecheck

revert(sdk): remove tsconfig-aware dynamic import for user files
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/query/type-field-order.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/executor/loader.ts
  packages/sdk/src/cli/services/executor/service.ts
  packages/sdk/src/cli/services/http-adapter/service.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/resolver/loader.ts
  packages/sdk/src/cli/services/resolver/service.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/cli/shared/import-user-file.test.ts
  packages/sdk/src/cli/shared/import-user-file.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): de-duplicate v1-fallback warnings per baseDir
  packages/sdk/src/cli/services/file-loader.test.ts
  packages/sdk/src/cli/services/file-loader.ts
  packages/sdk/src/cli/shared/resolve-tsconfig.test.ts
  packages/sdk/src/cli/shared/resolve-tsconfig.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): offer workspace creation during selection
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/src/cli/commands/deploy/workspace.test.ts
  packages/sdk/src/cli/commands/deploy/workspace.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): show workspace reuse guidance
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/src/cli/commands/deploy/workspace.test.ts
  packages/sdk/src/cli/commands/deploy/workspace.ts
Due: 2-format, 3-lint, 4-typecheck

fix: align example tsdown version
  example/package.json
  pnpm-lock.yaml
Due: 2-format

fix(cli): warn when reusing saved workspace
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/src/cli/commands/deploy/workspace.test.ts
  packages/sdk/src/cli/commands/deploy/workspace.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): resolve tsconfig paths aliases in dynamically imported user files
  .changeset/fix-user-file-tsconfig-paths.md
  packages/sdk/knip.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/register-tsconfig-paths-hook.test.ts
  packages/sdk/src/cli/shared/register-tsconfig-paths-hook.ts
  packages/sdk/src/cli/tsconfig-paths-hook.d.mts
  packages/sdk/src/cli/tsconfig-paths-hook.mjs
  packages/sdk/src/cli/tsconfig-paths-hook.test.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(vitest): unify unhandled fallback vocabulary
  packages/sdk/src/vitest/mock-ergonomics.test.ts
  packages/sdk/src/vitest/mocks/authconnection.ts
  packages/sdk/src/vitest/mocks/iconv.ts
  packages/sdk/src/vitest/mocks/tailordb.ts
Due: 2-format, 3-lint, 4-typecheck

docs(vitest): clarify TailorDB mock override modes
  packages/sdk/docs/testing.md
  packages/sdk/src/vitest/mocks/tailordb.ts
Due: 2-format, 3-lint, 4-typecheck

docs(vitest): document shared mock result queues
  packages/sdk/src/vitest/mocks/file.ts
  packages/sdk/src/vitest/mocks/idp.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): expose loadTailorDBNamespaces and deployStaticWebsite from @tailor-platform/sdk/cli
  packages/sdk/src/cli/commands/tailordb/erd/local-schema.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/tailordb-namespaces.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): move field value validation into the runtime layer
  .changeset/field-parse-runtime-layer.md
  docs/architecture.md
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/types/type.ts
  packages/sdk/src/parser/service/resolver/index.ts
  packages/sdk/src/parser/service/resolver/local-input-parser.test.ts
  packages/sdk/src/parser/service/resolver/local-input-parser.ts
  packages/sdk/src/runtime/field-parse.test.ts
  packages/sdk/src/runtime/field-parse.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): tolerate non-object --arg values in test-run format detection
  .changeset/field-parse-runtime-layer.md
  packages/sdk/src/cli/commands/function/test-run.test.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk-tailordb-erd-plugin): add tailor-tailordb-erd CLI plugin package
  packages/sdk-tailordb-erd-plugin/.oxlintrc.json
  packages/sdk-tailordb-erd-plugin/README.md
  packages/sdk-tailordb-erd-plugin/package.json
  packages/sdk-tailordb-erd-plugin/src/deploy.ts
  packages/sdk-tailordb-erd-plugin/src/diff-command.test.ts
  packages/sdk-tailordb-erd-plugin/src/diff-command.ts
  packages/sdk-tailordb-erd-plugin/src/diff.test.ts
  packages/sdk-tailordb-erd-plugin/src/diff.ts
  packages/sdk-tailordb-erd-plugin/src/export.ts
  packages/sdk-tailordb-erd-plugin/src/index.ts
  packages/sdk-tailordb-erd-plugin/src/local-schema.test.ts
  packages/sdk-tailordb-erd-plugin/src/local-schema.ts
  packages/sdk-tailordb-erd-plugin/src/schema.test.ts
  packages/sdk-tailordb-erd-plugin/src/schema.ts
  packages/sdk-tailordb-erd-plugin/src/serve.test.ts
  packages/sdk-tailordb-erd-plugin/src/serve.ts
  packages/sdk-tailordb-erd-plugin/src/shared/args.ts
  packages/sdk-tailordb-erd-plugin/src/shared/command.ts
  packages/sdk-tailordb-erd-plugin/src/shared/logger.ts
  packages/sdk-tailordb-erd-plugin/src/types.ts
  packages/sdk-tailordb-erd-plugin/src/utils.ts
  packages/sdk-tailordb-erd-plugin/src/viewer-assets/app.js
  packages/sdk-tailordb-erd-plugin/src/viewer-assets/index.html
  packages/sdk-tailordb-erd-plugin/src/viewer-assets/serve.json
  packages/sdk-tailordb-erd-plugin/src/viewer-assets/styles.css
  packages/sdk-tailordb-erd-plugin/src/viewer.test.ts
  packages/sdk-tailordb-erd-plugin/src/viewer.ts
  packages/sdk-tailordb-erd-plugin/tsconfig.json
  packages/sdk-tailordb-erd-plugin/tsdown.config.ts
  packages/sdk-tailordb-erd-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk-tailordb-erd-plugin): merge duplicate type imports
  packages/sdk-tailordb-erd-plugin/src/local-schema.ts
  packages/sdk-tailordb-erd-plugin/src/schema.test.ts
  packages/sdk-tailordb-erd-plugin/src/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-tailordb-erd-plugin): render SDK CLIError details in plugin error output
  packages/sdk-tailordb-erd-plugin/src/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): build the ERD plugin before running erd-schema jobs
  .github/workflows/erd-schema.yml
Due: 2-format

docs(tailordb): document gqlOperations feature and namespace default
  packages/sdk/docs/services/tailordb.md
Due: 2-format

chore: add changeset for gqlOperations docs
  .changeset/document-tailordb-gql-operations.md
Due: 2-format

fix(sdk): resolve plugin context from forwarded --profile and align plugin CI config
  .github/workflows/erd-schema.yml
  packages/sdk-tailordb-erd-plugin/src/index.ts
  packages/sdk-tailordb-erd-plugin/src/shared/args.ts
  packages/sdk-tailordb-erd-plugin/src/shared/logger.ts
  packages/sdk-tailordb-erd-plugin/vitest.config.ts
  packages/sdk/src/cli/shared/plugin.test.ts
  packages/sdk/src/cli/shared/plugin.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): publish the ERD plugin in pkg.pr.new previews and document plugin flag placement
  .github/workflows/pkg-pr-new.yml
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
Due: 2-format

fix(sdk): skip platform context injection when a plugin gets an explicit env-file
  .github/workflows/changeset-check.yml
  .github/workflows/erd-schema.yml
  .github/workflows/pkg-pr-new.yml
  packages/sdk-tailordb-erd-plugin/package.json
  packages/sdk/src/cli/shared/plugin.test.ts
  packages/sdk/src/cli/shared/plugin.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): cover profile-aware and env-file-aware plugin context injection
  .changeset/cli-plugins.md
  packages/sdk/src/cli/shared/plugin.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): require defineConfig id once tailor.d.ts records it
  .changeset/require-id-after-generate.md
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
  packages/sdk/src/configure/config/index.ts
  packages/sdk/src/configure/config/types.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/types/config-id.ts
Due: 2-format, 3-lint, 4-typecheck

chore(create-sdk): regenerate template tailor.d.ts with ConfigIdRegistry
  packages/create-sdk/templates/executor/tailor.d.ts
  packages/create-sdk/templates/generators/tailor.d.ts
  packages/create-sdk/templates/hello-world/tailor.d.ts
  packages/create-sdk/templates/inventory-management/tailor.d.ts
  packages/create-sdk/templates/resolver/tailor.d.ts
  packages/create-sdk/templates/static-web-site/tailor.d.ts
  packages/create-sdk/templates/tailordb/tailor.d.ts
  packages/create-sdk/templates/workflow/tailor.d.ts
Due: 3-lint, 4-typecheck

docs(sdk): drop npm links to the unpublished ERD plugin package
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/tailordb.template.md
Due: 2-format
