Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(cli): guard api command body injection against non-object JSON
  packages/sdk/src/cli/commands/api.test.ts
  packages/sdk/src/cli/commands/api.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): use beforeAll/afterAll for fetch stub lifecycle
  packages/sdk/src/cli/commands/api.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): resolve bundled skills directory via package.json lookup
  packages/sdk/src/cli/commands/skills/install.test.ts
  packages/sdk/src/cli/commands/skills/install.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): error when the gh-reported PR base is not fetched locally
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
Due: 2-format, 3-lint, 4-typecheck

ci: skip symlinks in executable-file check
  .github/workflows/ci.yml
Due: 2-format

fix(sdk): map GITHUB_BASE_REF to base-repo remote in fork checkouts
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
Due: 2-format, 3-lint, 4-typecheck

chore: mark llm-challenge and docs-check skills as internal
  .claude/skills/docs-check/SKILL.md
  .claude/skills/llm-challenge/SKILL.md
Due: 2-format

fix(sdk): resolve workspace bin/implicit entrypoints and untracked files
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): default skills install agent to claude-code
  packages/sdk/src/cli/commands/skills/install.test.ts
  packages/sdk/src/cli/commands/skills/install.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): retarget absolute intra-repo symlinks to the merge worktree
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

docs: regenerate skills install CLI reference
  packages/sdk/docs/cli/skills.md
Due: 2-format

fix(sdk): harden worktree add and external symlink retargeting
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): catch pnpm store divergence and error on unmatched base remote
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): harden pnpm divergence check and credentialed remote matching
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): skip wildcard export patterns in packageCanResolve
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): sanity-check wildcard export prefix directories
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): guard worktree dispose and relax type-declaration resolve check
  packages/sdk/src/cli/commands/apply/index.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): verify origin/HEAD fallback ref and list bun.lockb in notes
  packages/sdk/src/cli/commands/apply/index.ts
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): flatten chdir restore using nested try/finally
  packages/sdk/src/cli/commands/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): cover prepareBasePlan happy path and error branches
  packages/sdk/src/cli/commands/apply/merge-plan-setup.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): sync changeset and prepareBasePlan JSDoc with implementation
  .changeset/apply-base-plan.md
  packages/sdk/src/cli/commands/apply/merge-plan-setup.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): stub GITHUB_BASE_REF in detection-fails assertion
  packages/sdk/src/cli/commands/apply/merge-plan-setup.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): clarify query REPL options and help text
  .changeset/slick-forks-learn.md
  packages/sdk/docs/cli/query.md
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(query): scope REPL history by profile and workspace
  .changeset/slick-forks-learn.md
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(idp): make authorization field optional in IdP configuration
  packages/sdk/src/cli/commands/apply/idp.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/types/idp.generated.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for idp authorization optional
  .changeset/idp-authorization-optional.md
Due: 2-format

fix: add missing authorization test and mark field as optional in docs
  packages/sdk/docs/services/idp.md
  packages/sdk/src/parser/service/idp/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: normalize empty authorization to undefined for idempotent apply
  packages/sdk/src/cli/commands/apply/idp.plan.test.ts
  packages/sdk/src/cli/commands/apply/idp.ts
Due: 2-format, 3-lint, 4-typecheck

fix: correct CEL authorization example to use object form in docs
  packages/sdk/docs/services/idp.md
Due: 2-format

feat(query): keep submitted queries visible in REPL
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): keep tailor-sdk-skills bin as deprecated shim
  .changeset/hip-paws-occur.md
  packages/sdk/package.json
  packages/sdk/src/cli/skills.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): centralize pagination helpers in args and keep programmatic list limits unbounded
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/src/cli/commands/authconnection/list.ts
  packages/sdk/src/cli/commands/executor/jobs.ts
  packages/sdk/src/cli/commands/executor/list.ts
  packages/sdk/src/cli/commands/function/logs.ts
  packages/sdk/src/cli/commands/machineuser/list.ts
  packages/sdk/src/cli/commands/oauth2client/list.ts
  packages/sdk/src/cli/commands/secret/list.ts
  packages/sdk/src/cli/commands/secret/vault/list.ts
  packages/sdk/src/cli/commands/staticwebsite/list.ts
  packages/sdk/src/cli/commands/user/pat/list.ts
  packages/sdk/src/cli/commands/workflow/executions.ts
  packages/sdk/src/cli/commands/workflow/list.ts
  packages/sdk/src/cli/shared/args.test.ts
  packages/sdk/src/cli/shared/args.ts
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): clarify newest-first default in list pagination changeset
  .changeset/list-order-limit.md
Due: 2-format

ci: emit GitHub Actions annotations for escaping links
  scripts/check-docs-paths.mjs
Due: none

chore: rename check-docs-paths.mjs to .js for consistency
  .github/workflows/link-check.yml
  scripts/check-docs-paths.js
Due: 2-format, 3-lint, 4-typecheck

Apply suggestion from @devin-ai-integration[bot]
  .changeset/renovate-1001.md
Due: 2-format

test: add vitest tests for check-docs-paths script
  packages/sdk/vitest.config.ts
  scripts/check-docs-paths.js
  scripts/check-docs-paths.test.js
Due: 2-format, 3-lint, 4-typecheck

Apply suggestion from @devin-ai-integration[bot]
  .changeset/renovate-1003.md
Due: 2-format

chore(sdk): suppress import-x/order on processOrder fixture
  packages/sdk/src/cli/commands/apply/__test_fixtures__/workflows/processOrder.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): rename function registry files and adopt paginationArgs
  packages/sdk/docs/cli/function.md
  packages/sdk/src/cli/commands/function/get.ts
  packages/sdk/src/cli/commands/function/index.ts
  packages/sdk/src/cli/commands/function/list.ts
  packages/sdk/src/cli/commands/function/transform.ts
  packages/sdk/src/cli/lib.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
