Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs: escape namespace placeholder in ERD export option description
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/src/cli/tailordb/erd/export.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): use dynamic imports for executor factories
  example/plugins/soft-delete/index.ts
  example/plugins/soft-delete/plugin.ts
  packages/sdk/package.json
  packages/sdk/src/cli/generator/plugin-executor-generator.ts
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/plugin/builtin/change-history/index.ts
  packages/sdk/src/plugin/builtin/change-history/plugin.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

docs: fix broken link
  packages/sdk/docs/cli/application.md
Due: 2-format

fix: honor profile when loading seed access token
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: honor profile in example seed script
  example/seed/exec.mjs
Due: none

fix(seed): address review issues in seed generator and bundler
  example/seed/exec.mjs
  packages/sdk/src/cli/bundler/seed/seed-bundler.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): add seed-bundler unit tests
  packages/sdk/src/cli/bundler/seed/seed-bundler.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): use nested ml templates instead of array join pattern
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): use auth namespace for invoker and guard empty truncate types
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(plugin): add pluginConfig support for global plugin settings
  example/plugins/soft-delete/index.ts
  example/plugins/soft-delete/plugin.ts
  example/tailor.config.ts
  packages/sdk/src/cli/config-loader.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): add .ts suffix to executeScript name and include keyOnly relations in dependency map
  example/seed/config.yaml
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/gql-ingest-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): regenerate files for Deleted_Customer archive type
  example/generated/tailordb.ts
  example/seed/config.yaml
  example/seed/data/Deleted_Customer.jsonl
  example/seed/data/Deleted_Customer.schema.ts
  example/seed/exec.mjs
  example/seed/graphql/Deleted_Customer.graphql
  example/seed/mappings/Deleted_Customer.json
Due: 3-lint, 4-typecheck

refactor(plugin): separate configSchema and pluginConfigSchema
  example/plugins/soft-delete/plugin.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/plugin-config/types.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(example): use function syntax for local plugin config
  example/plugins/soft-delete/index.ts
  example/plugins/soft-delete/plugin.ts
  example/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): replace gql-ingest with direct fetch for _User seeding
  example/package.json
  example/seed/config.yaml
  example/seed/exec.mjs
  example/seed/graphql/Customer.graphql
  example/seed/graphql/Event.graphql
  example/seed/graphql/Invoice.graphql
  example/seed/graphql/NestedProfile.graphql
  example/seed/graphql/PurchaseOrder.graphql
  example/seed/graphql/SalesOrder.graphql
  example/seed/graphql/SalesOrderCreated.graphql
  example/seed/graphql/Selfie.graphql
  example/seed/graphql/Supplier.graphql
  example/seed/graphql/User.graphql
  example/seed/graphql/UserLog.graphql
  example/seed/graphql/UserSetting.graphql
  example/seed/graphql/_User.graphql
  example/seed/mappings/Customer.json
  example/seed/mappings/Event.json
  example/seed/mappings/Invoice.json
  example/seed/mappings/NestedProfile.json
  example/seed/mappings/PurchaseOrder.json
  example/seed/mappings/SalesOrder.json
  example/seed/mappings/SalesOrderCreated.json
  example/seed/mappings/Selfie.json
  example/seed/mappings/Supplier.json
  example/seed/mappings/User.json
  example/seed/mappings/UserLog.json
  example/seed/mappings/UserSetting.json
  example/seed/mappings/_User.json
  packages/sdk/src/cli/generator/builtin/seed/gql-ingest-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/idp-user-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/cli/generator/builtin/seed/seed-type-processor.ts
  packages/sdk/src/cli/generator/builtin/seed/types.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(seed): update _User passwords to meet IdP password policy
  example/seed/data/_User.jsonl
Due: none

docs: escape namespace placeholder in ERD export option description (#538)
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/src/cli/tailordb/erd/export.ts
Due: 2-format, 3-lint, 4-typecheck

fix: propagate seed script failure status
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(apply): extract build/load/plan into functions with tailorDBOnly check
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add migration 0008 for new types and fields
  example/migrations/0008/diff.json
Due: 2-format

test: add e2e tests for toResolverOutput with all field types
  example/e2e/resolver.test.ts
  example/generated/files.ts
  example/generated/tailordb.ts
  example/resolvers/passThrough.ts
  example/seed/config.yaml
  example/seed/data/ProfileComment.jsonl
  example/seed/data/ProfileComment.schema.ts
  example/seed/data/ProfileDetail.jsonl
  example/seed/data/ProfileDetail.schema.ts
  example/seed/exec.mjs
  example/seed/graphql/ProfileComment.graphql
  example/seed/graphql/ProfileDetail.graphql
  example/seed/mappings/ProfileComment.json
  example/seed/mappings/ProfileDetail.json
  example/tailordb/nested.ts
  example/tailordb/profileReference.ts
  example/tests/fixtures/expected/db.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add toResolverOutput function for TailorDBType conversion
  .changeset/funny-planes-admire.md
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/configure/services/resolver/index.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

fix(apply): apply IdP/Auth before TailorDB in migration mode
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: use changesets action for publish and GitHub releases
  .github/workflows/release.yml
Due: 2-format

chore: move npm registry setup before changesets action
  .github/workflows/release.yml
Due: 2-format

chore: add changeset
  .changeset/brave-impalas-like.md
Due: 2-format

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: 2-format

refactor: format
  .github/workflows/release.yml
Due: 2-format

feat(sdk): add workspace commands (#487)
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/utils/format.ts
  packages/sdk/src/cli/workspace/app/health.ts
  packages/sdk/src/cli/workspace/app/index.ts
  packages/sdk/src/cli/workspace/app/list.ts
  packages/sdk/src/cli/workspace/app/transform.ts
  packages/sdk/src/cli/workspace/get.ts
  packages/sdk/src/cli/workspace/index.ts
  packages/sdk/src/cli/workspace/restore.ts
  packages/sdk/src/cli/workspace/transform.ts
  packages/sdk/src/cli/workspace/user/index.ts
  packages/sdk/src/cli/workspace/user/invite.ts
  packages/sdk/src/cli/workspace/user/list.ts
  packages/sdk/src/cli/workspace/user/remove.ts
  packages/sdk/src/cli/workspace/user/transform.ts
  packages/sdk/src/cli/workspace/user/update.ts
Due: 2-format, 3-lint, 4-typecheck

Added tests for TailorDB parse runtime validation cases (#533)
  .changeset/mighty-carrots-kick.md
  packages/sdk/src/configure/services/tailordb/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove manual publish/tag/release steps
  .github/workflows/release.yml
Due: 2-format

Added tests for erd (#534)
  .changeset/cold-plums-live.md
  packages/sdk/src/cli/tailordb/erd/schema.test.ts
  packages/sdk/src/cli/tailordb/erd/schema.ts
Due: 2-format, 3-lint, 4-typecheck

Create GitHub releases (#537)
  .changeset/brave-impalas-like.md
  .github/workflows/release.yml
Due: 2-format

chore: add tests for loadAccessToken
  packages/sdk/src/cli/context.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(executor): add list, get, and webhook commands
  .changeset/brave-chairs-play.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/executor/args.ts
  packages/sdk/src/cli/executor/get.ts
  packages/sdk/src/cli/executor/index.ts
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/list.ts
  packages/sdk/src/cli/executor/status.ts
  packages/sdk/src/cli/executor/transform.test.ts
  packages/sdk/src/cli/executor/transform.ts
  packages/sdk/src/cli/executor/trigger.ts
  packages/sdk/src/cli/executor/webhook.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/utils/format.ts
  packages/sdk/src/cli/workflow/status.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/soft-snakes-hide.md
Due: 2-format

fix(executor): address PR review comments
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/trigger.ts
  packages/sdk/src/cli/executor/webhook.ts
  packages/sdk/src/cli/utils/format.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add clone method tests for TailorDBField
  packages/sdk/src/configure/services/tailordb/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/six-planets-travel.md
Due: 2-format
