Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(cli): remove legacy bundle artifact cleanup shim
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/integration.test.ts
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/prepare.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/services/stale-cleanup.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/remove-legacy-bundle-cleanup.md
Due: 2-format

feat(codemod): auto-resolve pending prerelease codemod boundaries in CI
  .changeset/resolve-pending-codemod-boundaries.md
  .github/scripts/resolve-pending-codemod-boundaries.sh
  .github/workflows/release.yml
  package.json
  packages/sdk-codemod/scripts/resolve-pending-boundaries.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk)!: remove generate --watch flag
  .changeset/remove-generate-watch.md
  packages/sdk/docs/cli/application.md
  packages/sdk/package.json
  packages/sdk/src/cli/commands/generate/index.ts
  packages/sdk/src/cli/commands/generate/options.ts
  packages/sdk/src/cli/commands/generate/service.test.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/commands/generate/watch/index.test.ts
  packages/sdk/src/cli/commands/generate/watch/index.ts
  packages/sdk/src/cli/commands/generate/watch/types.ts
  packages/sdk/src/cli/shared/config-loader.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): address Copilot review on the pending-boundary resolver
  .github/scripts/resolve-pending-codemod-boundaries.sh
  packages/sdk-codemod/src/registry.test.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

docs(codemod): explain why V2_NEXT_PENDING must stay export const
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): remove stale generate:watch script and add v2 codemod
  .changeset/generate-watch-codemod.md
  example/README.md
  example/package.json
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(create-sdk): drop ignored invoker from inventory template executor
  packages/create-sdk/templates/inventory-management/src/executor/checkInventory.ts
Due: 3-lint, 4-typecheck

ci: cover eslint-plugin-sdk and sdk-codemod in changeset check
  .github/workflows/changeset-check.yml
Due: 2-format

fix(codemod): use a portable base64 invocation in the pending-boundary script
  .github/scripts/resolve-pending-codemod-boundaries.sh
Due: none

fix(sdk): restore loadConfig importNonce option
  packages/sdk/src/cli/shared/config-loader.ts
Due: 2-format, 3-lint, 4-typecheck

test(e2e): add deadline and retry to operator client calls
  example/e2e/utils.ts
Due: 2-format, 3-lint, 4-typecheck

test(e2e): create a fresh deadline signal per retry attempt
  example/e2e/utils.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): harden the pending-boundary resolver against dirty checkouts and off-line versions
  .github/scripts/resolve-pending-codemod-boundaries.sh
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

test(e2e): log operator client retries
  example/e2e/utils.ts
Due: 2-format, 3-lint, 4-typecheck

docs(codemod): document legacy bundle cleanup removal as a v2 notice
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): tolerate non-canonical formatting and avoid mutating a branch ref
  .github/scripts/resolve-pending-codemod-boundaries.sh
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

fix(workflow): genericize the bundle-cache extra-context field name
  packages/sdk/src/cli/cache/bundle-cache.test.ts
  packages/sdk/src/cli/cache/bundle-cache.ts
  packages/sdk/src/cli/services/auth/bundler.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/http-adapter/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk-codemod): explain why workflow-start-rename stays manual
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): apply default test-file ignores regardless of baseDir
  packages/sdk/src/cli/services/file-loader.test.ts
  packages/sdk/src/cli/services/file-loader.ts
Due: 2-format, 3-lint, 4-typecheck

fix(e2e): harden runner and cleanup safety
  .agents/skills/e2e-test/SKILL.md
  .agents/skills/e2e-test/SUITES.md
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/supervise-process-group.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/skill.test.sh
  packages/sdk/scripts/cleanup-e2e-workspaces.test.ts
  packages/sdk/scripts/cleanup-e2e-workspaces.ts
  packages/sdk/scripts/select-e2e-workspaces.test.ts
  packages/sdk/scripts/select-e2e-workspaces.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-codemod): rename invoker to authInvoker on renamed triggerWorkflow calls
  packages/sdk-codemod/codemods/v2/workflow-trigger-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/workflow-trigger-rename/tests/invoker-option-rename/expected.ts
  packages/sdk-codemod/codemods/v2/workflow-trigger-rename/tests/invoker-option-rename/input.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

test(workflow): rename stale trigger wording in mock.test.ts
  packages/sdk/src/vitest/mock.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(e2e): harden isolated test cleanup
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/SUITES.md
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/supervise-process-group.sh
  .agents/skills/e2e-test/scripts/with-machine-user-auth.sh
  .agents/skills/e2e-test/test/fixtures/fake-node.sh
  .agents/skills/e2e-test/test/fixtures/fake-tailor-sdk.sh
  .agents/skills/e2e-test/test/skill.test.sh
  packages/sdk/scripts/select-e2e-workspaces.test.ts
  packages/sdk/scripts/select-e2e-workspaces.ts
Due: 2-format, 3-lint, 4-typecheck

docs: rewrite changeset from a user-facing perspective
  .changeset/remove-legacy-bundle-cleanup.md
Due: 2-format
