Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix: use exit code 130 for user-cancelled prompts
  packages/sdk/src/cli/shared/prompt.ts
Due: 2-format, 3-lint, 4-typecheck

test: add comment to resolver.md for stale detection test
  packages/sdk/docs/services/resolver.md
Due: 2-format

feat: add skills CI workflows for validation and consistency check
  .github/workflows/skills-consistency-check.yml
  .github/workflows/validate-skills.yml
  packages/sdk/docs/services/resolver.md
Due: 2-format

feat: add organization and folder CLI commands
  .changeset/qgfhkccrfidg.md
  packages/sdk/src/cli/commands/organization/folder/create.ts
  packages/sdk/src/cli/commands/organization/folder/delete.ts
  packages/sdk/src/cli/commands/organization/folder/get.ts
  packages/sdk/src/cli/commands/organization/folder/index.ts
  packages/sdk/src/cli/commands/organization/folder/list.ts
  packages/sdk/src/cli/commands/organization/folder/update.ts
  packages/sdk/src/cli/commands/organization/get.ts
  packages/sdk/src/cli/commands/organization/index.ts
  packages/sdk/src/cli/commands/organization/list.ts
  packages/sdk/src/cli/commands/organization/transform.ts
  packages/sdk/src/cli/commands/organization/tree.ts
  packages/sdk/src/cli/commands/organization/update.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/shared/logger.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): replace npx skills add with local fs copy installer
  packages/sdk/skills/SKILL.md
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove _artifacts from git and add to .gitignore
  .gitignore
  packages/sdk/skills/_artifacts/domain_map.yaml
  packages/sdk/skills/_artifacts/skill_spec.md
  packages/sdk/skills/_artifacts/skill_tree.yaml
Due: 2-format

chore: add changeset
  .changeset/slimy-olives-sort.md
Due: 2-format

fix(sdk): restore skills/tailor-sdk/ path for intent validate compliance
  packages/sdk/skills/tailor-sdk/SKILL.md
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): simplify skills installer by removing unused options
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
  packages/sdk/src/cli/skills.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): rename root skill to overview/ and copy to .claude/skills/tailor-sdk/
  packages/sdk/skills/overview/SKILL.md
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): correct code examples in plugin and workflow skills
  packages/sdk/skills/plugin/SKILL.md
  packages/sdk/skills/services/workflow/SKILL.md
Due: 2-format

fix(sdk): handle missing metadata.sources in consistency check and update README
  .github/workflows/skills-consistency-check.yml
  packages/sdk/README.md
Due: 2-format

feat(sdk): copy skills to both .claude/ and .agents/ directories
  packages/sdk/README.md
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): add permissions to validate-skills workflow
  .github/workflows/validate-skills.yml
Due: 2-format

temp
  packages/sdk/src/cli/commands/apply/application.test.ts
  packages/sdk/src/cli/commands/apply/application.ts
  packages/sdk/src/cli/commands/apply/apply.ts
  packages/sdk/src/cli/commands/apply/auth.plan.test.ts
  packages/sdk/src/cli/commands/apply/auth.ts
  packages/sdk/src/cli/commands/apply/change-set.test.ts
  packages/sdk/src/cli/commands/apply/change-set.ts
  packages/sdk/src/cli/commands/apply/compare.ts
  packages/sdk/src/cli/commands/apply/executor.test.ts
  packages/sdk/src/cli/commands/apply/executor.ts
  packages/sdk/src/cli/commands/apply/function-registry.test.ts
  packages/sdk/src/cli/commands/apply/function-registry.ts
  packages/sdk/src/cli/commands/apply/idp.plan.test.ts
  packages/sdk/src/cli/commands/apply/idp.ts
  packages/sdk/src/cli/commands/apply/resolver.test.ts
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/cli/commands/apply/secret-manager.test.ts
  packages/sdk/src/cli/commands/apply/secret-manager.ts
  packages/sdk/src/cli/commands/apply/staticwebsite.test.ts
  packages/sdk/src/cli/commands/apply/staticwebsite.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.test.ts
  packages/sdk/src/cli/commands/apply/tailordb/index.ts
  packages/sdk/src/cli/commands/apply/workflow.test.ts
  packages/sdk/src/cli/commands/apply/workflow.ts
  packages/sdk/src/cli/services/workflow/bundler.test.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix: remove unintended bin/files fields from root package.json
  package.json
Due: 2-format

chore(sdk): add tanstack-intent keyword to package.json
  packages/sdk/package.json
Due: 2-format

fix(sdk): clean destination directories before copying skills
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use SDK re-export for kysely in seed bundler
  packages/sdk/src/cli/commands/generate/seed/bundler.test.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/zwuyl-uocdk.md
Due: 2-format

fix: use SDK re-export for kysely in query bundler
  packages/sdk/src/cli/bundler/query/query-bundler.test.ts
  packages/sdk/src/cli/bundler/query/query-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/zwuyl-uocdk.md
Due: 2-format

test: add guard test to prevent direct kysely imports in bundlers
  .claude/rules/bundler-kysely-imports.md
  packages/sdk/src/cli/bundler/no-direct-kysely-import.test.ts
Due: 2-format, 3-lint, 4-typecheck

Revert "test: add guard test to prevent direct kysely imports in bundlers"
  .claude/rules/bundler-kysely-imports.md
  packages/sdk/src/cli/bundler/no-direct-kysely-import.test.ts
Due: 2-format, 3-lint, 4-typecheck

test: remove sdk/kysely import assertion tests from bundlers
  packages/sdk/src/cli/bundler/query/query-bundler.test.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix first deploy error
  packages/sdk/src/cli/commands/apply/auth.plan.test.ts
  packages/sdk/src/cli/commands/apply/auth.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): skip postinstall type generation when no tailor.config.ts found
  packages/sdk/postinstall.mjs
Due: none

feat(secret): add managed vault guard and document runtime secret access
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/services/secret.md
  packages/sdk/src/cli/commands/secret/create.ts
  packages/sdk/src/cli/commands/secret/delete.ts
  packages/sdk/src/cli/commands/secret/managed-vault-guard.ts
  packages/sdk/src/cli/commands/secret/update.ts
  packages/sdk/src/cli/commands/secret/vault/delete.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/fix-postinstall-skip.md
Due: 2-format

chore: add changeset
  .changeset/ugoqrzqhtp.md
Due: 2-format

fix(secret): prevent managed vault guard from swallowing CIPromptError
  packages/sdk/src/cli/commands/secret/managed-vault-guard.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(secret): rename managedVaultGuard to checkVaultManaged and extract confirm
  packages/sdk/src/cli/commands/secret/check-vault-managed.ts
  packages/sdk/src/cli/commands/secret/create.ts
  packages/sdk/src/cli/commands/secret/delete.ts
  packages/sdk/src/cli/commands/secret/update.ts
  packages/sdk/src/cli/commands/secret/vault/delete.ts
Due: 2-format, 3-lint, 4-typecheck

style(secret): flatten nested if in create/update commands
  packages/sdk/src/cli/commands/secret/create.ts
  packages/sdk/src/cli/commands/secret/update.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add Secret Manager section to configuration.md
  packages/sdk/docs/configuration.md
Due: 2-format

refactor(sdk): flatten skills directory structure with tailor-sdk- prefix
  .gitignore
  packages/sdk/README.md
  packages/sdk/skills/tailor-sdk-auth/SKILL.md
  packages/sdk/skills/tailor-sdk-executor/SKILL.md
  packages/sdk/skills/tailor-sdk-overview/SKILL.md
  packages/sdk/skills/tailor-sdk-plugin/SKILL.md
  packages/sdk/skills/tailor-sdk-resolver/SKILL.md
  packages/sdk/skills/tailor-sdk-tailordb/SKILL.md
  packages/sdk/skills/tailor-sdk-testing/SKILL.md
  packages/sdk/skills/tailor-sdk-workflow/SKILL.md
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): correct production crash report endpoint URL and align GraphQL types with server schema
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): include userId and userEmail in crash reports
  packages/sdk/src/cli/commands/crash-report/send.test.ts
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
  packages/sdk/src/cli/crash-report/writer.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs: add comments explaining lazy imports in crash reporting
  packages/sdk/src/cli/crash-report/index.ts
  packages/sdk/src/cli/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat: name generated workflow after workspace for multi-env support
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: extract YAML templates into .yml files for Renovate support
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/fetch-tailor-token.action.yml
  packages/sdk/src/cli/commands/setup/github/install-node.action.yml
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
  packages/sdk/src/cli/commands/setup/github/template-fetch-tailor-token.ts
  packages/sdk/src/cli/commands/setup/github/template-install-node.ts
  packages/sdk/src/yml.d.ts
  packages/sdk/tsdown.config.ts
  packages/sdk/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
