Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(llm-challenge): fix endDate format, merge retry scaffold changes, document audit limitation
  llm-challenge/problems/001-saas-subscription-platform/solution/executors/upgradeAuditLog.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/subscription.ts
  llm-challenge/runner/run.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): simplify upgradeAuditLog variables and extract BillingPeriod type
  llm-challenge/problems/001-saas-subscription-platform/solution/executors/upgradeAuditLog.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/workflows/billingCycle.ts
Due: 2-format, 3-lint, 4-typecheck

test: migrate example tests to SDK and add test patterns to templates
  example/tests/apply_command.test.ts
  example/tests/bundled_execution.test.ts
  packages/create-sdk/templates/executor/e2e/executor.test.ts
  packages/create-sdk/templates/executor/e2e/globalSetup.ts
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/executor/vitest.config.ts
  packages/create-sdk/templates/resolver/e2e/globalSetup.ts
  packages/create-sdk/templates/resolver/e2e/resolver.test.ts
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/resolver/tests/bundled.test.ts
  packages/create-sdk/templates/resolver/vitest.config.ts
  packages/create-sdk/templates/tailordb/e2e/globalSetup.ts
  packages/create-sdk/templates/tailordb/e2e/tailordb.test.ts
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/tailordb/vitest.config.ts
  packages/create-sdk/templates/workflow/package.json
  packages/create-sdk/templates/workflow/tests/bundled.test.ts
  packages/create-sdk/templates/workflow/vitest.config.ts
  packages/sdk/.gitignore
  packages/sdk/eslint.config.js
  packages/sdk/knip.json
  packages/sdk/src/cli/commands/apply/__test_fixtures__/executors/onUserCreated.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/integration.test.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/prepare.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/resolvers/add.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/resolvers/showInfo.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailor.config.generators-compat.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailor.config.plugins-compat.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailor.config.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailordb/order.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailordb/user.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/workflows/processOrder.ts
  packages/sdk/src/plugin/compat.test.ts
  packages/sdk/src/utils/test/index.ts
  packages/sdk/src/utils/test/mock.ts
  packages/sdk/vitest.config.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): remove unused type exports and simplify overage calculation
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/auditEvent.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/invoice.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/organization.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/subscription.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailordb/usageRecord.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/workflows/billingCycle.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): embed machine user context into test-run bundles
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-foxes-run.md
Due: 2-format

fix(query): inspect only top-level SELECT for wildcard detection
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
Due: 2-format, 3-lint, 4-typecheck

fix: pass env context to showEnv bundled test
  packages/create-sdk/templates/resolver/tests/bundled.test.ts
Due: 3-lint, 4-typecheck

refactor: simplify test utilities and fixtures
  example/tests/bundled_execution.test.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/prepare.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove redundant type alias and typeof guard in tests
  example/tests/bundled_execution.test.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/integration.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add publint for package export validation
  .changeset/add-publint.md
  .github/workflows/ci.yml
  package.json
  packages/create-sdk/package.json
  packages/sdk/knip.json
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Due: 2-format

refactor(query): preserve SQL declaration order for column reordering
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
  packages/sdk/src/cli/query/sql-type-extractor.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/fix-sql-column-order.md
Due: 2-format

fix(query): add missing JSDoc @returns and @param description for extractTopLevelSelect
  packages/sdk/src/cli/query/sql-type-extractor.ts
Due: 2-format, 3-lint, 4-typecheck

fix(query): use case-insensitive matching for SQL column reordering
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for test utilities
  .changeset/migrate-test-utilities.md
Due: 2-format

refactor: remove e2e tests from create-sdk templates
  packages/create-sdk/templates/executor/e2e/executor.test.ts
  packages/create-sdk/templates/executor/e2e/globalSetup.ts
  packages/create-sdk/templates/executor/package.json
  packages/create-sdk/templates/executor/vitest.config.ts
  packages/create-sdk/templates/resolver/e2e/globalSetup.ts
  packages/create-sdk/templates/resolver/e2e/resolver.test.ts
  packages/create-sdk/templates/resolver/package.json
  packages/create-sdk/templates/resolver/vitest.config.ts
  packages/create-sdk/templates/tailordb/e2e/globalSetup.ts
  packages/create-sdk/templates/tailordb/e2e/tailordb.test.ts
  packages/create-sdk/templates/tailordb/package.json
  packages/create-sdk/templates/tailordb/vitest.config.ts
Due: 3-lint, 4-typecheck

fix: update lockfile after removing graphql deps from templates
  pnpm-lock.yaml
Due: none

fix: use namespace imports for node: modules in SDK package
  packages/sdk/src/cli/commands/apply/__test_fixtures__/integration.test.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/prepare.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailor.config.generators-compat.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailor.config.plugins-compat.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/tailor.config.ts
  packages/sdk/src/plugin/compat.test.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(apply): skip application creation when no subgraphs are configured
  packages/sdk/src/cli/commands/apply/application.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): add E2E tests for function test-run command
  packages/sdk/e2e/fixtures/function-test-run/error-function.ts
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/src/cli/shared/script-executor.test.ts
  packages/sdk/src/cli/shared/script-executor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/late-pots-talk.md
Due: 2-format

refactor(cli): use internal APIs in function test-run E2E tests
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/eslint.config.js
Due: 2-format, 3-lint, 4-typecheck

fix(cli): fix CI lint and E2E pre-bundled test failures
  packages/sdk/e2e/function-test-run.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/tricky-showers-sell.md
Due: 2-format

refactor(cli): remove --type option from function test-run
  packages/sdk/docs/cli/function.md
  packages/sdk/e2e/function-test-run.test.ts
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): show Result section only on success in test-run output
  packages/sdk/src/cli/commands/function/test-run.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(query): remove WITH/CTE handling and dead code per review
  packages/sdk/src/cli/query/sql-type-extractor.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/cli/query/type-field-order.ts
Due: 2-format, 3-lint, 4-typecheck

fix(changeset): ignore private packages to fix mixed changeset error
  .changeset/allow-microsoft-oauth.md
  .changeset/config.json
Due: 2-format

fix(query): improve SQL parse error message and add script-executor fallback tests
  packages/sdk/src/cli/query/sql-type-extractor.test.ts
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/cli/shared/script-executor.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(query): support multiple SQL statements in a single query
  packages/sdk/src/cli/bundler/query/query-bundler.test.ts
  packages/sdk/src/cli/bundler/query/query-bundler.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/bright-tables-glow.md
Due: 2-format

fix(query): use pgsql-ast-parser for SQL statement splitting instead of naive semicolon split
  packages/sdk/src/cli/bundler/query/query-bundler.ts
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/bright-tables-glow.md
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
