Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(tailordb): say table in the hand-written config JSDoc
  .changeset/tailordb-table-schema-docs.md
  packages/sdk/src/configure/services/auth/types.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/plugin/types.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): say table in the prose beside the renamed strings
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/parser/service/tailordb/schema.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

docs(aigateway): document that omitting authNamespace requires an Auth service
  packages/sdk/docs/services/aigateway.md
  packages/sdk/src/parser/service/aigateway/schema.ts
  packages/sdk/src/types/aigateway.generated.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): keep _User out of the table wording
  .changeset/tailordb-table-plugin-prose.md
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/entities.test.ts
  packages/sdk-plugin-seed/src/entities.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): say entity in the docs beside the entity messages
  packages/sdk-plugin-seed/src/entities.test.ts
  packages/sdk-plugin-seed/src/entities.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): chunk _User seeding and redact script payloads in error dumps
  .changeset/seed-idp-user-chunking.md
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): hoist chunk count reporting out of the seeding loop
  packages/sdk-plugin-seed/src/apply.ts
Due: 2-format, 3-lint, 4-typecheck

docs(aigateway,executor): fix remaining Copilot review findings
  .changeset/aigateway-auth-namespace-default.md
  packages/sdk/docs/services/aigateway.md
  packages/sdk/docs/services/executor.md
Due: 2-format

refactor(tailordb): say table in the remaining prose, docs, and example
  .changeset/tailordb-table-prose-remaining.md
  example/migrations/0000/schema.json
  example/resolvers/passThrough.ts
  example/tailordb/nested.ts
  packages/create-sdk/templates/tailordb/src/db/task.test.ts
  packages/sdk/docs/services/tailordb.md
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/executor.ts
  packages/sdk/src/cli/commands/deploy/label.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/generate/plugin-executor-generator.ts
  packages/sdk/src/cli/commands/generate/plugin-type-generator.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/commands/tailordb/migrate/pre-migration-schema.ts
  packages/sdk/src/cli/commands/tailordb/migrate/schema-checks.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/commands/tailordb/migrate/test-helpers/schema-fixtures.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/services/tailordb/type-name-validation.ts
  packages/sdk/src/cli/shared/tailordb-namespace.ts
  packages/sdk/src/configure/config/index.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/permission.ts
  packages/sdk/src/parser/service/tailordb/relation.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/parser/service/tailordb/type-script.ts
  packages/sdk/src/plugin/builtin/enum-constants/process-enum-type.ts
  packages/sdk/src/plugin/builtin/file-utils/process-file-type.ts
  packages/sdk/src/plugin/builtin/kysely-type/type-processor.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/plugin/builtin/seed/seed-type-processor.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/src/plugin/manager.ts
  packages/sdk/src/plugin/with-context.ts
  packages/sdk/src/runtime/file.ts
  packages/sdk/src/utils/test/internal.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): finish the table wording in touched comment blocks
  packages/sdk/src/cli/commands/generate/plugin-type-generator.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/commands/tailordb/migrate/test-helpers/schema-fixtures.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): stop on execution failure, keep global row numbers, redact ExecScript
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.test.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
Due: 2-format, 3-lint, 4-typecheck

fix(example): record the nested profile description change as a migration
  example/migrations/0000/schema.json
  example/migrations/0007/diff.json
  packages/sdk/docs/services/tailordb.md
Due: 2-format

refactor(create-sdk): say table in the tailordb template's inner test titles
  packages/create-sdk/templates/tailordb/src/db/task.test.ts
Due: 3-lint, 4-typecheck

fix(seed): treat unparseable chunk results as interrupted and scope retry advice
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/apply.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): say table across the pre-migration schema JSDoc
  packages/sdk/src/cli/commands/tailordb/migrate/pre-migration-schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): keep the retry advice relative to the original invocation
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/apply.ts
Due: 2-format, 3-lint, 4-typecheck

fix: raise minimum Node.js version to 22.18.0
  .changeset/seed-node-version.md
  docs/getting-started.md
  example/package.json
  llm-challenge/package.json
  package.json
  packages/sdk-codemod/package.json
  packages/sdk-codemod/src/registry.ts
  packages/sdk-plugin-seed/package.json
  packages/sdk-plugin-tailordb-erd/package.json
  packages/sdk/README.md
  packages/sdk/docs/migration/v2.md
  packages/sdk/docs/quickstart.md
  packages/sdk/package.json
  packages/sdk/src/cli/ts-hook.mjs
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): fix remaining type/table mismatches in JSDoc returns
  packages/sdk/src/cli/query/sql-type-extractor.ts
  packages/sdk/src/cli/query/type-field-order.ts
Due: 2-format, 3-lint, 4-typecheck

docs: state merge-commit policy for pull requests in AGENTS.md
  AGENTS.md
Due: 2-format

feat(tailordb): support data-only migrations with generate --data-only
  .changeset/tricky-pears-repeat.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/src/cli/commands/tailordb/migrate/generate.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/script.ts
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): extract shared editor-open helper for generated scripts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): rename the types positional to entities
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/entities.test.ts
  packages/sdk-plugin-seed/src/entities.ts
Due: 2-format, 3-lint, 4-typecheck

docs(seed): align migration docs with the table and entity wording
  .changeset/tailordb-table-plugin-prose.md
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
  packages/sdk/docs/services/tailordb-migration.md
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): say table in deploy labels, errors, and generated files
  .changeset/tailordb-table-cli-output.md
  example/seed/data/_User.schema.ts
  example/tests/fixtures/expected/seed/data/_User.schema.ts
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/generate/plugin-type-generator.ts
  packages/sdk/src/cli/shared/seed-chunker.test.ts
  packages/sdk/src/cli/shared/seed-chunker.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
  packages/sdk/src/utils/test/internal.ts
Due: 2-format, 3-lint, 4-typecheck

docs(tailordb): say table in the remaining migration, testing, and template docs
  .changeset/tailordb-table-docs-remaining.md
  packages/create-sdk/templates/tailordb/README.md
  packages/sdk/docs/services/tailordb-migration.md
  packages/sdk/docs/testing.md
Due: 2-format

docs(changeset): trim data-only changeset to upgrade-relevant facts
  .changeset/tricky-pears-repeat.md
Due: 2-format

docs(changeset): drop the internal toSchemaOutput error from the notes
  .changeset/tailordb-table-cli-output.md
Due: 2-format

refactor(tailordb): say table in migration engine and test prose
  example/e2e/tailordb.test.ts
  packages/sdk-plugin-seed/src/jsonl.test.ts
  packages/sdk-plugin-seed/src/jsonl.ts
  packages/sdk-plugin-seed/src/topo-sort.test.ts
  packages/sdk-plugin-seed/src/topo-sort.ts
  packages/sdk-plugin-tailordb-erd/src/local-schema.ts
  packages/sdk-plugin-tailordb-erd/src/schema.test.ts
  packages/sdk/e2e/deploy.test.ts
  packages/sdk/e2e/migration.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-bulk-schema-bug.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-index-phases.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-rollback.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-type-rename.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-unrelated-namespace.test.ts
  packages/sdk/src/cli/commands/deploy/validate-plan.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/db-types-generator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/diff-calculator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/expand-contract.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.ts
  packages/sdk/src/cli/commands/tailordb/migrate/template-generator.test.ts
  packages/sdk/src/cli/commands/tailordb/truncate.test.ts
  packages/sdk/src/cli/shared/seed-chunker.ts
  packages/sdk/src/configure/config/types.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/tailordb/types.ts
  packages/sdk/src/parser/service/tailordb/field.test.ts
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
  packages/sdk/src/parser/service/tailordb/type-script.test.ts
  packages/sdk/src/parser/service/tailordb/type-source.ts
  packages/sdk/src/plugin/manager.test.ts
  packages/sdk/src/plugin/types.ts
  packages/sdk/src/utils/test/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): keep the deploy (type) label and neutralize generated source labels
  .changeset/tailordb-table-cli-output.md
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/generate/plugin-type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): say table in the remaining internal comments and test titles
  .changeset/tailordb-table-internal-prose.md
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/fill.test.ts
  packages/sdk/src/cli/commands/deploy/dependency-records.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/event-subscriptions.test.ts
  packages/sdk/src/cli/commands/deploy/label.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-index-phases.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-rollback.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-type-rename.test.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/commands/tailordb/migrate/db-types-generator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/db-types-generator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/diff-calculator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-manifest.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/test-runtime.ts
  packages/sdk/src/cli/commands/tailordb/migrate/validate.test.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/executor/service.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/shared/seed-chunker.test.ts
  packages/sdk/src/cli/shared/seed-chunker.ts
  packages/sdk/src/cli/shared/tailordb-namespace.test.ts
  packages/sdk/src/configure/config/index.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/parser/service/auth/index.test.ts
  packages/sdk/src/plugin/builtin/file-utils/generate-file-utils.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/plugin/builtin/seed/seed-type-processor.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/src/plugin/manager.test.ts
  packages/sdk/src/plugin/manager.ts
  packages/sdk/src/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(tailordb): finish the table sweep in touched files
  .changeset/tailordb-table-internal-prose.md
  example/e2e/tailordb.test.ts
  packages/sdk/src/cli/commands/deploy/dependency-records.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-bulk-schema-bug.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-rollback.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-unrelated-namespace.test.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/commands/tailordb/migrate/db-types-generator.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/db-types-generator.ts
  packages/sdk/src/cli/commands/tailordb/migrate/generate.ts
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/rename-detection.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/sync.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/test-runtime.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/shared/seed-chunker.test.ts
  packages/sdk/src/cli/shared/tailordb-namespace.test.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(changeset): narrow the notes to the remaining rebaseline sentence
  .changeset/tailordb-table-docs-remaining.md
Due: 2-format

refactor(deploy): label a TailorDB table change (table) in the plan
  .changeset/tailordb-table-cli-output.md
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/application.template.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(deploy): create pre-existing types absent from every pending migration diff
  .changeset/nine-jokes-punch.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-rollback.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-unaffected-types.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): rename generated table internals
  .changeset/tailordb-plugin-table-identifiers.md
  packages/sdk/src/cli/commands/generate/plugin-executor-generator.ts
  packages/sdk/src/cli/commands/generate/plugin-type-generator.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/plugin/manager.test.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): rename table generator file
  packages/sdk/src/cli/commands/generate/plugin-table-generator.ts
  packages/sdk/src/cli/services/application.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): remove unused import metadata
  packages/sdk/src/cli/commands/generate/plugin-executor-generator.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(plugin): rename generated table public APIs
  .changeset/tailordb-plugin-table-identifiers.md
  packages/sdk-plugin-tailordb-erd/src/schema.test.ts
  packages/sdk-plugin-tailordb-erd/src/schema.ts
  packages/sdk/docs/plugin/custom.md
  packages/sdk/docs/plugin/index.md
  packages/sdk/src/cli/commands/generate/plugin-table-generator.ts
  packages/sdk/src/cli/commands/generate/service.test.ts
  packages/sdk/src/cli/commands/generate/service.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/services/tailordb/service.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/services/tailordb/type-name-validation.ts
  packages/sdk/src/cli/shared/seed-context.test.ts
  packages/sdk/src/cli/shared/tailordb-namespaces.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/parser/plugin-config/schema.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/parser/service/tailordb/type-source.test.ts
  packages/sdk/src/parser/service/tailordb/type-source.ts
  packages/sdk/src/parser/service/tailordb/types.ts
  packages/sdk/src/plugin/builtin/enum-constants/index.ts
  packages/sdk/src/plugin/builtin/file-utils/index.test.ts
  packages/sdk/src/plugin/builtin/file-utils/index.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.test.ts
  packages/sdk/src/plugin/builtin/kysely-type/index.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.test.ts
  packages/sdk/src/plugin/builtin/seed/lines-db-processor.ts
  packages/sdk/src/plugin/builtin/seed/seed-type-processor.ts
  packages/sdk/src/plugin/builtin/seed/types.ts
  packages/sdk/src/plugin/get-generated-type.test.ts
  packages/sdk/src/plugin/get-generated-type.ts
  packages/sdk/src/plugin/index.ts
  packages/sdk/src/plugin/manager.test.ts
  packages/sdk/src/plugin/manager.ts
  packages/sdk/src/plugin/plugin-config.test.ts
  packages/sdk/src/plugin/types.ts
  packages/sdk/src/plugin/with-context.ts
  packages/sdk/src/types/plugin-config.generated.ts
Due: 2-format, 3-lint, 4-typecheck
