Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(cli): simplify crash report error classification and regex usage
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): simplify sanitize module structure
  packages/sdk/src/cli/crash-report/sanitize.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): simplify crash report parsing with JSON footer
  packages/sdk/src/cli/commands/crash-report/send.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/crash-report/writer.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): read crash report endpoint at call time and parse last JSON footer
  packages/sdk/src/cli/commands/crash-report/send.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): consolidate logger.log calls in crash report message
  packages/sdk/src/cli/crash-report/index.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): document accepted trade-off for positional arg sanitization in crash reports
  packages/sdk/src/cli/crash-report/report.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): merge break conditions in parseCommand and hoist Windows path regex
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): inline filePath variable in crash-report send command
  packages/sdk/src/cli/commands/crash-report/send.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): switch crash report sender from webhook POST to GraphQL mutation
  packages/sdk/src/cli/crash-report/index.test.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): extract shared constants and eliminate TOCTOU in crash-report commands
  packages/sdk/src/cli/commands/crash-report/list.ts
  packages/sdk/src/cli/commands/crash-report/send.ts
  packages/sdk/src/cli/crash-report/writer.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): handle empty GraphQL errors array, increase command depth to 3, accept CRLF in crash logs
  packages/sdk/src/cli/commands/crash-report/send.test.ts
  packages/sdk/src/cli/commands/crash-report/send.ts
  packages/sdk/src/cli/crash-report/report.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): sanitize all multiline error message lines and check mutation success flag
  packages/sdk/src/cli/crash-report/sanitize.test.ts
  packages/sdk/src/cli/crash-report/sanitize.ts
  packages/sdk/src/cli/crash-report/sender.test.ts
  packages/sdk/src/cli/crash-report/sender.ts
Due: 2-format, 3-lint, 4-typecheck

ci: add docs-implementation consistency check workflow
  .changeset/sharp-bags-grow.md
  .github/workflows/docs-consistency-check.yml
Due: 2-format

ci: remove unnecessary changeset for CI-only change
  .changeset/sharp-bags-grow.md
Due: 2-format

feat: add retry policy support to createWorkflow
  example/workflows/order-processing.ts
  packages/sdk/src/cli/commands/apply/workflow.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/parser/service/workflow/schema.ts
  packages/sdk/src/types/workflow.generated.ts
  packages/tailor-proto/src/tailor/v1/function_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/function_resource_pb.js
  packages/tailor-proto/src/tailor/v1/service_pb.d.ts
  packages/tailor-proto/src/tailor/v1/service_pb.js
  packages/tailor-proto/src/tailor/v1/telemetry_export_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetry_export_pb.js
  packages/tailor-proto/src/tailor/v1/telemetry_export_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/telemetry_export_resource_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_pb.js
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.js
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for workflow retry policy
  .changeset/workflow-retry-policy.md
Due: 2-format

refactor: reuse existing parseDuration and regenerate types via zinfer
  packages/sdk/src/cli/commands/apply/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

fix(brand): use kind-specific brand symbols to prevent cross-service false positives
  packages/sdk/src/cli/services/executor/service.ts
  packages/sdk/src/cli/services/resolver/service.ts
  packages/sdk/src/cli/services/service-brand.test.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/configure/services/executor/executor.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/utils/brand.test.ts
  packages/sdk/src/utils/brand.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(brand): accept array of kinds in isSdkBranded
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/utils/brand.test.ts
  packages/sdk/src/utils/brand.ts
Due: 2-format, 3-lint, 4-typecheck

fix(brand): check both workflow kinds in workflow service loader
  packages/sdk/src/cli/services/workflow/service.ts
  packages/sdk/src/utils/brand.ts
Due: 2-format, 3-lint, 4-typecheck

fix(brand): accept legacy boolean brands in kind-specific checks
  packages/sdk/src/utils/brand.test.ts
  packages/sdk/src/utils/brand.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for brand kind fix
  .changeset/fix-brand-kind-symbol.md
Due: 2-format

feat: add protovalidate-aligned validation and make all retryPolicy fields required
  packages/sdk/src/cli/commands/apply/workflow.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
  packages/sdk/src/parser/service/workflow/schema.ts
  packages/sdk/src/types/workflow.generated.ts
Due: 2-format, 3-lint, 4-typecheck

chore(deps): upgrade politty to v0.4.6
  packages/create-sdk/package.json
  packages/sdk/package.json
  packages/sdk/src/cli/shared/args.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/swift-foxes-glow.md
Due: 2-format

chore: update changeset description
  .changeset/swift-foxes-glow.md
Due: 2-format

chore(politty): upgrade to v0.4.9 and add global options links to CLI docs
  packages/create-sdk/package.json
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/completion.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/package.json
  packages/sdk/src/cli/docs.test.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

docs(cli): add Global Options heading in cli-reference.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/commands/workspace/create.ts
  packages/sdk/src/cli/shared/args.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

chore: pin politty to exact version and add save-exact to .npmrc
  .npmrc
  packages/create-sdk/package.json
  packages/sdk/package.json
Due: 2-format

fix: revert env fallback changes accidentally included in previous commit
  packages/sdk/docs/cli/application.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/tailordb.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/commands/workspace/create.ts
  packages/sdk/src/cli/shared/args.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update lockfile for exact politty version
  pnpm-lock.yaml
Due: none

Replace deprecated inlineDynamicImports with codeSplitting
  packages/sdk/src/cli/bundler/query/query-bundler.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
  packages/sdk/src/cli/commands/tailordb/migrate/bundler.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/tailordb/hooks-validate-bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

Add changeset for inlineDynamicImports deprecation fix
  .changeset/wicked-groups-clap.md
Due: 2-format

fix: insert rows one-by-one for tables with self-referencing foreign keys
  example/tests/fixtures/expected/seed/exec.mjs
  packages/sdk/src/cli/commands/generate/seed/bundler.ts
  packages/sdk/src/plugin/builtin/seed/index.ts
  packages/sdk/src/plugin/builtin/seed/seed-type-processor.ts
  packages/sdk/src/plugin/builtin/seed/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/fuzzy-lies-sin.md
  example/seed/exec.mjs
  packages/create-sdk/templates/generators/src/seed/exec.mjs
Due: 2-format

chore: regenerate proto files (backoffMultiplier now required)
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/workflow_resource_pb.js
Due: 3-lint, 4-typecheck
