Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(cli): preserve executor workflow wait status
  packages/sdk/src/cli/commands/executor/jobs.test.ts
  packages/sdk/src/cli/commands/executor/jobs.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): retain workflow execution wait diagnostics
  packages/sdk/src/cli/commands/workflow/executions.test.ts
  packages/sdk/src/cli/commands/workflow/executions.ts
  packages/sdk/src/cli/lib.ts
Due: 2-format, 3-lint, 4-typecheck

ci: run vitest lint checks
  .github/workflows/ci.yml
  lefthook.yml
Due: 2-format

test(cli): allow workflow wait in readonly guard
  packages/sdk/src/cli/shared/readonly-guard.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add bundle log level config
  .changeset/bundle-log-level.md
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/cache/bundle-cache.test.ts
  packages/sdk/src/cli/cache/bundle-cache.ts
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/auth/bundler.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/bundle-log-level.test.ts
  packages/sdk/src/cli/shared/bundle-log-level.ts
  packages/sdk/src/configure/config.test.ts
  packages/sdk/src/parser/app-config/schema.test.ts
  packages/sdk/src/parser/app-config/schema.ts
  packages/sdk/src/types/app-config.generated.ts
  packages/sdk/src/types/app-config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): compose function treeshake options
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/services/auth/bundler.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/bundle-log-level.test.ts
  packages/sdk/src/cli/shared/bundle-log-level.ts
  packages/sdk/src/cli/shared/function-treeshake.test.ts
  packages/sdk/src/cli/shared/function-treeshake.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): clarify log level JSDoc
  packages/sdk/src/types/app-config.ts
Due: 2-format, 3-lint, 4-typecheck

docs: document vitest lint pass
  AGENTS.md
  docs/getting-started.md
Due: 2-format

chore(ci): post docs consistency as review
  .github/workflows/docs-consistency-check.yml
Due: 2-format

fix(sdk): apply log level to all function bundles
  packages/sdk/src/cli/services/application.ts
  packages/sdk/src/cli/services/auth/bundler.test.ts
  packages/sdk/src/cli/services/auth/bundler.ts
  packages/sdk/src/cli/services/http-adapter/bundler.test.ts
  packages/sdk/src/cli/services/http-adapter/bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore(ci): harden docs review lookup
  .github/workflows/docs-consistency-check.yml
Due: 2-format

fix(ci): use supported review lookup command
  .github/workflows/docs-consistency-check.yml
Due: 2-format

docs(example): show bundle log level config
  example/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): pan ERD viewer horizontally on touchpad swipes
  packages/sdk/src/cli/commands/tailordb/erd/viewer-assets/app.js
Due: 2-format, 3-lint, 4-typecheck

test(sdk): hoist expect out of conditional in log level test
  packages/sdk/src/parser/app-config/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: use politty dispatcher prerelease
  packages/sdk/docs/cli/completion.md
  packages/sdk/src/cli/completion.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: refresh politty dispatcher prerelease
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

chore: update politty dispatcher prerelease
  packages/sdk/docs/cli/completion.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

feat(completion): add dispatcher completion changeset
  .changeset/adopt-dispatcher-completion.md
Due: 2-format

feat(completion): bundle zsh completion worker
  .changeset/adopt-dispatcher-completion.md
  package.json
  packages/sdk/package.json
  packages/sdk/scripts/check-completion-worker.mjs
  packages/sdk/scripts/generate-completion-worker.mjs
Due: 2-format

refactor(completion): validate worker during build
  package.json
  packages/sdk/package.json
  packages/sdk/scripts/check-completion-worker.mjs
  packages/sdk/scripts/generate-completion-worker.mjs
Due: 2-format

refactor(completion): use politty worker helper
  packages/sdk/package.json
  packages/sdk/scripts/generate-completion-worker.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

chore: update politty dispatcher prerelease to PR head
  packages/sdk/src/cli/completion.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(cli): keep keyring users in config on V2->V1 downgrade
  .changeset/fix-keyring-config-data-loss.md
  packages/sdk/src/cli/shared/context.test.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): delete all pages when truncating Built-In IdP users
  .changeset/fix-idp-truncate-pagination.md
  example/seed/exec.mjs
  example/tests/fixtures/expected/seed/exec.mjs
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.test.ts
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): trim idp truncate test fixtures
  packages/sdk/src/plugin/builtin/seed/idp-user-processor.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover current_user clamp on V1 config downgrade
  packages/sdk/src/cli/shared/context.test.ts
  packages/sdk/src/cli/shared/context.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): clone resolver fields on write to stop metadata leaking
  .changeset/fix-resolver-field-clone-on-write.md
  packages/sdk/src/configure/types/type.test.ts
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck

test: refresh generator expected fixtures for seed output
  example/tests/fixtures/expected/seed/data/User.schema.ts
  example/tests/fixtures/expected/seed/exec.mjs
Due: 3-lint, 4-typecheck

ci: regenerate generator expected fixtures on every PR
  .github/workflows/generate.yml
Due: 2-format

ci: tighten generator fixtures step comment
  .github/workflows/generate.yml
Due: 2-format

ci: include untracked files when committing generated drift
  .github/workflows/generate.yml
Due: 2-format

fix(sdk): deep-copy cloned field metadata for full instance independence
  packages/sdk/src/configure/types/type.test.ts
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck

test(example): refresh bundle-size baselines after kysely 0.29.2 upgrade
  example/tests/bundled_execution.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): move bundle log level definitions to parser layer
  packages/sdk/src/cli/shared/bundle-log-level.ts
  packages/sdk/src/parser/app-config/log-level.ts
  packages/sdk/src/parser/app-config/schema.ts
  packages/sdk/src/types/app-config.generated.ts
  packages/sdk/src/types/app-config.ts
  packages/sdk/zinfer.config.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): make parser log-level module dependency-free
  packages/sdk/src/parser/app-config/log-level.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): exclude console.assert from log-level treeshaking
  packages/sdk/src/cli/shared/bundle-log-level.test.ts
  packages/sdk/src/cli/shared/bundle-log-level.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): warn when an object-form permission omits permit
  .changeset/permission-omitted-permit-warning.md
  packages/sdk/src/cli/commands/deploy/idp.ts
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/configure/services/idp/permission.ts
  packages/sdk/src/configure/services/tailordb/permission.ts
  packages/sdk/src/parser/service/idp/permission.test.ts
  packages/sdk/src/parser/service/idp/permission.ts
  packages/sdk/src/parser/service/tailordb/permission.test.ts
  packages/sdk/src/parser/service/tailordb/permission.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): let createTailorField own clone metadata construction
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck
