Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

chore: use oxfmt for formatting and clean up oxlint config
  CLAUDE.md
  package.json
  packages/sdk/.oxlintrc.json.bak
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

chore: add changeset
  .changeset/hip-areas-throw.md
Due: 2-format

fix: generation process order to avoid crash
  .changeset/generator-dependencies.md
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.test.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.test.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/generator/types.test.ts
  packages/sdk/src/cli/generator/types.ts
  packages/sdk/src/parser/generator-config/index.ts
  packages/sdk/src/parser/generator-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove deprecated GeneratorInput type and update exports in lib.ts
  packages/sdk/src/cli/generator/types.ts
  packages/sdk/src/cli/lib.ts
Due: 2-format, 3-lint, 4-typecheck

fix: correct username in CODEOWNERS and move to .github/
  .github/CODEOWNERS
Due: none

chore: add runtime performance metrics and combine together
  .github/workflows/bundle-size.yml
  .github/workflows/coverage.yml
  .github/workflows/sdk-metrics.yml
  .github/workflows/type-check-performance.yml
  packages/sdk/.gitignore
  packages/sdk/.octocov.bundle.yml
  packages/sdk/.octocov.coverage.yml
  packages/sdk/.octocov.perf.yml
  packages/sdk/.octocov.yml
  packages/sdk/package.json
  packages/sdk/scripts/perf/runtime-perf.sh
Due: 2-format

fix: correct username in CODEOWNERS and move to .github/ (#315)
  .github/CODEOWNERS
Due: none

fix: generation process order to avoid crash (#314)
  .changeset/generator-dependencies.md
  packages/sdk/src/cli/application/resolver/service.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.test.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/index.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.test.ts
  packages/sdk/src/cli/generator/builtin/file-utils/index.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/generator/types.test.ts
  packages/sdk/src/cli/generator/types.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/parser/generator-config/index.ts
  packages/sdk/src/parser/generator-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update permissions in SDK metrics workflow and adjust runtime-perf script mode
  .github/workflows/sdk-metrics.yml
  packages/sdk/scripts/perf/runtime-perf.sh
Due: 2-format

fix: cycle import
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/inline-sourcemap.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/floppy-beers-cheat.md
Due: 2-format

fix: improve runtime-perf.sh logging and add CI env vars
  .github/workflows/sdk-metrics.yml
  packages/sdk/scripts/perf/runtime-perf.sh
Due: 2-format

Fix: cycle import (#317)
  .changeset/floppy-beers-cheat.md
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/inline-sourcemap.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore: change import/no-cycle value
  packages/sdk/.oxlintrc.json
Due: 2-format

fix: use TAILOR_PLATFORM_SDK_BUILD_ONLY for runtime perf benchmark
  .github/workflows/sdk-metrics.yml
  packages/sdk/scripts/perf/runtime-perf.sh
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: simplify runtime perf metrics to min and median only
  .github/workflows/sdk-metrics.yml
  packages/sdk/scripts/perf/runtime-perf.sh
Due: 2-format

fix: change runtime perf metrics to max and median
  .github/workflows/sdk-metrics.yml
  packages/sdk/scripts/perf/runtime-perf.sh
Due: 2-format

chore: add runtime performance metrics and combine together (#316)
  .github/workflows/bundle-size.yml
  .github/workflows/coverage.yml
  .github/workflows/sdk-metrics.yml
  .github/workflows/type-check-performance.yml
  packages/sdk/.gitignore
  packages/sdk/.octocov.bundle.yml
  packages/sdk/.octocov.coverage.yml
  packages/sdk/.octocov.perf.yml
  packages/sdk/.octocov.yml
  packages/sdk/package.json
  packages/sdk/scripts/perf/runtime-perf.sh
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: format
  packages/create-sdk/templates/inventory-management/src/db/category.ts
  packages/create-sdk/templates/inventory-management/src/db/common/permission.ts
  packages/create-sdk/templates/inventory-management/src/db/contact.ts
  packages/create-sdk/templates/inventory-management/src/db/order.ts
  packages/create-sdk/templates/inventory-management/src/db/orderItem.ts
  packages/create-sdk/templates/inventory-management/src/db/product.ts
  packages/create-sdk/templates/inventory-management/src/executor/checkInventory.ts
  packages/create-sdk/templates/inventory-management/src/resolver/registerOrder.ts
  packages/create-sdk/templates/inventory-management/tailor.config.ts
  packages/create-sdk/templates/testing/e2e/workflow.test.ts
  packages/create-sdk/templates/testing/src/resolver/mockTailordb.test.ts
  packages/create-sdk/templates/testing/src/resolver/wrapTailordb.test.ts
  packages/create-sdk/templates/testing/src/resolver/wrapTailordb.ts
  packages/create-sdk/templates/testing/src/workflow/wrapTailordb.test.ts
  packages/create-sdk/templates/testing/src/workflow/wrapTailordb.ts
  packages/create-sdk/templates/testing/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix: update imports to use type imports for KyselyConfig in generator templates
  .changeset/khaki-tables-leave.md
  example/generated/tailordb.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

fix: update test expects
  example/tests/fixtures/expected/db.ts
Due: 2-format, 3-lint, 4-typecheck

chore: exclude create-sdk templates from oxfmt formatting
  .oxfmtrc.json
  packages/create-sdk/templates/inventory-management/src/db/category.ts
  packages/create-sdk/templates/inventory-management/src/db/common/permission.ts
  packages/create-sdk/templates/inventory-management/src/db/contact.ts
  packages/create-sdk/templates/inventory-management/src/db/order.ts
  packages/create-sdk/templates/inventory-management/src/db/orderItem.ts
  packages/create-sdk/templates/inventory-management/src/db/product.ts
  packages/create-sdk/templates/inventory-management/src/executor/checkInventory.ts
  packages/create-sdk/templates/inventory-management/src/resolver/registerOrder.ts
  packages/create-sdk/templates/inventory-management/tailor.config.ts
  packages/create-sdk/templates/testing/e2e/workflow.test.ts
  packages/create-sdk/templates/testing/src/resolver/mockTailordb.test.ts
  packages/create-sdk/templates/testing/src/resolver/wrapTailordb.test.ts
  packages/create-sdk/templates/testing/src/resolver/wrapTailordb.ts
  packages/create-sdk/templates/testing/src/workflow/wrapTailordb.test.ts
  packages/create-sdk/templates/testing/src/workflow/wrapTailordb.ts
  packages/create-sdk/templates/testing/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix: update imports to use type imports for KyselyConfig in generator… (#321)
  .changeset/khaki-tables-leave.md
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
Due: 2-format, 3-lint, 4-typecheck

fix: handle empty bundler inputs
  .changeset/warm-otters-poke.md
  packages/sdk/src/cli/bundler/executor/executor-bundler.test.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.test.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.test.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

fix: handle empty bundler inputs (#322)
  .changeset/warm-otters-poke.md
  packages/sdk/src/cli/bundler/executor/executor-bundler.test.ts
  packages/sdk/src/cli/bundler/executor/executor-bundler.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.test.ts
  packages/sdk/src/cli/bundler/resolver/resolver-bundler.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.test.ts
  packages/sdk/src/cli/bundler/workflow/workflow-bundler.ts
Due: 2-format, 3-lint, 4-typecheck

chore: fix oxfmt config and lefthook
  .oxfmtrc.json
  lefthook.yml
Due: 2-format

chore: delete .prettierignore
  .prettierignore
Due: none

chore(docs): add workflow execution to executor
  .changeset/whole-views-sit.md
  packages/sdk/docs/services/executor.md
Due: 2-format

chore(docs): update executor documentation to clarify operation types and add job function details
  packages/sdk/docs/services/executor.md
Due: 2-format

enhance validation types and add data parameter to validation functions
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/types/type.ts
  packages/sdk/src/configure/types/validation.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix
  packages/sdk/src/configure/types/validation.ts
Due: 2-format, 3-lint, 4-typecheck

fix: improve type handling and error verification in tests
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/options.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: setup native alias
  packages/sdk/package.json
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add oxlint to example
  example/.oxlintrc.json
  example/eslint.config.js
  example/package.json
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

format and test
  packages/sdk/src/configure/types/type.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add generate workflow for pull requests
  .github/workflows/generate.yml
Due: 2-format

fix
  packages/sdk/src/cli/generator/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add oxlint to all projects
  example/.oxlintrc.json.bak
  example/package.json
  packages/create-sdk/templates/hello-world/.oxlintrc.json
  packages/create-sdk/templates/hello-world/.oxlintrc.json.bak
  packages/create-sdk/templates/hello-world/eslint.config.js
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/.oxlintrc.json
  packages/create-sdk/templates/inventory-management/eslint.config.js
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/.oxlintrc.json
  packages/create-sdk/templates/multi-application/eslint.config.js
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/testing/.oxlintrc.json
  packages/create-sdk/templates/testing/eslint.config.js
  packages/create-sdk/templates/testing/package.json
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck
