Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs(sdk): clarify function commands section description
  packages/sdk/docs/cli-reference.md
  packages/sdk/src/cli/docs.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): address Copilot review on function registry commands
  packages/sdk/docs/cli/function.md
  packages/sdk/src/cli/commands/function/get.test.ts
  packages/sdk/src/cli/commands/function/get.ts
  packages/sdk/src/cli/commands/function/list.test.ts
  packages/sdk/src/cli/commands/function/list.ts
  packages/sdk/src/cli/lib.ts
Due: 2-format, 3-lint, 4-typecheck

Apply suggestion from @toiroakr
  .changeset/renovate-1003.md
Due: 2-format

fix(executor): use platform API for webhook URL
  packages/sdk/src/cli/commands/executor/webhook.ts
Due: 2-format, 3-lint, 4-typecheck

add changeset
  .changeset/eleven-teams-bow.md
Due: 2-format

docs(idp): make permission-based access control the primary documentation pattern
  packages/sdk/docs/services/idp.md
Due: 2-format

fix(idp): normalize empty permission for idempotent apply
  .changeset/fix-idp-permission-empty-normalize.md
  example/tailor.config.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailor.config.ts
  packages/create-sdk/templates/executor/tailor.config.ts
  packages/create-sdk/templates/generators/tailor.config.ts
  packages/create-sdk/templates/static-web-site/tailor.config.ts
  packages/sdk/e2e/apply.test.ts
  packages/sdk/src/cli/commands/apply/idp.plan.test.ts
  packages/sdk/src/cli/commands/apply/idp.ts
Due: 2-format, 3-lint, 4-typecheck

docs(idp): add missing clients field to authorization example
  packages/sdk/docs/services/idp.md
Due: 2-format

fix(workflow): reject top-level null in createWorkflowJob input type
  .changeset/fix-workflow-job-reject-top-level-null-input.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

chore(examples): use loggedIn-equivalent permission in example configs
  example/tailor.config.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailor.config.ts
  packages/create-sdk/templates/executor/tailor.config.ts
  packages/create-sdk/templates/generators/tailor.config.ts
  packages/create-sdk/templates/static-web-site/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore(examples): use role-based permissions in sample configs
  example/tailor.config.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailor.config.ts
  packages/create-sdk/templates/executor/tailor.config.ts
  packages/create-sdk/templates/generators/tailor.config.ts
  packages/create-sdk/templates/static-web-site/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

docs(idp): align sendPasswordResetEmail to permit false across all examples
  packages/sdk/docs/services/idp.md
Due: 2-format

chore(examples): restrict IdP read permission to admin role
  example/tailor.config.ts
  llm-challenge/problems/001-saas-subscription-platform/solution/tailor.config.ts
  packages/create-sdk/templates/static-web-site/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(templates): use loggedIn condition in template IdP permissions
  packages/create-sdk/templates/executor/tailor.config.ts
  packages/create-sdk/templates/generators/tailor.config.ts
  packages/create-sdk/templates/static-web-site/tailor.config.ts
Due: 3-lint, 4-typecheck

ci(template-tests): run tailor-sdk generate before typecheck
  .github/workflows/template-tests.yml
  packages/create-sdk/templates/executor/tailor.config.ts
  packages/create-sdk/templates/generators/tailor.config.ts
  packages/create-sdk/templates/static-web-site/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

docs(idp): use role-based permission for read in all examples
  packages/sdk/docs/services/idp.md
Due: 2-format

chore(templates): commit tailor.d.ts and revert CI generate step
  .github/workflows/template-tests.yml
  packages/create-sdk/templates/executor/tailor.d.ts
  packages/create-sdk/templates/generators/tailor.d.ts
  packages/create-sdk/templates/hello-world/tailor.d.ts
  packages/create-sdk/templates/static-web-site/tailor.d.ts
Due: 2-format, 3-lint, 4-typecheck

chore: allow committing tailor.d.ts under create-sdk templates
  .gitignore
Due: none

chore(templates): exclude auto-generated tailor.d.ts from lint
  packages/create-sdk/templates/executor/.oxlintrc.json
  packages/create-sdk/templates/executor/eslint.config.js
  packages/create-sdk/templates/generators/.oxlintrc.json
  packages/create-sdk/templates/generators/eslint.config.js
  packages/create-sdk/templates/hello-world/.oxlintrc.json
  packages/create-sdk/templates/hello-world/eslint.config.js
  packages/create-sdk/templates/inventory-management/.oxlintrc.json
  packages/create-sdk/templates/inventory-management/eslint.config.js
  packages/create-sdk/templates/multi-application/.oxlintrc.json
  packages/create-sdk/templates/multi-application/eslint.config.js
  packages/create-sdk/templates/resolver/.oxlintrc.json
  packages/create-sdk/templates/resolver/eslint.config.js
  packages/create-sdk/templates/static-web-site/.oxlintrc.json
  packages/create-sdk/templates/static-web-site/eslint.config.js
  packages/create-sdk/templates/tailordb/.oxlintrc.json
  packages/create-sdk/templates/tailordb/eslint.config.js
  packages/create-sdk/templates/workflow/.oxlintrc.json
  packages/create-sdk/templates/workflow/eslint.config.js
Due: 3-lint, 4-typecheck

docs(idp): add role condition to update permission example
  packages/sdk/docs/services/idp.md
Due: 2-format

chore: add changeset for idp permission docs update
  .changeset/idp-permission-primary.md
Due: 2-format

docs(idp): add note on how to enable sendPasswordResetEmail
  packages/sdk/docs/services/idp.md
Due: 2-format

docs(idp): document built-in user operand fields in permission
  packages/sdk/docs/services/idp.md
Due: 2-format

docs(idp): fix wording and punctuation in sendPasswordResetEmail note
  packages/sdk/docs/services/idp.md
Due: 2-format

docs(idp): mention userProfile.attributes as source for user operand fields
  packages/sdk/docs/services/idp.md
Due: 2-format

feat(cli): wire --order/--limit through remaining list commands
  .changeset/list-order-limit-followup.md
  packages/sdk/docs/cli/crash-report.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/organization.md
  packages/sdk/docs/cli/workspace.md
  packages/sdk/src/cli/commands/crash-report/list.ts
  packages/sdk/src/cli/commands/executor/webhook.ts
  packages/sdk/src/cli/commands/organization/folder/list.ts
  packages/sdk/src/cli/commands/workspace/app/list.ts
  packages/sdk/src/cli/commands/workspace/list.ts
  packages/sdk/src/cli/commands/workspace/user/list.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover crash-report list ordering and limit helper
  packages/sdk/src/cli/commands/crash-report/list.test.ts
  packages/sdk/src/cli/commands/crash-report/list.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): mention order in list helper JSDoc summaries
  packages/sdk/src/cli/commands/workspace/app/list.ts
  packages/sdk/src/cli/commands/workspace/list.ts
  packages/sdk/src/cli/commands/workspace/user/list.ts
Due: 2-format, 3-lint, 4-typecheck

feat(workflow): add defineWaitPoints for human-in-the-loop workflows
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
  packages/sdk/src/cli/shared/trigger-context.ts
  packages/sdk/src/configure/services/workflow/index.ts
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
  packages/sdk/src/utils/brand.ts
  packages/sdk/src/utils/test/index.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

docs(example): add approval workflow with wait/resolve
  example/e2e/resolver.test.ts
  example/e2e/workflow.test.ts
  example/resolvers/resolveApproval.ts
  example/workflows/approval.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/workflow-wait-resolve.md
Due: 2-format

docs: document defineWaitPoints in CLAUDE.md
  CLAUDE.md
Due: 2-format

docs(workflow): add wait points documentation
  packages/sdk/docs/services/workflow.md
  packages/sdk/docs/testing.md
Due: 2-format

feat(template): add wait point test patterns to workflow template
  packages/create-sdk/templates/workflow/src/resolver/resolveApproval.ts
  packages/create-sdk/templates/workflow/src/workflow/approval.test.ts
  packages/create-sdk/templates/workflow/src/workflow/approval.ts
  packages/create-sdk/templates/workflow/tests/bundled.test.ts
Due: 3-lint, 4-typecheck

docs(workflow): remove internal implementation details
  packages/sdk/docs/services/workflow.md
Due: 2-format

docs(workflow): simplify wait points documentation
  packages/sdk/docs/services/workflow.md
Due: 2-format

feat(workflow): add defineWaitPoint for single wait point definition
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

docs(workflow): add defineWaitPoint to documentation
  packages/sdk/docs/services/workflow.md
Due: 2-format

docs(workflow): consolidate wait point definition examples
  packages/sdk/docs/services/workflow.md
Due: 2-format

refactor(workflow): remove Symbol/defineProperty in favor of setter map
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck
