Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

test: expand createTailorDBHook tests for full branch coverage
  packages/sdk/src/utils/test/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs: document array and optional options for db.object()
  packages/sdk/docs/services/tailordb.md
Due: 2-format

docs: use 'object' wording instead of internal 'nested' term
  packages/sdk/docs/services/tailordb.md
Due: 2-format

fix(docs): link workflow trigger example to GitHub URL
  .changeset/fix-docs-workflow-example-link.md
  packages/sdk/docs/services/workflow.md
Due: 2-format

ci: guard against docs relative links escaping packages/sdk/docs/
  .github/workflows/link-check.yml
  scripts/check-docs-paths.mjs
Due: 2-format

docs: add beta label and usage examples for all mock control objects
  .changeset/tailor-runtime-vitest.md
  packages/sdk/docs/testing.md
  packages/sdk/src/vitest/blocked-modules.ts
  packages/sdk/src/vitest/index.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

feat(query): make REPL newline-on-enter configurable
  packages/sdk/src/cli/query/index.test.ts
  packages/sdk/src/cli/query/index.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): add query command reference
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/query.md
  packages/sdk/src/cli/docs.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): install tailor-sdk skill from local node_modules
  packages/sdk/README.md
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
  packages/sdk/src/cli/skills.ts
Due: 2-format, 3-lint, 4-typecheck

chore: symlink tailor-sdk skill into .claude/skills for dogfooding
  .claude/skills/tailor-sdk
  .gitignore
Due: none

test(sdk): validate shipped SKILL.md frontmatter and referenced paths
  packages/sdk/src/cli/shared/skills-packaged.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add --order and --limit to CLI list commands
  .changeset/list-order-limit.md
  packages/sdk/docs/cli/auth.md
  packages/sdk/docs/cli/executor.md
  packages/sdk/docs/cli/function.md
  packages/sdk/docs/cli/secret.md
  packages/sdk/docs/cli/staticwebsite.md
  packages/sdk/docs/cli/user.md
  packages/sdk/docs/cli/workflow.md
  packages/sdk/src/cli/commands/authconnection/list.ts
  packages/sdk/src/cli/commands/executor/jobs.ts
  packages/sdk/src/cli/commands/executor/list.ts
  packages/sdk/src/cli/commands/function/logs.ts
  packages/sdk/src/cli/commands/machineuser/list.ts
  packages/sdk/src/cli/commands/oauth2client/list.ts
  packages/sdk/src/cli/commands/secret/list.ts
  packages/sdk/src/cli/commands/secret/vault/list.ts
  packages/sdk/src/cli/commands/staticwebsite/list.ts
  packages/sdk/src/cli/commands/user/pat/list.ts
  packages/sdk/src/cli/commands/workflow/executions.ts
  packages/sdk/src/cli/commands/workflow/list.ts
  packages/sdk/src/cli/shared/args.ts
  packages/sdk/src/cli/shared/client.test.ts
  packages/sdk/src/cli/shared/client.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for tailor-sdk skill installer change
  .changeset/hip-paws-occur.md
Due: 2-format

docs(changeset): qualify offline claim for tailor-sdk-skills
  .changeset/hip-paws-occur.md
Due: 2-format

fix(sdk): cap programmatic listExecutorJobs at 50 by default
  packages/sdk/src/cli/commands/executor/jobs.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): add --base option to apply for merged-worktree plan preview
  .changeset/apply-base-plan.md
  packages/sdk/docs/cli/application.md
  packages/sdk/src/cli/commands/apply/index.ts
  packages/sdk/src/cli/commands/apply/merge-plan-setup.test.ts
  packages/sdk/src/cli/commands/apply/merge-plan-setup.ts
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): inline pageDirection in list RPC payloads
  packages/sdk/src/cli/commands/authconnection/list.ts
  packages/sdk/src/cli/commands/executor/jobs.ts
  packages/sdk/src/cli/commands/executor/list.ts
  packages/sdk/src/cli/commands/function/logs.ts
  packages/sdk/src/cli/commands/machineuser/list.ts
  packages/sdk/src/cli/commands/oauth2client/list.ts
  packages/sdk/src/cli/commands/secret/list.ts
  packages/sdk/src/cli/commands/secret/vault/list.ts
  packages/sdk/src/cli/commands/staticwebsite/list.ts
  packages/sdk/src/cli/commands/user/pat/list.ts
  packages/sdk/src/cli/commands/workflow/executions.ts
  packages/sdk/src/cli/commands/workflow/list.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): correct --base plan fidelity and gh-missing fallback
  packages/sdk/src/cli/commands/apply/index.ts
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: remove unused detectDeclaredVersion function
  packages/sdk/src/cli/commands/upgrade/version-detector.test.ts
  packages/sdk/src/cli/commands/upgrade/version-detector.ts
Due: 2-format, 3-lint, 4-typecheck

chore: regenerate lockfile to fix missing politty variant
  pnpm-lock.yaml
Due: none

feat(sdk): support TAILOR_PLATFORM_SDK_DTS_PATH env var for tailor.d.ts output path
  packages/sdk/src/cli/shared/type-generator.test.ts
  packages/sdk/src/cli/shared/type-generator.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/feat-dts-path-env.md
Due: 2-format

docs(sdk): document TAILOR_PLATFORM_SDK_DTS_PATH env var in auth guide
  packages/sdk/docs/services/auth.md
Due: 2-format

docs(sdk): move TAILOR_PLATFORM_SDK_DTS_PATH docs to generator guide
  packages/sdk/docs/generator/index.md
  packages/sdk/docs/services/auth.md
Due: 2-format

docs(sdk): add TAILOR_PLATFORM_SDK_DTS_PATH to environment variables list
  packages/sdk/docs/cli-reference.md
Due: 2-format

ci: detect actual changed packages in renovate changeset workflow
  .github/workflows/add-renovate-changeset.yml
Due: 2-format

ci: add skip-changeset label when renovate PR needs no changeset
  .github/workflows/add-renovate-changeset.yml
Due: 2-format

test(sdk): cover order and limit fields on list API types
  packages/sdk/src/cli/commands/executor/jobs.api-types.test.ts
  packages/sdk/src/cli/commands/workflow/executions.api-types.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): harden --base for multi-PM, workspace packages, and CI
  packages/sdk/docs/cli/application.md
  packages/sdk/src/cli/commands/apply/index.ts
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): move skill installer to `tailor-sdk skills install` subcommand
  .changeset/hip-paws-occur.md
  packages/sdk/README.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli/skills.md
  packages/sdk/package.json
  packages/sdk/src/cli/commands/skills/index.ts
  packages/sdk/src/cli/commands/skills/install.ts
  packages/sdk/src/cli/docs.test.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/shared/skills-installer.test.ts
  packages/sdk/src/cli/shared/skills-installer.ts
  packages/sdk/src/cli/skills.ts
  packages/sdk/tsdown.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): harden merge-plan setup for monorepos and CI edge cases
  packages/sdk/src/cli/commands/apply/index.ts
  packages/sdk/src/cli/commands/apply/merge-plan-setup.test.ts
  packages/sdk/src/cli/commands/apply/merge-plan-setup.ts
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): surface CI base-ref mismatch and guard nested manifests
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): cap programmatic listWorkflowExecutions at 50 by default
  packages/sdk/src/cli/commands/executor/jobs.ts
  packages/sdk/src/cli/commands/workflow/executions.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): pass symlink type when recreating node_modules links
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): fall back to source for workspace deps missing built artifacts
  packages/sdk/src/cli/commands/apply/index.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): validate workspace source before trusting dist/-fallback
  packages/sdk/src/cli/shared/merge-worktree-deps.test.ts
  packages/sdk/src/cli/shared/merge-worktree-deps.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): resolve PR base against the remote matching the base repo
  packages/sdk/src/cli/shared/git.test.ts
  packages/sdk/src/cli/shared/git.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): auto-inject workspaceId and namespaceName in api command body
  packages/sdk/docs/cli/application.md
  packages/sdk/src/cli/commands/api.test.ts
  packages/sdk/src/cli/commands/api.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/api-body-auto-inject.md
Due: 2-format

docs(cli): document auto-injection behavior of api command
  packages/sdk/docs/cli/application.md
  packages/sdk/src/cli/commands/api.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
