Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

test(example): cover definePlugins bundling
  example/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

chore(example): remove noop plugins config
  example/tailor.config.ts
Due: 2-format, 3-lint, 4-typecheck

feat(tailordb): extend snapshot schema for complete state reconstruction
  packages/sdk/e2e/apply.test.ts
  packages/sdk/src/cli/tailordb/migrate/db-types-generator.test.ts
  packages/sdk/src/cli/tailordb/migrate/db-types-generator.ts
  packages/sdk/src/cli/tailordb/migrate/diff-calculator.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot-manifest.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot-manifest.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.test.ts
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
  packages/sdk/src/cli/tailordb/migrate/template-generator.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(plugin): update generated output paths
  packages/sdk/docs/plugin/index.md
Due: 2-format

docs(plugin): align plugin output description
  packages/sdk/docs/plugin/index.md
Due: 2-format

fix: handle SnapshotEnumValue[] format in pre-migration field adjustments
  packages/sdk/src/cli/apply/services/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat(plugin): resolve importPath from config or project root
  packages/sdk/docs/plugin/custom.md
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/generator/plugin-executor-generator.ts
  packages/sdk/src/cli/utils/plugin-import.ts
Due: 2-format, 3-lint, 4-typecheck

fix: apply index, file, relationship, and permission diffs in snapshot reconstruction
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

fix(plugin): resolve importPath from config dir only
  packages/sdk/docs/plugin/custom.md
  packages/sdk/src/cli/utils/plugin-import.ts
Due: 2-format, 3-lint, 4-typecheck

fix: add backward compatibility for v1 migration files
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

fix(parser): validate pluginConfig
  packages/sdk/src/parser/plugin-config/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore: regenerate example/migrations in v2 format
  example/migrations/0000/schema.json
  example/migrations/0001/diff.json
  example/migrations/0002/diff.json
  example/migrations/0003/db.ts
  example/migrations/0003/diff.json
  example/migrations/0003/migrate.ts
  example/migrations/0004/diff.json
  example/migrations/0005/db.ts
  example/migrations/0005/diff.json
  example/migrations/0005/migrate.ts
  example/migrations/0006/db.ts
  example/migrations/0006/diff.json
  example/migrations/0006/migrate.ts
  example/migrations/0007/diff.json
Due: 2-format, 3-lint, 4-typecheck

docs(plugin): drop best practices and limitations
  packages/sdk/docs/plugin/custom.md
  packages/sdk/docs/plugin/index.md
Due: 2-format

chore: restore migration script templates for e2e tests
  example/migrations/0003/db.ts
  example/migrations/0003/diff.json
  example/migrations/0003/migrate.ts
  example/migrations/0005/db.ts
  example/migrations/0005/diff.json
  example/migrations/0005/migrate.ts
Due: 2-format, 3-lint, 4-typecheck

fix(plugin): handle plugin process errors
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: delegate generated kysely utility types to SDK entry point
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/hello-world/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore(lint): align restricted imports
  packages/sdk/.oxlintrc.json
  packages/sdk/eslint.config.js
  packages/sdk/src/parser/service/tailordb/runtime.ts
  packages/sdk/src/parser/types.ts
  packages/sdk/src/plugin/manager.ts
  packages/sdk/src/plugin/with-context.ts
Due: 2-format, 3-lint, 4-typecheck

fix(parser): clone plugin schemas
  packages/sdk/src/parser/plugin-config/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix(parser): show plugin source in errors
  packages/sdk/src/parser/service/tailordb/type-parser.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: separate migration e2e templates and remove v1 compatibility
  example/migrations/0000/schema.json
  example/migrations/0003/db.ts
  example/migrations/0003/diff.json
  example/migrations/0005/db.ts
  example/migrations/0005/diff.json
  example/tests/migration-fixtures/templates/0003/migrate.ts
  example/tests/migration-fixtures/templates/0005/migrate.ts
  example/tests/migration-fixtures/templates/0006/migrate.ts
  example/tests/scripts/migration_e2e.ts
  packages/sdk/docs/cli/executor.md
  packages/sdk/src/cli/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for snapshot-based migration apply
  .changeset/snapshot-based-migration-apply.md
Due: 2-format

refactor: add NamespaceTransaction helper and update module description
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/hello-world/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(apply): compose application after plugin generation
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove installHint and unnecessary error messages from resolve-cli-bin
  packages/sdk/src/cli/tailordb/erd/export.ts
  packages/sdk/src/cli/tailordb/erd/serve.ts
  packages/sdk/src/cli/utils/resolve-cli-bin.ts
Due: 2-format, 3-lint, 4-typecheck

fix: restore correct executor CLI documentation
  packages/sdk/docs/cli/executor.md
Due: 2-format

Revert "refactor(apply): compose application after plugin generation"
  packages/sdk/src/cli/application/index.ts
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(apply): assign executorService in place
  packages/sdk/src/cli/apply/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/tired-bats-tie.md
Due: 2-format

fix(generator): import user types by export name
  packages/sdk/src/cli/apply/index.ts
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/generator/plugin-executor-generator.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): reparse only when namespace types added
  packages/sdk/src/cli/application/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: consolidate EnumValue type definitions
  packages/sdk/src/cli/apply/services/tailordb/index.ts
  packages/sdk/src/cli/generator/builtin/enum-constants/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): load type files sequentially with plugins
  packages/sdk/src/cli/application/tailordb/service.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: export Kysely utility types from SDK and import in generated code
  example/generated/tailordb.ts
  example/tests/fixtures/expected/db.ts
  packages/create-sdk/templates/hello-world/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/builtin/kysely-type/type-processor.ts
  packages/sdk/src/kysely/index.ts
Due: 2-format, 3-lint, 4-typecheck

feat: make TailorDBField fluent API immutable
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset for immutable fluent API
  .changeset/immutable-fluent-api.md
Due: 2-format

fix: shallow clone fields record to prevent mutation by hooks/validate
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

feat: make TailorDBField fluent API immutable (#579)
  .changeset/immutable-fluent-api.md
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add automatic chunking for seed data to avoid gRPC message size limits (#576)
  .changeset/smart-doors-boil.md
  example/seed/exec.mjs
  packages/sdk/src/cli/generator/builtin/seed/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/utils/seed-chunker.test.ts
  packages/sdk/src/cli/utils/seed-chunker.ts
Due: 2-format, 3-lint, 4-typecheck

fix(plugin): erase executor resolve context type at module boundary
  packages/sdk/src/cli/generator/plugin-executor-generator.ts
  packages/sdk/src/parser/plugin-config/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add generated i18n files
  example/generated/i18n/en.json
  example/generated/i18n/ja.json
  example/generated/i18n/types.ts
Due: 3-lint, 4-typecheck
