Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix: improve type handling and error verification in tests (#330)
  packages/sdk/src/cli/generator/builtin/kysely-type/index.test.ts
  packages/sdk/src/cli/generator/index.test.ts
  packages/sdk/src/cli/options.test.ts
Due: 2-format, 3-lint, 4-typecheck

Chore/docs/workflow executor (#325)
  .changeset/whole-views-sit.md
  packages/sdk/docs/services/executor.md
Due: 2-format

feat: add generate workflow for pull requests (#329)
  .github/workflows/generate.yml
Due: 2-format

refactor: simplify validation function signatures and improve type handling (#269)
  packages/sdk/src/configure/types/type.test.ts
  packages/sdk/src/configure/types/type.ts
Due: 2-format, 3-lint, 4-typecheck

chore(ci): check diff between win/linux for generation result
  .github/workflows/generate.yml
Due: 2-format

fix: ghalint & fix posix path
  .github/workflows/generate.yml
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

chore: configure git for Windows to handle line endings
  .github/workflows/generate.yml
Due: 2-format

chore: add changeset
  .changeset/cyan-bananas-pay.md
Due: 2-format

feat(executor): implement executor management and triggering functionality
  example/executors/testWebhook.ts
  packages/sdk/src/cli/executor/index.ts
  packages/sdk/src/cli/executor/jobs.ts
  packages/sdk/src/cli/executor/status.ts
  packages/sdk/src/cli/executor/transform.ts
  packages/sdk/src/cli/executor/trigger.ts
  packages/sdk/src/cli/index.ts
  packages/sdk/src/cli/lib.ts
  packages/sdk/src/cli/workflow/status.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): unify table border style to single-line
  .changeset/fix-cli-table-border.md
  packages/sdk/eslint.config.js
  packages/sdk/src/cli/utils/format.test.ts
  packages/sdk/src/cli/utils/format.ts
  packages/sdk/src/cli/workflow/executions.ts
  packages/sdk/src/cli/workflow/list.ts
Due: 2-format, 3-lint, 4-typecheck

fix(executor): add typed success/result/error to resolverExecutedTrigger
  .changeset/resolver-executed-args-type.md
  packages/sdk/src/cli/apply/services/executor.test.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

fix: e2e tests incorrectly counting resources when multiple apps exist in workspace
  .changeset/job-function-metadata.md
  example/e2e/auth.test.ts
  example/e2e/globalSetup.ts
  example/e2e/metadata.ts
  example/e2e/resolver.test.ts
  example/e2e/tailordb.test.ts
  example/e2e/workflow.test.ts
  packages/sdk/src/cli/apply/services/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add test
  packages/sdk/src/configure/services/executor/executor.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix: use POSIX path sep in seed generator for OS compatibility (#331)
  .changeset/cyan-bananas-pay.md
  .github/workflows/generate.yml
  packages/sdk/src/cli/generator/builtin/seed/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): unify table border style to single-line (#342)
  .changeset/fix-cli-table-border.md
  packages/sdk/eslint.config.js
  packages/sdk/src/cli/utils/format.test.ts
  packages/sdk/src/cli/utils/format.ts
  packages/sdk/src/cli/workflow/executions.ts
  packages/sdk/src/cli/workflow/list.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add oxlint to create-sdk
  packages/create-sdk/.oxlintrc.json
  packages/create-sdk/eslint.config.js
  packages/create-sdk/package.json
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix: e2e tests incorrectly counting resources (#345)
  .changeset/job-function-metadata.md
  example/e2e/auth.test.ts
  example/e2e/globalSetup.ts
  example/e2e/metadata.ts
  example/e2e/resolver.test.ts
  example/e2e/tailordb.test.ts
  example/e2e/workflow.test.ts
  packages/sdk/src/cli/apply/services/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(executor): unify args expression with env for all target types
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/executor/trigger/schedule.ts
  packages/sdk/src/configure/services/executor/trigger/webhook.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): prevent extra newlines in turbo output by custom reporters
  .changeset/fix-logger-newlines.md
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/utils/logger.ts
Due: 2-format, 3-lint, 4-typecheck

chore: show message on stderr in json mode
  packages/sdk/src/cli/utils/logger.ts
  packages/sdk/src/cli/workflow/start.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(executor): add env to trigger condition args expression
  packages/sdk/src/cli/apply/services/executor.ts
Due: 2-format, 3-lint, 4-typecheck

chore: use oxfmt in templates
  .oxfmtrc.json
  example/.oxlintrc.json.bak
  packages/create-sdk/templates/hello-world/.oxfmtrc.json
  packages/create-sdk/templates/hello-world/.oxlintrc.json.bak
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/.oxfmtrc.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/inventory-management/src/db/category.ts
  packages/create-sdk/templates/inventory-management/src/db/common/permission.ts
  packages/create-sdk/templates/inventory-management/src/db/contact.ts
  packages/create-sdk/templates/inventory-management/src/db/order.ts
  packages/create-sdk/templates/inventory-management/src/db/orderItem.ts
  packages/create-sdk/templates/inventory-management/src/db/product.ts
  packages/create-sdk/templates/inventory-management/src/executor/checkInventory.ts
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
  packages/create-sdk/templates/inventory-management/src/resolver/registerOrder.ts
  packages/create-sdk/templates/inventory-management/tailor.config.ts
  packages/create-sdk/templates/multi-application/.oxfmtrc.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/testing/.oxfmtrc.json
  packages/create-sdk/templates/testing/e2e/workflow.test.ts
  packages/create-sdk/templates/testing/package.json
  packages/create-sdk/templates/testing/src/generated/db.ts
  packages/create-sdk/templates/testing/src/resolver/mockTailordb.test.ts
  packages/create-sdk/templates/testing/src/resolver/wrapTailordb.test.ts
  packages/create-sdk/templates/testing/src/resolver/wrapTailordb.ts
  packages/create-sdk/templates/testing/src/workflow/wrapTailordb.test.ts
  packages/create-sdk/templates/testing/src/workflow/wrapTailordb.ts
  packages/create-sdk/templates/testing/tailor.config.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

refactor: remove printData and use logger.data
  packages/sdk/src/cli/machineuser/list.ts
  packages/sdk/src/cli/machineuser/token.ts
  packages/sdk/src/cli/oauth2client/get.ts
  packages/sdk/src/cli/oauth2client/list.ts
  packages/sdk/src/cli/profile/create.ts
  packages/sdk/src/cli/profile/list.ts
  packages/sdk/src/cli/profile/update.ts
  packages/sdk/src/cli/secret/list.ts
  packages/sdk/src/cli/secret/vault/list.ts
  packages/sdk/src/cli/show.ts
  packages/sdk/src/cli/staticwebsite/deploy.ts
  packages/sdk/src/cli/staticwebsite/get.ts
  packages/sdk/src/cli/staticwebsite/list.ts
  packages/sdk/src/cli/user/list.ts
  packages/sdk/src/cli/user/pat/create.ts
  packages/sdk/src/cli/user/pat/list.ts
  packages/sdk/src/cli/user/pat/transform.ts
  packages/sdk/src/cli/user/pat/update.ts
  packages/sdk/src/cli/utils/format.ts
  packages/sdk/src/cli/utils/logger.ts
  packages/sdk/src/cli/workflow/executions.ts
  packages/sdk/src/cli/workflow/get.ts
  packages/sdk/src/cli/workflow/list.ts
  packages/sdk/src/cli/workflow/resume.ts
  packages/sdk/src/cli/workflow/start.ts
  packages/sdk/src/cli/workspace/create.ts
  packages/sdk/src/cli/workspace/list.ts
Due: 2-format, 3-lint, 4-typecheck

docs: update changeset
  .changeset/resolver-executed-args-type.md
Due: 2-format

chore: updated lock file
  pnpm-lock.yaml
Due: none

refactor(cli): use stderr for logs and stdout for data output
  .changeset/fix-logger-newlines.md
  CLAUDE.md
  packages/sdk/src/cli/machineuser/list.ts
  packages/sdk/src/cli/machineuser/token.ts
  packages/sdk/src/cli/oauth2client/get.ts
  packages/sdk/src/cli/oauth2client/list.ts
  packages/sdk/src/cli/profile/create.ts
  packages/sdk/src/cli/profile/list.ts
  packages/sdk/src/cli/profile/update.ts
  packages/sdk/src/cli/secret/list.ts
  packages/sdk/src/cli/secret/vault/list.ts
  packages/sdk/src/cli/show.ts
  packages/sdk/src/cli/staticwebsite/deploy.ts
  packages/sdk/src/cli/staticwebsite/get.ts
  packages/sdk/src/cli/staticwebsite/list.ts
  packages/sdk/src/cli/user/list.ts
  packages/sdk/src/cli/user/pat/list.ts
  packages/sdk/src/cli/user/pat/transform.ts
  packages/sdk/src/cli/utils/format.test.ts
  packages/sdk/src/cli/utils/logger.ts
  packages/sdk/src/cli/utils/progress.ts
  packages/sdk/src/cli/workflow/executions.ts
  packages/sdk/src/cli/workflow/get.ts
  packages/sdk/src/cli/workflow/list.ts
  packages/sdk/src/cli/workflow/resume.ts
  packages/sdk/src/cli/workflow/start.ts
  packages/sdk/src/cli/workspace/create.ts
  packages/sdk/src/cli/workspace/list.ts
Due: 2-format, 3-lint, 4-typecheck

typed fields to resolverExecutedTrigger and env for all args (#343)
  .changeset/resolver-executed-args-type.md
  packages/sdk/src/cli/apply/services/executor.test.ts
  packages/sdk/src/cli/apply/services/executor.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/executor/trigger/schedule.ts
  packages/sdk/src/configure/services/executor/trigger/webhook.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): improve stdout/stderr separation following clig.dev guidelines (#346)
  .changeset/fix-logger-newlines.md
  CLAUDE.md
  packages/sdk/src/cli/generator/index.ts
  packages/sdk/src/cli/machineuser/list.ts
  packages/sdk/src/cli/machineuser/token.ts
  packages/sdk/src/cli/oauth2client/get.ts
  packages/sdk/src/cli/oauth2client/list.ts
  packages/sdk/src/cli/profile/create.ts
  packages/sdk/src/cli/profile/list.ts
  packages/sdk/src/cli/profile/update.ts
  packages/sdk/src/cli/secret/list.ts
  packages/sdk/src/cli/secret/vault/list.ts
  packages/sdk/src/cli/show.ts
  packages/sdk/src/cli/staticwebsite/deploy.ts
  packages/sdk/src/cli/staticwebsite/get.ts
  packages/sdk/src/cli/staticwebsite/list.ts
  packages/sdk/src/cli/user/list.ts
  packages/sdk/src/cli/user/pat/create.ts
  packages/sdk/src/cli/user/pat/list.ts
  packages/sdk/src/cli/user/pat/transform.ts
  packages/sdk/src/cli/user/pat/update.ts
  packages/sdk/src/cli/utils/format.test.ts
  packages/sdk/src/cli/utils/format.ts
  packages/sdk/src/cli/utils/logger.ts
  packages/sdk/src/cli/utils/progress.ts
  packages/sdk/src/cli/workflow/executions.ts
  packages/sdk/src/cli/workflow/get.ts
  packages/sdk/src/cli/workflow/list.ts
  packages/sdk/src/cli/workflow/resume.ts
  packages/sdk/src/cli/workflow/start.ts
  packages/sdk/src/cli/workspace/create.ts
  packages/sdk/src/cli/workspace/list.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update generated file
  .github/workflows/generate.yml
  packages/create-sdk/templates/inventory-management/src/generated/kysely-tailordb.ts
Due: 2-format, 3-lint, 4-typecheck

chore: updated generated file in testing
  packages/create-sdk/templates/testing/src/generated/db.ts
Due: 3-lint, 4-typecheck

chore: ignore generated files in templates
  .oxfmtrc.json
Due: 2-format

chore: remove prettier
  .github/workflows/generate.yml
  packages/create-sdk/templates/hello-world/.prettierignore
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/.prettierignore
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/.prettierignore
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/testing/.prettierignore
  packages/create-sdk/templates/testing/package.json
  pnpm-lock.yaml
Due: 2-format

chroe: use tsgolint in templates
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/inventory-management/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/testing/package.json
  pnpm-lock.yaml
Due: none

chore: add changeset and fix tsgolint deps
  .changeset/icy-waves-thank.md
  packages/create-sdk/templates/hello-world/package.json
  packages/create-sdk/templates/multi-application/package.json
  packages/create-sdk/templates/testing/package.json
Due: 2-format

chore: updated lockfile
  pnpm-lock.yaml
Due: none

refactor: move relation logic from configure layer to parser layer
  .changeset/move-relation-logic-to-parser.md
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/parser/service/tailordb/field.ts
  packages/sdk/src/parser/service/tailordb/relation.ts
  packages/sdk/src/parser/service/tailordb/type-parser.test.ts
  packages/sdk/src/parser/service/tailordb/type-parser.ts
  packages/sdk/src/parser/service/tailordb/types.ts
Due: 2-format, 3-lint, 4-typecheck

chore: remove rolldown override
  .changeset/remove-rolldown-override.md
  packages/sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

chore: remove rolldown override (#363)
  .changeset/remove-rolldown-override.md
  packages/sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

chore: exclude CHANGELOG.md from oxfmt formatting
  .oxfmtrc.json
Due: 2-format
