Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs(workflow): use defineWaitPoint in job example
  packages/sdk/docs/services/workflow.md
Due: 2-format

refactor(workflow): add type params to createWaitPointInstance to eliminate call-site casts
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): use generic types throughout createWaitPointInstance
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): remove in-memory coordination, require setupWaitPointMock for tests
  CLAUDE.md
  packages/create-sdk/templates/workflow/src/workflow/approval.test.ts
  packages/sdk/docs/testing.md
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): extract globalThis platform type to single declaration
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): extract getPlatformWorkflow to module-level function
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): consolidate platform availability check
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/workflow-wait-resolve.md
Due: 2-format

docs(testing): add resolve test example and resolveApproval template test
  packages/create-sdk/templates/workflow/src/resolver/resolveApproval.test.ts
  packages/sdk/docs/testing.md
Due: 2-format, 3-lint, 4-typecheck

fix(workflow): remove optional chaining and use Jsonify<Payload> in resolve callback
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): tighten I/O types and move validation into body/return type
  .changeset/workflow-wait-resolve.md
  example/workflows/jobs/archive-data.ts
  example/workflows/jobs/fetch-customer.ts
  example/workflows/jobs/generate-report.ts
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/cli/commands/workflow/start.api-types.test.ts
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
  packages/sdk/src/types/helpers.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(workflow): reject undefined Result and tighten platform guard
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): auto-stub cross-mock methods instead of extra guard
  packages/sdk/src/configure/services/workflow/wait-point.test.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

ci(smoke): install Node via actions/setup-node
  .github/workflows/pkg-pr-new.yml
Due: 2-format

Update .changeset/renovate-1041.md
  .changeset/renovate-1041.md
Due: 2-format

Delete .changeset/renovate-1041.md
  .changeset/renovate-1041.md
Due: 2-format

ci: diff PR head against live base in renovate changeset workflow
  .github/workflows/add-renovate-changeset.yml
Due: 2-format

feat: expose invoker on resolver/executor/workflow contexts
  .changeset/invoker-context.md
  example/tests/bundled_execution.test.ts
  packages/sdk/src/cli/commands/apply/__test_fixtures__/integration.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/invoker-expr.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/executor/trigger/schedule.ts
  packages/sdk/src/configure/services/executor/trigger/webhook.ts
  packages/sdk/src/configure/services/resolver/resolver.test.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/types/type.test.ts
  packages/sdk/src/configure/types/type.ts
  packages/sdk/src/types/invoker.ts
  packages/sdk/src/types/runtime.ts
  packages/sdk/src/types/validation.ts
  packages/sdk/src/utils/test/index.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

feat(setup github): add --with-plan option for PR preview
  packages/sdk/docs/cli/setup.md
  packages/sdk/src/cli/commands/setup/github/deploy.workflow.yml
  packages/sdk/src/cli/commands/setup/github/github.test.ts
  packages/sdk/src/cli/commands/setup/github/github.ts
  packages/sdk/src/cli/commands/setup/github/index.ts
  packages/sdk/src/cli/commands/setup/github/plan-job.yml
  packages/sdk/src/cli/commands/setup/github/template-deploy.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(workflow): consolidate Result-undefined check and clean up JSDoc
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/configure/services/workflow/wait-point.ts
Due: 2-format, 3-lint, 4-typecheck

chore(deps): bump @toiroakr/lines-db to 0.9.2 and document valibot noise
  .changeset/dependabot-noise.md
  packages/sdk/README.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: 2-format

refactor: revert invoker plumbing in .parse() / validateInput
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/commands/function/test-run.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/configure/services/tailordb/schema.test.ts
  packages/sdk/src/configure/services/tailordb/schema.ts
  packages/sdk/src/configure/types/type.test.ts
  packages/sdk/src/configure/types/type.ts
  packages/sdk/src/types/validation.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: consolidate INVOKER_EXPR into runtime-args
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/invoker-expr.ts
  packages/sdk/src/cli/shared/runtime-args.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: split INVOKER_EXPR back out of runtime-args
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/invoker-expr.ts
  packages/sdk/src/cli/shared/runtime-args.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: merge invoker-expr into runtime-exprs and rename file
  packages/sdk/src/cli/commands/apply/executor.ts
  packages/sdk/src/cli/commands/apply/resolver.ts
  packages/sdk/src/cli/services/executor/bundler.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/services/workflow/bundler.ts
  packages/sdk/src/cli/shared/invoker-expr.ts
  packages/sdk/src/cli/shared/runtime-exprs.test.ts
  packages/sdk/src/cli/shared/runtime-exprs.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: move TailorInvoker into user.ts, tighten attributes to non-null
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/executor/trigger/schedule.ts
  packages/sdk/src/configure/services/executor/trigger/webhook.ts
  packages/sdk/src/configure/services/resolver/resolver.test.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/job.ts
  packages/sdk/src/types/invoker.ts
  packages/sdk/src/types/runtime.ts
  packages/sdk/src/types/user.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

Fix NOT FOUND on resolver added via differential apply
  .changeset/resolver-parent-service-refresh.md
  packages/sdk/src/cli/commands/apply/resolver.test.ts
  packages/sdk/src/cli/commands/apply/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

refactor: drop dead TailorInvoker re-export from types/runtime
  packages/sdk/src/types/runtime.ts
Due: 2-format, 3-lint, 4-typecheck

fix: scope invoker to function body args only
  packages/sdk/src/configure/services/executor/executor.test.ts
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/configure/services/executor/trigger/event.ts
  packages/sdk/src/configure/services/executor/trigger/schedule.ts
  packages/sdk/src/configure/services/executor/trigger/webhook.ts
Due: 2-format, 3-lint, 4-typecheck

docs: trim invoker/context comments in operation and resolver
  packages/sdk/src/configure/services/executor/operation.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
Due: 2-format, 3-lint, 4-typecheck

chore: minor cleanups in resolver.ts jsdoc and mock.ts global types
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

chore: drop redundant comment on default invoker mock in bundled_execution test
  example/tests/bundled_execution.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat: add gh skill support with autofix CI
  .github/workflows/skills-sync-check.yml
Due: 2-format

fix(test-run): use INVOKER_EXPR inside wrappers instead of hardcoded null
  packages/sdk/src/cli/commands/function/bundle.ts
Due: 2-format, 3-lint, 4-typecheck

chore: use ambient tailor.context.Invoker type in test mock
  packages/sdk/package.json
  packages/sdk/src/utils/test/mock.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format, 3-lint, 4-typecheck

chore: trim setupInvokerMock jsdoc to match other mocks
  packages/sdk/src/utils/test/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(templates): add invoker to resolver/workflow body contexts in tests
  packages/create-sdk/templates/generators/src/resolver/getProduct.test.ts
  packages/create-sdk/templates/resolver/src/resolver/add.test.ts
  packages/create-sdk/templates/resolver/src/resolver/queryUser.test.ts
  packages/create-sdk/templates/resolver/src/resolver/showEnv.test.ts
  packages/create-sdk/templates/resolver/src/resolver/showUserInfo.test.ts
  packages/create-sdk/templates/workflow/src/workflow/order-fulfillment.test.ts
Due: 3-lint, 4-typecheck

example(userInfo): return user and invoker, use authInvoker
  example/e2e/resolver.test.ts
  example/resolvers/userInfo.ts
  example/tests/bundled_execution.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(e2e): update function-test-run userInfo test for new shape
  packages/sdk/e2e/function-test-run.test.ts
Due: 2-format, 3-lint, 4-typecheck
