Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(cli): match the json flag's value forms and keep diagnostic codes
  packages/sdk/src/cli/shared/github-actions.test.ts
  packages/sdk/src/cli/shared/github-actions.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): give parent shortcut subprocess tests explicit timeouts
  packages/sdk/src/cli/main.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): stop reading a positional value as the json flag
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/src/cli/shared/github-actions.test.ts
  packages/sdk/src/cli/shared/github-actions.ts
Due: 2-format, 3-lint, 4-typecheck

feat(cli): annotate failures from the setup and ERD plugins too
  .changeset/github-actions-failure-annotations.md
  packages/sdk-plugin-setup/src/cli.ts
  packages/sdk-plugin-tailordb-erd/src/cli.ts
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
Due: 2-format, 3-lint, 4-typecheck

feat(cli): add TAILOR_OUTPUT to default output to JSON
  .changeset/cli-output-env-default.md
  packages/sdk/agent-skills/tailor/SKILL.md
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
  packages/sdk/src/cli/shared/args.test.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): share the option-token slice between flag probes
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): apply TAILOR_OUTPUT to the parsed json argument
  packages/sdk/src/cli/shared/args.test.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): resolve json precedence from the run's own arguments
  packages/sdk/src/cli/shared/args.test.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): isolate the seed CLI tests from the runner environment
  packages/sdk-plugin-seed/src/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

test(cli): cover output mode for commands with their own arguments
  packages/sdk/src/cli/shared/args.test.ts
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): note that plugins inherit TAILOR_OUTPUT
  packages/sdk/docs/cli-reference.md
  packages/sdk/docs/cli-reference.template.md
Due: 2-format

refactor(cli): derive the json flag spellings from one definition
  packages/sdk/src/cli/shared/args.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): state the plugin behavior in the changeset
  .changeset/cli-output-env-default.md
Due: 2-format

ci: bump tailor-platform/actions to v2.3.3 and adopt its lockfile/lint actions
  .github/scripts/lockfile-audit-fix-normalize.mjs
  .github/scripts/lockfile-audit-fix-normalize.test.mjs
  .github/workflows/check-license.yml
  .github/workflows/erd-schema.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/lockfile-audit-fix.yml
  .github/workflows/lockfile-audit.yml
  aqua-checksums.json
  aqua.yaml
Due: 2-format

docs(rules): limit withErrorDiagnostics to the fields it accepts
  .agents/rules/cli-logging.md
  .claude/rules/cli-logging.md
Due: 2-format

fix(sdk): own string serial sequences so dropping the table resets them
  example/generated/tailordb.pglite.ts
  packages/sdk/src/plugin/builtin/kysely-type/pglite-schema.test.ts
  packages/sdk/src/utils/tailordb-ddl.test.ts
  packages/sdk/src/utils/tailordb-ddl.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): use logical OR fallback for CLIError title in GitHub Actions annotations
  .changeset/github-actions-empty-error-code-fallback.md
  packages/sdk/src/cli/shared/github-actions.test.ts
  packages/sdk/src/cli/shared/github-actions.ts
Due: 2-format, 3-lint, 4-typecheck

fix: bump generated-workflow tailor-platform/actions pin to v2.3.3
  packages/sdk-plugin-setup/src/action.yml
  packages/sdk-plugin-setup/src/branch.workflow.yml
  packages/sdk-plugin-setup/src/coordinate.workflow.yml
  packages/sdk-plugin-setup/src/preview.workflow.yml
  packages/sdk-plugin-setup/src/tag.workflow.yml
  packages/sdk-plugin-setup/src/templates.ts
  packages/sdk/src/cli/shared/github-actions.test.ts
  packages/sdk/src/cli/shared/github-actions.ts
Due: 2-format, 3-lint, 4-typecheck

fix: clarify changeset wording for empty CLIError code fallback
  .changeset/github-actions-empty-error-code-fallback.md
Due: 2-format

chore: add changeset for tailor-platform/actions v2.3.3 bump
  .changeset/bump-tailor-actions-v2-3-3.md
Due: 2-format

fix(seed): stop materializing an omitted optional nested object
  .changeset/seed-optional-nested-object.md
  packages/sdk/src/utils/test/index.test.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): name the nested-object predicate the hook recurses on
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): stop materializing a non-object element of a nested array
  .changeset/seed-optional-nested-object.md
  packages/sdk/src/utils/test/index.test.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): assert nested array elements pass through by identity
  packages/sdk/src/utils/test/index.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(seed): share the nested-shape predicate with the field parser
  packages/sdk/src/runtime/field-parse.ts
  packages/sdk/src/utils/test/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): work around pnpm 12 regressions in typecheck fan-out and build allowlisting
  .github/workflows/pkg-pr-new.yml
  package.json
  packages/sdk/scripts/typecheck-scripts.test.ts
  scripts/run-parallel-checks.mjs
Due: 2-format, 3-lint, 4-typecheck

docs(rules): document causes and the always-present error code
  .agents/rules/cli-logging.md
  .claude/rules/cli-logging.md
Due: 2-format

fix(cli): explain a skipped PGlite test when only that test was requested
  packages/sdk/src/cli/commands/tailordb/migrate/script.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/script.ts
Due: 2-format, 3-lint, 4-typecheck

ci: revert to native pnpm --no-bail for typecheck fan-out
  package.json
  packages/sdk/scripts/typecheck-scripts.test.ts
  scripts/run-parallel-checks.mjs
Due: 2-format, 3-lint, 4-typecheck

fix(ci): read the real importers block in pnpm-12 lockfiles
  .changeset/renovate-2296.md
  .github/scripts/lockfile-runtime-diff.mjs
Due: 2-format

fix(ci): scope smoke-test pnpm install to the SDK build script only
  .github/workflows/pkg-pr-new.yml
Due: 2-format

test(ci): cover the SDK-only postinstall branch in the pkg.pr.new smoke workflow
  scripts/pkg-pr-new-workflow.test.js
Due: 2-format, 3-lint, 4-typecheck

test(ci): add regression coverage for lockfile-runtime-diff.mjs
  .github/scripts/lockfile-runtime-diff.test.mjs
  .github/workflows/lockfile-runtime-diff.yml
Due: 2-format

test(ci): stop the lockfile-runtime-diff test from inheriting GITHUB_OUTPUT
  .github/scripts/lockfile-runtime-diff.test.mjs
Due: none

ci: cover the pnpm-11-to-pnpm-12 lockfile comparison and self-trigger the workflow
  .github/scripts/lockfile-runtime-diff.test.mjs
  .github/workflows/lockfile-runtime-diff.yml
Due: 2-format

fix(llm-challenge): update the generated workspace's fallback pnpm version to 12.4.1
  llm-challenge/src/workspace.ts
Due: 2-format, 3-lint, 4-typecheck

fix(tailordb): scope legacy validator data access to nested containers
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-compatibility.test.ts
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot-script-compatibility.ts
Due: 2-format, 3-lint, 4-typecheck

chore: update changeset description
  .changeset/quiet-rivers-remember.md
Due: 2-format

fix(ci): neutralize @mentions in renovate changeset titles
  .changeset/renovate-2328.md
  .github/workflows/add-renovate-changeset.yml
Due: 2-format
