Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs(aigateway): present supported models without naming backend providers
  .changeset/aigateway-docs-no-provider.md
  packages/sdk/docs/services/aigateway.md
Due: 2-format

docs(codemod): add env rename follow-up guidance
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): avoid partial env var replacements
  packages/sdk-codemod/codemods/v2/env-var-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/no-match/input.sh
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/shell-expansion/expected.sh
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/shell-expansion/input.sh
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): leave generic env names for review
  .changeset/rename-tailor-cli-env.md
  packages/sdk-codemod/codemods/v2/env-var-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-env/expected.env
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-markdown/expected.md
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-package-json/expected.json
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-source/expected.ts
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-yaml/expected.yml
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/shell-expansion/expected.sh
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): rewrite env vars in source strings
  packages/sdk-codemod/codemods/v2/env-var-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-source/expected.ts
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-source/input.ts
Due: 2-format, 3-lint, 4-typecheck

chore(proto): sync generated proto files
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.d.ts
  packages/tailor-proto/src/tailor/v1/idp_resource_pb.js
Due: 3-lint, 4-typecheck

feat(sdk): extend defineIdp gqlOperations with MFA operations
  .changeset/idp-mfa-gql-operations.md
  packages/sdk/docs/services/idp.md
  packages/sdk/src/cli/commands/deploy/idp.ts
  packages/sdk/src/parser/service/idp/schema.test.ts
  packages/sdk/src/parser/service/idp/schema.ts
  packages/sdk/src/types/idp.generated.ts
Due: 2-format, 3-lint, 4-typecheck

feat(sdk): expose IdP user MFA management on runtime idp.Client
  .changeset/idp-mfa-support.md
  packages/sdk/docs/services/idp.md
  packages/sdk/src/runtime/idp.test.ts
  packages/sdk/src/runtime/idp.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): preserve template expressions during env rename
  packages/sdk-codemod/codemods/v2/env-var-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-source/expected.ts
  packages/sdk-codemod/codemods/v2/env-var-rename/tests/basic-source/input.ts
  packages/sdk-codemod/src/runner.test.ts
  packages/sdk-codemod/src/runner.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): make MFA fields on IdP runtime User required
  packages/sdk/src/runtime/idp.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): align IdP MFA runtime surface with required-fields contract
  packages/sdk/docs/services/idp.md
  packages/sdk/src/runtime/globals.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): warn on generic env names in source strings
  packages/sdk-codemod/src/migration-doc.ts
  packages/sdk-codemod/src/registry.test.ts
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/runner.test.ts
  packages/sdk-codemod/src/runner.ts
  packages/sdk-codemod/src/types.ts
Due: 2-format, 3-lint, 4-typecheck

test(sdk): cover gqlOperations -> disableGqlOperations mapping for MFA fields
  packages/sdk/src/cli/commands/deploy/idp.plan.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): handle tsconfig path aliases and directory barrel imports in ts-hook
  .changeset/remove-tsx.md
  example/migrations/0004/diff.json
  packages/sdk/README.md
  packages/sdk/src/cli/ts-hook.mjs
  packages/sdk/src/cli/ts-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore(sdk): split runtime MFA changeset from idp-mfa-support
  .changeset/idp-mfa-support.md
  .changeset/idp-runtime-mfa.md
Due: 2-format

test(sdk): cover 'query' alias + enableMfa interaction with unenrollMfa bypass
  packages/sdk/src/parser/service/idp/schema.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): strip query params from parentURL before fileURLToPath in resolve hooks
  packages/sdk/docs/quickstart.md
  packages/sdk/src/cli/ts-hook.mjs
  packages/sdk/src/cli/ts-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): note unenrollMfa policy is optional when the operation is disabled
  packages/sdk/docs/services/idp.md
Due: 2-format

fix(sdk): resolve all tsconfig path alias targets and swallow ERR_UNSUPPORTED_DIR_IMPORT in alias fallback
  packages/sdk/src/cli/ts-hook.mjs
Due: none

fix(cli): fix tsconfig path resolution for same-dir extends and alias specificity
  packages/sdk/src/cli/ts-hook.mjs
  packages/sdk/src/cli/ts-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(example): restore field_modified entries in migration 0004 diff
  example/migrations/0004/diff.json
Due: 2-format

fix(sdk): tighten error handling in tsconfig paths loader
  packages/sdk/src/cli/ts-hook.mjs
Due: none

fix(sdk): also swallow SyntaxError for JSONC tsconfig files
  packages/sdk/src/cli/ts-hook.mjs
Due: none

fix(sdk): skip extension appending when tsconfig path target already has a TS extension
  packages/sdk/src/cli/ts-hook.mjs
  packages/sdk/src/cli/ts-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
