Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

refactor(llm-challenge): drop redundant guards in two recently changed call sites
  llm-challenge/runner/analyze.ts
  llm-challenge/shared/test-helpers.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): consolidate near-duplicate branches in changed code
  llm-challenge/runner/affordance.ts
  llm-challenge/runner/analyze.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): drop dead exactOptional branch in classifyAffordance
  llm-challenge/runner/affordance.ts
Due: 2-format, 3-lint, 4-typecheck

test(llm-challenge): cover group-key edges and artifact symlink/cleanup behavior
  llm-challenge/runner/artifacts.test.ts
  llm-challenge/runner/group-key.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): align remaining rmSync sites with force: true
  llm-challenge/runner/run.ts
Due: 2-format, 3-lint, 4-typecheck

docs(llm-challenge): align retry example with the new default of 3
  llm-challenge/README.md
Due: 2-format

fix(sdk): ignore vite in knip to silence optional-peer warning
  packages/sdk/knip.json
Due: 2-format

fix(sdk): use existing workflowMock API names in runtime workflow test
  packages/sdk/src/runtime/__tests__/workflow.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): make runtime wrappers opt-in to ambient globals
  packages/sdk/src/runtime/__tests__/authconnection.test.ts
  packages/sdk/src/runtime/__tests__/context.test.ts
  packages/sdk/src/runtime/__tests__/file.test.ts
  packages/sdk/src/runtime/__tests__/globals.test.ts
  packages/sdk/src/runtime/__tests__/iconv.test.ts
  packages/sdk/src/runtime/__tests__/idp.test.ts
  packages/sdk/src/runtime/__tests__/secretmanager.test.ts
  packages/sdk/src/runtime/__tests__/workflow.test.ts
  packages/sdk/src/runtime/_runtime.ts
  packages/sdk/src/runtime/authconnection.ts
  packages/sdk/src/runtime/context.ts
  packages/sdk/src/runtime/file.ts
  packages/sdk/src/runtime/globals.ts
  packages/sdk/src/runtime/iconv.ts
  packages/sdk/src/runtime/idp.ts
  packages/sdk/src/runtime/secretmanager.ts
  packages/sdk/src/runtime/workflow.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): eliminate configure-import exception in parser layer
  .claude/rules/sdk-internals.md
  packages/sdk/.oxlintrc.json
  packages/sdk/eslint.config.js
  packages/sdk/src/cli/services/tailordb/service.ts
  packages/sdk/src/parser/service/tailordb/runtime.ts
  packages/sdk/src/plugin/manager.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changeset
  .changeset/parser-runtime-exception.md
Due: 2-format

chore(llm-challenge): record @anthropic-ai/sdk dependency in lockfile
  pnpm-lock.yaml
Due: none

chore: align @babel/runtime in pnpm-lock.yaml with main
  pnpm-lock.yaml
Due: none

fix(llm-challenge): expose tests under "unit" project for monorepo CI filter
  llm-challenge/vitest.config.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): wrap workflow job .trigger() in Promise.resolve to match its type
  .changeset/wrap-trigger-job-function-in-promise.md
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/job-detector.ts
  packages/sdk/src/cli/services/workflow/source-transformer.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

fix(ci): dedupe docs-consistency-check and add label-based rerun
  .github/workflows/docs-consistency-check.yml
Due: 2-format

docs: update workflow trigger guidance to match Promise.resolve wrapper
  CLAUDE.md
  packages/sdk/docs/services/workflow.md
Due: 2-format

docs(sdk): correct contextMock references and document it in testing guide
  packages/sdk/docs/testing.md
  packages/sdk/src/runtime/context.ts
  packages/sdk/src/vitest/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): unify runtime/context.Invoker with SDK-friendly attribute shape
  example/tests/bundled_execution.test.ts
  packages/sdk/docs/testing.md
  packages/sdk/src/runtime/__tests__/context.test.ts
  packages/sdk/src/runtime/context.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

docs: inject 'do not edit' comment alongside auto-generated id
  example/tailor.config.ts
  packages/sdk/docs/configuration.md
  packages/sdk/src/cli/commands/deploy/__test_fixtures__/tailor.config.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.test.ts
  packages/sdk/src/cli/commands/deploy/config-id-injector.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): polish simplifications in core/
  llm-challenge/core/experiment.ts
  llm-challenge/core/trace.ts
  llm-challenge/core/verify.ts
Due: 2-format, 3-lint, 4-typecheck

docs(cli): drop platform-internal references in decimal scale comment
  packages/sdk/src/cli/commands/tailordb/migrate/snapshot.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(llm-challenge): route judge through claude CLI to drop @anthropic-ai/sdk
  .claude/skills/llm-challenge/SKILL.md
  llm-challenge/README.md
  llm-challenge/core/cli.ts
  llm-challenge/core/judge.test.ts
  llm-challenge/core/judge.ts
  llm-challenge/core/report.ts
  llm-challenge/package.json
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

test(llm-challenge): cover experiment.findLatestReport branch surface
  llm-challenge/core/experiment.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(llm-challenge): describe wired challenge:experiment driver in SKILL.md
  .claude/skills/llm-challenge/SKILL.md
Due: 2-format

test(sdk): cover Promise.all and .then chain wrapping for job triggers
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(sdk): align runtime types and file stream mock with platform contract
  packages/sdk/docs/runtime.md
  packages/sdk/src/runtime/__tests__/file.test.ts
  packages/sdk/src/runtime/globals.ts
  packages/sdk/src/vitest/__tests__/mock.test.ts
  packages/sdk/src/vitest/mock.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk): defer trigger via Promise.resolve().then so sync throws reject
  .changeset/wrap-trigger-job-function-in-promise.md
  CLAUDE.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/cli/services/workflow/ast-transformer.test.ts
  packages/sdk/src/cli/services/workflow/source-transformer.ts
  packages/sdk/src/cli/services/workflow/trigger-transformer.ts
  packages/sdk/src/configure/services/workflow/job.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): drop runtime sequencing detail from user-facing workflow docs
  packages/sdk/docs/runtime.md
  packages/sdk/docs/services/workflow.md
  packages/sdk/src/runtime/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): clarify hook value nullability in tailordb examples
  packages/sdk/docs/services/tailordb.md
Due: 2-format

docs(sdk): clarify machineUserAttributes is required without userProfile
  packages/sdk/docs/services/auth.md
  packages/sdk/docs/services/staticwebsite.md
Due: 2-format

feat(llm-challenge): add Phase 2.5 pilot h01 (tailordb hooks null-update cascade)
  llm-challenge/problems/h01-tailordb-hooks-null-update-cascade/meta.json
  llm-challenge/problems/h01-tailordb-hooks-null-update-cascade/problem.md
  llm-challenge/problems/h01-tailordb-hooks-null-update-cascade/scaffold/tailordb/document.ts
  llm-challenge/problems/h01-tailordb-hooks-null-update-cascade/solution/tailordb/document.ts
  llm-challenge/problems/h01-tailordb-hooks-null-update-cascade/tests/document.test.ts
  llm-challenge/shared/helpers.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add h08 workflow getDB aggregation problem
  llm-challenge/problems/h08-workflow-getdb-aggregation/meta.json
  llm-challenge/problems/h08-workflow-getdb-aggregation/problem.md
  llm-challenge/problems/h08-workflow-getdb-aggregation/scaffold/tailor.config.ts
  llm-challenge/problems/h08-workflow-getdb-aggregation/scaffold/tailordb/invoice.ts
  llm-challenge/problems/h08-workflow-getdb-aggregation/scaffold/workflows/sumByAccount.ts
  llm-challenge/problems/h08-workflow-getdb-aggregation/solution/tailor.config.ts
  llm-challenge/problems/h08-workflow-getdb-aggregation/solution/workflows/sumByAccount.ts
  llm-challenge/problems/h08-workflow-getdb-aggregation/tests/sumByAccount.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add h05 resolver-mutation-validate-chain problem
  llm-challenge/problems/h05-resolver-mutation-validate-chain/meta.json
  llm-challenge/problems/h05-resolver-mutation-validate-chain/problem.md
  llm-challenge/problems/h05-resolver-mutation-validate-chain/scaffold/resolvers/createSubscription.ts
  llm-challenge/problems/h05-resolver-mutation-validate-chain/scaffold/tailor.config.ts
  llm-challenge/problems/h05-resolver-mutation-validate-chain/scaffold/tailordb/subscription.ts
  llm-challenge/problems/h05-resolver-mutation-validate-chain/solution/resolvers/createSubscription.ts
  llm-challenge/problems/h05-resolver-mutation-validate-chain/solution/tailor.config.ts
  llm-challenge/problems/h05-resolver-mutation-validate-chain/solution/tailordb/subscription.ts
  llm-challenge/problems/h05-resolver-mutation-validate-chain/tests/createSubscription.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add h10 multi-IdP cross-wire problem
  llm-challenge/problems/h10-config-multi-idp-cross-wire/meta.json
  llm-challenge/problems/h10-config-multi-idp-cross-wire/problem.md
  llm-challenge/problems/h10-config-multi-idp-cross-wire/scaffold/tailor.config.ts
  llm-challenge/problems/h10-config-multi-idp-cross-wire/solution/tailor.config.ts
  llm-challenge/problems/h10-config-multi-idp-cross-wire/tests/idp.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add Phase 2.5 h02 (permission tuple compose)
  llm-challenge/problems/h02-db-type-permission-tuple-compose/meta.json
  llm-challenge/problems/h02-db-type-permission-tuple-compose/problem.md
  llm-challenge/problems/h02-db-type-permission-tuple-compose/scaffold/tailordb/document.ts
  llm-challenge/problems/h02-db-type-permission-tuple-compose/solution/tailordb/document.ts
  llm-challenge/problems/h02-db-type-permission-tuple-compose/tests/document.test.ts
Due: 2-format, 3-lint, 4-typecheck

feat(llm-challenge): add h06 executor-multi-trigger-record-and-resolver problem
  llm-challenge/problems/h03-db-relation-inverse-side-docs/meta.json
  llm-challenge/problems/h03-db-relation-inverse-side-docs/problem.md
  llm-challenge/problems/h03-db-relation-inverse-side-docs/scaffold/tailordb/author.ts
  llm-challenge/problems/h03-db-relation-inverse-side-docs/scaffold/tailordb/post.ts
  llm-challenge/problems/h03-db-relation-inverse-side-docs/solution/tailordb/post.ts
  llm-challenge/problems/h03-db-relation-inverse-side-docs/tests/post.test.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/meta.json
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/problem.md
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/scaffold/executors/_audit.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/scaffold/executors/cancelAudit.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/scaffold/executors/orderTouched.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/scaffold/resolvers/cancelOrder.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/scaffold/tailor.config.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/scaffold/tailordb/order.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/solution/executors/_audit.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/solution/executors/cancelAudit.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/solution/executors/orderTouched.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/solution/resolvers/cancelOrder.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/solution/tailor.config.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/solution/tailordb/order.ts
  llm-challenge/problems/h06-executor-multi-trigger-record-and-resolver/tests/auditExecutors.test.ts
Due: 2-format, 3-lint, 4-typecheck
