Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

1-build:
  run: pnpm exec turbo run build --filter=@tailor-platform/sdk

2-format:
  run: pnpm oxfmt --check {staged_files}

3-lint:
  run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

4-typecheck:
  run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

fix(vitest): export injectMocks and cleanupMocks from the vitest entry point
  packages/sdk/src/vitest/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(resolver): require exactly one `user` operand per condition
  packages/sdk/src/parser/service/resolver/schema.test.ts
  packages/sdk/src/parser/service/resolver/schema.ts
Due: 2-format, 3-lint, 4-typecheck

revert(vitest): keep injectMocks internal and drop its changeset
  .changeset/inject-mocks-disposable.md
  packages/sdk/src/vitest/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): reject non-object JSONL rows
  packages/sdk-plugin-seed/src/jsonl.test.ts
  packages/sdk-plugin-seed/src/jsonl.ts
Due: 2-format, 3-lint, 4-typecheck

docs(sdk): clarify script invoker shape
  packages/sdk/src/cli/shared/script-executor.ts
Due: 2-format, 3-lint, 4-typecheck

test(seed): cover apply command flow
  packages/sdk-plugin-seed/src/apply.test.ts
Due: 2-format, 3-lint, 4-typecheck

chore: mention the testing docs example update in the changeset
  .changeset/vitest-around-hooks.md
Due: 2-format

fix(deps): update vulnerable transitive dependencies
  pnpm-lock.yaml
Due: none

fix(resolver): enforce the permission guard in `function test-run`
  packages/sdk/src/cli/commands/function/bundle.test.ts
  packages/sdk/src/cli/commands/function/bundle.ts
  packages/sdk/src/cli/commands/function/detect.test.ts
  packages/sdk/src/cli/commands/function/detect.ts
  packages/sdk/src/cli/services/resolver/bundler.ts
  packages/sdk/src/cli/shared/runtime-exprs.ts
Due: 2-format, 3-lint, 4-typecheck

docs: mention function test-run enforcement in the permission changeset
  .changeset/resolver-permission-field.md
Due: 2-format

fix(resolver): reject `!=` matches against a missing user attribute
  packages/sdk/src/cli/shared/runtime-exprs.test.ts
  packages/sdk/src/cli/shared/runtime-exprs.ts
Due: 2-format, 3-lint, 4-typecheck

fix(configure): align IdPConfig's permission type with defineIdp's actual input
  .changeset/fix-idp-permission-config-type.md
  packages/sdk/src/configure/services/idp/types.test.ts
  packages/sdk/src/configure/services/idp/types.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): reject missing generated data directory
  .changeset/perky-beds-win.md
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/jsonl.test.ts
  packages/sdk-plugin-seed/src/jsonl.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): preserve empty seed projects
  packages/sdk-plugin-seed/src/apply.test.ts
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/jsonl.test.ts
  packages/sdk-plugin-seed/src/jsonl.ts
Due: 2-format, 3-lint, 4-typecheck

fix(seed): align validation with selected targets
  packages/sdk-plugin-seed/src/apply.ts
  packages/sdk-plugin-seed/src/entities.test.ts
  packages/sdk-plugin-seed/src/entities.ts
  packages/sdk-plugin-seed/src/jsonl.test.ts
  packages/sdk-plugin-seed/src/jsonl.ts
Due: 2-format, 3-lint, 4-typecheck

docs(seed): clarify generated data requirement
  .changeset/perky-beds-win.md
Due: 2-format

chore(sdk): update politty to v0.11.3
  .changeset/tame-otters-shop.md
  packages/create-sdk/package.json
  packages/sdk-codemod/package.json
  packages/sdk-plugin-seed/package.json
  packages/sdk-plugin-tailordb-erd/package.json
  packages/sdk/package.json
  packages/sdk/src/cli/index.ts
  pnpm-lock.yaml
Due: 2-format, 3-lint, 4-typecheck

fix(deps): patch fast-uri host confusion vulnerability (CVE-2026-16221)
  .changeset/fix-fast-uri-security.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

docs(resolver): distinguish permit:false exception-carving from pure blocklist
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/configure/services/resolver/permission.ts
Due: 2-format, 3-lint, 4-typecheck

ci: split lockfile audit into PR-time regression guard + daily auto-fix
  .github/workflows/lockfile-audit-fix.yml
  .github/workflows/lockfile-audit.yml
Due: 2-format

fix(resolver): reject permission arrays with only permit:false policies
  .changeset/resolver-permission-field.md
  packages/sdk/docs/services/resolver.md
  packages/sdk/src/cli/shared/runtime-exprs.ts
  packages/sdk/src/configure/services/resolver/permission.ts
  packages/sdk/src/configure/services/resolver/resolver.ts
  packages/sdk/src/parser/service/resolver/schema.test.ts
  packages/sdk/src/parser/service/resolver/schema.ts
Due: 2-format, 3-lint, 4-typecheck

fix: match minimumReleaseAgeExclude comment to renovate-policy-check format
  pnpm-workspace.yaml
Due: 2-format

fix(permission): include optional attribute keys in operand key types
  packages/sdk/src/configure/types/permission-operand.types.test-d.ts
  packages/sdk/src/configure/types/permission-operand.types.ts
Due: 2-format, 3-lint, 4-typecheck

docs(resolver): keep authInvoker under its own Authentication heading
  packages/sdk/docs/services/resolver.md
Due: 2-format

ci: fix update-mode partial fixes with override fallback + normalize
  .github/scripts/lockfile-audit-fix-normalize.mjs
  .github/workflows/lockfile-audit-fix.yml
Due: 2-format

fix(deps): resolve fast-uri to 3.1.4 for the host-confusion advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 2-format

chore: satisfy the release-age exclude comment policy for fast-uri
  pnpm-workspace.yaml
Due: 2-format

ci: rename tailor-sdk CLI invocations to tailor in the drift-check workflows
  .github/workflows/deploy-drift-check.yml
  .github/workflows/deploy.yml
  .github/workflows/erd-schema.yml
Due: 2-format

Path conditions:
  1-build: any of: *.{ts} and ^packages/sdk/
  2-format: any of: *.{ts,js,json,md,yml,yaml}, but not: node_modules/**, pnpm-lock.yaml, dist/**, build/**, out/**, *.tsbuildinfo, logs/**, *.log, npm-debug.log*, yarn-debug.log*, yarn-error.log*, pnpm-debug.log*, lerna-debug.log*, .eslintcache, coverage/**, .tailor-sdk/**, example/tests/fixtures/**, example/generated/**, example/seed/**, packages/tailor-proto/**, packages/create-sdk/templates/**
  3-lint: any of: *.{ts,js}
  4-typecheck: any of: *.{ts,js}
