Repository tailor-platform/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: 1-build, 2-format, 3-lint, 4-typecheck

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/configuration/

pre-commit:
  piped: true
  commands:
    1-build:
      glob: "*.{ts}"
      root: "packages/sdk"
      run: pnpm exec turbo run build --filter=@tailor-platform/sdk

    2-format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      exclude:
        - "node_modules/**"
        - "pnpm-lock.yaml"
        - "dist/**"
        - "build/**"
        - "out/**"
        - "*.tsbuildinfo"
        - "logs/**"
        - "*.log"
        - "npm-debug.log*"
        - "yarn-debug.log*"
        - "yarn-error.log*"
        - "pnpm-debug.log*"
        - "lerna-debug.log*"
        - ".eslintcache"
        - "coverage/**"
        - ".tailor-sdk/**"
        - "example/tests/fixtures/**"
        - "example/generated/**"
        - "example/seed/**"
        - "packages/tailor-proto/**"
        - "packages/create-sdk/templates/**"
      run: pnpm oxfmt --check {staged_files}

    3-lint:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run lint --filter=@tailor-platform/sdk --filter=example

    4-typecheck:
      glob: "*.{ts,js}"
      run: pnpm exec turbo run typecheck --filter=@tailor-platform/sdk --filter=example

docs: rewrite changeset from a user-facing perspective
  .changeset/remove-legacy-bundle-cleanup.md
Due: 2-format

fix(codemod): tolerate whitespace in export/const spacing and existing-constant lookup
  packages/sdk-codemod/src/registry.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): correct dqn's 3 findings in tsconfig-paths-hook resolution order
  packages/sdk/src/cli/tsconfig-paths-hook.mjs
  packages/sdk/src/cli/tsconfig-paths-hook.test.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): preserve the source's EOL style when inserting a new constant
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): tolerate whitespace before the colon in the pending usage pattern
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): make redeploy of unchanged code a no-op
  .changeset/fix-deploy-drift.md
  .github/workflows/deploy-drift-check.yml
  packages/sdk/src/cli/commands/deploy/compare.test.ts
  packages/sdk/src/cli/commands/deploy/compare.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
  packages/sdk/src/cli/commands/deploy/tailordb/migration-unrelated-namespace.test.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(e2e): keep cleanup within test skill
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/SKILL.md
  .agents/skills/e2e-test/SUITES.md
  .agents/skills/e2e-test/scripts/cleanup-e2e-workspaces.mjs
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/verify-workspace-list.mjs
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/fixtures/fake-tailor-sdk.sh
  .agents/skills/e2e-test/test/skill.test.sh
  .github/workflows/ci.yml
  package.json
  packages/sdk/scripts/cleanup-e2e-workspaces.test.ts
  packages/sdk/scripts/cleanup-e2e-workspaces.ts
  packages/sdk/scripts/select-e2e-workspaces.test.ts
  packages/sdk/scripts/select-e2e-workspaces.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): stop re-updating unchanged TailorDB types on deploy
  .changeset/tailordb-noop-type-updates.md
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

perf(cli): parallelize deploy RPCs for version check and applies
  .changeset/parallel-deploy-rpcs.md
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/function-registry.test.ts
  packages/sdk/src/cli/commands/deploy/function-registry.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): extract shared concurrency probe test helper
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/function-registry.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/shared/test-helpers/concurrency-probe.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(e2e): simplify test skill workflow
  .agents/skills/e2e-test/AUTH.md
  .agents/skills/e2e-test/SKILL.md
  .agents/skills/e2e-test/SUITES.md
  .agents/skills/e2e-test/scripts/cleanup-e2e-workspaces.mjs
  .agents/skills/e2e-test/scripts/run-sdk-e2e.sh
  .agents/skills/e2e-test/scripts/supervise-process-group.sh
  .agents/skills/e2e-test/scripts/verify-workspace-list.mjs
  .agents/skills/e2e-test/scripts/with-machine-user-auth.sh
  .agents/skills/e2e-test/test/fixtures/bin/pnpm
  .agents/skills/e2e-test/test/fixtures/fake-credential-provider.sh
  .agents/skills/e2e-test/test/fixtures/fake-node.sh
  .agents/skills/e2e-test/test/fixtures/fake-tailor-sdk.mjs
  .agents/skills/e2e-test/test/fixtures/fake-tailor-sdk.sh
  .agents/skills/e2e-test/test/fixtures/fake-target.sh
  .agents/skills/e2e-test/test/skill.test.sh
Due: 2-format

fix(cli): respect DDL serialization and bound function upload streams
  .changeset/parallel-deploy-rpcs.md
  packages/sdk/src/cli/commands/deploy/function-registry.test.ts
  packages/sdk/src/cli/commands/deploy/function-registry.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.test.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): share one apply-concurrency budget per function change
  packages/sdk/src/cli/commands/deploy/deploy.test.ts
  packages/sdk/src/cli/commands/deploy/deploy.ts
  packages/sdk/src/cli/commands/deploy/function-registry.test.ts
  packages/sdk/src/cli/commands/deploy/function-registry.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): scope the legacy cleanup guidance to specific files
  .changeset/remove-legacy-bundle-cleanup.md
  packages/sdk-codemod/src/registry.ts
  packages/sdk/docs/migration/v2.md
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): discard changesets/action's uncommitted worktree edits before checkout
  .github/scripts/resolve-pending-codemod-boundaries.sh
Due: none

fix(resolver): update bundler tests for virtual entry after main merge
  packages/sdk/src/cli/services/resolver/bundler.test.ts
Due: 2-format, 3-lint, 4-typecheck

docs(codemod): fix the V2_NEXT_PENDING rationale in its JSDoc
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

fix(codemod): skip (not throw) when a release jumps straight to stable
  packages/sdk-codemod/src/resolve-pending-boundaries.test.ts
  packages/sdk-codemod/src/resolve-pending-boundaries.ts
Due: 2-format, 3-lint, 4-typecheck

fix(workflow): allow Workflow.start() with no args when input is undefined
  packages/sdk/src/configure/services/workflow/job.test.ts
  packages/sdk/src/configure/services/workflow/workflow.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-codemod): scope new workflow rename entries to the shipping prerelease
  packages/sdk-codemod/src/registry.ts
Due: 2-format, 3-lint, 4-typecheck

fix(sdk-codemod): skip renaming triggerWorkflow calls with non-literal options
  packages/sdk-codemod/codemods/v2/workflow-trigger-rename/scripts/transform.ts
  packages/sdk-codemod/codemods/v2/workflow-trigger-rename/tests/invoker-option-non-literal/input.ts
Due: 2-format, 3-lint, 4-typecheck

fix(cli): align IdP userAuthPolicy comparison with platform defaults
  .changeset/fix-deploy-drift.md
  .github/workflows/deploy-drift-check.yml
  .github/workflows/deploy.yml
  packages/sdk/src/cli/commands/deploy/idp.plan.test.ts
  packages/sdk/src/cli/commands/deploy/idp.ts
Due: 2-format, 3-lint, 4-typecheck

ci: narrow deploy drift check matrix to config-shape-diverse templates
  .github/workflows/deploy-drift-check.yml
Due: 2-format

ci: run deploy drift check targets serially in one job
  .github/workflows/deploy-drift-check.yml
Due: 2-format

feat: mirror field optionality in machine user attributes
  .changeset/machine-user-optional-attributes.md
  packages/sdk/docs/services/auth.md
  packages/sdk/src/cli/commands/deploy/auth.plan.test.ts
  packages/sdk/src/configure/services/auth/index.test.ts
  packages/sdk/src/configure/services/auth/types.ts
  packages/sdk/src/parser/service/auth/index.test.ts
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/types/auth.generated.ts
Due: 2-format, 3-lint, 4-typecheck

refactor(cli): tighten drift-fix types and document non-obvious intent
  packages/sdk/src/cli/commands/deploy/compare.test.ts
  packages/sdk/src/cli/commands/deploy/idp.ts
  packages/sdk/src/cli/commands/deploy/tailordb/index.ts
Due: 2-format, 3-lint, 4-typecheck

fix: keep machine user attributes key optional in parsed output
  packages/sdk/src/parser/service/auth/schema.ts
  packages/sdk/src/types/auth.generated.ts
Due: 2-format, 3-lint, 4-typecheck

chore: add changesets for the plugin package rename
  .changeset/rename-erd-plugin-to-sdk-plugin-tailordb-erd.md
  .changeset/update-erd-plugin-install-hint-name.md
Due: 2-format
